<table width="100%" class="mcnDividerBlock" style="min-width:100%;" border="0" cellspacing="0" cellpadding="0">
  <tbody class="mcnDividerBlockOuter">
    <tr>
      <td class="mcnDividerBlockInner" style="padding: 10px 0px; min-width: 100%;">
        <table width="100%" class="mcnDividerContent" style="border-top-color: #EEEEEE;border-top-width: 1px;border-top-style: solid;min-width: 100%;" border="0" cellspacing="0" cellpadding="0">
          <tbody><tr>
            <td>
              <span></span>
            </td>
          </tr>
          </tbody></table>
          <!--
                                                    <td class="mcnDividerBlockInner" style="padding: 18px;">
                                                    <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
                                    -->
      </td>
    </tr>
  </tbody>
</table>