@import models.grid.TypeOfWidget
@import models.grid.GridWidgetVersion
@import utilities.enums.Approval_state

<section class="content-header">
  <h1> Grid object approving </h1>
  <ol class="breadcrumb">
      <li><a href="@routes.DashboardController.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
      <li class="active"><i class="fa fa-share"></i> Server Management </li>
      <li class="active"><i class="fa fa-wrench"></i> Grid Management </li>
      <li class="active"><i class="fa fa-wrench"></i> Public Object Approval </li>
  </ol>
</section>


<section class="content">
  <div id="editGridWidgetModal" style="display: none;" class="modal">
    <div style="margin-top: 5%;" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Approve Grid Widget</h4>
        </div>
        <div class="modal-body">
            <label id="gridWidgetId" style="display: block; font-size: 15pt;">ID</label>
            <div style="float: left; width: 30%;">
              <label style="color: #2e6da4">Widget name:</label>
              <input style="display: block;" type="text" id="grid_widget_name">
            </div>
            <div style="width:100%;">
              <label style="color: #2e6da4">Widget description:</label>
              <input style="display: block; width: 70%;" type="text" id="grid_widget_general_description">
            </div>
            <label style="color: #2e6da4">Type of Widget:</label>
            <select style="display: block" name="grid_widget_type_of_widget_id" id="grid_widget_type_of_widget_id">
              <option selected disabled >Please choose type of block</option>
              @for(typeOfWidget <- TypeOfWidget.find.where().isNull("project").findList()) {
                <option value="@typeOfWidget.id">@typeOfWidget.name</option>
              }
            </select>
        </div>
        <div class="modal-body">

            <label id="grid_version_id" style="display: block; font-size: 15pt;"></label>
            <div style="float: left; width: 30%;">
              <label style="color: #2e6da4">Version name:</label>
              <input type="text" id="grid_version_name" style="display: block;">
            </div>
            <div style="width:100%;">
              <label style="color: #2e6da4">Version description:</label>
              <input type="text" id="grid_version_description" style="display: block; width: 70%;">
            </div>
            <label style="color: #2e6da4">Design JSON:</label>
            <textarea id="grid_version_design" style="display: block; width: 100%; height: auto;" rows="3"></textarea>
            <label style="color: #2e6da4">Logic JSON:</label>
            <textarea id="grid_version_logic" style="display: block; width: 100%; height: auto;" rows="4"></textarea>
            <label style="color: #2e6da4">Message to user:</label>
            <textarea id="edit_block_reason" style="display: block; width: 100%; height: auto;" rows="2"></textarea>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#editGridWidgetModal').css('display','none')">Close</button>
          <button id="editGridWidgetButton" value="" class="btn btn-info" type="button" onclick="approveGridWidget(this.value, 'edit')">Save changes & Approve</button>
        </div>
      </div>
        <!-- /.modal-content -->
    </div>
      <!-- /.modal-dialog -->
  </div>
    <div id="versionDetailModal" style="display: none;" class="modal">
        <div style="margin-top: 10%;" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Design & Logic</h4>
                </div>
                <div class="modal-body">
                    <textarea readonly id="versionDetail" style="display: block; width: 100%;" rows="15" ></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#versionDetailModal').css('display','none')">Close</button>
                </div>
            </div>
                <!-- /.modal-content -->
        </div>
            <!-- /.modal-dialog -->
    </div>
    <div id="disapproveVersionModal" style="display: none;" class="modal">
        <div style="margin-top: 10%;" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Disapprove Grid Widget Version</h4>
                </div>
                <div class="modal-body">
                    <label style="display: block; color: #2e6da4;">Name:</label>
                    <textarea readonly rows="1" id="disapprove_grid_version_name" style="display: block;"></textarea>
                    <label style="display: block;">Tell author why you disapproved this Widget.</label>
                    <label style="color: #2e6da4;">Reason:</label>
                    <textarea id="disapprove_version_reason" rows="10" style="width: 100%;"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#disapproveVersionModal').css('display','none')">Close</button>
                    <button id="disapproveVersionButton" value="" class="btn btn-danger" type="button" onclick="disapproveGridObject(this.value, document.getElementById('disapprove_version_reason').value)">Disapprove</button>
                </div>
            </div>
                <!-- /.modal-content -->
        </div>
            <!-- /.modal-dialog -->
    </div>
    <div id="approveVersionModal" style="display: none;" class="modal">
        <div style="margin-top: 10%;" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Approve Grid Widget Version</h4>
                </div>
                <div class="modal-body">
                    <div style="float: left; width: 30%;">
                        <label style="color: #2e6da4">Widget name:</label>
                        <input style="display: block;" type="text" id="approve_grid_widget_name">
                    </div>
                    <div style="width:100%;">
                        <label style="color: #2e6da4">Widget description:</label>
                        <input style="display: block; width: 70%;" type="text" id="approve_grid_widget_general_description">
                    </div>
                    <label style="color: #2e6da4">Type of Widget:</label>
                    <select style="display: block" id="approve_grid_widget_type_of_widget_id">
                        <option selected disabled >Please choose type of block</option>
                        @for(typeOfWidget <- TypeOfWidget.find.where().isNull("project").findList()) {
                            <option value="@typeOfWidget.id">@typeOfWidget.name</option>
                        }
                    </select>
                </div>
                <div class="modal-body">

                    <label id="approve_grid_version_id" style="display: block; font-size: 15pt;"></label>
                    <div style="float: left; width: 30%;">
                        <label style="color: #2e6da4">Version name:</label>
                        <input readonly type="text" id="approve_grid_version_name" style="display: block;">
                    </div>
                    <div style="width:100%;">
                        <label style="color: #2e6da4">Version description:</label>
                        <input readonly type="text" id="approve_grid_version_description" style="display: block; width: 70%;">
                    </div>
                    <label style="color: #2e6da4">Design JSON:</label>
                    <textarea readonly id="approve_grid_version_design" style="display: block; width: 100%; height: auto;" rows="3"></textarea>
                    <label style="color: #2e6da4">Logic JSON:</label>
                    <textarea readonly id="approve_grid_version_logic" style="display: block; width: 100%; height: auto;" rows="4"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#approveVersionModal').css('display','none')">Close</button>
                    <button id="approveVersionButton" value="" class="btn btn-success" type="button" onclick="approveGridWidget(this.value, 'approve')">Approve</button>
                </div>
            </div>
                <!-- /.modal-content -->
        </div>
            <!-- /.modal-dialog -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">GridWidgetVersion</h3>
                </div>
                <div class="box-body">


        </div>
                <div class="box-body">
                    <label style="font-size: 13pt;">Pending GridWidgetVersions</label>
                    <table id="pendingGridWidgetVersion" class="table table-bordered">
                        <tr>
                            <th>GridWidget(private)</th>
                            <th>GridWidget desc.</th>
                            <th>TypeOfWidget(private)</th>
                            <th>TypeOfWidget desc.</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Design</th>
                            <th>Logic</th>
                            <th>Edit</th>
                            <th>Decision</th>
                        </tr>
                        @for(gridWidgetVersion <- GridWidgetVersion.find.where().eq("approval_state",Approval_state.pending).findList()) {
                            <tr>
                                <td>@gridWidgetVersion.grid_widget.name</td>
                                <td>@gridWidgetVersion.grid_widget.description</td>
                                <td>@gridWidgetVersion.grid_widget.type_of_widget_name()</td>
                                <td>@gridWidgetVersion.grid_widget.type_of_widget.description</td>
                                <td>@gridWidgetVersion.version_name</td>
                                <td>@gridWidgetVersion.version_description</td>
                                <td><button class="btn btn-block btn-primary" type="button" onclick="showVersionDetail('@gridWidgetVersion.design_json')">Show Design</button></td>
                                <td><button class="btn btn-block btn-primary" type="button" onclick="showVersionDetail('@gridWidgetVersion.logic_json')">Show Logic</button></td>
                                <td><button class="btn btn-block btn-info" type="button" onclick="showEditForm('@gridWidgetVersion.grid_widget.name','@gridWidgetVersion.grid_widget.description','@gridWidgetVersion.id', '@gridWidgetVersion.version_name', '@gridWidgetVersion.version_description', '@gridWidgetVersion.design_json', '@gridWidgetVersion.logic_json')">Edit</button></td>
                                <td>
                                    <button style="width: 48%; margin-right: 2%; display: inline-block; float: left;" class="btn btn-block btn-success" type="button" onclick="showApproveVersionForm('@gridWidgetVersion.grid_widget.name','@gridWidgetVersion.grid_widget.description','@gridWidgetVersion.id', '@gridWidgetVersion.version_name', '@gridWidgetVersion.version_description', '@gridWidgetVersion.design_json', '@gridWidgetVersion.logic_json')">Approve</button>
                                    <button style="width: 48%; margin-left: 2%; margin-top: 0; display: inline-block; float: left;" class="btn btn-block btn-danger" type="button" onclick="showDisapproveVersionForm('@gridWidgetVersion.id', '@gridWidgetVersion.version_name')">Disapprove</button>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="box-footer">
        </div>


            </div>
        </div>
    </div>
</section>


<script>

        $.ajaxSetup({ cache: false });
        function disapproveGridObject(id, reason){
          model_data = {"object_id": id,
                        "reason": reason};
          $.ajax({
            url: '@routes.GridController.gridDisapprove()',
            type: 'PUT',
            contentType: 'application/json',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
              "Content-Type":"application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',
            success:function(e){
                    $('#pendingGridWidgetVersion').load(document.URL + ' #pendingGridWidgetVersion');
                    $("#disapproveVersionModal").css("display","none");
            },
            error:function(e) {
              alert(e.responseText);
            }
          })}

        function approveGridWidget(id, state){
            if(state == "approve") {
                model_data = {
                    "object_id": id,
                    "state": state,
                    "grid_widget_name": document.getElementById('approve_grid_widget_name').value,
                    "grid_widget_general_description": document.getElementById('approve_grid_widget_general_description').value,
                    "grid_widget_type_of_widget_id": document.getElementById('approve_grid_widget_type_of_widget_id').value,
                    "grid_widget_version_name": document.getElementById('approve_grid_version_name').value,
                    "grid_widget_version_description": document.getElementById('approve_grid_version_description').value,
                    "grid_widget_design_json": document.getElementById('approve_grid_version_design').value,
                    "grid_widget_logic_json": document.getElementById('approve_grid_version_logic').value,
                    "reason": ""
                };
            }else {
                model_data = {
                    "object_id": id,
                    "state": state,
                    "grid_widget_name": document.getElementById('grid_widget_name').value,
                    "grid_widget_general_description": document.getElementById('grid_widget_general_description').value,
                    "grid_widget_type_of_widget_id": document.getElementById('grid_widget_type_of_widget_id').value,
                    "grid_widget_version_name": document.getElementById('grid_version_name').value,
                    "grid_widget_version_description": document.getElementById('grid_version_description').value,
                    "grid_widget_design_json": document.getElementById('grid_version_design').value,
                    "grid_widget_logic_json": document.getElementById('grid_version_logic').value,
                    "reason": document.getElementById('edit_block_reason').value
                };
            }
          $.ajax({
            url: '@routes.GridController.gridApproval()' ,
            type: 'PUT',
            contentType: 'application/json',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
              "Content-Type":"application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',
            success:function(e){
              $("#editGridWidgetModal").css("display","none");
              $('#pendingGridWidgetVersion').load(document.URL +  ' #pendingGridWidgetVersion');
            },
            error:function(e) {
              alert(e.responseText);
            }
          })}

        function showEditForm(name, description, version_id, version_name, version_description, design, logic){
          $("#editGridWidgetModal").css("display","block");
          $('#editGridWidgetButton').val(version_id);
          $("#grid_widget_name").val(name);
          $("#grid_widget_general_description").val(description);
          $('#grid_version_name').val(version_name);
          $('#grid_version_description').val(version_description);
          $('#grid_version_desing').val(design);
          $('#grid_version_logic').val(logic);
          }


        function showDisapproveVersionForm(id, name){
            $("#disapproveVersionModal").css("display","block");
            $('#disapprove_grid_version_name').text(name);
            $('#disapproveVersionButton').val(id);
        }

        function showApproveVersionForm(name, description, version_id, version_name, version_description, design, logic){
            $("#approveVersionModal").css("display","block");
            $('#approve_grid_widget_name').val(name);
            $('#approveVersionButton').val(version_id);
            $("#approve_grid_widget_general_description").val(description);
            $('#approve_grid_version_name').val(version_name);
            $('#approve_grid_version_description').val(version_description);
            $('#approve_grid_version_desing').val(design);
            $('#approve_grid_version_logic').val(logic);
        }

        function showVersionDetail(detail){
            $("#versionDetailModal").css("display","block");
            $('#versionDetail').text(detail);
        }

</script>