@import models.Model_GridWidgetVersion
@import models.Model_TypeOfWidget
@import utilities.Server



<section class="content-header">
  <h1> Grid Object Settings </h1>
  <ol class="breadcrumb">
    <li><a href="@routes.Controller_Dashboard.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
    <li class="active"><i class="fa fa-share"></i> Server Management </li>
    <li class="active"><i class="fa fa-wrench"></i> Grid Management </li>
    <li class="active"><i class="fa fa-wrench"></i> Grid Object Settings </li>
  </ol>
</section>

<section class="content">

@*/*/*  Modals ---------------------------------------------------------------------------------------------   */*/*@

<div id="newTypeOfWidgetModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newTypeOfWidgetModalTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="newTypeOfWidgetModalTitle" class="modal-title">New Type of Widget</h4>
      </div>
      <div class="modal-body">
        <form id="newTypeOfWidget">
          <input class="form-control form-group" id="newTypeOfWidgetName" placeholder="Name" title="Name" type="text" name="name" >
          <input class="form-control form-group" id="newTypeOfWidgetDescription" placeholder="Description" title="Description" type="text" name="description" >
        </form>
        <div id="newTypeOfWidgetModalMessage" style="display: none"><p style="color: red;"></p></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
        <button class="btn btn-success" type="button" onclick="newTypeOfWidget()">New Type of Widget</button>
      </div>
    </div>
      <!-- /.modal-content -->
  </div>
    <!-- /.modal-dialog -->
</div>
<div id="newGridWidgetModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newGridWidgetModalTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="newGridWidgetModalTitle" class="modal-title">New Grid Widget</h4>
      </div>
      <div class="modal-body">
        <form id="newGridWidget">
          <label id="newGridWidgetTypeOfWidgetName" style="display: block"></label>
          <input class="form-control form-group" placeholder="Name" title="Name" type="text" name="name" >
          <input class="form-control form-group" placeholder="Description" title="Description" type="text" name="description" >
          <input id="newGridWidgetTypeOfWidgetId" style="display: none;" type="text" name="type_of_widget_id">
        </form>
        <div id="newGridWidgetModalMessage" style="display: none"><p style="color: red;"></p></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
        <button class="btn btn-success" type="button" onclick="newGridWidget()">New Grid Widget</button>
      </div>
    </div>
      <!-- /.modal-content -->
  </div>
    <!-- /.modal-dialog -->
</div>
<div id="newGridWidgetVersionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newGridWidgetVersionModalTitle">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="newGridWidgetVersionModalTitle" class="modal-title">New Grid Widget Version</h4>
        </div>
        <div class="modal-body">
          <form id="newGridWidgetVersion">
            <label id="newGridWidgetVersionGridWidgetName" style="display: block"></label>
            <div style="float: left; width: 30%;">
              <label>Name</label>
              <input placeholder="Name" style="display: block" type="text" name="version_name" >
            </div>
            <div style=" width: 100%;">
              <label>Description</label>
              <input placeholder="Description" style="display: block; width: 70%;" type="text" name="version_description" >
            </div>
            <label style="color: #2e6da4">Design JSON:</label>
            <textarea name="design_json" style="display: block; width: 100%; height: auto;" rows="6"></textarea>
            <label style="color: #2e6da4">Logic JSON:</label>
            <textarea name="logic_json" style="display: block; width: 100%; height: auto;" rows="6"></textarea>
            </form>
          <div id="newGridWidgetVersionModalMessage" style="display: none"><p style="color: red;"></p></div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
          <button id="newGridWidgetVersionButton" value="" class="btn btn-success" type="button" onclick="newGridWidgetVersion(this.value)">New Grid Widget Version</button>
        </div>
      </div>
        <!-- /.modal-content -->
    </div>
      <!-- /.modal-dialog -->
  </div>

<div id="editTypeOfWidgetModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editTypeOfWidgetModalTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="editTypeOfWidgetModalTitle" class="modal-title">Edit Type of Widget</h4>
      </div>
      <div class="modal-body">
        <form id="editTypeOfWidget">
          <label id="typeOfWidgetId" style="display: block">ID</label>
          <div style="float: left; width: 30%;">
            <label>Name</label>
            <input placeholder="Name" style="display: block" type="text" name="name" >
          </div>
          <div style="width: 100%;">
            <label>Description</label>
            <input placeholder="Description" style="display: block; width: 70%;" type="text" name="description" >
          </div>
        </form>
        <div id="editTypeOfWidgetModalMessage" style="display: none"><p style="color: red;"></p></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
        <button id="editTypeOfWidgetButton" value="" class="btn btn-primary" type="button" onclick="editTypeOfWidget(this.value)">Save changes</button>
      </div>
    </div>
      <!-- /.modal-content -->
  </div>
    <!-- /.modal-dialog -->
</div>

<div id="editGridWidgetModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editGridWidgetModalTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="editGridWidgetModalTitle" class="modal-title">Edit Grid Widget</h4>
      </div>
      <div class="modal-body">
        <form id="editGridWidget">
          <label id="gridWidgetId" style="display: block">ID</label>
          <div style="float: left; width: 30%;">
            <label>Name</label>
            <input placeholder="Name" style="display: block" id="edit_grid_widget_name" type="text" name="name" >
          </div>
          <div style="width: 100%;">
            <label>Description</label>
            <input placeholder="Description" style="display: block; width: 70%;" id="edit_grid_widget_description" type="text" name="description" >
          </div>
          <label>Type of Widget</label>
          <select style="display: block;" name="type_of_widget_id">
            <option id="current_type_of_widget" selected value=""></option>
          @for(typeOfWidget <- Model_TypeOfWidget.get_public()) {
            <option value="@typeOfWidget.id">@typeOfWidget.name</option>
          }
          </select>
        </form>
        <div id="editGridWidgetModalMessage" style="display: none"><p style="color: red;"></p></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
        <button id="editGridWidgetButton" value="" class="btn btn-primary" type="button" onclick="editGridWidget(this.value)">Save changes</button>
      </div>
    </div>
      <!-- /.modal-content -->
  </div>
    <!-- /.modal-dialog -->
</div>

<div id="editGridWidgetVersionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editGridWidgetVersionModalTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="editGridWidgetVersionModalTitle" class="modal-title">Edit Grid Widget Version</h4>
      </div>
      <div class="modal-body">
        <form id="editGridWidgetVersion">
          <div style="float: left; width: 30%;">
            <label style="color: #2e6da4">Version name:</label>
            <input type="text" id="edit_grid_version_name" name="version_name" style="display: block;">
          </div>
          <div style="width:100%;">
            <label style="color: #2e6da4">Version description:</label>
            <input type="text" id="edit_grid_version_description" name="version_description" style="display: block; width: 70%;">
          </div>
        </form>
        <div id="editGridWidgetVersionModalMessage" style="display: none"><p style="color: red;"></p></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
        <button id="editGridWidgetVersionButton" value="" class="btn btn-primary" type="button" onclick="editGridWidgetVersion(this.value)">Save changes</button>
      </div>
    </div>
      <!-- /.modal-content -->
  </div>
    <!-- /.modal-dialog -->
</div>

<div id="editVersionSchemeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editVersionSchemeModalTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="editVersionSchemeModalTitle" class="modal-title">Edit Version Scheme </h4>
      </div>
      <div class="modal-body">
        <form id="editVersionScheme">
          <label style="color: #2e6da4">Design JSON:</label>
          <textarea id="version_scheme_design" name="design_json" style="display: block; width: 100%; height: auto;" rows="6"></textarea>
          <label style="color: #2e6da4">Logic JSON:</label>
          <textarea id="version_scheme_logic" name="logic_json" style="display: block; width: 100%; height: auto;" rows="6"></textarea>
        </form>
        <div id="editVersionSchemeModalMessage" style="display: none"><p style="color: red;"></p></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="button" onclick="editVersionScheme()">Save changes</button>
      </div>
    </div>
      <!-- /.modal-content -->
  </div>
    <!-- /.modal-dialog -->
</div>

<div id="newVersionSchemeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newVersionSchemeModalTitle">
  <div  class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="newVersionSchemeModalTitle" class="modal-title">New Version Scheme </h4>
      </div>
      <div class="modal-body">
        <form id="newVersionScheme">
          <label style="color: #2e6da4">Design JSON:</label>
          <textarea id="new_version_scheme_design" name="design_json" style="display: block; width: 100%; height: auto;" rows="6"></textarea>
          <label style="color: #2e6da4">Logic JSON:</label>
          <textarea id="new_version_scheme_logic" name="logic_json" style="display: block; width: 100%; height: auto;" rows="6"></textarea>
        </form>
        <div id="newVersionSchemeModalMessage" style="display: none"><p style="color: red;"></p></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="button" onclick="createVersionScheme()">New Scheme</button>
      </div>
    </div>
      <!-- /.modal-content -->
  </div>
    <!-- /.modal-dialog -->
</div>

  @*/*/*  Content ---------------------------------------------------------------------------------------------   */*/*@

  <div class="row">
    <div class="col-md-3">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Type</h3>
          <button class="btn btn-xs btn-success pull-right" type="button" data-toggle="modal" data-target="#newTypeOfWidgetModal"><i class="fa fa-plus"></i></button>
        </div>
        <div id="typeOfWidgetTableWrapper" class="box-body">
          <table id="allTypesOfWidgets" class="table table-bordered">
            <thead><tr><th>Types of Widget</th></tr></thead>
            <tbody>

            @for(typeOfWidget <- Model_TypeOfWidget.get_public()) {

                <tr>

                  <td>
                    <button class="btn btn-block btn-info" type="button" onclick="openTypeOfWidget('@typeOfWidget.id')">@typeOfWidget.name</button>
                  </td>

                @if(typeOfWidget.order_position > 1){
                  <td align="center">
                    <a class="btn btn-warning" href="#" onclick="upTypeOfWidget('@typeOfWidget.id')"><i class="fa fa-sort-up fa-lg"></i></a>
                  </td>
                }else{
                  <td align="center"></td>
                }

                @if(typeOfWidget.order_position < Model_TypeOfWidget.find.where().isNull("project").findRowCount() ) {
                  <td align="center" >
                    <a class="btn btn-warning" href="#" onclick="downTypeOfWidget('@typeOfWidget.id')"><i class="fa fa-sort-down fa-lg"></i></a>
                  </td>
                }else{
                  <td align="center"></td>
                }

                </tr>
            }
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box">
        <div class="box-header with-border">
          <h3 id="type_of_widget" style="max-width: 60%;" class="box-title"></h3>
          <div id="type_info_id" style="display: none;"></div>
          <div id="type_info_description" style="display: none;"></div>
          <div id="type_btn_group" class="btn-group pull-right">
            <button class="btn btn-xs btn-danger disabled" disabled type="button" onclick="deleteTypeOfWidget(document.getElementById('type_info_id').textContent)"><i class="fa fa-times"></i></button>
            <button class="btn btn-xs btn-info disabled" disabled type="button" onclick="showEditTypeForm(document.getElementById('type_info_id').textContent, document.getElementById('type_of_widget').textContent, document.getElementById('type_info_description').textContent)"><i class="fa fa-edit"></i></button>
            <button class="btn btn-xs btn-success disabled" disabled type="button" data-toggle="modal" data-target="#newGridWidgetModal" onclick="$('#newGridWidgetTypeOfWidgetId').val(document.getElementById('type_info_id').textContent)"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        <div class="box-body">

          <table id="gridWidgets" class="table table-bordered">
            <thead><tr><th>Widgets</th></tr></thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box">
        <div class="box-header with-border">
          <h3 id="grid_widget" style="max-width: 60%;" class="box-title"></h3>
          <div id="widget_info_id" style="display: none;"></div>
          <div id="widget_info_description" style="display: none;"></div>
          <div id="widget_btn_group" class="btn-group pull-right">
            <button class="btn btn-xs btn-danger disabled" disabled type="button" onclick="deleteGridWidget(document.getElementById('widget_info_id').textContent)"><i class="fa fa-times"></i></button>
            <button class="btn btn-xs btn-info disabled" disabled type="button" onclick="
              $('#editGridWidgetModal').modal('show');
              $('#editGridWidgetButton').val(document.getElementById('widget_info_id').textContent);
              $('#edit_grid_widget_name').val(document.getElementById('grid_widget').textContent);
              $('#edit_grid_widget_description').val(document.getElementById('widget_info_description').textContent);
              $('#current_type_of_widget').val(document.getElementById('type_info_id').textContent);
              $('#current_type_of_widget').text(document.getElementById('type_of_widget').textContent);"><i class="fa fa-edit"></i></button>
            <button class="btn btn-xs btn-success disabled" disabled type="button" data-toggle="modal" data-target="#newGridWidgetVersionModal" onclick="$('#newGridWidgetVersionButton').val(document.getElementById('widget_info_id').textContent); $('#newGridWidgetVersionGridWidgetName').val('Widget: ' + document.getElementById('grid_widget').textContent)"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        <div class="box-body">
          <table id="gridWidgetVersions" class="table table-bordered">
            <thead><tr><th>Versions</th></tr></thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box">
        <div class="box-header with-border">
          <h3 id="grid_widget_version" class="box-title"></h3>
          <div id="version_info_id" style="display: none;"></div>
          <div id="version_btn_group" class="btn-group pull-right">
            <button class="btn btn-xs btn-danger disabled" disabled type="button" onclick="deleteGridWidgetVersion(document.getElementById('version_info_id').textContent)"><i class="fa fa-times"></i></button>
            <button class="btn btn-xs btn-info disabled" disabled type="button" ata-toggle="modal" data-target="#editGridWidgetVersionModal" onclick="$('#editGridWidgetVersionButton').val(document.getElementById('version_info_id').textContent);  $('#edit_grid_version_name').val(document.getElementById('grid_version_name').value); $('#edit_grid_version_description').val(document.getElementById('grid_version_description').value);"><i class="fa fa-edit"></i></button>
          </div>
          @if(Model_GridWidgetVersion.get_scheme() == null){
            <button id="schemeButton" class="btn btn-primary btn-xs pull-right" style="margin-right: 10px;" type="button" data-toggle="modal" data-target="#newVersionSchemeModal">Create scheme</button>
          }else {
            <button id="schemeButton" class="btn btn-primary btn-xs pull-right" style="margin-right: 10px;" type="button" onclick="showVersionScheme()">Version scheme</button>
          }
        </div>
        <div class="box-body">
          <div style="display: none" id="gridWidgetVersion">
            <div style="float: left; width: 30%;">
              <label style="color: #2e6da4">Version name:</label>
              <input readonly type="text" id="grid_version_name" style="display: block;">
            </div>
            <div style="width:100%;">
              <label style="color: #2e6da4">Version description:</label>
              <input readonly type="text" id="grid_version_description" style="display: block; width: 70%;">
            </div>
            <label style="color: #2e6da4">Design JSON:</label>
            <textarea readonly id="grid_version_design" style="display: block; width: 100%; height: auto;" rows="6"></textarea>
            <label style="color: #2e6da4">Logic JSON:</label>
            <textarea readonly id="grid_version_logic" style="display: block; width: 100%; height: auto;" rows="6"></textarea>
          </div>
        </div>
      </div>
    </div>
</div>
</section>

<script>

        $.ajaxSetup({ cache: false });

@*/*/*  TypeOfWidget ---------------------------------------------------------------------------------------------   */*/*@

        function newTypeOfWidget(){
          model_data = $("#newTypeOfWidget").serializeObject();
          $.ajax({
            url: '@routes.Controller_Grid.typeOfWidget_create()',
            type: 'POST',
            contentType: 'application/json',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
              "Content-Type":"application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',
            success:function(e){
              $("#newTypeOfWidget input[type=text]").val("");
              $("#newTypeOfWidgetModal").modal('hide');
              $('#typeOfWidgetTableWrapper').html("").load(document.URL +  ' #allTypesOfWidgets');
              $("#newTypeOfWidgetModalMessage").css("display", "none");
            },
            error_message:function(e) {
              $("#newTypeOfWidgetModalMessage").css("display", "block");
              $("#newTypeOfWidgetModalMessage p").text(JSON.parse(e.responseText).message);
              $("#newTypeOfWidgetModalMessage p").append(JSON.stringify(JSON.parse(e.responseText).exception));
            }
          })}

        function newGridWidget(){
          model_data = $("#newGridWidget").serializeObject();
          $.ajax({
            url: '@routes.Controller_Grid.gridWidget_create()',
            type: 'POST',
            contentType: 'application/json',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
              "Content-Type":"application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',
            success:function(e){
              $("#newGridWidget input[type=text]").val("");
              $("#newGridWidgetModal").modal('hide');
              $("#newGridWidgetModalMessage").css("display", "none");
              openTypeOfWidget(document.getElementById('type_info_id').textContent)
            },
            error_message:function(e) {
              $("#newGridWidgetModalMessage").css("display", "block");
              $("#newGridWidgetModalMessage p").text(JSON.parse(e.responseText).message);
              $("#newGridWidgetModalMessage p").append(JSON.stringify(JSON.parse(e.responseText).exception));
            }
          })}

        function newGridWidgetVersion(id){
          model_data = $("#newGridWidgetVersion").serializeObject();
          $.ajax({
            url: '@routes.Controller_Grid.gridWidgetVersion_create("")' + id,
            type: 'POST',
            contentType: 'application/json',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
              "Content-Type":"application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',
            success:function(e){
              $("#newGridWidgetVersion input[type=text]").val("");
              $("#newGridWidgetVersion textarea").text("");
              $("#newGridWidgetVersionModal").modal('hide');
              $("#newGridWidgetVersionModalMessage").css("display", "none");
              openGridWidget(document.getElementById('widget_info_id').textContent);
            },
            error_message:function(e) {
              $("#newGridWidgetVersionModalMessage").css("display", "block");
              $("#newGridWidgetVersionModalMessage p").text(JSON.parse(e.responseText).message);
              $("#newGridWidgetVersionModalMessage p").append(JSON.stringify(JSON.parse(e.responseText).exception));
            }
          })}



        function upTypeOfWidget(id){
          $.ajax({
            url: '@routes.Controller_Grid.typeOfWidget_order_up("")' + id,
            type: 'PUT',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken")
            },
            success:function(e){
              $('#typeOfWidgetTableWrapper').html("").load(document.URL +  ' #allTypesOfWidgets');
            },
            error_message:function(e) {
              alert("Unsuccessful.");
            }
          })
        }

        function downTypeOfWidget(id){
          $.ajax({
            url: '@routes.Controller_Grid.typeOfWidget_order_down("")' + id,
            type: 'PUT',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken")
            },
            success:function(e){
              $('#typeOfWidgetTableWrapper').html("").load(document.URL +  ' #allTypesOfWidgets');
            },
            error_message:function(e) {
              alert("Unsuccessful.");
            }
          })
        }



        function upGridWidget(widget_id, type_of_widget_id){

          console.log("widget_id id= ",  widget_id , " type_of_widget_id=" , type_of_widget_id);

          $.ajax({
            url: '@routes.Controller_Grid.gridWidget_order_up("")' + widget_id,
            type: 'PUT',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken")
            },
            success:function(e){
              openTypeOfWidget(type_of_widget_id);
            },
            error_message:function(e) {
              alert("Unsuccessful.");
            }
          })
        }

        function downGridWidget(widget_id, type_of_widget_id){

          console.log("widget_id id= ",  widget_id , " type_of_widget_id=" , type_of_widget_id);

          $.ajax({
            url: '@routes.Controller_Grid.gridWidget_order_down("")' + widget_id,
            type: 'PUT',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken")
            },
            success:function(e){
              openTypeOfWidget(type_of_widget_id);
            },
            error_message:function(e) {
              alert("Unsuccessful.");
            }
          })
        }

        function editTypeOfWidget(id){
          model_data = $("#editTypeOfWidget").serializeObject();

          $.ajax({
            url: '@routes.Controller_Grid.typeOfWidget_update("")' + id,
            type: 'PUT',
            contentType: 'application/json',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
              "Content-Type":"application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',
            success:function(json){
              $("#editTypeOfWidget input[type=text]").val("");
              $("#editTypeOfWidgetModal").modal('hide');
              $("#editTypeOfWidgetModalMessage").css("display", "none");
              $('#typeOfWidgetTableWrapper').load(document.URL +  ' #allTypesOfWidgets');
              $('#type_of_widget').text(json.name);
              $('#type_info_id').text(json.id);
              $('#type_info_description').text(json.description);
              $('#gridWidgets tbody').html("");
              $('#gridWidgetVersions tbody').html("");
              $("#gridWidgetVersion").css("display","none");
              $('#grid_widget_version').text("");
              $('#grid_widget').text("");
              $('#deleteTypeOfWidgetButton').val(json.id);
              disableButtonGroup('#widget_btn_group', true);
              disableButtonGroup('#version_btn_group', true);

              openGridWidget(id);
            },
            error_message:function(e) {
              $("#editTypeOfWidgetModalMessage").css("display", "block");
              $("#editTypeOfWidgetModalMessage p").text(JSON.parse(e.responseText).message);
              $("#editTypeOfWidgetModalMessage p").append(JSON.stringify(JSON.parse(e.responseText).exception));
            }
          })}

        function editGridWidget(id){
          model_data = $("#editGridWidget").serializeObject();

          $.ajax({
            url: '@routes.Controller_Grid.gridWidget_update("")' + id,
            type: 'PUT',
            contentType: 'application/json',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
              "Content-Type":"application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',
            success:function(json){
              $("#editGridWidget input[type=text]").val("");
              $("#editGridWidgetModal").modal('hide');
              $("#editGridWidgetModalMessage").css("display", "none");
              openTypeOfWidget(json.type_of_widget_id);
              openGridWidget(json.id);
            },
            error_message:function(e) {
              $("#editGridWidgetModalMessage").css("display", "block");
              $("#editGridWidgetModalMessage p").text(JSON.parse(e.responseText).message);
              $("#editGridWidgetModalMessage p").append(JSON.stringify(JSON.parse(e.responseText).exception));
            }
          })}

        function editGridWidgetVersion(id){
          model_data = $("#editGridWidgetVersion").serializeObject();

          $.ajax({
            url: '@routes.Controller_Grid.gridWidgetVersion_edit("")' + id,
            type: 'PUT',
            contentType: 'application/json',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
              "Content-Type":"application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',
            success:function(e){
              $("#editGridWidgetVersion input[type=text]").val("");
              $("#editGridWidgetVersionModal").modal('hide');
              $("#editGridWidgetVersionModalMessage").css("display", "none");
              openGridWidgetVersion(document.getElementById('version_info_id').textContent);
            },
            error_message:function(e) {
              $("#editGridWidgetVersionModalMessage").css("display", "block");
              $("#editGridWidgetVersionModalMessage p").text(JSON.parse(e.responseText).message);
              $("#editGridWidgetVersionModalMessage p").append(JSON.stringify(JSON.parse(e.responseText).exception));
            }
          })}

        function deleteTypeOfWidget(id){

          $.ajax({
            url: '@routes.Controller_Grid.typeOfWidget_delete("")' + id,
            type: 'DELETE',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken")
            },
            success:function(e){
              $('#typeOfWidgetTableWrapper').load(document.URL +  ' #allTypesOfWidgets');
              $('#type_of_widget').text("");
              $('#gridWidgets tbody').html("");
              $('#gridWidgetVersions tbody').html("");
              $("#gridWidgetVersion").css("display","none");
              $('#grid_widget_version').text("");
              $('#grid_widget').text("");
              disableButtonGroup('#type_btn_group', true);
              disableButtonGroup('#widget_btn_group', true);
              disableButtonGroup('#version_btn_group', true);
            },
            error_message:function(e) {
              alert(e.responseText);
            }
          })}

        function deleteGridWidget(id){

          $.ajax({
            url: '@routes.Controller_Grid.gridWidgetVersion_delete("")' + id,
            type: 'DELETE',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken")
            },
            success:function(e){
              openTypeOfWidget(document.getElementById('type_info_id').textContent);
              $('#grid_widget').text("");
            },
            error_message:function(e) {
              alert(e.responseText);
            }
          })}

        function deleteGridWidgetVersion(id){

          $.ajax({
            url: '@routes.Controller_Grid.gridWidgetVersion_get("")' + id,
            type: 'DELETE',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken")
            },
            success:function(e){
              openGridWidget(document.getElementById('widget_info_id').textContent);
              $('#grid_widget_version').text("");
            },
            error_message:function(e) {
              alert(e.responseText);
            }
          })}

        function showEditTypeForm(id, name, description){
          $("#editTypeOfWidgetModal").modal('show');
          $('#editTypeOfWidgetButton').val(id);
          $('#typeOfWidgetId').text("ID = " + id);
          $("#editTypeOfWidget input[name=name]").val(name);
          $("#editTypeOfWidget input[name=description]").val(description);

        }

        function openTypeOfWidget(id){
          $.ajax({
            url: '@routes.Controller_Grid.typeOfWidget_get("")' + id,
            type: 'GET',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken")
            },
            dataType: 'json',
            success:function(json){
              $('#type_of_widget').text(json.name);
              $('#type_info_id').text(json.id);
              $('#type_info_description').text(json.description);
              $('#gridWidgets tbody').html("");
              $('#gridWidgetVersions tbody').html("");
              $("#gridWidgetVersion").css("display","none");
              $('#grid_widget_version').text("");
              $('#grid_widget').text("");
              $('#deleteTypeOfWidgetButton').val(json.id);
              disableButtonGroup('#type_btn_group', false);
              disableButtonGroup('#widget_btn_group', true);
              disableButtonGroup('#version_btn_group', true);
              var content = '';

              console.log("Json Content" + json.grid_widgets);

              $.each(json.grid_widgets, function(index, v) {

                content +=  "<tr>";

                content += "<td align='center' >" +
                        "<button class='btn btn-block btn-info' type='button' onclick=\"openGridWidget('" + v.id + "')\">" + v.name + "</button>" +
                        "</td>";

                if(index > 0) {

                  content  += "<td align='center' >" +
                          "<a class='btn btn-warning' href='#' onclick=\"upGridWidget('" + v.id + "'  ,  '" + id + "')\"><i class='fa fa-sort-up fa-lg'></i></a>" +
                          "</td>";

                }else{
                  content += "<td></td>";
                }


                if(index < (json.grid_widgets.length-1)){

                  content += "<td align='center' >" +
                          "<a class='btn btn-warning' href='#' onclick=\"downGridWidget('" + v.id + "'  ,  '" + id + "')\"><i class='fa fa-sort-down fa-lg'></i></a>" +
                          "</td>";

                }else{
                  content += "<td></td>";
                }

                content += "</tr>";

              });

              $('#gridWidgets tbody').append(content);

            },
            error_message:function(e) {
              alert(e.responseText);
            }
          })}

        function openGridWidget(id){
          $.ajax({
            url: '@routes.Controller_Grid.gridWidget_get("")' + id,
            type: 'GET',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken")
            },
            dataType: 'json',
            success:function(json){
              $('#grid_widget').text(json.name);
              $('#widget_info_id').text(json.id);
              $('#widget_info_description').text(json.description);
              $('#grid_widget_version').text("");
              $('#deleteGridWidgetButton').val(json.id);
              $('#gridWidgetVersions tbody').html("");
              $("#gridWidgetVersion").css("display","none");
              disableButtonGroup('#widget_btn_group', false);
              disableButtonGroup('#version_btn_group', true);

              var content = '';

              console.log("Json openGridWidget  Content in Json" , json.versions);

              $.each(json.versions, function(k, v) {

                  content += "<tr><td><button class='btn btn-block btn-info' type='button' onclick=\"openGridWidgetVersion('" + v.id + "')\">" + v.name + "</button></td></tr>";

              });

              console.log("Json openGridWidget  Content in String = " , content);

              $('#gridWidgetVersions tbody').append(content);
            },
            error_message:function(e) {
              alert(e.responseText);
            }
          })}

        function openGridWidgetVersion(id){

          $("#gridWidgetVersion").css("display","block");
          $.ajax({
            url: '@routes.Controller_Grid.gridWidgetVersion_get("")' + id,
            type: 'GET',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken")
            },
            dataType: 'json',
            success:function(json){
              $('#deleteGridWidgetVersionButton').val(json.id);
              $('#version_info_id').text(json.id);
              $('#grid_widget_version').text(json.version_name);
              $('#grid_version_name').val(json.version_name);
              $('#grid_version_description').val(json.version_description);
              $('#grid_version_design').text(json.design_json);
              $('#grid_version_logic').text(json.logic_json);
              disableButtonGroup('#version_btn_group', false);

            },
            error_message:function(e) {
              alert(e.responseText);
            }
          })}

        function disableButtonGroup(id, state) {
          $(id + ' button').prop('disabled', state);
          if(state){
            $(id + ' button').addClass('disabled');
          }else {
            $(id + ' button').removeClass('disabled');
          }
        }


</script>