# Created by .ignore support plugin (hsz.mobi)
logs
target
/.idea
project/project
conf/label_printers
label_printers

sbt-dist

/DocumentDB.Spatial.Sql.dll
/Microsoft.Azure.Documents.ServiceInterop.dll
