@import models.Model_VersionObject
@import models.Model_CProgram
@import models.Model_TypeOfBoard

@(program: Model_CProgram)

<section class="content-header">
    <h1> @program.name </h1>
    <ol class="breadcrumb">
        <li><a href="@routes.Controller_Dashboard.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
        <li class="active"><i class="fa fa-share"></i> Server Management </li>
        <li class="active"><i class="fa fa-wrench"></i> C Program Management </li>
        <li><a href="@routes.Controller_Dashboard.public_c_code_list()"><i class="fa fa-wrench"></i> Public Firmware Code </a></li>
        <li class="active"><i class="fa fa-wrench"></i> @program.name </li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-5">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Program details (ID = @program.id)</h3>
                    <div class="btn-group pull-right">
                        <button class="btn btn-xs btn-danger" type="button" onclick="removeCode()" title="Remove Code"><i class="fa fa-times"></i></button>
                        <button class="btn btn-xs btn-info" type="button" data-toggle="modal" data-target="#editCodeModal" title="Edit Code"><i class="fa fa-edit"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <label for="code_description">Description</label>
                    <textarea id="code_description" class="form-group form-control" readonly rows="3">@program.description</textarea>
                </div>
            </div>
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Versions</h3>
                </div>
                <div class="box-body" id="versionsWrapper">
                    <table id="versions" class="table table-bordered" >
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(version <- program.getVersion_objects_all_For_Admin){
                            <tr>
                                <td>@version.version_name @if(version.removed_by_user){ <span class="label label-danger">deleted</span> }</td>
                                <td>@version.version_description</td>
                                <td><button class="btn btn-xs btn-block btn-info" type="button" onclick="getVersion('@version.id')" title="Open"><i class="fa fa-wrench"></i></button></td>
                                <td><button class="btn btn-xs btn-block btn-danger" type="button" onclick="deleteVersion('@version.id')" title="Delete"><i class="fa fa-times"></i></button></td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Version details</h3>
                    <div class="btn-group pull-right">
                        <button id="deleteVersionButton" class="btn btn-xs btn-danger disabled" type="button" onclick="deleteVersion()" title="Delete"><i class="fa fa-times"></i></button>
                        <button id="editVersionButton" class="btn btn-xs btn-info disabled" type="button" data-toggle="modal" data-target="#editVersionModal" title="Edit" onclick="fillEditVersionForm()"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-xs btn-success pull-right" type="button" data-toggle="modal" data-target="#newVersionModal" onclick="newVersion()" title="Save new version"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="version_id">ID</label>
                            <input id="version_id" class="form-control form-group" type="text" readonly>
                        </div>
                        <div class="col-md-3">
                            <label for="version_name">Name</label>
                            <input id="version_name" class="form-control form-group" type="text" readonly>
                        </div>
                        <div class="col-md-3">
                            <label>Author</label>
                            <div class="clearfix"></div>
                            <a id="author" title="Open author" onclick="author()"></a>
                        </div>
                        <div class="col-md-2">
                            <label>Status</label>
                            <div class="clearfix"></div>
                            <span id="status" class="label label-primary"></span>
                        </div>
                    </div>
                    <label for="version_description">Description</label>
                    <textarea id="version_description" class="form-group form-control" rows="3" readonly></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Main</h3>
                            <button id="newMainButton" class="btn btn-xs btn-success pull-right" type="button" onclick="newMain()" title="Add Main"><i class="fa fa-plus"></i></button>
                        </div>
                        <div class="box-body">
                            <div class="nav nav-sidebar" id="main">
                            </div>
                        </div>
                        <div class="box-footer">
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Files</h3>
                            <button id="newFileButton" class="btn btn-xs btn-success pull-right" type="button" data-toggle="modal" data-target="#newFileModal" title="New File"><i class="fa fa-plus"></i></button>
                        </div>
                        <div class="box-body">
                            <div class="nav nav-sidebar" id="files">
                            </div>
                        </div>
                        <div class="box-footer">
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Imported Libraries</h3>
                            <button id="newLibraryButton" class="btn btn-xs btn-success pull-right" type="button" data-toggle="modal" data-target="#newLibraryModal" title="New Library"><i class="fa fa-plus"></i></button>
                        </div>
                        <div class="box-body">
                            <div class="nav nav-sidebar" id="library_files">
                            </div>
                        </div>
                        <div class="box-footer">
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Code Editor</h3>
                        </div>
                        <div class="box-body">
                            <div id="editor"></div>
                        </div>
                        <div class="box-footer">
                            <p class="pull-left" id="file_name"></p>
                            <button id="saveFileButton" disabled class="btn btn-xs btn-success pull-right disabled" type="button" onclick="saveFile()">Save file</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- NEW VERSION MODAL -->

<div id="newVersionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newVersionModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="newVersionModalTitle" class="modal-title">New Version</h4>
            </div>
            <div class="modal-body">
                <p>Type in new information.</p>
                <form id="newVersion">
                    <input class="form-control form-group" title="Name" type="text" id="new_version_name" >
                    <input class="form-control form-group" title="Description" type="text" id="new_version_description" >
                </form>
                <div id="newVersionModalMessage" style="display: none"><p class="text-red"></p></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-success" type="button" onclick="saveVersion()">Save</button>
            </div>
        </div>
    </div>
</div>

    <!-- EDIT VERSION MODAL -->

<div id="editVersionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editVersionModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="editVersionModalTitle" class="modal-title">Edit Library Version</h4>
            </div>
            <div class="modal-body">
                <form id="editVersion">
                    <input id="edit_version_name" class="form-control form-group" title="Name" type="text" name="version_name">
                    <input id="edit_version_description" class="form-control form-group" title="Description" type="text" name="version_description">
                </form>
                <div id="editVersionModalMessage" style="display: none"><p class="text-red"></p></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-success" type="button" onclick="editVersion()">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="editCodeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editCodeModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="editCodeModalTitle" class="modal-title">Edit Library</h4>
            </div>
            <div class="modal-body">
                <form id="editCode">
                    <input class="form-control form-group" title="Name" type="text" name="name" value="@program.name">
                    <input class="form-control form-group" title="Description" type="text" name="description" value="@program.description">
                </form>
                <div id="editCodeModalMessage" style="display: none"><p class="text-red"></p></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-success" type="button" onclick="editCode()">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="newLibraryModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newLibraryModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="newLibraryModalTitle" class="modal-title">Import Library</h4>
            </div>
            <div class="modal-body">
                <form id="newLibrary">
                    <label>Library</label>
                    <select id="selectLibrary" class="form-control select2" style="width: 100%;">
                        <option selected="selected" disabled>Choose Library</option>

                            @for(library <- Model_Library.find.all()){
                        <option value="@library.versions().get(0).version_id">@library.name</option>
                        }
                    </select>
                </form>
                <div id="newLibraryModalMessage" style="display: none"><p class="text-red"></p></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-success" type="button" onclick="importLibrary()">Import</button>
            </div>
        </div>
    </div>
</div>

<!--

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">All Public programs</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button class="btn btn-block btn-info" type="button" onclick="createProgramShow()">Create Public Program</button>
                        </div>
                    </div>
                </div>
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">

                    @@for( type_of_board <- Model_TypeOfBoard.find.all()){
                        <li><a href="#type_of_board_tab_@@type_of_board.id" data-toggle="tab">@@type_of_board.name</a></li>
                    }
                    </ul>
                </div>
                <div id="all_c_programs_wrapper">
                    <div class="tab-content" id="all_c_programs">
                    @@for( type_of_board <- Model_TypeOfBoard.find.all() ) {

                        <div class="tab-pane" id="type_of_board_tab_@@type_of_board.id">
                            <div class="box-body">

                                @@for(c_program <- Model_CProgram.find.where().isNull("project").eq("type_of_board.id", type_of_board.id).findList()){

                                    <h4 class="text-warning"> @@c_program.name <small class="text-warning">@@c_program.type_of_board_name() </small>

                                        @@if(Model_VersionObject.find.where().eq("public_version", true).eq("removed_by_user", false).eq("c_program.id", c_program.id).findUnique() != null){
                                            <small class="text-success">(Visible)</small>
                                        }else{
                                            <small class="text-danger">(Not Visible)</small>
                                        }


                                    </h4>
                                    <br><label style="">@@c_program.description </label>

                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                                Program Action
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                <li><button class="btn btn-block btn-primary" type="button" onclick="createC_Program_VersionShow('@@c_program.id')">Create Version</button></li>
                                                <li><button class="btn btn-block btn-info"    type="button" onclick="showEditForm('@@c_program.id')">Hide</button></li>
                                                <li><button class="btn btn-block btn-danger"  type="button" onclick="removeProgram('@@c_program.id')">Delete</button></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <table id="c_program_detail" class="table table-bordered">

                                        <tr>
                                            <th class="col-md-1" >Id</th>
                                            <th class="col-md-1" >Name</th>
                                            <th class="col-md-3" >Description</th>
                                            <th class="col-md-1" >Author</th>
                                            <th class="col-md-1" >Comp. Status</th>
                                            <th class="col-md-1" >Visible Status</th>
                                            <th class="col-md-1" >Actions</th>
                                        </tr>

                                        @@for(version <- c_program.getVersion_objects_all_For_Admin){

                                            @@if(!version.removed_by_user){
                                                <tr>

                                                    <td>@@version.id</td>
                                                    <td>@@version.version_name</td>
                                                    <td>@@version.version_description</td>
                                                    <td>@@if(version.author != null){
                                                        @@version.author.mail
                                                    }else{
                                                        not defined
                                                    }</td>
                                                    <td>@@version.c_compilation.status</td>
                                                    <td>@@version.public_version</td>
                                                    <td>


                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                                                <span class="caret"></span>
                                                                <span class="sr-only">Toggle Dropdown</span>
                                                                Version Action
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                                <li><button class="btn btn-block btn-primary" type="button" onclick="showCode('@@version.id')">Show Code</button></li>
                                                                <li><button class="btn btn-block btn-info"    type="button" onclick="editC_Program_VersionShow('@@version.id', '@@version.version_name', '@@version.version_description')">Edit</button></li>
                                                                @@if(version.public_version){
                                                                    <li><button class="btn btn-block btn-warning"  type="button" onclick="dispproveVersion(@@version.id)">Disapprove</button></li>
                                                                }else{
                                                                    <li><button class="btn btn-block btn-warning"  type="button" onclick="approveVersion(@@version.id)">Approve</button></li>
                                                                }
                                                                <li><button class="btn btn-block btn-danger"  type="button" onclick="removeVersion(@@version.id)">Delete</button></li>
                                                            </ul>
                                                        </div>



                                                    </td>

                                                </tr>
                                            }
                                        }
                                    </table>
                                }

                            </div>
                        </div>
                    }
                    </div>
                </div>
                <div class="box-footer">
                </div>
            </div>
        </div>
    </div>


    <div id="createProgramModal" style="display: none;" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create Program</h4>
                </div>
                <div class="modal-body">
                    <form id="createProgramForm">

                        <div class="form-group">
                            <label style="">C Program name</label>
                            <input type="text" class="form-control" name="name">
                        </div>

                        <div class="form-group">
                            <label style="">C Program description </label>
                            <input type="text" class="form-control" name="description">
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="c_program_public_admin_create" value="true" checked>
                                    Public C Program
                                </label>
                            </div>
                        </div>


                        <div class="form-group">
                            <label style="">Type Of Board</label>
                            <select class="form-control" id="type_of_board_id" name="type_of_board_id">
                            @@for(x <- Model_TypeOfBoard.find.all()){
                                <option  value="@@x.id" name="type_of_board_id" >@@x.name</option>
                            }
                            </select>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#createProgramModal').css('display','none')">Close</button>
                    <button id="editCompilationServerButton" value="" class="btn btn-primary" type="button" onclick="createProgram()">Create</button>
                </div>
            </div>
        </div>
    </div>



    <div id="newCProgramVersionModal" style="display: none;" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New C Program version</h4>
                </div>
                <div class="modal-body">
                    <form id="newCProgramVersionForm">
                        <label>Version name</label>                 <input    name="version_name" type="text" placeholder="1.0.5"> <p><p><p>
                        <label>Version Description</label><p>       <textarea name="version_description" class="form-control" rows="3" placeholder="Description...."></textarea> <p><p>
                        <label>Program</label>  <p>                 <textarea name="main" class="form-control" rows="3" placeholder="Code...."></textarea> <p>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#newCProgramVersionModal').css('display','none')">Close</button>
                    <button id="newCProgramVersionButton" value="" class="btn btn-primary" type="button" onclick="createNewCProgramVersion(this.value)">Create</button>
                </div>
            </div>
        </div>
    </div>


    <div id="editCProgramVersionModal" style="display: none;" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Version (Basic info)</h4>
                </div>
                <div class="modal-body">
                    <form id="editCProgramVersionForm">

                        <div class="form-group">
                            <label id="c_program_version_id" style="display: block;">ID</label>
                        </div>

                        <div class="form-group">
                            <label style="">Version name:</label>
                            <input type="text" name="version_name" id="editCProgramVersionForm_name" style="display: block;">
                        </div>

                        <div class="form-group">
                            <label style="">Version description: </label>
                            <input type="text" name="version_description"  id="editCProgramVersionForm_description" style="display: block;">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#editCProgramVersionModal').css('display','none')">Close</button>
                    <button id="editVersionModalButton" class="btn btn-info" type="button" onclick="editCProgramVersion(this.value)">Save changes & Approve</button>
                </div>
            </div>
        </div>
    </div>




</section>

-->

<div id="newFileModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newFileModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="newFileModalTitle" class="modal-title">New File</h4>
            </div>
            <div class="modal-body">
                <form id="newFile">
                    <label>Name</label>
                    <p class="text-red">Specify the full path (e.g. "library/folder/file.cpp")</p>
                    <input id="newFileName" placeholder="Name" style="display: block" type="text" name="file_name" >
                </form>
                <div id="newFileModalMessage" style="display: none"><p class="text-red"></p></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-success" type="button" onclick="newFile()">Create</button>
            </div>
        </div>
    </div>
</div>

<script>

        $.ajaxSetup({ cache: false });

        var id = "@program.id";
        var editor;

        var openedVersion = {
            version_id:"",
            version_name:"",
            version_description:"",
            main:"",
            files:[],
            imported_libraries:[]
        };
        var openedFile;

        var libraries = [];
        var libraryFiles = [];

        function makeId() {
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

            for( var i=0; i < 5; i++ )
                text += possible.charAt(Math.floor(Math.random() * possible.length));

            return text;
        }

        function makeJson(type, data){

            var tree = [];
            var root = 0;

            function fillTree(content, steps, x, type) {
                var current = null,
                        existing = null,
                        i = 0;
                for (var y = 0; y < steps.length; y++) {

                    if (y == 0) {

                        if (!tree[root] || !tree[root].children || typeof tree[root].children == 'undefined') {
                            tree[root] = {text: steps[y], leaf: false, children: [], type: type};
                        }

                        for (var z = 0; z < tree.length; z++) {
                            if (tree[z].text !== steps[y] && z == (tree.length - 1)){
                                tree.push({text: steps[y], leaf: false, children: [], type: type});
                                root = z + 1;
                                break;
                            }
                            if (tree[z].text === steps[y]){
                                root = z;
                                break;
                            }
                        }

                        current = tree[root].children;
                    } else {
                        existing = null;
                        for (i = 0; i < current.length; i++) {
                            if (current[i].text === steps[y]) {
                                existing = current[i];
                                break;
                            }
                        }
                        if (existing) {
                            current = existing.children;
                        } else {
                            current.push({text: steps[y], leaf: false, children: []});
                            current = current[current.length - 1].children;
                        }
                    }
                }
                if (current.length === 0){
                    current.push({text: content, leaf: true, order: x, type: type})
                }
            }

            for (x = 0; x < data.length; x++) {
                steps = data[x].file_name.split('/');
                fillTree(data[x].content, steps, x, type);
            }

            return tree;
        }

        function makeTree(library, t) {

            var content = "<ul style='list-style-type: none; margin: 0; padding: 0;'>";

            if (t.leaf != true) {
                if (t.children.length == 1 && t.children[0].leaf == true) {
                    content += "<li style='margin: 0; padding: 0;'>" +
                            "<div class='panel-group' style='margin: 5px 0;' id='" + t.text + "'>" +
                            "<div class='panel panel-default'>" +
                            "<div class='panel-heading' style='padding: 5px 10px;'>" +
                            "<h4 class='panel-title'>" +
                            "<a onclick=\"" +
                            "openFile('" + t.children[0].type + "'," + t.children[0].order + ");" +
                            "\">";

                    content += t.text;

                    content += "</a>";
                    if (t.children[0].type == "user_file"){
                        content += "<button class='btn btn-xs btn-danger pull-right' type='button' onclick='removeFile(" + t.children[0].order + ")' title='Remove File' style='top: -2px; position: relative;'><i class='fa fa-times'></i></button>";
                    }
                    content += "</h4></div><div id='collapse" + t.text + "' class='panel-collapse collapse'>" +
                            "<div class='panel-body' style='padding: 0 5px 0 10px;'>";
                } else {
                    var randomId = makeId();
                    content += "<li style='margin: 0; padding: 0;'>" +
                            "<div class='panel-group' style='margin: 5px 0;' id='" + t.text + "'>" +
                            "<div class='panel panel-default'>" +
                            "<div class='panel-heading' style='padding: 5px 10px;'>" +
                            "<h4 class='panel-title'>" +
                            "<a data-toggle='collapse' data-parent='#" + t.text + randomId + "' href='#collapse" + t.text + randomId + "'>" + t.text + "</a>";

                    if(typeof t.type != "undefined" && t.type == "library_file"){
                        content += "<button class='btn btn-xs btn-danger pull-right' type='button' onclick='removeLibrary(" + library + ")' title='Remove Library' style='top: -2px; position: relative;'><i class='fa fa-times'></i></button>";
                    }

                    content += "</h4></div><div id='collapse" + t.text + randomId + "' class='panel-collapse collapse'>" +
                            "<div class='panel-body' style='padding: 0 5px 0 10px;'>";
                }
                $.each(t.children, function (k, v) {
                    content += makeTree(k, v);
                });
                content += "</div></div></div></div></li>";
            }

            content += "</ul>";

            return content;
        }

        function makeStructure(trees){

            var content = "";

            $.each(trees, function (k, v) {
                content += makeTree(k, v)
            });

            return content;
        }

        function structureMain() {

            $('#main').html("<ul style='list-style-type: none; margin: 0; padding: 0;'>" +
                    "<li style='margin: 0; padding: 0;'>" +
                    "<div class='panel-group' style='margin: 5px 0;' id='main'>" +
                    "<div class='panel panel-default'>" +
                    "<div class='panel-heading' style='padding: 5px 10px;'>" +
                    "<h4 class='panel-title'>" +
                    "<a onclick=\"openMain();\">main</a></h4></div>" +
                    "<div id='collapseMain' class='panel-collapse collapse'>" +
                    "<div class='panel-body' style='padding: 0 5px 0 10px;'>" +
                    "</div></div></div></div></li></ul>");
        }

        function editCode(){
            $.ajax({
                url: '@routes.Controller_Code.c_program_update("")' + id,
                type: 'PUT',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                data: JSON.stringify($("#editCode").serializeObject()),
                dataType: 'json',
                success:function(json){
                    location.reload();
                },
                error:function(e) {
                    $("#editCodeModalMessage").css("display", "block");
                    $("#editCodeModalMessage p").text(JSON.parse(e.responseText).message).append(JSON.stringify(JSON.parse(e.responseText).exception));
                }
            })
        }

        function removeCode(){
            $.ajax({
                url: '/c_program/' + id,
                type: 'DELETE',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },
                dataType: 'json',
                success:function(json){
                    window.location.reload();
                },
                error:function(e) {
                    alert(JSON.stringify(JSON.parse(e.responseText).message));
                }
            })
        }

        function newVersion(){

            $("#new_version_name").val(openedVersion.version_name);
            $("#new_version_description").val(openedVersion.version_description);
        }

        function getVersion(version_id) {
            $.ajax({
                url: '/c_program/version/' + version_id,
                type: 'GET',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },
                dataType: 'json',
                success:function(json){
                    openVersion(json);
                },
                error:function(e) {
                    alert(JSON.stringify(JSON.parse(e.responseText).message));
                }
            })
        }

        function editVersion(){
            $.ajax({
                url: '@routes.Controller_Code.c_program_update("")' + openedVersion.version_id,
                type: 'PUT',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                data: JSON.stringify($("#editVersion").serializeObject()),
                dataType: 'json',
                success:function(json){
                    $("#editVersionModal").modal('hide');
                    $('#versionsWrapper').load(document.URL +  ' #versions');
                    openVersion(json);
                },
                error:function(e) {
                    $("#editVersionModalMessage").css("display", "block");
                    $("#editVersionModalMessage p").text(JSON.parse(e.responseText).message).append(JSON.stringify(JSON.parse(e.responseText).exception));
                }
            })
        }

        function saveVersion() {

            openedVersion.id = null;
            openedVersion.version_name = $("#new_version_name").val();
            openedVersion.version_description = $("#new_version_description").val();

            $.ajax({
                url: '/c_program/version/create/' + id,
                type: 'POST',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                dataType: 'json',
                data: JSON.stringify(openedVersion),
                success:function(json){
                    $("#newVersionModal").modal('hide');

                    //var newRow = "<tr><td>" + json.version_name + "</td><td>" + json.version_description + "</td>";
                    //newRow += "<td><button class=\"btn btn-xs btn-block btn-info\" type=\"button\" onclick=\"getVersion('" + json.version_id + "')\" title=\"Edit\"><i class=\"fa fa-wrench\"></i></button></td>";
                    //newRow += "<td><button class=\"btn btn-xs btn-block btn-danger\" type=\"button\" onclick=\"deleteVersion('" + json.version_id +"')\" title=\"Delete\"><i class=\"fa fa-times\"></i></button></td></tr>";

                    //$("#versions tbody").prepend(newRow);
                    $('#versionsWrapper').load(document.URL +  ' #versions');
                    openVersion(json);
                },
                error:function(e) {
                    $("#newVersionModalMessage").css("display", "block");
                    $("#newVersionModalMessage p").text(JSON.parse(e.responseText).message).append(JSON.stringify(JSON.parse(e.responseText).exception));
                }
            })
        }

        function deleteVersion(version_id){

            if (typeof version_id == "undefined") version_id = openedVersion.version_id;

            $.ajax({
                url: '@routes.Controller_Code.c_programVersion_delete("")' + version_id,
                type: 'DELETE',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },
                dataType: 'json',
                success:function(json){
                    location.reload();
                },
                error:function(e) {
                    alert(JSON.stringify(JSON.parse(e.responseText).message));
                }
            })
        }

        function openVersion(json) {

            openedVersion = convertVersion(json);
            openedFile = {};
            libraryFiles = [];
            libraries = [];

            $("#version_id").val(openedVersion.version_id);
            $("#version_name").val(openedVersion.version_name);
            $("#version_description").text(openedVersion.version_description);
            $("#author").text(openedVersion.author.nick_name + " <" + openedVersion.author.mail + ">");
            $("#status").text(openedVersion.status);

            $('#deleteVersionButton').prop('disabled', false).removeClass('disabled');
            $('#editVersionButton').prop('disabled', false).removeClass('disabled');

            closeFile();

            if (openedVersion.main != null && openedVersion.main != "") {
                structureMain();
                $('#newMainButton').prop('disabled', true).addClass('disabled');
            }else{
                $('#main').html("<p>Main is missing! Hit the plus button to add a new one.</p>");
                $('#newMainButton').prop('disabled', false).removeClass('disabled');
            }

            if (openedVersion.files.length > 0) {
                updateFiles("user_file", openedVersion.files);
            }else{
                $('#files').html("<p>No files here! Hit the plus button to add o new one.</p>");
            }

            if (json.imported_libraries.length > 0) {

                var temp = [];

                var getLibraries = [];
                $.each(openedVersion.imported_libraries, function(k, v) {

                    temp.push(v.library_version_short_detail.version_id);

                    getLibraries.push($.ajax({
                        url: '/library/version/' + v.library_version_short_detail.version_id,
                        type: 'GET',
                        headers: {
                            "X-AUTH-TOKEN":getCookie("authToken")
                        },
                        dataType: 'json',
                        success: function (json) {
                            libraries.push(json)
                        }
                    }));
                });

                $.when.apply($, getLibraries).done(function () {
                    retrieveLibraryFiles()
                });

                openedVersion.imported_libraries = temp;

            }else{
                $('#library_files').html("<p>No libraries here! Hit the plus button to add one.</p>");
            }
        }

        function convertVersion(json){

            return {
                version_id: json.version_object.id,
                version_name: json.version_object.version_name,
                version_description: json.version_object.version_description,
                author: {
                    mail: json.version_object.author.mail,
                    nick_name: json.version_object.author.nick_name,
                    id: json.version_object.author.id
                },
                status: json.status,
                main: json.main,
                files: json.files,
                imported_libraries: json.imported_libraries
            };
        }

        function newFile(){
            openedFile = {file_name: $('#newFileName').val(), content: ''};
            $('#file_name').text(openedFile.file_name);
            editor.setValue("// your new file - " + openedFile.file_name,1);
            $("#newFileModal").modal('hide');
            $('#newFileName').val("");

            $('#saveFileButton').prop('disabled', false).removeClass('disabled');
        }

        function saveFile(){

            if (typeof openedFile.main != "undefined") {
                openedFile.main = editor.getValue();
                openedVersion.main = openedFile.main;
                structureMain();
                $('#newMainButton').prop('disabled', true).addClass('disabled');
                return;
            }

            openedFile.content = editor.getValue();
            if (openedVersion.files.length == 0){
                openedVersion.files.push(openedFile);
            } else {
                $.each(openedVersion.files,function (k, v) {
                    if(openedFile.file_name === v.file_name){
                        openedVersion.files[k].content = openedFile.content;
                        return false;
                    } else if (k == openedVersion.files.length - 1){
                        openedVersion.files.push(openedFile);
                    }
                });
            }

            updateFiles("user_file", openedVersion.files);
        }

        function openFile(type, order){

            var content = "";

            switch (type){
                case "user_file" : {
                    $('#file_name').text(openedVersion.files[order].file_name);

                    openedFile = openedVersion.files[order];

                    content = openedVersion.files[order].content;

                    break;
                }
                case "library_file" : {
                    $('#file_name').text(libraryFiles[order].file_name);

                    openedFile = libraryFiles[order];

                    content = openedFile.content;

                    break;
                }
            }

            editor.setValue(content, 1);

            $('#saveFileButton').prop('disabled', false).removeClass('disabled');
        }

        function closeFile() {
            $('#saveFileButton').prop('disabled', true).addClass('disabled');
            //$('#saveExampleButton').prop('disabled', true).addClass('disabled');

            $('#file_name').text("");
            editor.setValue("");
        }

        function removeFile(order){

            openedVersion.files.splice(order,1);
            updateFiles("user_file", openedVersion.files);
        }

        function fillEditVersionForm() {
            $("#edit_version_name").val(openedVersion.version_name);
            $("#edit_version_description").val(openedVersion.version_description);
        }

        function author() {
            location.href = "/admin/helpdesk_tool?email=" + openedVersion.author.mail;
        }

        function importLibrary(){

            $.ajax({
                url: '/library/version/' + $('#selectLibrary').val(),
                type: 'GET',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },
                dataType: 'json',
                success:function(json){

                    libraries.push(json);

                    openedVersion.imported_libraries.push(json.version_id);

                    $.each(json.files, function (k, v) {
                        libraryFiles.push(v);
                    });

                    updateFiles("library_file",libraryFiles);
                    $("#newLibraryModal").modal('hide');
                },
                error:function(e) {
                    $("#newLibraryModalMessage").css("display", "block");
                    $("#newLibraryModalMessage p").text(JSON.parse(e.responseText).message).append(JSON.stringify(JSON.parse(e.responseText).exception));
                }
            });
        }

        function removeLibrary(order){

            openedVersion.imported_libraries.splice(openedVersion.imported_libraries.indexOf(libraries[order].version_id),1);

            $.each(libraries[order].files, function (k, v) {
                libraryFiles.splice(libraryFiles.indexOf(v),1);
            });

            libraries.splice(order,1);

            updateFiles("library_file",libraryFiles);
        }

        function retrieveLibraryFiles(){

            $.each(libraries, function(k, v) {

                $.each(v.files, function(key, value) {

                    libraryFiles.push(value)
                });
            });

            updateFiles("library_file", libraryFiles);
        }

        function updateFiles(type, files) {

            switch (type){
                case "user_file" : {

                    $('#files').html(makeStructure(makeJson("user_file", files)));

                    break;
                }
                case "library_file" : {

                    $('#library_files').html(makeStructure(makeJson("library_file", files)));

                    break;
                }
            }
        }

        function newMain() {
            $('#file_name').text("main");

            openedFile = {main:""};

            editor.setValue("// This is a main function of your program", 1);

            $('#saveFileButton').prop('disabled', false).removeClass('disabled');
        }

        function openMain() {
            $('#file_name').text("main");

            openedFile = {main:openedVersion.main};

            editor.setValue(openedFile.main, 1);

            $('#saveFileButton').prop('disabled', false).removeClass('disabled');
        }

        $(function(){
            editor = ace.edit("editor");
            //editor.setTheme("ace/theme/eclipse");
            editor.getSession().setMode("ace/mode/c_cpp");
        });
</script>

<script>

        $.ajaxSetup({ cache: false });


        function createProgramShow(){
            $("#createProgramModal").css("display","block");
        }

        function createC_Program_VersionShow(c_program_id){
            $('#newCProgramVersionButton').val(c_program_id);
            $("#newCProgramVersionModal").css("display","block");
        }

        function editC_Program_VersionShow(version_id, name, description){
            $('#c_program_version_id').val(version_id);
            $('#editCProgramVersionForm_description').val(description);
            $('#editCProgramVersionForm_name').val(name);
            $('#editVersionModalButton').val(version_id);
            $("#editCProgramVersionModal").css("display","block");
        }


        function createProgram(){

            model_data = $("#createProgramForm").serializeObject();

            $.ajax({
                url: '@routes.Controller_Code.c_program_create()',
                type: 'POST',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                data: JSON.stringify(model_data),
                dataType: 'json',

                success:function(e){
                    $("#createProgramModal input[type=text]").val("");
                    $("#createProgramModal").css("display","none");
                    $('#all_c_programs_wrapper').load(document.URL +  ' #all_c_programs');
                },
                error:function(e) {
                    BootstrapDialog.show({
                        message: syntaxHighlight(e),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself) {
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}

        function removeProgram(id){

            $.ajax({
                url: '@routes.Controller_Code.c_program_delete("")' + id,
                type: 'DELETE',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                dataType: 'json',

                success:function(e){
                    $('#all_c_programs_wrapper').load(document.URL +  ' #all_c_programs');
                },
                error:function(e) {
                    BootstrapDialog.show({
                        message: syntaxHighlight(e),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself) {
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}

        function removeVersion(id){

            $.ajax({
                url: '@routes.Controller_Code.c_programVersion_delete("")' + id,
                type: 'DELETE',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                dataType: 'json',

                success:function(e){
                    $('#all_c_programs_wrapper').load(document.URL +  ' #all_c_programs');
                },
                error:function(e) {
                    BootstrapDialog.show({
                        message: syntaxHighlight(e),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself) {
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}

        function editCProgramVersion(id){

            model_data = $("#editCProgramVersionForm").serializeObject();

            $.ajax({
                url: '@routes.Controller_Code.c_programVersion_update("")' + id,
                type: 'PUT',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                data: JSON.stringify(model_data),
                dataType: 'json',

                success:function(e){
                    $("#editCProgramVersionForm input[type=text]").val("");
                    $("#editCProgramVersionModal").css("display","none");
                    $('#all_c_programs_wrapper').load(document.URL +  ' #all_c_programs');
                },
                error:function(e) {
                    BootstrapDialog.show({
                        message: syntaxHighlight(e),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself) {
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}

        function createNewCProgramVersion(c_program_id) {

            model_data = $("#newCProgramVersionForm").serializeObject();

            $.ajax({
                url: '@routes.Controller_Code.c_programVersion_create("")' + c_program_id ,
                type: 'POST',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN": getCookie("authToken"),
                    "Content-Type": "application/json"
                },
                data: JSON.stringify(model_data),
                dataType: 'json',

                success: function(data) {

                    $("#newCProgramVersionForm input[type=text]").val("");
                    $("#newCProgramVersionModal").css("display", "none");
                    $('#all_c_programs_wrapper').load(document.URL + ' #all_c_programs');

                },
                error: function(data) {

                    BootstrapDialog.show({
                        message: syntaxHighlight(data),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself) {
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })
        }

</script>