
<section class="content-header">
    <h1> Public Firmware Code </h1>
    <ol class="breadcrumb">
        <li><a href="@routes.Controller_Dashboard.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
        <li class="active"><i class="fa fa-share"></i> Server Management </li>
        <li class="active"><i class="fa fa-wrench"></i> C Program Management </li>
        <li class="active"><i class="fa fa-wrench"></i> Public Firmware Code </li>
    </ol>
</section>

<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Filter settings</h3>
                </div>
                <div class="box-body">
                    <form id="codeFilterForm">
                        <table id="filterTable" class="table table-condensed no-padding no-margin">
                            <tr>
                                <th>Type of Board</th>
                                <th>Parameters</th>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <select id="selectTypeOfBoard" name="type_of_board_ids[]" class="form-control" multiple>
                                        @for(type_of_board <- Model_TypeOfBoard.find.all() ) {
                                            <option value="@type_of_board.id"> @type_of_board.name </option>
                                        }
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input id="active" type="checkbox"> Removed by user
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="box-footer">
                    <button class="btn btn-xs pull-right btn-warning" type="button" onclick="filter()">Filter</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Code</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button class="btn btn-xs btn-success pull-right" type="button" data-toggle="modal" data-target="#newCodeModal" title="New Code"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <table id="code" class="table table-bordered">

                    </table>
                </div>
                <div class="box-footer">
                    <div class="dataTables_paginate paging_simple_numbers" id="all_table_paginate" style="text-align: center;">
                        <ul class="pagination" id="pagination" style="margin: 10px;">
                            <li class="paginate_button previous disabled" id="all_table_previous">
                                Zero pages!
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    <!-- NEW LIBRARY  MODAL -------------------------------------------------------------------------------------------------->

<div id="newCodeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newCodeModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="newCodeModalTitle" class="modal-title">New Code</h4>
            </div>
            <div class="modal-body">
                <form id="newCode">
                    <input class="form-control form-group" id="newCodeName" placeholder="Name" type="text" name="name" >
                    <input class="form-control form-group" id="newCodeDescription" placeholder="Description" type="text" name="description" >
                    <div>
                        <select id="newCodeSelectTypeOfBoard" name="type_of_board_id" class="form-control form-group" style="display: block; width: 100%;">
                        @for(type_of_board <- Model_TypeOfBoard.find.all() ) {
                            <option value="@type_of_board.id"> @type_of_board.name </option>
                        }
                        </select>
                    </div>
                </form>
                <div id="newCodeModalMessage" style="display: none"><p class="text-red"></p></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-success" type="button" onclick="newCode()">Save</button>
            </div>
        </div>
    </div>
</div>

<script>

        var page = 1;

        function newCode(){
            $.ajax({
                url: '@routes.Controller_Code.c_program_create()',
                type: 'POST',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                data: JSON.stringify($("#newCode").serializeObject()),
                dataType: 'json',
                success:function(json){
                    location.reload();
                },
                error:function(e) {
                    $("#newCodeModalMessage").css("display", "block");
                    $("#newCodeModalMessage p").text(JSON.parse(e.responseText).message).append(JSON.stringify(JSON.parse(e.responseText).exception));
                }
            })
        }

        function deleteCode(id){
            $.ajax({
                url: '/c_program/' + id,
                type: 'DELETE',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },
                dataType: 'json',
                success:function(json){
                    window.location.reload();
                },
                error:function(e) {
                    alert(JSON.stringify(JSON.parse(e.responseText).message));
                }
            })
        }

        $(function () {

            $('#selectTypeOfBoard').select2({
                placeholder: "Select multiple",
                allowClear: false
            });

            $('#newCodeSelectTypeOfBoard').select2({
                placeholder: "Select multiple",
                allowClear: false
            });

            filter();
        });

        function filter() {

            var model_data = $("#codeFilterForm").serializeObject();

            $.ajax({

                url: '/c_program/public/list/' + page,
                type: 'PUT',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                data: JSON.stringify(model_data),
                dataType: 'json',

                success: function(json) {
                    showCode(json);
                    makePagination(json.pages)
                },

                error: function(data) {
                    BootstrapDialog.show({
                        message: syntaxHighlight(data),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself) {
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })
        }

        function showCode(json) {

            var content = "";

            $('#code').html(""); // Vyprázdnění tabulky

            content +="<tr>";
            content +="<th>ID</th>";
            content +="<th>Name</th>";
            content +="<th>Description</th>";
            content +="<th>For Type of Board</th>";
            content +="<th>OPEN</th>";
            content +="<th>DELETE</th>";
            content +="</tr>";



            $.each(json.content, function (k, v) {
                content += "<tr>";

                content += "<td>" + v.id + "</td>";

                content += "<td>" + v.name +"</td>";
                content += "<td>" + v.description +"</td>";
                content += "<td>" + v.type_of_board_name +"</td>";
                content += "<td><a href='/admin/c_program/public/" + v.id + "'><button class='btn btn-xs btn-block btn-info'   type='button'> Edit </button></a></td>";
                content += "<td><button class='btn btn-xs btn-block btn-danger' type='button' onclick=\"deleteCode('" + v.id + "')\">Delete</button></td>";

                content += "</tr>";
            });

            $('#code').append(content);
        }

        function makePagination(pages) {

            var content = "";

            if (page == 1){
                content += "<li class='paginate_button previous disabled' id='all_table_next'><a>Previous</a></li>";
            } else {
                content += "<li class='paginate_button previous' id='all_table_next'><a onclick=\"pageCall('previous',null)\">Previous</a></li>";
            }

            $.each(pages, function (k, v) {
                if (v == page){
                    content += "<li class='paginate_button active'><a onclick=\"pageCall('normal'," + v + ")\">" + v + "</a></li>";
                } else {
                    content += "<li class='paginate_button'><a onclick=\"pageCall('normal'," + v + ")\">" + v + "</a></li>";
                }
            });

            if (page == pages.length){
                content += "<li class='paginate_button next disabled' id='all_table_next'><a>Next</a></li>";
            } else {
                content += "<li class='paginate_button next' id='all_table_next'><a onclick=\"pageCall('next',null)\">Next</a></li>";
            }

            $("#pagination").html(content);

            if (page == 1){
                $("#all_table_previous").prop("disabled", "disabled").addClass("disabled");
            }

            if (page == (pages.length + 1)){
                $("#all_table_next").prop("disabled", "disabled").addClass("disabled");
            }
        }

        function pageCall(type, number) {
            switch (type){
                case 'normal':{
                    page = number;
                    break;
                }
                case 'previous':{
                    page--;
                    break;
                }
                case 'next':{
                    page++;
                    break;
                }
            }

            filter();
        }

    </script>