@import utilities.enums.Approval_state
@import models.compiler.Version_Object
@import models.compiler.TypeOfBoard
@import models.project.c_program.C_Program
@import utilities.Server

<section class="content-header">
  <h1> Public code </h1>
  <ol class="breadcrumb">
      <li><a href="@routes.DashboardController.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
      <li class="active"><i class="fa fa-share"></i> Server Management </li>
      <li class="active"><i class="fa fa-wrench"></i> Public Code </li>
  </ol>
</section>


<section class="content">


    <div id="codeModal" style="display: none;" class="modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Code</h4>
                </div>

                <div class="modal-body col-xs-12">
                    <textarea class="col-xs-12" readonly id="code" rows="15" ></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#codeModal').css('display','none')">Close</button>
                </div>
            </div>
                <!-- /.modal-content -->
        </div>
            <!-- /.modal-dialog -->
    </div>


    <div id="editCodeModal" style="display: none;" class="modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Approve Code</h4>
                </div>
                <div class="modal-body">
                    <form id="editCodeForm">

                        <div class="form-group col-xs-3">
                            <label style="display: block;">C_program ID</label>
                            <input class="col-xs-6" name="c_program_id" id="edit_form_c_program_id" type="text" style="display: block;">
                        </div>

                        <div class="form-group col-xs-3">
                            <label style="display: block;">C_program Name</label>
                            <input class="col-xs-12" name="c_program_name" id="edit_form_c_program_name" type="text" style="display: block;">
                        </div>

                        <div class="form-group col-xs-6">
                            <label style="display: block;">C_program Description</label>
                            <input class="col-xs-12" name="c_program_description" id="edit_form_c_program_description" type="text" style="display: block;">
                        </div>

                        <p></p>


                        <div class="form-group col-xs-3">
                            <label style="">Version ID</label>
                            <input type="text" id="edit_form_version_id" style="display: block;">
                        </div>

                        <div class="form-group col-xs-3">
                            <label style="">Version name:</label>
                            <input class="col-xs-12"  type="text" id="edit_form_version_name" style="display: block;">
                        </div>



                        <div class="form-group col-xs-6">
                            <label style="">Version description: </label>
                            <input class="form-control col-xs-12"  type="text" id="edit_form_version_description" style="display: block;">
                        </div>

                        <p></p>
                        <br>
                        <p></p>

                        <div class="form-group">
                            <label style="">Code: </label>
                            <textarea class="form-control col-xs-12" id="edit_form_code_edit" rows="6"></textarea>
                        </div>


                        <div class="form-group">
                            <label style="">Message to user: </label>
                            <textarea class="form-control col-xs-12" id="edit_code_reason"  rows="2"></textarea>
                        </div>

                        <div class="form-group">
                            <p></p>
                        </div>

                    </form>
                </div>
                <div>
                <p></p><br>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#editCodeModal').css('display','none')">Close</button>
                    <button id="editCodeButton" value="" class="btn btn-info" type="button" onclick="approveCodeWithChanges()">Save changes & Approve</button>
                    <button id="disapproveCodeButton" value="" class="btn btn-danger" type="button" onclick="disapproveCode()">Disapprove</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">For Admin decision</h3>
                </div>
                <div class="box-body">
                    <label style="">Pending C_Program</label>
                    <table id="pendingCode" class="table table-bordered">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>C_Program name</th>
                            <th>C_Program description</th>
                            <th>Author</th>
                            <th>Compilable</th>
                            <th>Code</th>
                            <th>Edit</th>
                        </tr>
                        @for(version <- Version_Object.find.where().isNotNull("c_program").eq("approval_state", Approval_state.pending ).findList()) {
                            <tr>
                                <td>@version.id</td>
                                <td>@version.version_name</td>
                                <td>@version.version_description</td>
                                <td>@version.c_program.name</td>
                                <td>@version.c_program.description</td>
                                <td>@if(version.author != null){
                                        @version.author.mail
                                    }else{
                                        not defined
                                    }
                                </td>
                                <td>@version.c_compilation.status</td>
                                <td><button class="btn btn-block btn-primary" type="button" onclick="showCode('@version.id')">Show Code</button></td>
                                <td><button class="btn btn-block btn-info" type="button" onclick="showEditForm('@version.id')">Edit</button></td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="box-footer">
                </div>
            </div>
        </div>
    </div>
</section>



<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">All Public programs</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                            <td><button class="btn btn-block btn-info" type="button" onclick="createProgramShow()">Create Public Program</button></td>
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">

                        @for( type_of_board <- TypeOfBoard.find.findList()){
                            <li><a href="#type_of_board_tab_@type_of_board.id" data-toggle="tab">@type_of_board.name</a></li>
                        }

                        </ul>
                    </div>
                    <p></p>
                    <p></p>
                    <div class="tab-content" id="all_c_programs">
                        @for( type_of_board <- TypeOfBoard.find.findList() ) {
                                <div class="tab-pane" id="type_of_board_tab_@type_of_board.id">
                                    <div class="box-body">

                                        <p></p>

                                        @for(c_program <- C_Program.find.where().isNull("project").eq("type_of_board.id", type_of_board.id).findList()){

                                            <label style=""><h4 class="text-warning"> @c_program.name <small class="text-warning">@c_program.type_of_board_name() </small>

                                                @if(Version_Object.find.where().eq("public_version", true).eq("removed_by_user", false).eq("c_program.id", c_program.id).findUnique() != null){
                                                    <small class="text-success">(Visible)</small>
                                                }else{
                                                    <small class="text-danger">(Not Visible)</small>
                                                }


                                            </h4></label>
                                            <br><label style="">@c_program.description </label>

                                            <div class="pull-right">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                        Program Action
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                        <li><button class="btn btn-block btn-primary" type="button" onclick="createC_Program_VersionShow('@c_program.id')">Create Version</button></li>
                                                        <li><button class="btn btn-block btn-info"    type="button" onclick="showEditForm('@c_program.id')">Hide</button></li>
                                                        <li><button class="btn btn-block btn-danger"  type="button" onclick="removeProgram('@c_program.id')">Delete</button></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <table id="c_program_detail" class="table table-bordered">

                                                <th class="col-md-1" >Id</th>
                                                <th class="col-md-1" >Name</th>
                                                <th class="col-md-3" >Description</th>
                                                <th class="col-md-1" >Author</th>
                                                <th class="col-md-1" >Comp. Status</th>
                                                <th class="col-md-1" >Visible Status</th>
                                                <th class="col-md-1" >Actions</th>


                                                @for(version <- c_program.getVersion_objects_all_For_Admin()){

                                                    @if(version.removed_by_user == false){
                                                        <tr>

                                                            <td>@version.id</td>
                                                            <td>@version.version_name</td>
                                                            <td>@version.version_description</td>
                                                            <td>@if(version.author != null){
                                                                @version.author.mail
                                                            }else{
                                                                not defined
                                                            }
                                                            </td>
                                                            <td>@version.c_compilation.status</td>
                                                            <td>@version.public_version</td>
                                                            <td>


                                                                <div class="btn-group">
                                                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                                                        <span class="caret"></span>
                                                                        <span class="sr-only">Toggle Dropdown</span>
                                                                        Version Action
                                                                    </button>
                                                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                                        <li><button class="btn btn-block btn-primary" type="button" onclick="showCode('@version.id')">Show Code</button></li>
                                                                        <li><button class="btn btn-block btn-info"    type="button" onclick="editC_Program_VersionShow('@version.id', '@version.version_name', '@version.version_description')">Edit</button></li>
                                                                        @if(version.public_version){
                                                                            <li><button class="btn btn-block btn-warning"  type="button" onclick="dispproveVersion(@version.id)">Disapprove</button></li>
                                                                        }else{
                                                                            <li><button class="btn btn-block btn-warning"  type="button" onclick="approveVersion(@version.id)">Approve</button></li>
                                                                        }
                                                                        <li><button class="btn btn-block btn-danger"  type="button" onclick="removeVersion(@version.id)">Delete</button></li>
                                                                    </ul>
                                                                </div>



                                                            </td>

                                                        </tr>
                                                    }
                                                }
                                            </table>
                                            <p></p>
                                            <p></p>
                                            <hr>
                                            <p></p>
                                            <p></p>
                                        }

                                    </div>
                                </div>
                        }
                    </div>
                <div class="box-footer">
                </div>
            </div>
        </div>
    </div>


    <div id="createProgramModal" style="display: none;" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create Program</h4>
                </div>
                <div class="modal-body">
                    <form id="createProgramForm">

                        <div class="form-group">
                            <label style="">C Program name</label>
                            <input type="text" class="form-control" name="name">
                        </div>

                        <div class="form-group">
                            <label style="">C Program description </label>
                            <input type="text" class="form-control" name="description">
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="c_program_public_admin_create" value="true" checked true>
                                Public C Program
                            </label>
                            </div>
                        </div>


                        <div class="form-group">
                            <label style="">Type Of Board</label>
                            <select class="form-control" id="type_of_board_id" name="type_of_board_id">
                                @for(x <- TypeOfBoard.find.all()){
                                    <option  value="@x.id" name="type_of_board_id" >@x.name</option>
                                }
                            </select>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#createProgramModal').css('display','none')">Close</button>
                    <button id="editCompilationServerButton" value="" class="btn btn-primary" type="button" onclick="createProgram()">Create</button>
                </div>
            </div>
        </div>
    </div>



    <div id="newCProgramVersionModal" style="display: none;" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New C Program version</h4>
                </div>
                <div class="modal-body">
                    <form id="newCProgramVersionForm">
                        <label>Version name</label>                 <input    name="version_name" type="text" placeholder="1.0.5"> <p><p><p>
                        <label>Version Description</label><p>       <textarea name="version_description" class="form-control" rows="3" placeholder="Description...."></textarea> <p><p>
                        <label>Program</label>  <p>                 <textarea name="main" class="form-control" rows="3" placeholder="Code...."></textarea> <p>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#newCProgramVersionModal').css('display','none')">Close</button>
                    <button id="newCProgramVersionButton" value="" class="btn btn-primary" type="button" onclick="createNewCProgramVersion(this.value)">Create</button>
                </div>
            </div>
        </div>
    </div>


    <div id="editCProgramVersionModal" style="display: none;" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Version (Basic info)</h4>
                </div>
                <div class="modal-body">
                    <form id="editCProgramVersionForm">

                        <div class="form-group">
                            <label id="c_program_version_id" style="display: block;">ID</label>
                        </div>

                        <div class="form-group">
                            <label style="">Version name:</label>
                            <input type="text" name="version_name" id="editCProgramVersionForm_name" style="display: block;">
                        </div>

                        <div class="form-group">
                            <label style="">Version description: </label>
                            <input type="text" name="version_description"  id="editCProgramVersionForm_description" style="display: block;">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#editCProgramVersionModal').css('display','none')">Close</button>
                    <button id="editVersionModalButton" class="btn btn-info" type="button" onclick="editCProgramVersion(this.value)">Save changes & Approve</button>
                </div>
            </div>
        </div>
    </div>




</section>


<script>

        $.ajaxSetup({ cache: false });


        function createProgramShow(){
            $("#createProgramModal").css("display","block");
        }

        function createC_Program_VersionShow(c_program_id){
            $('#newCProgramVersionButton').val(c_program_id);
            $("#newCProgramVersionModal").css("display","block");
        }

        function editC_Program_VersionShow(version_id, name, description){
            $('#c_program_version_id').val(version_id);
            $('#editCProgramVersionForm_description').val(description);
            $('#editCProgramVersionForm_name').val(name);
            $('#editVersionModalButton').val(version_id);
            $("#editCProgramVersionModal").css("display","block");
        }


        function createProgram(){

            model_data = $("#createProgramForm").serializeObject();

            $.ajax({
                url: '@routes.CompilationLibrariesController.create_C_Program()',
                type: 'POST',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                data: JSON.stringify(model_data),
                dataType: 'json',

                success:function(e){
                    $("#createProgramModal input[type=text]").val("");
                    $("#createProgramModal").css("display","none");
                    $('#all_c_programs').load(document.URL +  ' #all_c_programs');
                },
                error:function(e) {
                    BootstrapDialog.show({
                        message: syntaxHighlight(e),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself) {
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}

        function removeProgram(id){

            $.ajax({
                url: '@routes.CompilationLibrariesController.delete_C_Program("")' + id,
                type: 'DELETE',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                dataType: 'json',

                success:function(e){
                    $('#all_c_programs').load(document.URL +  ' #all_c_programs');
                },
                error:function(e) {
                    BootstrapDialog.show({
                        message: syntaxHighlight(e),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself) {
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}

        function removeVersion(id){

            $.ajax({
                url: '@routes.CompilationLibrariesController.delete_C_Program_Version("")' + id,
                type: 'DELETE',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                dataType: 'json',

                success:function(e){
                    $('#all_c_programs').load(document.URL +  ' #all_c_programs');
                },
                error:function(e) {
                    BootstrapDialog.show({
                        message: syntaxHighlight(e),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself) {
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}

        function editCProgramVersion(id){

            model_data = $("#editCProgramVersionForm").serializeObject();

            $.ajax({
                url: '@routes.CompilationLibrariesController.edit_C_Program_version("")' + id,
                type: 'PUT',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                data: JSON.stringify(model_data),
                dataType: 'json',

                success:function(e){
                    $("#editCProgramVersionForm input[type=text]").val("");
                    $("#editCProgramVersionModal").css("display","none");
                    $('#all_c_programs').load(document.URL +  ' #all_c_programs');
                },
                error:function(e) {
                    BootstrapDialog.show({
                        message: syntaxHighlight(e),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself) {
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}

        function createNewCProgramVersion(c_program_id) {

            model_data = $("#newCProgramVersionForm").serializeObject();

            $.ajax({
                url: '@routes.CompilationLibrariesController.new_C_Program_Version("")' + c_program_id ,
                type: 'POST',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN": getCookie("authToken"),
                    "Content-Type": "application/json"
                },
                data: JSON.stringify(model_data),
                dataType: 'json',

                success: function(data) {

                    $("#newCProgramVersionForm input[type=text]").val("");
                    $("#newCProgramVersionModal").css("display", "none");
                    $('#all_c_programs').load(document.URL + ' #all_c_programs');

                },
                error: function(data) {

                    BootstrapDialog.show({
                        message: syntaxHighlight(data),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself) {
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })
        }



        function disapproveCode(){

            model_data = {
                "version_id":           document.getElementById('edit_form_version_id').value,
                "decision": false,
                "reason" :              document.getElementById('edit_code_reason').value
            };
            $.ajax({
                url: '@routes.CompilationLibrariesController.approve_decision()' ,
                type: 'PUT',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                data: JSON.stringify(model_data),
                dataType: 'json',
                success:function(e){
                    $("#editCodeModal").css("display","none");
                    $('#pendingCode').load(document.URL +  ' #pendingCode');
                    $('#all_c_programs').load(document.URL +  ' #all_c_programs');
                },
                error:function(json) {
                    alert(json.message);
                }
        })}



        function approveCodeWithChanges(){

            model_data = {
                "decision": true,
                "c_program_name":       document.getElementById('edit_form_c_program_name').value,
                "c_program_description":document.getElementById('edit_form_c_program_description').value,
                "version_id":           document.getElementById('edit_form_version_id').value,

                "version_name":         document.getElementById('edit_form_version_name').value,
                "version_description":  document.getElementById('edit_form_version_description').value,
                "main":                 document.getElementById('edit_form_code_edit').value,
                //"user_files":           document.getElementById('user_files').value,
                //"external_libraries":   document.getElementById('external_libraries').value,

                "reason" :              document.getElementById('edit_code_reason').value
            };
            $.ajax({
                url: '@routes.CompilationLibrariesController.approve_decision()' ,
                type: 'PUT',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                data: JSON.stringify(model_data),
                dataType: 'json',
                success:function(e){
                    $("#editCodeModal").css("display","none");
                    $('#pendingCode').load(document.URL +  ' #pendingCode');
                },
                error:function(json) {
                    alert(json.responseText);
                }
            })}

        function showEditForm(id){
            $.ajax({
                url: '@routes.CompilationLibrariesController.get_version_for_decision("")' + id,
                type: 'GET',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },
                dataType: 'json',
                success:function(json){


                    $('#edit_form_c_program_id').val(json.c_program_id);
                    $('#edit_form_c_program_name').val(json.c_program_name);
                    $('#edit_form_c_program_description').val(json.c_program_description);

                    $('#edit_form_version_id').val(id);
                    $('#edit_form_version_name').val(JSON.parse(JSON.stringify(json.c_program_version.version_object.version_name)));
                    $('#edit_form_version_description').val(JSON.parse(JSON.stringify(json.c_program_version.version_object.version_description)));
                    $('#user_files').val(JSON.parse(JSON.stringify(jsonc_program_version.user_files)));
                    $('#external_libraries').val(JSON.parse(JSON.stringify(json.c_program_version.external_libraries)));
                    $('#edit_form_code_edit').text(JSON.parse(JSON.stringify(json.c_program_version.main)));
                },
                error:function(e) {
                    alert(e.responseText);
                }
            })
          }


        function showDisapproveCodeForm(id){
            $("#disapproveCodeModal").css("display","block");
            $('#disapproveCodeButton').val(id);
        }

        function showCode(id){
            $.ajax({
                url: '@Server.tyrion_serverAddress' + '/compilation/c_program/version/' + id,
                type: 'GET',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },
                success:function(json){
                    $("#codeModal").css("display","block");
                    $('#code').text(JSON.parse(JSON.stringify(json.main)));
                },
                error:function(e) {
                    alert(e.responseText);
                }
            })
        }

</script>