@import models.compiler.Model_ImportLibrary
@import utilities.enums.Library_tag
@import utilities.enums.Library_state
<section class="content-header">
  <h1> Libraries </h1>
  <ol class="breadcrumb">
      <li><a href="@routes.Controller_Dashboard.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
      <li class="active"><i class="fa fa-share"></i> Server Management </li>
      <li class="active"><i class="fa fa-wrench"></i> C Program Management </li>
      <li class="active"><i class="fa fa-wrench"></i> Libraries </li>
  </ol>
</section>

@*/*/*  Modals ---------------------------------------------------------------------------------------------   */*/*@

<div id="newLibraryModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newLibraryModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="newLibraryModalTitle" class="modal-title">New Library</h4>
            </div>
            <div class="modal-body">
                <form id="newLibrary">
                    <div style="float: left; width: 30%;">
                        <label>Name</label>
                        <input id="newLibraryName" placeholder="Name" style="display: block" type="text" name="name" >
                    </div>
                    <div style="width: 100%;">
                        <label>Description</label>
                        <input id="newLibraryDescription" placeholder="Description" style="display: block; width: 70%;" type="text" name="description" >
                    </div>
                    <select class="form-control select2" style="width: 100%; margin-top: 10px;" name="tag">
                        <option selected="selected" disabled>Choose tag</option>
                        @for(tag <- Library_tag.values()){
                            <option value="@tag.name()">@tag.name()</option>
                        }
                    </select>
                    <label>Long Description(markdown)</label>
                    <textarea style="width: 100%;" id="newLibraryLongDescription" rows="5" name="long_description"></textarea>
                </form>
                <div id="newLibraryModalMessage" style="display: none"><p class="text-red"></p></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-success" type="button" onclick="newLibrary()">Save</button>
            </div>
        </div>
            <!-- /.modal-content -->
    </div>
        <!-- /.modal-dialog -->
</div>
<div id="editLibraryModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editLibraryModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="editLibraryModalTitle" class="modal-title">Edit Library</h4>
            </div>
            <div class="modal-body">
                <form id="editLibrary">
                    <div style="float: left; width: 30%;">
                        <label>Name</label>
                        <input id="editLibraryName" placeholder="Name" style="display: block" type="text" name="name" >
                    </div>
                    <div style="width: 100%;">
                        <label>Description</label>
                        <input id="editLibraryDescription" placeholder="Description" style="display: block; width: 70%;" type="text" name="description" >
                    </div>
                    <select id="editSelectTag" class="form-control select2" style="width: 48%; margin-top: 10px; float: left;" name="tag">
                        @for(tag <- Library_tag.values()){
                            <option value="@tag.name()">@tag.name()</option>
                        }
                    </select>
                    <select id="editSelectState" class="form-control select2" style="width: 48%; margin-top: 10px; float: right;" name="state">
                        @for(state <- Library_state.values()){
                            <option value="@state.name()">@state.name()</option>
                        }
                    </select>
                    <label>Long Description(markdown)</label>
                    <textarea style="width: 100%;" id="editLibraryLongDescription" rows="5" name="long_description"></textarea>
                </form>
                <div id="editLibraryModalMessage" style="display: none"><p class="text-red"></p></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-success" type="button" onclick="editLibrary()">Save</button>
            </div>
        </div>
            <!-- /.modal-content -->
    </div>
        <!-- /.modal-dialog -->
</div>
<div id="newLibraryVersionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newLibraryVersionModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="newLibraryVersionModalTitle" class="modal-title">New Library</h4>
            </div>
            <div class="modal-body">
                <form id="newLibraryVersion">
                    <div style="float: left; width: 30%;">
                        <label>Name</label>
                        <input id="newLibraryVersionName" placeholder="Name" style="display: block" type="text" name="version_name" >
                    </div>
                    <div style="width: 100%;">
                        <label>Description</label>
                        <input id="newLibraryVersionDescription" placeholder="Description" style="display: block; width: 70%;" type="text" name="version_description" >
                    </div>
                </form>
                <div id="newLibraryVersionModalMessage" style="display: none"><p class="text-red"></p></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-success" type="button" onclick="newLibraryVersion()">Save</button>
            </div>
        </div>
            <!-- /.modal-content -->
    </div>
        <!-- /.modal-dialog -->
</div>
<div id="editLibraryVersionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editLibraryVersionModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="editLibraryVersionModalTitle" class="modal-title">New Library</h4>
            </div>
            <div class="modal-body">
                <form id="editLibraryVersion">
                    <div style="float: left; width: 30%;">
                        <label>Name</label>
                        <input id="editLibraryVersionName" placeholder="Name" style="display: block" type="text" name="version_name" >
                    </div>
                    <div style="width: 100%;">
                        <label>Description</label>
                        <input id="editLibraryVersionDescription" placeholder="Description" style="display: block; width: 70%;" type="text" name="version_description" >
                    </div>
                </form>
                <div id="editLibraryVersionModalMessage" style="display: none"><p class="text-red"></p></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-success" type="button" onclick="editLibraryVersion()">Save</button>
            </div>
        </div>
            <!-- /.modal-content -->
    </div>
        <!-- /.modal-dialog -->
</div>
<div id="newFileModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newFileModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="newFileModalTitle" class="modal-title">New File</h4>
            </div>
            <div class="modal-body">
                <form id="newFile">
                    <label>Name</label>
                    <p class="text-red">Specify the full path, place every file or folder in some "library" root directory (example: "library/folder/file.cpp)</p>
                    <input id="newFileName" placeholder="Name" style="display: block" type="text" name="file_name" >
                </form>
                <div id="newFileModalMessage" style="display: none"><p class="text-red"></p></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-success" type="button" onclick="newFile()">Create</button>
            </div>
        </div>
            <!-- /.modal-content -->
    </div>
        <!-- /.modal-dialog -->
</div>

<div id="newExampleModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newExampleModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="newExampleModalTitle" class="modal-title">New Example</h4>
            </div>
            <div class="modal-body">
                <form id="newExample">
                    <div style="float: left; width: 30%;">
                        <label>Name</label>
                        <input id="newExampleName" placeholder="Name" style="display: block" type="text" name="version_name" >
                    </div>
                    <div style="width: 100%;">
                        <label>Description</label>
                        <input id="newExampleDescription" placeholder="Description" style="display: block; width: 70%;" type="text" name="version_description" >
                    </div>
                </form>
                <div id="newExampleModalMessage" style="display: none"><p class="text-red"></p></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-success" type="button" onclick="newExample()">Create</button>
            </div>
        </div>
    </div>
</div>

@*/*/*  Content ---------------------------------------------------------------------------------------------   */*/*@

<section class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Library</h3>
                    <button class="btn btn-xs btn-success pull-right" type="button" data-toggle="modal" data-target="#newLibraryModal" title="New Library"><i class="fa fa-plus"></i></button>
                </div>
                <div class="box-header with-border">
                    <select id="selectLibrary" class="form-control select2" style="width: 100%;">
                        <option selected="selected" disabled>Choose one</option>
                        @for(library <- Model_ImportLibrary.find.all()){
                            @if(library.removed){
                                <option class="text-red" onclick="getLibrary('@library.id')">@library.name (removed)</option>
                            }else{
                                <option onclick="getLibrary('@library.id')">@library.name</option>
                            }
                        }
                    </select>
                </div>
                <div class="box-header with-border">
                    <h3 class="box-title pull-left">Selected Library:  </h3>
                    <h3 id="openedLibraryName" class="box-title text-bold">-</h3>
                    <div id="library_btn_group" class="btn-group pull-right">
                        <button class="btn btn-xs btn-danger disabled" disabled type="button" onclick="removeLibrary()" title="Remove Library"><i class="fa fa-times"></i></button>
                        <button class="btn btn-xs btn-info disabled" disabled type="button" data-toggle="modal" data-target="#editLibraryModal" onclick="fillEditLibraryForm()" title="Edit Library"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-xs btn-success disabled" disabled type="button" data-toggle="modal" data-target="#newLibraryVersionModal" title="New Version"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <div class="box-header with-border">
                    <div style="display: inline-block; width: 48%; ">
                        <label>Tag</label>
                        <input id="openedLibraryTag" style="display: block; width: 100%;" type="text" readonly>
                    </div>
                    <div style="width: 48%; display: inline-block; float: right">
                        <label>State</label>
                        <input id="openedLibraryState" style="display: block; width: 100%;" type="text" readonly>
                    </div>
                    <label>Description</label>
                    <input  style="width: 100%;" id="openedLibraryDescription" readonly type="text">
                    <label>Long Description(markdown)</label>
                    <div style="width: 100%; height: 250px; border: solid black 1px; overflow: scroll; padding: 5px;" id="openedLibraryLongDescription"></div>
                </div>
                <div class="box-header with-border">
                    <select id="selectVersion" class="form-control select2" style="width: 100%;">

                    </select>
                </div>
                <div class="box-header with-border">
                    <h3 class="box-title pull-left">Selected Version:  </h3>
                    <h3 id="openedLibraryVersionName" class="box-title text-bold">-</h3>
                    <div id="library_version_btn_group" class="btn-group pull-right">
                        <button class="btn btn-xs btn-danger disabled" disabled type="button" onclick="removeLibraryVersion()" title="Remove Library Version"><i class="fa fa-times"></i></button>
                        <button class="btn btn-xs btn-info disabled" disabled type="button" data-toggle="modal" data-target="#editLibraryVersionModal" onclick="fillEditVersionForm()" title="Edit Library Version"><i class="fa fa-edit"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <label>Description</label>
                    <input style="width: 100%;" id="openedLibraryVersionDescription" readonly type="text">
                </div>
                <div class="box-footer">
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Files</h3>
                    <button id="newFileButton" class="btn btn-xs btn-success disabled pull-right" disabled type="button" data-toggle="modal" data-target="#newFileModal" title="New File"><i class="fa fa-plus"></i></button>
                </div>
                <div class="box-body">
                    <div class="nav nav-sidebar" id="files">
                    </div>
                </div>
                <div class="box-footer">
                </div>
            </div>
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Examples</h3>
                    <button id="newExampleButton" class="btn btn-xs btn-success disabled pull-right" disabled type="button" data-toggle="modal" data-target="#newExampleModal" title="New Example"><i class="fa fa-plus"></i></button>
                </div>
                <div class="box-body">
                    <div id="examples">
                    </div>
                </div>
                <div class="box-footer">
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Code Editor</h3>
                </div>
                <div class="box-body">
                    <div id="editor">public int main() {
    int x = 0;
    return x;
}</div>
                </div>
                <div class="box-footer">
                    <p class="pull-left" id="file_name"></p>
                    <button id="saveFileButton" disabled class="btn btn-success pull-right disabled" type="button" onclick="saveFile()">Save</button>
                    <button id="saveExampleButton" disabled class="btn btn-success pull-right disabled" type="button" style="margin-right: 10px;" onclick="saveExample()">Save example</button>
                </div>
            </div>
        </div>
    </div>
</section>


<script>

        $.ajaxSetup({ cache: false });

        var fileContents = [];
        var exampleContents = [];
        var openedLibrary = {};
        var openedVersion = {};
        var openedFile = {};
        var openedExample = {};

        var converter = new showdown.Converter();

        function makeId()
        {
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

            for( var i=0; i < 5; i++ )
                text += possible.charAt(Math.floor(Math.random() * possible.length));

            return text;
        }

        function makeJson(data){

            var tree = {};

            function fillTree(content, steps, x) {
                var current = null,
                        existing = null,
                        i = 0;
                for (var y = 0; y < steps.length; y++) {
                    if (y == 0) {
                        if (!tree.children || typeof tree.children == 'undefined') {
                            tree = {text: steps[y], leaf: false, children: []};
                        }
                        current = tree.children;
                    } else {
                        existing = null;
                        for (i = 0; i < current.length; i++) {
                            if (current[i].text === steps[y]) {
                                existing = current[i];
                                break;
                            }
                        }
                        if (existing) {
                            current = existing.children;
                        } else {
                            current.push({text: steps[y], leaf: false, children: []});
                            current = current[current.length - 1].children;
                        }
                    }
                }
                current.push({text: content, leaf: true, order: x})
            }

            for (x = 0; x < data.length; x++) {
                steps = data[x].file_name.split('/');
                fillTree(data[x].content, steps, x)
            }

            return tree;
        }

        function makeTree(t) {

            var content = "<ul style='list-style-type: none; margin: 0; padding: 0;'>";

            if (t.leaf != true) {
                if (t.children.length == 1 && t.children[0].leaf == true) {
                    content += "<li style='margin: 0; padding: 0;'>" +
                            "<div class='panel-group' style='margin: 5px 0;' id='" + t.text + "'>" +
                            "<div class='panel panel-default'>" +
                            "<div class='panel-heading' style='padding: 5px 10px;'>" +
                            "<h4 class='panel-title'>" +
                            "<a onclick=\"" +
                            "openFile(" + t.children[0].order + ");" +
                            "\">";

                    content += t.text;

                    content += "</a><button class='btn btn-xs btn-danger pull-right' type='button' onclick='removeFile(" + t.children[0].order + ")' title='Remove File'><i class='fa fa-times'></i></button></h4></div>" +
                            "<div id='collapse" + t.text + "' class='panel-collapse collapse'>" +
                            "<div class='panel-body' style='padding: 0 5px 0 10px;'>";
                } else {
                    var randomId = makeId();
                    content += "<li style='margin: 0; padding: 0;'>" +
                            "<div class='panel-group' style='margin: 5px 0;' id='" + t.text + "'>" +
                            "<div class='panel panel-default'>" +
                            "<div class='panel-heading' style='padding: 5px 10px;'>" +
                            "<h4 class='panel-title'>" +
                            "<a style='display:block;' data-toggle='collapse' data-parent='#" + t.text + randomId + "' href='#collapse" + t.text + randomId + "'>" + t.text + "</a></h4></div>" +
                            "<div id='collapse" + t.text + randomId + "' class='panel-collapse collapse'>" +
                            "<div class='panel-body' style='padding: 0 5px 0 10px;'>";
                }
                $.each(t.children, function (k, v) {
                    content += makeTree(v);
                });
                content += "</div></div></div></div></li>";
            }

            content += "</ul>";

            return content;
        }

        function getLibrary(id){
            $.ajax({
                url: '/library/' + id,
                type: 'GET',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },
                dataType: 'json',
                success:function(json){
                    openLibrary(json);
                },
                error:function(e) {
                    alert(JSON.stringify(JSON.parse(e.responseText).message));
                }
            })
        }

        function getLibraryVersion(id){
            $.ajax({
                url: '/library/version/' + id,
                type: 'GET',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },
                dataType: 'json',
                success:function(json){
                    openVersion(json);
                },
                error:function(e) {
                    alert(JSON.stringify(JSON.parse(e.responseText).message));
                }
            })
        }


        function openFile(order){

            $('#file_name').text(fileContents[order].file_name);

            openedFile = fileContents[order];

            var content = fileContents[order].content;

            editor.setValue(content, 1);

            $('#saveFileButton').prop('disabled', false).removeClass('disabled');
            $('#saveExampleButton').prop('disabled', true).addClass('disabled');
        }

        function disableButtonGroup(id, state) {
            $(id + ' button').prop('disabled', state);
            if(state){
                $(id + ' button').addClass('disabled');
            }else {
                $(id + ' button').removeClass('disabled');
            }
        }

        function newLibrary(){
            model_data = $("#newLibrary").serializeObject();
            $.ajax({
                url: '@routes.Controller_CompilationLibraries.importLibrary_create()',
                type: 'POST',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                data: JSON.stringify(model_data),
                dataType: 'json',
                success:function(json){
                    $("#newLibrary input[type=text]").val("");
                    $("#newLibraryModal").modal('hide');
                    $("#newLibraryModalMessage").css("display", "none");
                    $("#newLibraryLongDescription").text("");
                    $("#selectLibrary option:selected").removeAttr('selected');
                    $("#selectLibrary").prepend("<option onclick=\"getLibrary('" + json.id + "')\">" + json.name + "</option>");
                    $("#selectLibrary option:first").attr('selected','selected');
                    openLibrary(json);
                },
                error:function(e) {
                    $("#newLibraryModalMessage").css("display", "block");
                    $("#newLibraryModalMessage p").text(JSON.parse(e.responseText).message);
                    $("#newLibraryModalMessage p").append(JSON.stringify(JSON.parse(e.responseText).exception));
                }
            })
        }

        function newLibraryVersion(){
            model_data = $("#newLibraryVersion").serializeObject();
            $.ajax({
                url: '/library/version/' + openedLibrary.id,
                type: 'POST',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                data: JSON.stringify(model_data),
                dataType: 'json',
                success:function(json){
                    $("#newLibraryVersion input[type=text]").val("");
                    $("#newLibraryVersionModal").modal('hide');
                    $("#newLibraryVersionModalMessage").css("display", "none");
                    $("#selectVersion option:selected").removeAttr('selected');
                    $("#selectVersion").prepend("<option onclick=\"getLibraryVersion('" + json.version_id + "')\">" + json.version_name + "</option>");
                    $("#selectVersion option:first").attr('selected','selected');
                    openVersion(json);
                },
                error:function(e) {
                    $("#newLibraryVersionModalMessage").css("display", "block");
                    $("#newLibraryVersionModalMessage p").text(JSON.parse(e.responseText).message);
                    $("#newLibraryVersionModalMessage p").append(JSON.stringify(JSON.parse(e.responseText).exception));
                }
            })
        }

        function editLibrary(){
            model_data = $("#editLibrary").serializeObject();
            $.ajax({
                url: '/library/' + openedLibrary.id,
                type: 'PUT',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                data: JSON.stringify(model_data),
                dataType: 'json',
                success:function(json){
                    $("#editLibrary input[type=text]").val("");
                    $("#editLibraryModal").modal('hide');
                    $("#editLibraryModalMessage").css("display", "none");
                    $("#editLibraryLongDescription").text("");
                    openLibrary(json);
                },
                error:function(e) {
                    $("#editLibraryModalMessage").css("display", "block");
                    $("#editLibraryModalMessage p").text(JSON.parse(e.responseText).message);
                    $("#editLibraryModalMessage p").append(JSON.stringify(JSON.parse(e.responseText).exception));
                }
            })
        }

        function editLibraryVersion(){
            model_data = $("#editLibraryVersion").serializeObject();
            $.ajax({
                url: '/library/version/' + openedVersion.version_id,
                type: 'PUT',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                data: JSON.stringify(model_data),
                dataType: 'json',
                success:function(json){
                    $("#editLibraryVersion input[type=text]").val("");
                    $("#editLibraryVersionModal").modal('hide');
                    $("#editLibraryVersionModalMessage").css("display", "none");
                    openVersion(json);
                },
                error:function(e) {
                    $("#editLibraryVersionModalMessage").css("display", "block");
                    $("#editLibraryVersionModalMessage p").text(JSON.parse(e.responseText).message);
                    $("#editLibraryVersionModalMessage p").append(JSON.stringify(JSON.parse(e.responseText).exception));
                }
            })
        }

        function removeLibrary(){
            $.ajax({
                url: '/library/' + openedLibrary.id,
                type: 'DELETE',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },
                dataType: 'json',
                success:function(json){
                    window.location.reload();
                },
                error:function(e) {
                    alert(JSON.stringify(JSON.parse(e.responseText).message));
                }
            })
        }

        function removeLibraryVersion(){
            $.ajax({
                url: '/library/version/' + openedVersion.version_id,
                type: 'DELETE',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },
                dataType: 'json',
                success:function(json){
                    openLibrary(openedLibrary);
                },
                error:function(e) {
                    alert(JSON.stringify(JSON.parse(e.responseText).message));
                }
            })
        }

        function newFile(){
            openedFile = {file_name: $('#newFileName').val(), content: ''};
            $('#file_name').text(openedFile.file_name);
            editor.setValue("// your new file - " + openedFile.file_name,1);
            $("#newFileModal").modal('hide');
            $('#newFileName').val("");

            $('#saveFileButton').prop('disabled', false).removeClass('disabled');
            $('#saveExampleButton').prop('disabled', true).addClass('disabled');
        }

        function saveFile(){

            var sendFile = {library_files:[]};
            openedFile.content = editor.getValue();
            sendFile.library_files[0] = openedFile;

            $.ajax({
                url: '/library/version/upload_file/' + openedVersion.version_id,
                type: 'PUT',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                data: JSON.stringify(sendFile),
                dataType: 'json',
                success:function(json){
                    openVersion(json);
                },
                error:function(e) {
                    alert(JSON.stringify(JSON.parse(e.responseText).message));
                }
            })
        }

        function removeFile(count){

            var sendFile = {library_files:[]};
            sendFile.library_files[0] = fileContents[count];

            $.ajax({
                url: '/library/version/remove_file/' + openedVersion.version_id,
                type: 'PUT',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                data: JSON.stringify(sendFile),
                dataType: 'json',
                success:function(json){
                    openVersion(json);
                },
                error:function(e) {
                    alert(JSON.stringify(JSON.parse(e.responseText).message));
                }
            })
        }

        function openLibrary(json) {

            disableButtonGroup("#library_btn_group", false);

            $("#openedLibraryName").text(json.name);
            $("#openedLibraryTag").val(json.tag);
            $("#openedLibraryState").val(json.state);
            $("#openedLibraryDescription").val(json.description);
            $("#openedLibraryLongDescription").html(converter.makeHtml(json.long_description));

            openedLibrary = json;

            $('#files').html("");
            $('#selectVersion').html("");

            $('#newFileButton').prop('disabled', true).addClass('disabled');
            $('#newExampleButton').prop('disabled', true).addClass('disabled');

            closeFile();

            $.each(openedLibrary.versions, function (k, v) {
                if(k == 0){
                    $('#selectVersion').append("<option selected='selected' onclick=\"getLibraryVersion('" + v.version_id + "')\">" + v.version_name + "</option>");
                }else {
                    $('#selectVersion').append("<option onclick=\"getLibraryVersion('" + v.version_id + "')\">" + v.version_name + "</option>");
                }
            });

            if(json.versions[0] != null) {

                $("#selectVersion option:first").attr('selected','selected');

                openVersion(json.versions[0]);
            }else {
                $("#selectVersion").html("");
                $("#selectVersion").append("<option>No versions here!</option>");
                $("#openedLibraryVersionName").text("");
                $("#openedLibraryVersionDescription").val("");
                disableButtonGroup("#library_version_btn_group", true);
            }
        }

        function openVersion(json) {

            openedVersion = json;

            $("#openedLibraryVersionName").text(openedVersion.version_name);
            $("#openedLibraryVersionDescription").val(openedVersion.version_description);

            disableButtonGroup("#library_version_btn_group", false);
            $('#newFileButton').prop('disabled', false).removeClass('disabled');
            $('#newExampleButton').prop('disabled', false).removeClass('disabled');

            closeFile();

            $('#files').html("");
            $('#examples').html("");

            if (json.library_files.length > 0) {

                fileContents = json.library_files;

                $('#files').append(makeTree(makeJson(fileContents)));
            }else{
                $('#files').append("<p>No files here! Hit the plus button to add o new one.</p>");
            }

            if (json.examples.length > 0) {

                exampleContents = json.examples;



                $.each(exampleContents, function (k, v) {

                    var content = "";

                    content += "<ul style='list-style-type: none; padding: 0;'><li style='margin: 0; padding: 0;'>" +
                            "<div class='panel-group' style='margin: 5px 0;'>" +
                            "<div class='panel panel-default'>" +
                            "<div class='panel-heading' style='padding: 5px 10px;'>" +
                            "<h4 class='panel-title'>" +
                            "<a onclick=\"" +
                            "openExample(" + k + ");" +
                            "\">";
                    content += v.name;

                    content += "</a><button class='btn btn-xs btn-danger pull-right' type='button' onclick='removeExample(" + k + ")' title='Remove Example'><i class='fa fa-times'></i></button></h4></div>" +
                            "<div class='panel-collapse collapse'>" +
                            "<div class='panel-body' style='padding: 0 5px 0 10px;'>";
                    content += "</div></div></div></div></li></ul>";

                    $('#examples').append(content);
                });


            }else{
                $('#examples').append("<p>No examples here! Hit the plus button to add o new one.</p>");
            }
        }

        function fillEditVersionForm() {
            $("#editLibraryVersionName").val(openedVersion.version_name);
            $("#editLibraryVersionDescription").val(openedVersion.version_description);
        }

        function fillEditLibraryForm() {
            $("#editLibraryName").val(openedLibrary.name);
            $("#editLibraryDescription").val(openedLibrary.description);
            $("#editLibraryLongDescription").val(openedLibrary.long_description);
            $("#editSelectTag option[value=" + openedLibrary.tag + "]").attr('selected','selected');
            $("#editSelectState option[value=" + openedLibrary.state + "]").attr('selected','selected');
        }

        function closeFile() {
            $('#saveFileButton').prop('disabled', true).addClass('disabled');
            $('#saveExampleButton').prop('disabled', true).addClass('disabled');

            $('#file_name').text("");
            editor.setValue("");
        }

        function newExample(){
            openedExample = {version_name: $('#newExampleName').val(), version_description: $('#newExampleDescription').val(), main: ''};
            $('#file_name').text(openedFile.version_name);
            editor.setValue("// your new example - " + openedExample.version_name,1);
            $("#newExampleModal").modal('hide');
            $('#newExampleName').val("");
            $('#newExampleDescription').val("");

            $('#saveFileButton').prop('disabled', true).addClass('disabled');
            $('#saveExampleButton').prop('disabled', false).removeClass('disabled');
        }

        function openExample(order){

            $('#file_name').text(exampleContents[order].name);

            openedExample.version_name = exampleContents[order].name;
            openedExample.version_description = exampleContents[order].description;

            var content = exampleContents[order].main;

            editor.setValue(content, 1);

            $('#saveFileButton').prop('disabled', true).addClass('disabled');
            $('#saveExampleButton').prop('disabled', false).removeClass('disabled');
        }

        function saveExample(){

            openedExample.main = editor.getValue();

            $.ajax({
                url: '/library/version/upload_example/' + openedVersion.version_id,
                type: 'POST',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                data: JSON.stringify(openedExample),
                dataType: 'json',
                success:function(json){
                    openVersion(json);
                },
                error:function(e) {
                    alert(JSON.stringify(JSON.parse(e.responseText).message));
                }
            })
        }

        function removeExample(count){

            $.ajax({
                url: '/library/version/remove_example/' + exampleContents[count].id,
                type: 'DELETE',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },
                dataType: 'json',
                success:function(json){
                    openVersion(json);
                },
                error:function(e) {
                    alert(JSON.stringify(JSON.parse(e.responseText).message));
                }
            })
        }
</script>

