@import models.compiler.Model_VersionObject
@import models.project.c_program.Model_CProgram
@import models.compiler.Model_TypeOfBoard

<section class="content-header">
    <h1> Public code </h1>
    <ol class="breadcrumb">
        <li><a href="@routes.Controller_Dashboard.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
        <li class="active"><i class="fa fa-share"></i> Server Management </li>
        <li class="active"><i class="fa fa-wrench"></i> Public Code </li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">All Public programs</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button class="btn btn-block btn-info" type="button" onclick="createProgramShow()">Create Public Program</button>
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">

                    @for( type_of_board <- Model_TypeOfBoard.find.all()){
                        <li><a href="#type_of_board_tab_@type_of_board.id" data-toggle="tab">@type_of_board.name</a></li>
                    }
                    </ul>
                </div>
                <div id="all_c_programs_wrapper">
                    <div class="tab-content" id="all_c_programs">
                    @for( type_of_board <- Model_TypeOfBoard.find.all() ) {

                        <div class="tab-pane" id="type_of_board_tab_@type_of_board.id">
                            <div class="box-body">

                                @for(c_program <- Model_CProgram.find.where().isNull("project").eq("type_of_board.id", type_of_board.id).findList()){

                                    <h4 class="text-warning"> @c_program.name <small class="text-warning">@c_program.type_of_board_name() </small>

                                        @if(Model_VersionObject.find.where().eq("public_version", true).eq("removed_by_user", false).eq("c_program.id", c_program.id).findUnique() != null){
                                            <small class="text-success">(Visible)</small>
                                        }else{
                                            <small class="text-danger">(Not Visible)</small>
                                        }


                                    </h4>
                                    <br><label style="">@c_program.description </label>

                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                                Program Action
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                <li><button class="btn btn-block btn-primary" type="button" onclick="createC_Program_VersionShow('@c_program.id')">Create Version</button></li>
                                                <li><button class="btn btn-block btn-info"    type="button" onclick="showEditForm('@c_program.id')">Hide</button></li>
                                                <li><button class="btn btn-block btn-danger"  type="button" onclick="removeProgram('@c_program.id')">Delete</button></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <table id="c_program_detail" class="table table-bordered">

                                        <tr>
                                            <th class="col-md-1" >Id</th>
                                            <th class="col-md-1" >Name</th>
                                            <th class="col-md-3" >Description</th>
                                            <th class="col-md-1" >Author</th>
                                            <th class="col-md-1" >Comp. Status</th>
                                            <th class="col-md-1" >Visible Status</th>
                                            <th class="col-md-1" >Actions</th>
                                        </tr>

                                        @for(version <- c_program.getVersion_objects_all_For_Admin()){

                                            @if(!version.removed_by_user){
                                                <tr>

                                                    <td>@version.id</td>
                                                    <td>@version.version_name</td>
                                                    <td>@version.version_description</td>
                                                    <td>@if(version.author != null){
                                                        @version.author.mail
                                                    }else{
                                                        not defined
                                                    }</td>
                                                    <td>@version.c_compilation.status</td>
                                                    <td>@version.public_version</td>
                                                    <td>


                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                                                <span class="caret"></span>
                                                                <span class="sr-only">Toggle Dropdown</span>
                                                                Version Action
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                                <li><button class="btn btn-block btn-primary" type="button" onclick="showCode('@version.id')">Show Code</button></li>
                                                                <li><button class="btn btn-block btn-info"    type="button" onclick="editC_Program_VersionShow('@version.id', '@version.version_name', '@version.version_description')">Edit</button></li>
                                                                @if(version.public_version){
                                                                    <li><button class="btn btn-block btn-warning"  type="button" onclick="dispproveVersion(@version.id)">Disapprove</button></li>
                                                                }else{
                                                                    <li><button class="btn btn-block btn-warning"  type="button" onclick="approveVersion(@version.id)">Approve</button></li>
                                                                }
                                                                <li><button class="btn btn-block btn-danger"  type="button" onclick="removeVersion(@version.id)">Delete</button></li>
                                                            </ul>
                                                        </div>



                                                    </td>

                                                </tr>
                                            }
                                        }
                                    </table>
                                }

                            </div>
                        </div>
                    }
                    </div>
                </div>
                <div class="box-footer">
                </div>
            </div>
        </div>
    </div>


    <div id="createProgramModal" style="display: none;" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create Program</h4>
                </div>
                <div class="modal-body">
                    <form id="createProgramForm">

                        <div class="form-group">
                            <label style="">C Program name</label>
                            <input type="text" class="form-control" name="name">
                        </div>

                        <div class="form-group">
                            <label style="">C Program description </label>
                            <input type="text" class="form-control" name="description">
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="c_program_public_admin_create" value="true" checked>
                                    Public C Program
                                </label>
                            </div>
                        </div>


                        <div class="form-group">
                            <label style="">Type Of Board</label>
                            <select class="form-control" id="type_of_board_id" name="type_of_board_id">
                            @for(x <- Model_TypeOfBoard.find.all()){
                                <option  value="@x.id" name="type_of_board_id" >@x.name</option>
                            }
                            </select>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#createProgramModal').css('display','none')">Close</button>
                    <button id="editCompilationServerButton" value="" class="btn btn-primary" type="button" onclick="createProgram()">Create</button>
                </div>
            </div>
        </div>
    </div>



    <div id="newCProgramVersionModal" style="display: none;" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New C Program version</h4>
                </div>
                <div class="modal-body">
                    <form id="newCProgramVersionForm">
                        <label>Version name</label>                 <input    name="version_name" type="text" placeholder="1.0.5"> <p><p><p>
                        <label>Version Description</label><p>       <textarea name="version_description" class="form-control" rows="3" placeholder="Description...."></textarea> <p><p>
                        <label>Program</label>  <p>                 <textarea name="main" class="form-control" rows="3" placeholder="Code...."></textarea> <p>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#newCProgramVersionModal').css('display','none')">Close</button>
                    <button id="newCProgramVersionButton" value="" class="btn btn-primary" type="button" onclick="createNewCProgramVersion(this.value)">Create</button>
                </div>
            </div>
        </div>
    </div>


    <div id="editCProgramVersionModal" style="display: none;" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Version (Basic info)</h4>
                </div>
                <div class="modal-body">
                    <form id="editCProgramVersionForm">

                        <div class="form-group">
                            <label id="c_program_version_id" style="display: block;">ID</label>
                        </div>

                        <div class="form-group">
                            <label style="">Version name:</label>
                            <input type="text" name="version_name" id="editCProgramVersionForm_name" style="display: block;">
                        </div>

                        <div class="form-group">
                            <label style="">Version description: </label>
                            <input type="text" name="version_description"  id="editCProgramVersionForm_description" style="display: block;">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#editCProgramVersionModal').css('display','none')">Close</button>
                    <button id="editVersionModalButton" class="btn btn-info" type="button" onclick="editCProgramVersion(this.value)">Save changes & Approve</button>
                </div>
            </div>
        </div>
    </div>




</section>


<script>

        $.ajaxSetup({ cache: false });


        function createProgramShow(){
            $("#createProgramModal").css("display","block");
        }

        function createC_Program_VersionShow(c_program_id){
            $('#newCProgramVersionButton').val(c_program_id);
            $("#newCProgramVersionModal").css("display","block");
        }

        function editC_Program_VersionShow(version_id, name, description){
            $('#c_program_version_id').val(version_id);
            $('#editCProgramVersionForm_description').val(description);
            $('#editCProgramVersionForm_name').val(name);
            $('#editVersionModalButton').val(version_id);
            $("#editCProgramVersionModal").css("display","block");
        }


        function createProgram(){

            model_data = $("#createProgramForm").serializeObject();

            $.ajax({
                url: '@routes.Controller_CompilationLibraries.c_program_create()',
                type: 'POST',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                data: JSON.stringify(model_data),
                dataType: 'json',

                success:function(e){
                    $("#createProgramModal input[type=text]").val("");
                    $("#createProgramModal").css("display","none");
                    $('#all_c_programs_wrapper').load(document.URL +  ' #all_c_programs');
                },
                error:function(e) {
                    BootstrapDialog.show({
                        message: syntaxHighlight(e),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself) {
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}

        function removeProgram(id){

            $.ajax({
                url: '@routes.Controller_CompilationLibraries.c_program_delete("")' + id,
                type: 'DELETE',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                dataType: 'json',

                success:function(e){
                    $('#all_c_programs_wrapper').load(document.URL +  ' #all_c_programs');
                },
                error:function(e) {
                    BootstrapDialog.show({
                        message: syntaxHighlight(e),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself) {
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}

        function removeVersion(id){

            $.ajax({
                url: '@routes.Controller_CompilationLibraries.c_programVersion_delete("")' + id,
                type: 'DELETE',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                dataType: 'json',

                success:function(e){
                    $('#all_c_programs_wrapper').load(document.URL +  ' #all_c_programs');
                },
                error:function(e) {
                    BootstrapDialog.show({
                        message: syntaxHighlight(e),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself) {
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}

        function editCProgramVersion(id){

            model_data = $("#editCProgramVersionForm").serializeObject();

            $.ajax({
                url: '@routes.Controller_CompilationLibraries.c_programVersion_update("")' + id,
                type: 'PUT',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                data: JSON.stringify(model_data),
                dataType: 'json',

                success:function(e){
                    $("#editCProgramVersionForm input[type=text]").val("");
                    $("#editCProgramVersionModal").css("display","none");
                    $('#all_c_programs_wrapper').load(document.URL +  ' #all_c_programs');
                },
                error:function(e) {
                    BootstrapDialog.show({
                        message: syntaxHighlight(e),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself) {
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}

        function createNewCProgramVersion(c_program_id) {

            model_data = $("#newCProgramVersionForm").serializeObject();

            $.ajax({
                url: '@routes.Controller_CompilationLibraries.c_programVersion_create("")' + c_program_id ,
                type: 'POST',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN": getCookie("authToken"),
                    "Content-Type": "application/json"
                },
                data: JSON.stringify(model_data),
                dataType: 'json',

                success: function(data) {

                    $("#newCProgramVersionForm input[type=text]").val("");
                    $("#newCProgramVersionModal").css("display", "none");
                    $('#all_c_programs_wrapper').load(document.URL + ' #all_c_programs');

                },
                error: function(data) {

                    BootstrapDialog.show({
                        message: syntaxHighlight(data),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself) {
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })
        }

</script>