@import models.Model_Library

<section class="content-header">
    <h1> Libraries </h1>
    <ol class="breadcrumb">
        <li><a href="@routes.Controller_Dashboard.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
        <li class="active"><i class="fa fa-share"></i> Server Management </li>
        <li class="active"><i class="fa fa-wrench"></i> C Program Management </li>
        <li class="active"><i class="fa fa-wrench"></i> Libraries </li>
    </ol>
</section>

<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Filter settings</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button class="btn btn-block btn-info" type="button" onclick="showNewBoard()">New Board</button>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <form id="boardFilterForm">
                        <table id="filterTable" class="table table-condensed no-padding no-margin">
                            <tr>
                                <th class="col-md-2">Type of Board</th>
                                <th class="col-md-1">Parameters</th>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <select id="selectTypeOfBoard" name="type_of_board_ids[]" class="form-control" multiple>
                                        @for(type_of_board <- Model_TypeOfBoard.find.all() ) {
                                            <option value="@type_of_board.id"> @type_of_board.name </option>
                                        }
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input id="active" type="checkbox"> Removed by user
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="box-footer">
                    <button class="btn pull-right btn-warning" type="button" onclick="filter()">Filter</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Libraries</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button class="btn btn-xs btn-success pull-right" type="button" data-toggle="modal" data-target="#newLibraryModal" title="New Library"><i class="fa fa-plus"></i></button>
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>
                <div class="box-body">
                    <label>All Types of Boards</label>
                    <table id="allTypesOfBoards" class="table table-bordered">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>For type of Boards</th>
                            <th>Tags</th>

                            <th>OPEN</th>
                            <th>DELETE</th>
                        </tr>
                        @for(library <- Model_Library.find.where().isNull("project_id").findList()) {
                            <tr>
                                <td>@library.id</td>
                                <td>@library.name</td>
                                <td>@library.description</td>

                                <td>
                                    @for(type_of_board <- library.type_of_boards){
                                       @type_of_board.name + ", "
                                    }
                                </td>
                                <td>
                                    TODO
                                </td>

                                <td><a href='@routes.Controller_Dashboard.public_library(library.id)'><button class="btn btn-block btn-info"   type="button"> Edit </button></a></td>
                                <td><button class="btn btn-block btn-danger" type="button" onclick="deleteLibrary('@library.id')">Delete</button></td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="box-footer">
        </div>
            </div>
        </div>
    </div>
</section>


<!-- NEW LIBRARY  MODAL -------------------------------------------------------------------------------------------------->

<div id="newLibraryModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newLibraryModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="newLibraryModalTitle" class="modal-title">New Library</h4>
            </div>
            <div class="modal-body">
                <form id="newLibrary">
                    <div style="float: left; width: 30%;">
                        <label>Name</label>
                        <input id="newLibraryName" placeholder="Name" style="display: block" type="text" name="name" >
                    </div>
                    <div style="width: 100%;">
                        <label>Description</label>
                        <input id="newLibraryDescription" placeholder="Description" style="display: block; width: 70%;" type="text" name="description" >
                    </div>

                    <!--
                    <div style="width: 100%;">
                        <label>Tags</label>
                        <input id="tags" placeholder="tags" style="display: block; width: 70%;" type="text" name="tags" >
                    </div>
                    -->

                    <label>Long Description(markdown)</label>
                    <textarea style="width: 100%;" id="newLibraryLongDescription" rows="5" name="long_description"></textarea>
                </form>
                <div id="newLibraryModalMessage" style="display: none"><p class="text-red"></p></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-success" type="button" onclick="newLibrary()">Save</button>
            </div>
        </div>
    </div>
</div>

    <script>

          function newLibrary(){
              $.ajax({
                  url: '@routes.Controller_Library.library_create()',
                  type: 'POST',
                  contentType: 'application/json',
                  headers: {
                      "X-AUTH-TOKEN":getCookie("authToken"),
                      "Content-Type":"application/json"
                  },
                  data: JSON.stringify($("#newLibrary").serializeObject()),
                  dataType: 'json',
                  success:function(json){
                      location.reload();
                  },
                  error:function(e) {
                      $("#newLibraryModalMessage").css("display", "block");
                      $("#newLibraryModalMessage p").text(JSON.parse(e.responseText).message);
                      $("#newLibraryModalMessage p").append(JSON.stringify(JSON.parse(e.responseText).exception));
                  }
              })
          }

          function deleteLibrary(id){
              $.ajax({
                  url: '/library/' + id,
                  type: 'DELETE',
                  headers: {
                      "X-AUTH-TOKEN":getCookie("authToken")
                  },
                  dataType: 'json',
                  success:function(json){
                      window.location.reload();
                  },
                  error:function(e) {
                      alert(JSON.stringify(JSON.parse(e.responseText).message));
                  }
              })
          }

          $(function () {

              $('#selectTypeOfBoard').select2({
                  placeholder: "Select multiple",
                  allowClear: false
              });
          });

    </script>