@import utilities.Server
@(menu: Html, content: Html, mode: Boolean)


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Tyrion cloud_blocko_server - Byzance </title>

        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("../../../../public/images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.at("../../../../public/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("../../../../public/bootstrap/css/bootstrap-dialog.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("../../../../public/bootstrap/css/admin.css")">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="@routes.Assets.at("../../../../public/dist/css/AdminLTE.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("../../../../public/dist/css/skins/_all-skins.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("../../../../public/plugins/iCheck/flat/blue.css")">
        <link rel="stylesheet" href="@routes.Assets.at("../../../../public/plugins/morris/morris.css")">
        <link rel="stylesheet" href="@routes.Assets.at("../../../../public/plugins/jvectormap/jquery-jvectormap-1.2.2.css")">
        <link rel="stylesheet" href="@routes.Assets.at("../../../../public/plugins/datepicker/datepicker3.css")">
        <link rel="stylesheet" href="@routes.Assets.at("../../../../public/plugins/daterangepicker/daterangepicker.css")">
        <link rel="stylesheet" href="@routes.Assets.at("../../../../public/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("../../../../public/plugins/jsdifflib/diffview.css")">
        <script src="@routes.Assets.at("../../../../public/plugins/jQuery/jquery-2.2.3.min.js")" type="text/javascript"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript">></script>
        <script src="@routes.Assets.versioned("../../../../public/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js" type="text/javascript"></script>
        <script src="@routes.Assets.at("../../../../public/plugins/morris/morris.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("../../../../public/plugins/sparkline/jquery.sparkline.min.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("../../../../public/plugins/knob/jquery.knob.js")" type="text/javascript">></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
        <script src="@routes.Assets.at("../../../../public/plugins/daterangepicker/daterangepicker.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("../../../../public/plugins/datepicker/bootstrap-datepicker.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("../../../../public/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("../../../../public/plugins/slimScroll/jquery.slimscroll.min.js")"></script>
        <script src="@routes.Assets.at("../../../../public/plugins/fastclick/fastclick.min.js")"></script>
        <script src="@routes.Assets.at("../../../../public/plugins/jsdifflib/difflib.js")"></script>
        <script src="@routes.Assets.at("../../../../public/plugins/jsdifflib/diffview.js")"></script>
        <script src="@routes.Assets.at("../../../../public/plugins/jquery-serialize-object-master/jquery.serialize-object.js")"></script>
        <script src="@routes.Assets.versioned("../../../../public/bootstrap/js/bootstrap-dialog.min.js")" type="text/javascript"></script>

        <script type="text/javascript" src='@routes.DashboardController.javascriptRoutes()'></script>

        <script>
        function getCookie(name)
        {
            var re = new RegExp(name + "=([^;]+)");
            var value = re.exec(document.cookie);
            return (value != null) ? unescape(value[1]) : null;
        }
        </script>
    </head>

    @if(mode){
        <body class="hold-transition skin-blue sidebar-mini">
    }else{
       <body class="hold-transition skin-red sidebar-mini">
    }

            <div class="wrapper">

                <header class="main-header">
                        <!-- Logo -->
                    <a href="http://www.byzance.cz" class="logo">
                            <!-- mini logo for sidebar mini 50x50 pixels -->
                        <span class="logo-mini">TSE</span>
                            <!-- logo for regular state and mobile devices -->
                        <span class="logo-lg"><b>Tyrion - Server</b></span>
                    </a>
                        <!-- Header Navbar: style can be found in header.less -->
                    <nav class="navbar navbar-static-top" role="navigation">

                        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                            <span class="sr-only">Toggle navigation</span>
                        </a>

                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <h4 > <font color="white">  <b>Version:</b> @Server.server_version   &nbsp &nbsp &nbsp <b>Production mode: </b> @if(!mode){Production}else{Developer}   &nbsp &nbsp &nbsp  </font> </h4>

                            </ul>


                        </div>
                    </nav>
                </header>

                    <!-- Left side column. contains the logo and sidebar -->
                    @menu

                    <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">

                        <!-- Content Header (Page header) -->

<!-- ----------------------------------------------------------------------------------------------------------------------- -->
                   <!-- Main content -->

                    @content


 <!-- ------------------------------------------------------------------------------------------------------------------ -->

                </div><!-- /.content-wrapper -->
                <footer class="main-footer">
                    <div class="pull-right hidden-xs">
                        <b>Version</b> @Server.server_version
                    </div>
                    <strong>Copyright &copy; 2016-2017 <a href="http://byzance.cz.com">Byzance ltd</a>.</strong> All rights reserved.
                </footer>

                    <!-- /.control-sidebar -->
                <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
                <div class="control-sidebar-bg"></div>
            </div><!-- ./wrapper -->



           <script> $.widget.bridge('uibutton', $.ui.button);</script>

           <script src="@routes.Assets.at("../../../../public/bootstrap/js/bootstrap.min.js")"></script>
           <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>

           <script src="@routes.Assets.at("../../../../public/plugins/knob/jquery.knob.js")"></script>
           <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js'></script>
           <script src="@routes.Assets.at("../../../../public/plugins/daterangepicker/daterangepicker.js")"></script>
           <script src="@routes.Assets.at("../../../../public/plugins/datepicker/bootstrap-datepicker.js")"></script>
           <script src="@routes.Assets.at("../../../../public/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")"></script>
           <script src="@routes.Assets.at("../../../../public/plugins/slimScroll/jquery.slimscroll.min.js")"></script>
           <script src="@routes.Assets.at("../../../../public/plugins/fastclick/fastclick.min.js")"></script>
           <script src="@routes.Assets.at("../../../../public/dist/js/app.min.js")"></script>
           <script src="@routes.Assets.at("../../../../public/dist/js/pages/dashboard.js")"></script>
           <script src="@routes.Assets.at("../../../../public/dist/js/demo.js")"></script>

    </body>
</html>

