@import utilities.Server
@import utilities.swagger.swagger_diff_tools.Swagger_diff_Controller
@import utilities.loggy.Loggy
@import utilities.wiki.Wiki


    <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>

<!-------------------------------------------------------------------------- ------------------------>
                <li>
                    <a href='@routes.Controller_Dashboard.index()' >
                        <i class="fa fa-globe"></i> <span>Dashboard</span>
                    </a>
                </li>
 <!-------------------------------------------------------------------------- ------------------------>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-bug"></i> <span>Bugs</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href='@routes.Controller_Dashboard.show_all_logs()' >
                                <i class="fa  fa-bug"></i> <span>Bug Reporting</span>
                                @if( Loggy.number_of_reported_errors() > 0) { <small class="label pull-right bg-red">@Loggy.number_of_reported_errors()</small>}
                            </a>
                        </li>

                        <li>
                            <a href="http://youtrack.byzance.cz">
                                <i class="fa  fa-bug"></i> <span>Issue tracker</span>
                            </a>
                        </li>
                    </ul>
                </li>

<!-------------------------------------------------------------------------- ------------------------>
                @if(Server.server_mode.equals("developer")||Server.server_mode.equals("stage")){
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-bug"></i> <span>For Tyrion Developers</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-share"></i> <span>External API</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href='@Server.link_api_swagger'><i class="fa fa-circle-o"></i>Api on latest version</a></li>
                                <li>
                                    <a href="#"><i class="fa fa-circle-o"></i> Historical Version <i class="fa fa-angle-left pull-right"></i></a>
                                    <ul class="treeview-menu">
                                    @for(version <- Swagger_diff_Controller.json_docu_files() ) {
                                        <li>
                                            <a href='@Server.link_api_swagger/@version' ><i class="fa fa-circle-o"></i>@version</a>
                                        </li>
                                    }
                                    </ul>
                                </li>
                                <li><a href='@routes.Controller_Dashboard.show_diff_on_Api()' ><i class="fa fa-circle-o"></i> Diff Tools </a></li>
                            </ul>
                        </li>

                        <li>
                            <a href='@routes.Controller_Dashboard.show_readme()' >
                                <i class="fa fa-graduation-cap"></i> <span>Read Me</span>
                            </a>
                        </li>

                        <li>
                            <a href='@routes.Controller_Dashboard.test()' >
                                <i class="fa fa-gears"></i> <span>Tests</span>
                            </a>
                        </li>

                        <li>
                            <a href='@routes.Controller_Dashboard.show_web_socket_stats()' >
                                <i class="fa fa-heart"></i> <span>Websocket connections</span>
                                <small class="label pull-right bg-yellow">  @( Controller_WebSocket.becki_website.size()  + Controller_WebSocket.compiler_cloud_servers.size() + Controller_WebSocket.homer_servers.size()) </small>
                            </a>
                        </li>

                        <li>
                            <a href='@routes.Controller_Dashboard.demo_data()' >
                                <i class="fa fa-bomb"></i> <span>Demo Data</span>
                            </a>
                        </li>

                    </ul>
                </li>
                }else{
                    <li>
                        <a href='@routes.Controller_Dashboard.show_web_socket_stats()' >
                            <i class="fa fa-heart"></i> <span>Websocket connections</span>
                            <small class="label pull-right bg-yellow">  @( Controller_WebSocket.becki_website.size()  + Controller_WebSocket.compiler_cloud_servers.size() + Controller_WebSocket.homer_servers.size()) </small>
                        </a>
                    </li>
                }
<!-------------------------------------------------------------------------- ------------------------>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-graduation-cap"></i> <span>Wiki documentation</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="http://wiki.byzance.cz">
                                <i class="fa fa-wikipedia-w"></i> <span>External wiki</span>
                            </a>
                        </li>

                        @tree(files: List[Wiki.Element]) = {

                            @for(file <- files) {
                                @if(file.leaf) {
                                    <li>
                                        <a href='@routes.Controller_Dashboard.show_wiki(file.value)' ><i class="fa fa-graduation-cap"></i>@file.text.substring(0, 1).toUpperCase()@file.text.substring(1).replace("-", " ")</a>
                                    </li>
                                } else {
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa-graduation-cap"></i> <span>@file.text.substring(0, 1).toUpperCase()@file.text.substring(1).replace("-", " ")</span>
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </a>
                                        <ul class="treeview-menu">
                                        @tree2(file.children)
                                        </ul>
                                    </li>
                                }

                            }
                        }

                        @tree2(files: List[Wiki.Element]) = {

                        @for(file <- files) {
                            @if(file.leaf) {
                                <li>
                                    <a href='@routes.Controller_Dashboard.show_wiki(file.value)' ><i class="fa fa-graduation-cap"></i>@file.text.substring(0, 1).toUpperCase()@file.text.substring(1).replace("-", " ")</a>
                                </li>
                            } else {
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-graduation-cap"></i> <span>@file.text.substring(0, 1).toUpperCase()@file.text.substring(1).replace("-", " ")</span>
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </a>
                                    <ul class="treeview-menu">
                                    @tree(file.children)
                                    </ul>
                                </li>
                            }

                        }
                        }

                        @tree(Wiki.getWikiFiles())

                    </ul>
                </li>
<!-------------------------------------------------------------------------- ------------------------>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-share"></i> <span>Server Management</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">

                        <li>
                            <a href="#"><i class="fa fa-wrench"></i>HW Management<i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href='@routes.Controller_Dashboard.basic_board_management()' >
                                        <i class="fa fa-wrench"></i> <span>Boards Type Management</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@routes.Controller_Dashboard.board_summary()' >
                                        <i class="fa fa-wrench"></i> <span>Boards summary</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@routes.Controller_Dashboard.mac_adress_generator()' >
                                        <i class="fa fa-wrench"></i> <span>Mac Adress Generator</span>
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li>
                            <a href="#"><i class="fa fa-wrench"></i> Grid Management <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href='@routes.Controller_Dashboard.grid_management()' >
                                        <i class="fa fa-wrench"></i> <span>Grid Object Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@routes.Controller_Dashboard.grid_public()' >
                                        <i class="fa fa-wrench"></i> <span>Public Object Approval</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-wrench"></i> Blocko Management <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href='@routes.Controller_Dashboard.blocko_management()' >
                                        <i class="fa fa-wrench"></i> <span>Blocko Object Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@routes.Controller_Dashboard.blocko_objects()' >
                                        <i class="fa fa-wrench"></i> <span>Public Object Approval</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench"></i> C Program Management <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href='@routes.Controller_Dashboard.public_code_management()'>
                                        <i class="fa fa-wrench"></i> <span>Public Firmware code</span>
                                    </a>
                                </li>

                                <li>
                                    <a href='@routes.Controller_Dashboard.public_code_approve_procedure()'>
                                        <i class="fa fa-wrench"></i> <span>Approval procedure</span>
                                    </a>
                                </li>


                                <li>
                                    <a href='@routes.Controller_Dashboard.public_code()'>
                                        <i class="fa fa-wrench"></i> <span>Public Firmware code</span>
                                    </a>
                                </li>

                                <li>
                                    <a href='@routes.Controller_Dashboard.libraries()' >
                                        <i class="fa fa-wrench"></i> <span>Libraries</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href='@routes.Controller_Dashboard.general_tariffs_list()'>
                                <i class="fa fa-wrench"></i> <span>General Tariff Management</span>
                            </a>
                        </li>
                        <li>
                            <a href='@routes.Controller_Dashboard.external_servers()'>
                                <i class="fa fa-wrench"></i> <span>External servers</span>
                            </a>
                        </li>
                        <li>
                            <a href='@routes.Controller_Dashboard.permissions_summary()'>
                                <i class="fa fa-wrench"></i> <span>System Roles & Permissions</span>
                            </a>
                        </li>
                    </ul>
                </li>



 <!-------------------------------------------------------------------------- ------------------------>



                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-share"></i> <span>Reports</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">

                        <li>
                            <a href=''>
                                <i class="fa fa-wrench"></i> <span>Financial Reports</span>
                            </a>
                        </li>

                        <li>
                            <a href=''>
                                <i class="fa fa-wrench"></i> <span>Bla bla Reports</span>
                            </a>
                        </li>

                    </ul>
                </li>


<!-------------------------------------------------------------------------- ------------------------>

<!-------------------------------------------------------------------------- ------------------------>

                <li>
                    <a href='@routes.Controller_Dashboard.user_summary("")'>
                        <i class="fa fa-wrench"></i> <span>Helpdesk Tool</span>
                    </a>
                </li>

            </ul>
        </section>

    <!-- /.sidebar -->
    </aside>