
@import utilities.Server
@import utilities.swagger.swagger_diff_tools.Swagger_diff_Controller
@(bugs: Integer, homer_local  : Integer, becki_terminal: Integer, grid_terminal: Integer, homer_server : Integer, compiler_server: Integer, link_api_swagger : String)

    <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>

<!-------------------------------------------------------------------------- ------------------------>
                <li>
                    <a href='@routes.DashboardController.index()' >
                        <i class="fa fa-globe"></i> <span>Dashboard</span>
                    </a>
                </li>
 <!-------------------------------------------------------------------------- ------------------------>
                <li>
                    <a href='@routes.DashboardController.show_all_logs()' >
                        <i class="fa  fa-bug"></i> <span>Bug Reporting</span>
                        @if( bugs > 0) { <small class="label pull-right bg-red">@bugs</small>}
                    </a>
                </li>
<!-------------------------------------------------------------------------- ------------------------>
                <li>
                    <a href="http://youtrack.byzance.cz">
                        <i class="fa  fa-bug"></i> <span>Issue tracker</span>
                    </a>
                </li>

 <!-------------------------------------------------------------------------- ------------------------>
                <li>
                    <a href='@routes.DashboardController.show_web_socket_stats()' >
                        <i class="fa fa-heart"></i> <span>Websocket connections</span>
                        <small class="label pull-right bg-yellow">  @( grid_terminal + homer_server + homer_local + compiler_server+ becki_terminal) </small>
                    </a>
                </li>
<!-------------------------------------------------------------------------- ------------------------>
                 <li class="treeview">
                    <a href="#">
                        <i class="fa fa-share"></i> <span>External API</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href='@link_api_swagger'><i class="fa fa-circle-o"></i>Api on latest version</a></li>
                        <li>
                            <a href="#"><i class="fa fa-circle-o"></i> Historical Version <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                            @for(version <- Swagger_diff_Controller.json_docu_files() ) {
                                <li><a href='@link_api_swagger/@version' ><i class="fa fa-circle-o"></i>@version</a></li>
                            }
                            </ul>
                        </li>
                        <li><a href='@routes.DashboardController.show_diff_on_Api()' ><i class="fa fa-circle-o"></i> Diff Tools </a></li>
                    </ul>
                </li>
<!-------------------------------------------------------------------------- ------------------------>
                <li>
                    <a href='@routes.DashboardController.show_readme()' >
                        <i class="fa fa-graduation-cap"></i> <span>Read Me</span>
                    </a>
                </li>
<!-------------------------------------------------------------------------- ------------------------>

                <li>
                    <a href="http://wiki.byzance.cz">
                        <i class="fa fa-wikipedia-w"></i> <span>Wiki documentation</span>
                    </a>
                </li>
<!-------------------------------------------------------------------------- ------------------------>

<!-------------------------------------------------------------------------- ------------------------>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-share"></i> <span>Tyrion Object Management</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                             <a href='@routes.DashboardController.basic_object_management()'>
                                <i class="fa fa-wrench"></i> <span>Basic Object</span>
                            </a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench"></i> Blocko Management <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href='@routes.DashboardController.blocko_management()' >
                                        <i class="fa fa-wrench"></i> <span>Blocko Objects</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@routes.DashboardController.blocko_objects()' >
                                        <i class="fa fa-wrench"></i> <span>Public Object Approval</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href='@routes.DashboardController.public_code()'>
                                <i class="fa fa-wrench"></i> <span>Public code</span>
                            </a>
                        </li>
                        <li>
                            <a href='@routes.DashboardController.external_servers()'>
                                <i class="fa fa-wrench"></i> <span>External servers</span>
                            </a>
                        </li>
                        <li>
                            <a href='@routes.DashboardController.user_summary("")'>
                                <i class="fa fa-wrench"></i> <span>User summary</span>
                            </a>
                        </li>
                        <li>
                            <a href='@routes.DashboardController.permissions_summary()'>
                                <i class="fa fa-wrench"></i> <span>System Roles & Permissions</span>
                            </a>
                        </li>
                        <li>
                            <a href=''>
                                <i class="fa fa-wrench"></i> <span>Financial Reports</span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </section>

    <!-- /.sidebar -->
    </aside>