@import models.Model_ProductExtension

@(extension: Model_ProductExtension)

<section class="content-header">
    <h1> Extension - @extension.name </h1>
    <ol class="breadcrumb">
        <li><a href="@routes.Controller_Dashboard.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
        <li class="active"><i class="fa fa-share"></i> @if(extension.tariff_included != null){
        @extension.tariff_included.name
        }else{
        @extension.tariff_optional.name
        }</li>
        <li class="active"><i class="fa fa-wrench"></i> @extension.name </li>
    </ol>
</section>


<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">General Extension information</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <form id="extension_main_form">

                        <div class="box-body">
                            <label for="extension_main_form" class="col-sm-2 control-label">Tariff Id</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="id" value="@extension.id"  name="id" readonly>
                            </div>
                        </div>

                        <div class="box-body">
                            <label for="extension_main_form" class="col-sm-2 control-label">Tarif name</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" value="@extension.name"  name="name">
                            </div>
                        </div>

                        <div class="box-body">
                            <label for="extension_main_form" class="col-sm-2 control-label">Tariff description</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="description" value="@extension.description"  name="description">
                            </div>
                        </div>

                        <div class="box-body">
                            <label for="extension_main_form" class="col-sm-2 control-label">Color</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" value="@extension.color"  name="color">
                            </div>
                        </div>

                        <div class="box-body">
                            <label for="extension_main_form" class="col-sm-2 control-label">Price in USD</label>

                            <div class="col-sm-10">

                            </div>
                        </div>


                    </form>
                </div>
                <div class="box-footer">
                    <button id="updateExtensionButton" value="" class="btn btn-primary" type="button" onclick="updateGeneralTariffExtension()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</section>



<div id="newGeneralTariffExtensionLabelModal" style="display: none;" class="modal">
    <div style="" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create New Label in Extension</h4>
            </div>
            <div class="modal-body">
                <form id="newGeneralTariffExtensionLabelForm">

                    <label style="">Tariff Id:</label>
                    <input type="text" class="form-control" id="newGeneralTariffExtensionLabelModal_id" name="id" readonly>

                    <label style="">Label:</label>
                    <input type="text" class="form-control" id="label"  name="label">

                    <label ass="control-label">Description:</label>
                    <input type="text" class="form-control" id="desription"  name="description">

                    <label class="control-label">Icon Code:</label>
                    <input type="text" class="form-control" placeholder="Font icon" id="label"  name="icon">

                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#newGeneralTariffExtensionLabelModal').css('display','none')">Close</button>
                <button id="newGeneralTariffButton" value="" class="btn btn-primary" type="button" onclick="newGeneralTariffExtensionLabel()">Create New Label</button>
            </div>
        </div>
    </div>
</div>

<div id="editGeneralTariffExtensionLabelModal" style="display: none;" class="modal">
    <div style="" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Label</h4>
            </div>
            <div class="modal-body">
                <form id="editGeneralTariffLabelForm">

                    <label style="">Label Id:</label>
                    <input type="text" class="form-control" id="editGeneralTariffExtensionLabelModal_id"  name="id" readonly>

                    <label style="">Label:</label>
                    <input type="text" class="form-control" id="editGeneralTariffExtensionLabelModal_label"  name="label">

                    <label ass="control-label">Description:</label>
                    <input type="text" class="form-control" id="editGeneralTariffExtensionLabelModal_description"  name="description">

                    <label class="control-label">Icon Code:</label>
                    <input type="text" class="form-control" id="editGeneralTariffExtensionLabelModal_icon"  name="icon">

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#editGeneralTariffExtensionLabelModal').css('display','none')">Close</button>
                <button id="editGeneralTariffLabelButton" value="" class="btn btn-primary" type="button" onclick="editGeneralTariffExtensionLabel()">Edit Label</button>
            </div>
        </div>
    </div>
</div>



<script>


            function updateGeneralTariffExtension(){
                model_data = $("#extension_main_form").serializeObject();
                $.ajax({
                    url: '@routes.Controller_Finance.tariffExtension_update()',
                    type: 'PUT',
                    contentType: 'application/json',
                    headers: {
                        "X-AUTH-TOKEN":getCookie("authToken"),
                        "Content-Type":"application/json"
                    },
                    data: JSON.stringify(model_data),
                    dataType: 'json',
                    success:function(data){

                        BootstrapDialog.show({
                            type: BootstrapDialog.TYPE_SUCCESS,
                            buttons: [{
                                label: 'Close',
                                action: function(dialogItself) {
                                    dialogItself.close();
                                }
                            }]

                        });

                    },
                    error:function(data) {
                        BootstrapDialog.show({
                            message: syntaxHighlight(data),
                            type: BootstrapDialog.TYPE_DANGER,
                            buttons: [{
                                label: 'Close',
                                action: function(dialogItself) {
                                    dialogItself.close();
                                }
                            }]

                        });
                    }
                })
            }


            // Labels

            function openNewGeneralTariffExtensionLabelModal(extension_id) {
                $("#newGeneralTariffExtensionLabelModal").css("display", "block");
                $('#newGeneralTariffExtensionLabelModal_id').val(extension_id);
            }

            function openEditGeneralTariffExtensionLabelModal(id, label, description, icon) {
                $("#editGeneralTariffExtensionLabelModal").css("display", "block");

                $('#editGeneralTariffExtensionLabelModal_id').val(id);
                $('#editGeneralTariffExtensionLabelModal_label').val(label);
                $('#editGeneralTariffExtensionLabelModal_description').val(description);
                $('#editGeneralTariffExtensionLabelModal_icon').val(icon);
            }


            function editGeneralTariffExtensionLabel(){

                model_data = $("#editGeneralTariffLabelForm").serializeObject();

                $.ajax({
                    url: '@routes.Controller_Finance.tariffLabel_edit()',
                    type: 'PUT',
                    contentType: 'application/json',
                    headers: {
                        "X-AUTH-TOKEN":getCookie("authToken"),
                        "Content-Type":"application/json"
                    },
                    data: JSON.stringify(model_data),
                    dataType: 'json',
                    success:function(e){
                        $("#editGeneralTariffExtensionLabelModal").css("display","none");
                        $('#allGeneralsTariffExtensionLabel').load(document.URL +  ' #allGeneralsTariffExtensionLabel');
                    },
                    error:function(e) {
                        alert("Unsuccessful.");
                    }
                })

            }

            function removeGeneralTariffExtensionLabel(id){
                $.ajax({
                    url: '@routes.Controller_Finance.tariffLabel_delete("")' + id,
                    type: 'DELETE',
                    headers: {
                        "X-AUTH-TOKEN":getCookie("authToken")
                    },
                    success:function(e){
                        $('#allGeneralsTariffExtensionLabel').load(document.URL +  ' #allGeneralsTariffExtensionLabel');
                    },
                    error:function(e) {
                        alert("Unsuccessful.");
                    }
                })
            }

            function upGeneralTariffExtensionLabel(id){
                $.ajax({
                    url: '@routes.Controller_Finance.tariffLabel_up("")' + id,
                    type: 'PUT',
                    headers: {
                        "X-AUTH-TOKEN":getCookie("authToken")
                    },
                    success:function(e){
                        $('#allGeneralsTariffExtensionLabel').load(document.URL +  ' #allGeneralsTariffExtensionLabel');
                    },
                    error:function(e) {
                        alert("Unsuccessful.");
                    }
                })
            }

            function downGeneralTariffExtensionLabel(id){
                $.ajax({
                    url: '@routes.Controller_Finance.tariffLabel_down("")' + id,
                    type: 'PUT',
                    headers: {
                        "X-AUTH-TOKEN":getCookie("authToken")
                    },
                    success:function(e){
                        $('#allGeneralsTariffExtensionLabel').load(document.URL +  ' #allGeneralsTariffExtensionLabel');
                    },
                    error:function(e) {
                        alert("Unsuccessful.");
                    }
                })
            }

</script>