
@import models.compiler.Model_CompilationServer
@import models.project.b_program.servers.Model_HomerServer
@import models.project.global.financial.Model_GeneralTariff
@import utilities.Server

<section class="content-header">
    <h1> General Tariffs</h1>
    <ol class="breadcrumb">
        <li><a href="@routes.Controller_Dashboard.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
        <li class="active"><i class="fa fa-share"></i> General Tariffs for users </li>
        <li class="active"><i class="fa fa-wrench"></i> List of tariffs </li>
    </ol>
</section>

@*/*/*  General Tariffs -----------------------------------------------------------------------------------------  */*/*@

<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">General Tariffs</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                            <td><button class="btn btn-block btn-info" type="button" onclick="showNewGeneralTariffModal()">Create</button></td>
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>
                <div class="box-body">
                    <table id="allGeneralsTariffs" class="table table-bordered">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Unique identificator</th>
                            <th>Description (Po najetí myškou)</th>
                            <th>EDIT</th>
                            <th>DEACTIVATE</th>
                        </tr>

                        @for(tariff <- Model_GeneralTariff.find.orderBy("id").findList()){
                            <tr>
                                <td>@tariff.id</td>
                                <td>@tariff.tariff_name</td>
                                <td>@tariff.identificator</td>
                                <td>@tariff.tariff_description</td>
                                <td><a href='@routes.Controller_Dashboard.general_tariff_edit(tariff.id)'><button class="btn btn-block btn-info"   type="button"> Settings </button></a></td>
                                <td>
                                    @if(!tariff.active) {
                                        <button class="btn btn-block btn-danger" type="button" onclick="activateGeneralTariff(@tariff.id)">Deactivated</button>
                                    }else{
                                        <button class="btn btn-block btn-success" type="button" onclick="deactivateGeneralTariff(@tariff.id)">Active</button>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="box-footer">
        </div>


            </div>
        </div>
    </div>
</section>


@*/*/*  Modals ---------------------------------------------------------------------------------------------   */*/*@



<div id="newGeneralTariffModal" style="display: none;" class="modal">
    <div style="" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create New LAbel</h4>
            </div>
            <div class="modal-body">
                <form id="newGeneralTariffForm">


                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tariff Id</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="general_tariff_id" name="general_tariff_id" readonly>
                        </div>
                    </div><br>


                    <div class="form-group">
                        <label for="tariff_main_form" class="col-sm-2 control-label">Tarif name</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="tariff_name" value=""  name="tariff_name">
                        </div>
                    </div><br>

                    <div class="form-group">
                        <label for="tariff_main_form" class="col-sm-2 control-label">Tariff description</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="tariff_description" value=""  name="tariff_description">
                        </div>
                    </div><br>

                    <div class="form-group">
                        <label for="tariff_main_form" class="col-sm-2 control-label">Identificator</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="identificator" value=""  name="identificator">
                        </div>
                    </div><br><br>


                    <div class="form-group">
                        <label for="tariff_main_form" class="col-sm-2 control-label">Color</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="tariff_name" value=""  name="color">
                        </div>
                    </div><br><br>

                    <div class="form-group">
                        <label for="tariff_main_form" class="col-sm-2 control-label">Number of free months</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="tariff_name" value=""  name="number_of_free_months">
                        </div>
                    </div><br><br>

                    <div class="form-group">
                        <label for="tariff_main_form" class="col-sm-2 control-label">Price in CZK</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="tariff_name" value=""  name="czk">
                        </div>
                    </div><br>

                    <div class="form-group">
                        <label for="tariff_main_form" class="col-sm-2 control-label">Price in EUR</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="tariff_name" value=""  name="eur">
                        </div>
                    </div><br>

                    <div class="form-group">
                        <label for="tariff_main_form" class="col-sm-2 control-label">Price in USD</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="tariff_name" value=""  name="usd">
                        </div>
                    </div><br><br>



                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox"><label> <input type="checkbox" name="company_details_required">
                                Company detaily required
                            </label>
                            </div>
                        </div>
                    </div><br>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox"><label><input type="checkbox" name="required_payment_mode">
                                Payment mode required ( Vyžaduji aby uživatel vybral v jakém modu bude platit)
                            </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox"><label> <input type="checkbox" name="mode_annually">
                                Měsíčně (Automatické strhávání)
                            </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox"><label><input type="checkbox" name="mode_credit">
                                Přednabytí kreditů
                            </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox"><label><input type="checkbox" name="required_payment_method">
                                Payment method required (Vyžaduji aby si uživatel vybral jakou formou bude platit)
                            </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox"><label><input type="checkbox" name="bank_transfer_support">
                                Bankovním převodem
                            </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox"><label><input type="checkbox" name="credit_card_support">
                                Mužu platit kartou
                            </label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox"><label><input type="checkbox" name="free">
                                Free Tariff
                            </label>
                            </div>
                        </div>
                    </div>


                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#newGeneralTariffModal').css('display','none')">Close</button>
                <button id="newGeneralTariffButton" value="" class="btn btn-primary" type="button" onclick="newGeneralTariff()">Create New Label</button>
            </div>

        </div>
    </div>
</div>


@*/*/*  Scripts ---------------------------------------------------------------------------------------------   */*/*@


<script>

    function showNewGeneralTariffModal(){
        $("#newGeneralTariffModal").css("display","block");
    }

    function newGeneralTariff(){
        model_data = $("#newGeneralTariffForm").serializeObject();
        $.ajax({
            url: '@routes.Controller_Finance.tariff_general_create()',
            type: 'POST',
            contentType: 'application/json',
            headers: {
                "X-AUTH-TOKEN":getCookie("authToken"),
                "Content-Type":"application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',
            success:function(e){
                $("#newGeneralTariffForm input[type=text]").val("");
                $("#newGeneralTariffModal").css("display","none");
                $('#allGeneralsTariffs').load(document.URL +  ' #allGeneralsTariffs');
            },
            error:function(e) {
                alert("Unsuccessful.");
            }
    })}


    function deactivateGeneralTariff(id){

        $.ajax({
            url: '@routes.Controller_Finance.tariff_general_deactivate("")' + id,
            type: 'PUT',
            headers: {
                "X-AUTH-TOKEN":getCookie("authToken")
            },
            success:function(e){
                $('#allGeneralsTariffs').load(document.URL +  ' #allGeneralsTariffs');
            },
            error:function(e) {
                alert("Unsuccessful.");
            }
        })}

    function activateGeneralTariff(id){

        $.ajax({
            url: '@routes.Controller_Finance.tariff_general_activate("")' + id,
            type: 'PUT',
            headers: {
                "X-AUTH-TOKEN":getCookie("authToken")
            },
            success:function(e){
                $('#allGeneralsTariffs').load(document.URL +  ' #allGeneralsTariffs');
            },
            error:function(e) {
                alert("Unsuccessful.");
            }
        })}

    function showEditGeneralTariff(id, server_name, destination_address){
        $("#editCompilationServerModal").css("display","block");
        $('#editCompilationServerButton').val(id);
        $('#compilationServerId').text("ID = " + id);
        $("#editCompilationServer input[name=name]").val(server_name);
        $("#editCompilationServer input[name=destination_address]").val(destination_address);
    }

</script>
