@import models.Model_Tariff

<section class="content-header">
    <h1> Tariffs</h1>
    <ol class="breadcrumb">
        <li><a href="@routes.Controller_Dashboard.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
        <li class="active"><i class="fa fa-wrench"></i> Server management </li>
        <li class="active"><i class="fa fa-wrench"></i> Tariff management </li>
    </ol>
</section>

<!--  General Tariff ############################################################################################### -->

<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Tariffs</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button class="btn btn-xs btn-block btn-success" type="button" data-toggle="modal" data-target="#newTariffModal"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div id="allTariffsWrapper" class="box-body">
                    <table id="allTariffs" class="table table-bordered">
                        <tr>
                            <th>ID</th>
                            <th>Order</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>

                        @for(tariff <- Model_Tariff.find.orderBy("order_position").findList()){
                            <tr>
                                <td>@tariff.id</td>
                                <td>@tariff.order_position</td>
                                <td>@tariff.identifier</td>
                                <td>@tariff.description</td>
                                <td><a href='@routes.Controller_Dashboard.tariff_edit(tariff.id)'><button class="btn btn-xs btn-block btn-info"   type="button"><i class="fa fa-wrench"></i></button></a></td>
                                <td>@if(tariff.order_position > 1){<button class="btn btn-xs btn-block btn-success" type="button" onclick="upTariff('@tariff.id')"><i class="fa fa-arrow-up"></i></button>}</td>
                                <td>@if(tariff.order_position < Model_Tariff.find.findRowCount ) {<button class="btn btn-xs btn-block btn-warning" type="button" onclick="downTariff('@tariff.id')"><i class="fa fa-arrow-down"></i></button>}</td>
                                <td>
                                    @if(!tariff.active) {
                                        <button class="btn btn-xs btn-block btn-danger" type="button" title="Activate" onclick="activateTariff('@tariff.id')">Deactivated</button>
                                    }else{
                                        <button class="btn btn-xs btn-block btn-success" type="button" title="Deactivate" onclick="deactivateTariff('@tariff.id')">Active</button>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="box-footer">
                </div>
            </div>
        </div>
    </div>
</section>

<!--  Modals ####################################################################################################### -->

<div id="newTariffModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newTariffModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="newTariffModalTitle" class="modal-title">New Tariff</h4>
            </div>
            <div class="modal-body">
                <form id="newTariffForm">
                    <input type="text" class="form-control form-group" name="name" placeholder="Name">
                    <input type="text" class="form-control form-group" name="description" placeholder="Description">
                    <input type="text" class="form-control form-group" name="identifier" placeholder="Identifier">
                    <input type="text" class="form-control form-group" name="credit_for_beginning" placeholder="Credit for beginning">
                    <input type="text" class="form-control form-group" name="color" placeholder="Color">
                    <div class="checkbox form-group">
                        <label>
                            <input type="checkbox" name="company_details_required">
                            Company details required
                        </label>
                    </div>
                    <div class="checkbox form-group">
                        <label>
                            <input type="checkbox" name="payment_mode_required">
                            Payment mode required (User have to select a mode.)
                        </label>
                    </div>
                    <div class="checkbox form-group">
                        <label>
                            <input type="checkbox" name="mode_annually">
                            Monthly (estimated costs)
                        </label>
                    </div>
                    <div class="checkbox form-group">
                        <label>
                            <input type="checkbox" name="mode_credit">
                            Pre-paid credit
                        </label>
                    </div>
                    <div class="checkbox form-group">
                        <label>
                            <input type="checkbox" name="payment_method_required">
                            Payment method required (User have to select a method.)
                        </label>
                    </div>
                    <div class="checkbox form-group">
                        <label>
                            <input type="checkbox" name="bank_transfer_support">
                            Bank Transfer
                        </label>
                    </div>
                    <div class="checkbox form-group">
                        <label>
                            <input type="checkbox" name="credit_card_support">
                            Credit Card
                        </label>
                    </div>
                    <div class="checkbox form-group">
                        <label>
                            <input type="checkbox" name="free">
                            Free Tariff
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button value="" class="btn btn-success" type="button" onclick="newTariff()">Create</button>
            </div>

        </div>
    </div>
</div>

<!--  JavaScript ################################################################################################### -->

<script>

    function newTariff(){
        var model_data = $("#newTariffForm").serializeObject();
        $.ajax({
            url: '@routes.Controller_Finance.tariff_create()',
            type: 'POST',
            contentType: 'application/json',
            headers: {
                "X-AUTH-TOKEN":getCookie("authToken"),
                "Content-Type":"application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',
            success:function(e){
                $("#newTariffForm input[type=text]").val("");
                $("#newTariffModal").modal('hide');
                $('#allTariffsWrapper').load(document.URL +  ' #allTariffs');
            },
            error:function(e) {
                alert(e.responseText);
            }
    })}


    function deactivateTariff(id){

        $.ajax({
            url: '@routes.Controller_Finance.tariff_deactivate("")' + id,
            type: 'PUT',
            headers: {
                "X-AUTH-TOKEN":getCookie("authToken")
            },
            success:function(e){
                $('#allTariffsWrapper').load(document.URL +  ' #allTariffs');
            },
            error:function(e) {
                alert(e.responseText);
            }
        })}

    function activateTariff(id){

        $.ajax({
            url: '@routes.Controller_Finance.tariff_activate("")' + id,
            type: 'PUT',
            headers: {
                "X-AUTH-TOKEN":getCookie("authToken")
            },
            success:function(e){
                $('#allTariffsWrapper').load(document.URL +  ' #allTariffs');
            },
            error:function(e) {
                alert(e.responseText);
            }
        })}

    function upTariff(id){
        $.ajax({
            url: '@routes.Controller_Finance.tariff_up("")' + id,
            type: 'PUT',
            headers: {
                "X-AUTH-TOKEN":getCookie("authToken")
            },
            success:function(e){
                $('#allTariffsWrapper').load(document.URL +  ' #allTariffs');
            },
            error:function(e) {
                alert(e.responseText);
            }
        })
    }

    function downTariff(id){
        $.ajax({
            url: '@routes.Controller_Finance.tariff_down("")' + id,
            type: 'PUT',
            headers: {
                "X-AUTH-TOKEN":getCookie("authToken")
            },
            success:function(e){
                $('#allTariffsWrapper').load(document.URL +  ' #allTariffs');
            },
            error:function(e) {
                alert(e.responseText);
            }
        })
    }

</script>
