@import models.Model_Board
@import models.Model_CProgramUpdatePlan
@import models.Model_CProgram
@import utilities.enums.Firmware_type

@(board: Model_Board)

<section class="content-header">
    <h1> Board Summary </h1>
    <ol class="breadcrumb">
        <li><a href="@routes.Controller_Dashboard.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
        <li class="active"><i class="fa fa-share"></i> Server Management </li>
        <li class="active"><i class="fa fa-wrench"></i> Board Description </li>
    </ol>
</section>
<br>
<div></div>
<br>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                     <div class="col-md-6">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Basic Information</h3>
                            </div>
                            <div class="box-body">


                                <table  class="table table-bordered">

                                    <tr>
                                        <td class="col-md-4">Board ID</td>
                                        <td class="col-md-8">@board.id</td>
                                    </tr>

                                    <tr>
                                        <td class="col-md-4">Personal Description</td>
                                        <td class="col-md-8">@board.personal_description</td>
                                    </tr>

                                    <tr>
                                        <td class="col-md-4">Type of Board</td>
                                        <td class="col-md-8">@board.type_of_board.name</td>
                                    </tr>

                                    <tr>
                                        <td class="col-md-4">Hash for Adding</td>
                                        <td class="col-md-8">@board.hash_for_adding</td>
                                    </tr>

                                    <tr>
                                        <td class="col-md-4">Mac Address</td>
                                        <td class="col-md-8">@board.mac_address</td>
                                    </tr>

                                    <tr>
                                        <td class="col-md-4">Wifi mac Address</td>
                                        <td class="col-md-8">@board.wifi_mac_address</td>
                                    </tr>

                                    <tr>
                                        <td class="col-md-4">Generation Description</td>
                                        <td class="col-md-8">@board.generationDescription</td>
                                    </tr>

                                    <tr>
                                        <td class="col-md-4">Project Id</td>
                                        <td class="col-md-8">@if(board.project != null ){
                                            @board.project.id
                                        }</td>
                                    </tr>

                                </table>

                            </div>
                            <div class="box-footer">
                            </div>
                        </div>

                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Basic Information</h3>
                            </div>
                            <div class="box-body">


                                <table  class="table table-bordered">

                                    <tr>
                                        <td class="col-md-4">Active </td>
                                        <td class="col-md-8">@board.is_active</td>
                                    </tr>

                                    <tr>
                                        <td class="col-md-4">Online</td>
                                        @if(board.is_online() == true){
                                            <td> <span class="label label-success">Online</span></td>
                                        }else{
                                            <td><span class="label label-danger">Offline</span></td>
                                        }
                                    </tr>

                                    <tr>
                                        <td class="col-md-4">Backup mode</td>
                                        <td class="col-md-8">
                                            @if(board.backup_mode == false){
                                                <button id="set_backup_mode" class="btn btn-block btn-success" type="button"  onclick="backup_mode('@board.id',true)">Turn ON Backup Mode (Now is off)</button>
                                            }else{
                                                Autobeckup is on. Uploud Static Backup for change
                                            }
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="col-md-4">Date of create</td>
                                        <td class="col-md-8">@board.date_of_create</td>
                                    </tr>

                                </table>

                            </div>
                            <div class="box-footer">
                            </div>
                        </div>

                    </div>

                     <div class="col-md-6">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Basic Information</h3>
                            </div>
                            <div class="box-body" >

                                <table  class="table table-bordered">
                                    <tr>
                                        <td class="col-md-4">Actual Firmware ID</td>
                                        <td class="col-md-8">@if(board.actual_c_program_version != null) {
                                            @board.actual_c_program_version.id
                                        }</td>
                                    </tr>

                                    <tr>
                                        <td class="col-md-4">Actual Firmware Name</td>
                                        <td class="col-md-8">
                                            @if(board.actual_c_program_version != null) {
                                                @board.actual_c_program_version.version_name
                                            }
                                        </td>
                                    </tr>
                                </table>

                                <br>


                            </div>
                            <div class="box-footer">
                            </div>
                        </div>
                    </div>

                     <div class="col-md-6">
                         <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Backup Information </h3>
                            </div>
                           <div class="box-body" >

                               <table  class="table table-bordered">

                                           <tr>
                                               <td class="col-md-4">Actual Backup ID</td>
                                               <td class="col-md-8">@if(board.actual_backup_c_program_version != null) {
                                                   @board.actual_backup_c_program_version.id
                                               }</td>
                                           </tr>

                                           <tr>
                                               <td class="col-md-4">Actual Backup Name</td>
                                               <td class="col-md-8">
                                               @if(board.actual_backup_c_program_version != null) {
                                                   @board.actual_backup_c_program_version.version_name
                                               }
                                               </td>
                                           </tr>


                                            <tr>
                                                <td colspan="2">
                                                    Backup is set for AutoBackup. You can set Backup to static Backup Version.
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="col-md-4">
                                                    C Program
                                                </td>
                                                <td class="col-md-8">
                                                    <div>
                                                        <select onchange="selectCProgram(this.value); this.selectedindex = -1" id="selectProgram" name="c_program_id" class="form-control">
                                                                <option selected="selected" disabled>Choose Type of Board</option>
                                                                @for(c_program <- Model_CProgram.find.where().eq("project.id", board.project_id()).eq("type_of_board.id", board.type_of_board.id).findList()) {
                                                                    <option onclick="selectCProgram('@c_program.id')" value="@c_program.id" > @c_program.name </option>
                                                                }
                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>

                                            <try>
                                                <td class="col-md-4"> Version </td>
                                                <td class="col-md-8">
                                                    <div>
                                                        <select id="selectCProgramVersion" name="c_program_version_id" class="form-control">
                                                        </select>
                                                    </div>
                                                </td>
                                            </try>
                                            <tr>
                                                <td class="col-md-4"> Uploud Immidietly </td>
                                                <td>
                                                    <button class="btn btn-block btn-warning" type="button" onclick="updateBackup()">Upload</button>
                                                </td>
                                            </tr>

                                </table>
                           </div>
                             <div class="box-footer">
                             </div>
                         </div>
                     </div>

                     <div class="col-md-6">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Bootloader Information</h3>
                            </div>
                            <div class="box-body" >


                                <table  class="table table-bordered">
                                    <tr>
                                        <td class="col-md-4">Actual Bootloader ID</td>
                                        <td class="col-md-8"> @if(board.actual_boot_loader != null) {
                                                @board.actual_boot_loader.version_identificator
                                            }
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="col-md-4">Actual Bootloader Name</td>
                                        <td class="col-md-8"> @if(board.actual_boot_loader != null) {
                                            @board.actual_boot_loader.name
                                        }
                                        </td>
                                    </tr>

                                    @if(board.update_boot_loader_required()) {

                                        <tr>
                                            <td class="col-md-4">Required update Bootloader</td>
                                            <td class="col-md-8">
                                                <button class="btn btn-block btn-danger" type="button" onclick="updateBootLoader('@board.id')">Manual Update</button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="col-md-4">Actual Default by Type of Board</td>
                                            <td class="col-md-8">

                                                @if(board.type_of_board.main_boot_loader != null){

                                                    @board.type_of_board.main_boot_loader.id

                                                }else{
                                                    Main Not Yet Set!
                                                }

                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="col-md-4">Actual Default by Type of Board</td>
                                            <td class="col-md-8">

                                                @if(board.type_of_board.main_boot_loader != null){

                                                    @board.type_of_board.main_boot_loader.version_identificator

                                                }else{
                                                    Main Not Yet Set!
                                                }
                                            </td>
                                        </tr>

                                    }

                                </table>

                            </div>
                            <div class="box-footer">
                            </div>
                        </div>
                    </div>

                <div class="col-md-12">

                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Basic Information</h3>
                        </div>
                        <div class="box-body">


                            <table id="allProcedures" class="table table-bordered">

                                <tr>
                                    <th>Id </th>
                                    <th>Date of create </th>
                                    <th>Date of finish  </th>
                                    <th>Firmware Type </th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>State</th>
                                </tr>

                                @for(update <- Model_CProgramUpdatePlan.find.where().eq("board.id", board.id).findList()) {

                                    <tr>
                                        <td>@update.id</td>
                                        <td>@update.date_of_create</td>
                                        <td>@update.date_of_finish</td>
                                        <td>@update.firmware_type</td>

                                        @if(update.firmware_type == Firmware_type.FIRMWARE){
                                            <td>@update.c_program_version_for_update.id</td>
                                            <td>@update.c_program_version_for_update.version_name</td>
                                        }

                                        @if(update.firmware_type == Firmware_type.BOOTLOADER){
                                            <td>@update.bootloader.id</td>
                                            <td>@update.bootloader.version_identificator</td>
                                        }

                                        @if(update.firmware_type == Firmware_type.BACKUP){
                                            <td>@update.c_program_version_for_update.id</td>
                                            <td>@update.c_program_version_for_update.version_name</td>
                                        }


                                        @if(update.errorCode != null) {
                                            <td>@update.state + (ErrorCode: @update.errorCode )</td>
                                        }else{
                                            <td>@update.state</td>
                                        }
                                    </tr>

                                }

                            </table>

                        </div>
                        <div class="box-footer">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

    <script>


            function backup_mode(target_id, type){

                var json = {
                     board_id:target_id,
                     backup_mode:type
                };

                var array = {
                    board_backup_pair_list:[json]
                };


                $.ajax({
                    url: '@routes.Controller_Board.board_update_backup()',
                    type: 'PUT',
                    contentType: 'application/json',
                    headers: {
                        "X-AUTH-TOKEN":getCookie("authToken"),
                        "Content-Type":"application/json"
                    },
                    data: JSON.stringify(array),
                    dataType: 'json',

                    success:function(data, status){
                        location.reload();
                    },

                    error:function(data) {
                        console.log(data);

                        BootstrapDialog.show({
                            message:  syntaxHighlight(data),
                            type: BootstrapDialog.TYPE_DANGER,
                            buttons: [{
                                label: 'Close',
                                action: function(dialogItself){
                                    dialogItself.close();
                                }
                            }]

                        });
                    }


                })
            }

            function updateBackup(){

                var element = document.getElementById("selectCProgramVersion");
                var c_program_version_id = element.options[element.selectedIndex].value;
                var target_id = '@board.id';

                var json = {
                    board_id:target_id,
                    c_program_version_id:c_program_version_id
                };

                var array = {
                    board_backup_pair_list:[json]
                };

                $.ajax({
                    url: '@routes.Controller_Board.board_set_backup_c_program_version()',
                    type: 'PUT',
                    contentType: 'application/json',
                    headers: {
                        "X-AUTH-TOKEN":getCookie("authToken"),
                        "Content-Type":"application/json"
                    },
                    data: JSON.stringify(array),
                    dataType: 'json',

                    success: function(json) {
                        location.reload();
                    },

                    error:function(data) {
                        console.log(data);

                        BootstrapDialog.show({
                            message:  syntaxHighlight(data),
                            type: BootstrapDialog.TYPE_DANGER,
                            buttons: [{
                                label: 'Close',
                                action: function(dialogItself){
                                    dialogItself.close();
                                }
                            }]

                        });
                    }


                })
            }

            function selectCProgram(c_program_id){

                $.ajax({
                    url: '@routes.Controller_Code.c_program_get("")' + c_program_id,
                    type: 'GET',
                    contentType: 'application/json',
                    headers: {
                        "X-AUTH-TOKEN":getCookie("authToken"),
                        "Content-Type":"application/json"
                    },
                    data: "{}",
                    dataType: 'json',

                    success: function(json) {
                        showVersions(json);
                    },

                    error:function(data) {
                        console.log(data);

                        BootstrapDialog.show({
                            message:  syntaxHighlight(data),
                            type: BootstrapDialog.TYPE_DANGER,
                            buttons: [{
                                label: 'Close',
                                action: function(dialogItself){
                                    dialogItself.close();
                                }
                            }]

                        });
                    }
                })
            }

            function showVersions(json) {

                console.log("ShowVersion:: " + json);
                $('#selectCProgramVersion').html("");

                $.each(json.program_versions, function (k, v) {

                    console.log("Version:: " + v.id);

                    if(k == 0){
                        $('#selectCProgramVersion').append("<option  selected='selected' value=\"" + v.version_id + "\">" + v.version_name + "</option>");
                    }else {
                        $('#selectCProgramVersion').append("<option value=\"" + v.version_id + "\">" + v.version_name + "</option>");
                    }
                });

            }

            function updateBootLoader(deviceId){

                var json = {
                    device_ids:[deviceId]
                };

                console.log(JSON.stringify(json));

                $.ajax({
                    url: '@routes.Controller_Board.boot_loader_manual_update()',
                    type: 'PUT',
                    contentType: 'application/json',
                    headers: {
                        "X-AUTH-TOKEN":getCookie("authToken"),
                        "Content-Type":"application/json"
                    },
                    data: JSON.stringify(json),
                    dataType: 'json',

                    success:function(data, status){

                        $('#allProcedures').load(document.URL +  ' #allProcedures');

                        console.log(data);
                        console.log(status);
                        BootstrapDialog.show({
                            message:  syntaxHighlight(data),

                            buttons: [{
                                label: 'Close',
                                action: function(dialogItself){
                                    dialogItself.close();
                                }
                            }]

                        });
                    },
                    error:function(data) {
                        console.log(data);

                        BootstrapDialog.show({
                            message:  syntaxHighlight(data),
                            type: BootstrapDialog.TYPE_DANGER,
                            buttons: [{
                                label: 'Close',
                                action: function(dialogItself){
                                    dialogItself.close();
                                }
                            }]

                        });
                    }


                })
            }

    </script>