@import models.Model_BootLoader
@import models.Model_TypeOfBoard
@import models.Model_VersionObject
@import com.avaje.ebean.Expr
@import utilities.enums.Enum_Compile_status

@(typeOfBoard: Model_TypeOfBoard)


<section class="content-header">
    <div class="pull-left">
        <div class="btn-group">
            <a  href='@routes.Controller_Dashboard.basic_board_management()' >
                <button class="btn btn-block btn-danger" type="button"> Back </button>
            </a>
        </div><!-- /.btn-group -->
    </div>
    <div></div>
    <h1> &nbsp;&nbsp;&nbsp; Type Of Board: @typeOfBoard.name (ID = @typeOfBoard.id) </h1>
    <ol class="breadcrumb">
        <li><a href="@routes.Controller_Dashboard.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
        <li class="active"><i class="fa fa-share"></i> Server Management </li>
        <li><a href="@routes.Controller_Dashboard.basic_board_management()"><i class="fa fa-wrench"></i> Embedded HW management </a></li>
        <li class="active"><i class="fa fa-wrench"></i> Board Settings </li>
    </ol>
</section>

<section class="content">
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Bootloader summary</h3>
                <div class="pull-right">
                    <div class="btn-group">
                        <button class="btn btn-xs btn-block btn-success" type="button" data-toggle="modal" data-target="#newBootLoaderModal" onclick="$('#newBootLoaderButton').val('@typeOfBoard.id');">New Bootloader</button>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div id="allBootloaderVersionsWrapper">
                <table id="allBootloaderVersions" class="table table-bordered">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>HW identifier</th>
                        <th>Description</th>
                        <th>Changing notes</th>
                        <th>Bin file ID</th>
                        <th>Set as Main</th>
                        <th></th>
                        <th></th>
                    </tr>

                    @for(boot_loader <- Model_BootLoader.find.where().disjunction()
                                .add(Expr.eq("type_of_board.id", typeOfBoard.id))
                                .add(Expr.eq("main_type_of_board.id", typeOfBoard.id))
                                .order()
                                .desc("date_of_create")
                                .findList()){
                        <tr>
                            <td>@boot_loader.id</td>
                            <td>@boot_loader.name</td>
                            <td>@boot_loader.version_identificator</td>
                            <td>@boot_loader.description</td>
                            <td>@boot_loader.changing_note</td>
                            <td>@if(boot_loader.file != null ){
                                     @boot_loader.file.id
                                }else{
                                    <button class="btn btn-xs btn-block btn-danger" type="button" data-toggle="modal" data-target="#newFileModal" onclick="$('#uploadBootLoaderButton').val('@boot_loader.id')">Upload file</button>
                                }
                            </td>
                            <td>
                                @if(boot_loader.main_type_of_board != null && boot_loader.file != null) {
                                    <span class="label label-success">Main</span>
                                }
                                @if(boot_loader.main_type_of_board == null && boot_loader.type_of_board != null && boot_loader.file != null){
                                    <button class="btn btn-xs btn-block btn-warning" type="button" onclick="setBootLoaderAsMain('@boot_loader.id')">Set as Main</button>
                                }
                                @if(boot_loader.file == null){
                                    Upload file first!
                                }
                            </td>
                            <td><button class="btn btn-xs btn-block btn-info" type="button" data-toggle="modal" data-target="#editBootLoaderModal" onclick="fillEditBootLoaderForm('@boot_loader.id', '@boot_loader.name', '@boot_loader.description', '@boot_loader.changing_note');"><i class="fa fa-wrench"></i></button></td>
                            <td><button class="btn btn-xs btn-block btn-danger" type="button" onclick="deleteBootLoader('@boot_loader.id');"><i class="fa fa-times"></i></button></td>
                        </tr>
                    }
                </table>
                </div>
            </div>
            <div class="box-footer">
        </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div id="firmware_summary_wrapper">
        <div id="firmware_summary" class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Default Device Program - FirstVersion of C_Program && First Firmware in Device! </h3>
                <div class="pull-right">
                    @if(typeOfBoard.version_scheme == null) {
                        <button class="btn btn-xs btn-block btn-success" type="button" data-toggle="modal" data-target="#newCProgramModal" onclick="createCProgramModal('@typeOfBoard.id')">Create default program</button>
                    }else{

                        <a href="/admin/c_program/public/@typeOfBoard.version_scheme.id" class="btn btn-info btn-xs"><i class="fa fa-wrench"></i></a>

                    }
                </div>
            </div>
            <div class="box-body">

                @if(typeOfBoard.version_scheme != null) {

                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                            <address>
                                <strong>Name: </strong>  @typeOfBoard.version_scheme.name<br>
                                <strong>ID:   </strong>  @typeOfBoard.version_scheme.id<br>
                                <strong>Date: </strong>  @typeOfBoard.version_scheme.date_of_create<br>
                            </address>
                        </div>
                        <div class="col-sm-4 invoice-col">
                            <address>
                                <strong>Description: </strong>  @typeOfBoard.version_scheme.description
                            </address>
                        </div>
                    </div>
                }
                <div id="allCProgramsVersionsWrapper">
                    <table id="allCProgramsVersions" class="table table-bordered">
                        <tr>
                            <th>C_Program ID</th>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Compiled & BIN Restored</th>
                            <th>State</th>
                        </tr>
                        @for(version <- Model_VersionObject.find.where().eq("c_program.type_of_board_default.id", typeOfBoard.id).findList()){
                            <tr>
                                <td>@version.id</td>
                                <td>@version.date_of_create</td>
                                <td>@version.version_name</td>
                                <td>@version.version_description</td>
                                <td>
                                    @if(version.c_compilation.status == Enum_Compile_status.successfully_compiled_and_restored){
                                        <p class="text-green">Yes</p>
                                    }else{
                                        <p class="text-red">NO!!!!</p>
                                    }
                                </td>
                                <td>
                                    @if(typeOfBoard.version_scheme != null && typeOfBoard.version_scheme.default_main_version != null && typeOfBoard.version_scheme.default_main_version.id == version.id) {
                                        <p class="lead text-green">(ITS Main)</p>
                                    }
                                    @if(version.default_program == null && (version.c_compilation.status == Enum_Compile_status.successfully_compiled_and_restored)){
                                        <button class="btn btn-xs btn-block btn-warning" type="button" onclick="setVersionAsMain('@typeOfBoard.version_scheme.id','@version.id')" > Set as Main </button>
                                    }
                                    @if(version.default_program == null && (version.c_compilation.status != Enum_Compile_status.successfully_compiled_and_restored) ){
                                        <p class="text-red"> @version.c_compilation.status</p>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="box-footer">
        </div>
        </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-md-5">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Picture</h3>
                    <button style="margin-left: 10px;" id="showPictureRemoveModalButton" @if(typeOfBoard.picture_link() == null) { disabled="disabled" } class="btn btn-xs btn-danger pull-right @if(typeOfBoard.picture_link() == null) { disabled }" type="button" onclick="showPictureRemoveModal('@typeOfBoard.id')">Remove Picture</button>
                    <button class="btn btn-xs btn-success pull-right" type="button" onclick="showPictureModal(  '@typeOfBoard.id' ) ">Upload Picture</button>
                </div>
                <div id="picture_container" class="box-body">
                    @if(typeOfBoard.picture_link() == null) {
                        <p>Picture is not available</p>
                    }else{
                        <img style='display: block; max-width: 100%; margin-right: auto; margin-left: auto;' src="@typeOfBoard.picture_link()">
                    }
                </div>
                <div class="box-footer"></div>
            </div>
        </div>
    </div>
</section>

<div id="newBootLoaderModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newBootLoaderModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="newBootLoaderModalTitle" class="modal-title">New BootLoader</h4>
            </div>
            <div class="modal-body">
                <form id="newBootLoaderForm">
                    <input class="form-control form-group" type="text" placeholder="Name" name="name">
                    <input class="form-control form-group" type="text" placeholder="Version Identifier (255.255.255)" name="version_identificator">
                    <textarea name="changing_notes" class="form-control form-group" rows="3" placeholder="What has changed... "></textarea>
                    <textarea name="description" class="form-control form-group" rows="3" placeholder="Description... "></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button id="newBootLoaderButton" value="" class="btn btn-primary" type="button" onclick="createNewBootLoaderRecord()">Create</button>
            </div>
        </div>
    </div>
</div>

<div id="editBootLoaderModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editBootLoaderModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="editBootLoaderModalTitle" class="modal-title">Edit BootLoader</h4>
            </div>
            <div class="modal-body">
                <form id="editBootLoaderForm">
                    <input id="edit_boot_loader_name" class="form-control form-group" type="text" title="Name" placeholder="Name" name="name">
                    <textarea id="edit_boot_loader_changing_note" name="changing_notes" class="form-control form-group" rows="3" title="What has changed..." placeholder="What has changed..."></textarea>
                    <textarea id="edit_boot_loader_description" name="description" class="form-control form-group" rows="3" title="What has changed..." placeholder="Description..."></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button id="editBootLoaderButton" value="" class="btn btn-primary" type="button" onclick="updateBootLoader(this.value)">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="newCProgramModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newCProgramModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="newCProgramModalTitle" class="modal-title">Create new C Program</h4>
            </div>
            <div class="modal-body">
                <form id="newCProgramForm">
                    <input type="text" class="form-control form-group" title="Type of Board" name="type_of_board_id" readonly>
                    <input type="text" class="form-control form-group" placeholder="Name" name="name">
                    <input type="text" class="form-control form-group" placeholder="Description" name="description">
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input name="c_program_type_of_board_default" type="checkbox" checked="checked" value="true" disabled="disabled">Public C Program</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button id="newCProgramButton" value="" class="btn btn-primary" type="button" onclick="createNewCProgram()">Create</button>
            </div>
        </div>
    </div>
</div>

<div id="editCProgramModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editCProgramModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="editCProgramModalTitle" class="modal-title">Edit C Program</h4>
            </div>
            <div class="modal-body">
                <form id="editCProgramForm">
                    <input type="text" class="form-control form-group" placeholder="Type of Board" name="type_of_board_id" readonly>
                    <input type="text" class="form-control form-group" placeholder="Name" title="Name" name="name">
                    <textarea class="form-control form-group" title="Description" placeholder="Description" name="description" rows="3"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button id="editCProgramButton" value="" class="btn btn-primary" type="button" onclick="editCProgram(this.value)">Update</button>
            </div>
        </div>
    </div>
</div>

<div id="newCProgramVersionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newCProgramVersionModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="newCProgramVersionModalTitle" class="modal-title">New C Program version</h4>
            </div>
            <div class="modal-body">
                <form id="newCProgramVersionForm">
                    <input class="form-control form-group" type="text" placeholder="Version name (1.0.5)" name="version_name">
                    <textarea class="form-control form-group" name="description" rows="3" placeholder="Description...."></textarea>
                    <textarea class="form-control form-group" name="main" rows="3" placeholder="Code...."></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button id="newCProgramVersionButton" value="" class="btn btn-primary" type="button" onclick="createNewCProgramVersion(this.value)">Create</button>
            </div>
        </div>
    </div>
</div>

<div id="newFileModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newFileModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="newFileModalTitle" class="modal-title">Boot Loader File</h4>
            </div>
            <div class="modal-body">
                <form id="newFileForm">
                    <p></p>
                    <label>Boot Loader bin file (.bin required)</label><p> <input type="file" id="file" name="file" />

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button id="uploadBootLoaderButton" value="" class="btn btn-primary" type="button" onclick="uploadBootLoaderFile(this.value)">Upload</button>
            </div>
        </div>
    </div>
</div>

<div id="pictureModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="pictureModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="pictureModalTitle" class="modal-title">Upload Picture</h4>
            </div>
            <div class="modal-body">
                <form id="pictureForm">
                    <label>Choose picture:</label>
                    <input type="file" id="picture" name="file" />
                    <p>If type of board already has a picture, it will be replaced by the new one.</p>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button id="uploadPictureButton" value="" class="btn btn-success" type="button" onclick="uploadPicture(this.value)">Upload</button>
            </div>
        </div>
    </div>
</div>

<div id="pictureRemoveModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="pictureRemoveModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="pictureRemoveModalTitle" class="modal-title">Remove Picture</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button id="removePictureButton" value="" class="btn btn-danger" type="button" onclick="removePicture(this.value)">Remove</button>
            </div>
        </div>
    </div>
</div>

<script>

    function openVersionCode(showCodeForm) {
        $("#newBootLoaderModal").css("display", "block");
        $("#showCodeForm textarea[name=showCodeForm]").val(showCodeForm);
    }

    function fillEditBootLoaderForm(boot_loader_id, boot_loader_name, boot_loader_description, boot_loader_changing_note) {
        $("#editBootLoaderButton").val(boot_loader_id);
        $("#edit_boot_loader_name").val(boot_loader_name);
        $("#edit_boot_loader_description").val(boot_loader_description);
        $("#edit_boot_loader_changing_note").val(boot_loader_changing_note);
    }

    function createCProgramModal(type_of_device_id) {
        $('#newCProgramButton').val(type_of_device_id);
        $("#newCProgramForm input[name=type_of_board_id]").val(type_of_device_id);
    }

    function editCProgramModal(c_program_id, type_of_board_id, name, description) {
        $("#editCProgramForm input[name=type_of_board_id]").val(type_of_board_id);
        $("#editCProgramForm input[name=name]").val(name);
        $("#editCProgramForm textarea[name=description]").val(description);
        $('#editCProgramButton').val(c_program_id);
    }

    function createCProgramVersionModal(c_program_id) {
        $("#newCProgramVersionModal").css("display", "block");
        $('#newCProgramVersionButton').val(c_program_id);
    }

    function setBootLoaderAsMain(boot_loader_id) {

        $.ajax({
            url: '@routes.Controller_Board.bootLoader_markAsMain("")' + boot_loader_id,
            type: 'PUT',
            headers: {
                "X-AUTH-TOKEN": getCookie("authToken"),
                "Content-Type": "application/json"
            },

            success: function(data, status) {
                $('#allBootloaderVersionsWrapper').load(document.URL + ' #allBootloaderVersions');
            },
            error: function(data) {
                BootstrapDialog.show({
                    message: syntaxHighlight(data),
                    type: BootstrapDialog.TYPE_DANGER,
                    buttons: [{
                        label: 'Close',
                        action: function(dialogItself) {
                            dialogItself.close();
                        }
                    }]

                });
            }
        })
    }

    function setVersionAsMain(program_id, version_id) {

        $.ajax({
            url: '/c_program/default/mark/' + program_id + "/" + version_id,
            type: 'PUT',
            headers: {
                "X-AUTH-TOKEN": getCookie("authToken"),
                "Content-Type": "application/json"
            },

            success: function(data, status) {
                $('#allCProgramsVersionsWrapper').load(document.URL + ' #allCProgramsVersions');
            },

            error: function(data) {
                BootstrapDialog.show({
                    message: syntaxHighlight(data),
                    type: BootstrapDialog.TYPE_DANGER,
                    buttons: [{
                        label: 'Close',
                        action: function(dialogItself) {
                            dialogItself.close();
                        }
                    }]

                });
            }
        })
    }

    function createNewBootLoaderRecord() {
        $.ajax({
            url: '@routes.Controller_Board.bootLoader_create(typeOfBoard.id)',
            type: 'POST',
            contentType: 'application/json',
            headers: {
                "X-AUTH-TOKEN": getCookie("authToken"),
                "Content-Type": "application/json"
            },
            data: JSON.stringify($("#newBootLoaderForm").serializeObject()),
            dataType: 'json',

            success: function(data, status) {

                $("#newBootLoaderForm input[type=text]").val("");
                $("#newBootLoaderModal").modal('hide');
                $('#allBootloaderVersionsWrapper').load(document.URL + ' #allBootloaderVersions');

            },
            error: function(data) {

                BootstrapDialog.show({
                    message: syntaxHighlight(data),
                    type: BootstrapDialog.TYPE_DANGER,
                    buttons: [{
                        label: 'Close',
                        action: function(dialogItself) {
                            dialogItself.close();
                        }
                    }]

                });
            }
        })
    }

    function updateBootLoader(id) {
        $.ajax({
            url: '@routes.Controller_Board.bootLoader_update("")' + id,
            type: 'PUT',
            contentType: 'application/json',
            headers: {
                "X-AUTH-TOKEN": getCookie("authToken"),
                "Content-Type": "application/json"
            },
            data: JSON.stringify($("#editBootLoaderForm").serializeObject()),
            dataType: 'json',

            success: function(data, status) {

                $("#editBootLoaderForm input[type=text]").val("");
                $("#editBootLoaderModal").modal('hide');
                $('#allBootloaderVersionsWrapper').load(document.URL + ' #allBootloaderVersions');

            },
            error: function(data) {

                BootstrapDialog.show({
                    message: syntaxHighlight(data),
                    type: BootstrapDialog.TYPE_DANGER,
                    buttons: [{
                        label: 'Close',
                        action: function(dialogItself) {
                            dialogItself.close();
                        }
                    }]

                });
            }
        })
    }

    function deleteBootLoader(id) {
        $.ajax({
            url: '@routes.Controller_Board.bootLoader_delete("")' + id,
            type: 'DELETE',
            headers: {
                "X-AUTH-TOKEN": getCookie("authToken")
            },
            dataType: 'json',
            success: function(json) {
                $('#allBootloaderVersionsWrapper').load(document.URL + ' #allBootloaderVersions');
            },
            error: function(data) {
                BootstrapDialog.show({
                    message: syntaxHighlight(data),
                    type: BootstrapDialog.TYPE_DANGER,
                    buttons: [{
                        label: 'Close',
                        action: function(dialogItself) {
                            dialogItself.close();
                        }
                    }]

                });
            }
        })
    }

    function createNewCProgram() {

        $.ajax({
            url: '@routes.Controller_Code.c_program_createDefault()',
            type: 'POST',
            contentType: 'application/json',
            headers: {
                "X-AUTH-TOKEN": getCookie("authToken"),
                "Content-Type": "application/json"
            },
            data: JSON.stringify($("#newCProgramForm").serializeObject()),
            dataType: 'json',

            success: function(data, status) {

                $("#newCProgramForm input[type=text]").val("");
                $("#newCProgramModal").modal('hide');
                $('#firmware_summary_wrapper').load(document.URL + ' #firmware_summary');

            },
            error: function(data) {

                BootstrapDialog.show({
                    message: syntaxHighlight(data),
                    type: BootstrapDialog.TYPE_DANGER,
                    buttons: [{
                        label: 'Close',
                        action: function(dialogItself) {
                            dialogItself.close();
                        }
                    }]

                });
            }
        })
    }

    function editCProgram(c_program_id) {

        model_data = $("#editCProgramForm").serializeObject();

        $.ajax({
            url: '@routes.Controller_Code.c_program_update("")' + c_program_id,
            type: 'PUT',
            contentType: 'application/json',
            headers: {
                "X-AUTH-TOKEN": getCookie("authToken"),
                "Content-Type": "application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',

            success: function(data, status) {

                $("#editCProgramForm input[type=text]").val("");
                $("#editCProgramModal").modal('hide');
                $('#firmware_summary').load(document.URL + ' #firmware_summary');

            },
            error: function(data) {

                BootstrapDialog.show({
                    message: syntaxHighlight(data),
                    type: BootstrapDialog.TYPE_DANGER,
                    buttons: [{
                        label: 'Close',
                        action: function(dialogItself) {
                            dialogItself.close();
                        }
                    }]

                });
            }
        })
    }

    function createNewCProgramVersion(c_program_id) {

        model_data = $("#newCProgramVersionForm").serializeObject();

        $.ajax({
            url: '@routes.Controller_Code.c_programVersion_create("")' + c_program_id ,
            type: 'POST',
            contentType: 'application/json',
            headers: {
                "X-AUTH-TOKEN": getCookie("authToken"),
                "Content-Type": "application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',

            success: function(data, status) {

                $("#newCProgramVersionForm input[type=text]").val("");
                $("#newCProgramVersionModal").modal('hide');
                $('#allCProgramsVersionsWrapper').load(document.URL + ' #allCProgramsVersions');

            },
            error: function(data) {

                BootstrapDialog.show({
                    message: syntaxHighlight(data),
                    type: BootstrapDialog.TYPE_DANGER,
                    buttons: [{
                        label: 'Close',
                        action: function(dialogItself) {
                            dialogItself.close();
                        }
                    }]

                });
            }
        })
    }

    function uploadBootLoaderFile(boot_loader_id) {

        event.preventDefault();

        var file = $('#file').get(0).files[0];
        var formData = new FormData();
        formData.append('file', file);

        $.ajax({
            url: '@routes.Controller_Board.bootLoader_uploadFile("")' + boot_loader_id ,
            type: 'PUT',
            processData: false, // tell jQuery not to process the data
            contentType: false, // tell jQuery not to set contentType
            data: formData,

            headers: {
                "X-AUTH-TOKEN": getCookie("authToken"),
            },

            success: function(data, status) {

                $("#newFileModal").modal('hide')
                $('#allBootloaderVersionsWrapper').load(document.URL + ' #allBootloaderVersions');
            },
            error: function(jqXHR, textStatus, errorThrown) {

                BootstrapDialog.show({
                    message: syntaxHighlight(data),
                    type: BootstrapDialog.TYPE_DANGER,
                    buttons: [{
                        label: 'Close',
                        action: function(dialogItself) {
                            dialogItself.close();
                        }
                    }]

                });
            }

        })
    }

    function showPictureModal(id) {
        $("#pictureModal").css("display", "block");
        $('#uploadPictureButton').val(id);
    }

    function showPictureRemoveModal(id) {
        $("#pictureRemoveModal").css("display", "block");
        $('#removePictureButton').val(id);
    }

    function uploadPicture(id) {

        var model_data = new FormData($("#pictureForm")[0]);

        $.ajax({
            url: '@routes.Controller_Board.typeOfBoard_uploadPicture(typeOfBoard.id)',
            type: 'PUT',
            contentType: false,
            processData: false,
            headers: {
                "X-AUTH-TOKEN": getCookie("authToken")
            },
            data: model_data,
            dataType: 'json',

            success: function(json) {
                $("#pictureModal").css("display", "none");
                $('#picture_container').html("<img style='display: block; max-width: 100%; margin-right: auto; margin-left: auto;' src='" + json.picture_link + "'>");
                $('#showPictureRemoveModalButton').prop('disabled', false);
                $('#showPictureRemoveModalButton').removeClass('disabled');
            },
            error: function(data) {

                BootstrapDialog.show({
                    message: syntaxHighlight(data),
                    type: BootstrapDialog.TYPE_DANGER,
                    buttons: [{
                        label: 'Close',
                        action: function(dialogItself) {
                            dialogItself.close();
                        }
                    }]

                });
            }
        })
    }

    function removePicture() {
        $.ajax({
            url: '@routes.Controller_Board.typeOfBoard_removePicture(typeOfBoard.id)',
            type: 'PUT',
            headers: {
                "X-AUTH-TOKEN": getCookie("authToken")
            },
            dataType: 'json',
            success: function(data) {
                $("#pictureRemoveModal").css("display", "none");
                $('#picture_container').html("<p>Picture was deleted!</p>");
                $('#showPictureRemoveModalButton').prop('disabled', true);
                $('#showPictureRemoveModalButton').addClass('disabled');
            },
            error: function(data) {

                BootstrapDialog.show({
                    message: syntaxHighlight(data),
                    type: BootstrapDialog.TYPE_DANGER,
                    buttons: [{
                        label: 'Close',
                        action: function(dialogItself) {
                            dialogItself.close();
                        }
                    }]

                });
            }
        })
    }

</script>

