
@import models.compiler.Model_CompilationServer
@import models.project.b_program.servers.Model_HomerServer
@import utilities.enums.CLoud_Homer_Server_Type
@import utilities.Server

<section class="content-header">
    <h1> External Servers </h1>
    <ol class="breadcrumb">
        <li><a href="@routes.Controller_Dashboard.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
        <li class="active"><i class="fa fa-share"></i> Server Management </li>
        <li class="active"><i class="fa fa-wrench"></i> External Servers </li>
    </ol>
</section>

@*/*/*  CompilationServer -----------------------------------------------------------------------------------------  */*/*@

<section class="content">



    <div id="editCompilationServerModal" style="display: none;" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Type of Board</h4>
                </div>
                <div class="modal-body">
                    <form id="editCompilationServer">

                        <label id="typeOfBoardId" style="display: block">ID</label>
                        <label>Server name</label> <input style="display: block" type="text" name="name" >

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#editCompilationServerModal').css('display','none')">Close</button>
                    <button id="editCompilationServerButton" value="" class="btn btn-primary" type="button" onclick="editCompilationServer(this.value)">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <div id="createCompilationServerModal" style="display: none;" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create new Compilation Server</h4>
                </div>
                <div class="modal-body">
                    <form id="newCompilationServer">
                        <label>Server name</label>            <input type="text" name="personal_server_name" >
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#createCompilationServerModal').css('display','none')">Close</button>
                    <button id="createCompilationServerButton" value="" class="btn btn-primary" type="button" onclick="newCompilationServer()">Save changes</button>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Compilation Servers </h3>
                    <div class="pull-right">
                        <div class="btn-group">
                            <td><button class="btn btn-block btn-info" type="button" onclick="showCreateFormCompilationServer()">Create New One</button></td>
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>
                <div class="box-body">
                    <table id="allCompilationServers" class="table table-bordered">
                        <tr>
                            <th>Name</th>
                            <th>Unique identificator</th>
                            <th>Hash Certificate</th>
                            <th>Server address</th>
                            <th>Online</th>
                            <th>EDIT</th>
                            <th>DELETE</th>
                        </tr>

                        @for(compilation_server <- Model_CompilationServer.find.all()) {
                            <tr>
                                <td>@compilation_server.personal_server_name</td>
                                <td>@compilation_server.unique_identificator</td>
                                <td>@compilation_server.hash_certificate</td>
                                <td>@compilation_server.server_url</td>
                                @if(compilation_server.server_is_online() == true){
                                    <td><span class="label label-success">Online</span></td>
                                }else{
                                    <td><span class="label label-danger">Offline</span></td>
                                }
                                <td><button class="btn btn-block btn-info" type="button" onclick="showEditFormCompilationServer('@compilation_server.unique_identificator', '@compilation_server.personal_server_name')">Edit</button></td>
                                <td><button class="btn btn-block btn-danger" type="button" onclick="deleteCompilationServer(@compilation_server.unique_identificator)">Delete</button></td>
                            </tr>
                        }

                    </table>
                </div>
                <div class="box-footer">
        </div>


            </div>
        </div>
    </div>
</section>


@*/*/*  HomerServer ---------------------------------------------------------------------------------------------   */*/*@

<section class="content">



    <div id="editHomerServerModal" style="display: none;" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Type of Board</h4>
                </div>
                <div class="modal-body">
                    <form id="editHomerServer">

                        <label>Server Name</label>
                        <input type="text" class="form-control" id="personal_server_name"  name="personal_server_name" readonly>
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                            <label style="">MQTT Port:</label>
                            <input type="text" class="form-control" id="mqtt_port"  name="mqtt_port">

                            <label style="">MQTT UserName:</label>
                            <input type="text" class="form-control" id="mqtt_username"  name="mqtt_username">

                            <label style="">MQTT Password:</label>
                            <input type="text" class="form-control" id="mqtt_username"  name="mqtt_password">
                        </div>

                        <div class="form-group">
                        </div>

                        <label style="">Grid Port:</label>
                        <input type="text" class="form-control" id="grid_port"  name="grid_port">

                        <label style="">Becki - WebView and Remote control Port:</label>
                        <input type="text" class="form-control" id="webView_port"  name="webView_port">



                        <label style="">Server Url:</label>
                        <input type="text" class="form-control" id="server_url"  name="server_url">


                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#editHomerServerModal').css('display','none')">Close</button>
                    <button id="editHomerServerButton" value="" class="btn btn-primary" type="button" onclick="editHomerServer(this.value)">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <div id="createHomerServerModal" style="display: none;" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create new Homer Server</h4>
                </div>
                <div class="modal-body">
                    <form id="newHomerServer">

                        <label>Server name</label>
                        <input type="text" class="form-control" name="personal_server_name" >

                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#createHomerServerModal').css('display','none')">Close</button>
                    <button id="createHomerServerButton" value="" class="btn btn-primary" type="button" onclick="newHomerServer()">Save changes</button>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Byzance Main and Beckup Homer Servers</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                            <td><button class="btn btn-block btn-info" type="button" onclick="showCreateFormHomerServer()">Create New One</button></td>
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>
                <div class="box-body">

                    <table id="allHomerServers" class="table table-bordered">

                        <tr>
                            <th>Name</th>
                            <th>Unique identificator</th>
                            <th>Server address</th>
                            <th>Online</th>
                            <th>Type</th>
                            <th>EDIT</th>

                        </tr>

                        @for(homer_server <- Model_HomerServer.find.where.disjunction().eq("server_type",CLoud_Homer_Server_Type.backup_server).eq("server_type",CLoud_Homer_Server_Type.main_server).endJunction().findList() ) {
                            <tr>
                                <td>@homer_server.personal_server_name</td>
                                <td>@homer_server.unique_identificator</td>
                                <td>@homer_server.server_url</td>
                                @if(homer_server.server_is_online() == true){
                                    <td><span class="label label-success">Online</span></td>
                                }else{
                                    <td><span class="label label-danger">Offline</span></td>
                                }
                                <td>@homer_server.server_type</td>
                                <td><button class="btn btn-block btn-info" type="button" onclick="showEditFormHomerServer('@homer_server.unique_identificator','@homer_server.personal_server_name','@homer_server.mqtt_port', '@homer_server.mqtt_username','@homer_server.mqtt_password', '@homer_server.webView_port', '@homer_server.grid_port',  '@homer_server.server_url' )">Edit</button></td>
                            </tr>
                        }


                    </table>
                </div>
                <div class="box-footer">
        </div>


            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Byzance Homer Servers</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                            <td><button class="btn btn-block btn-info" type="button" onclick="showCreateFormHomerServer()">Create New One</button></td>
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>

                <ul class="nav nav-tabs">
                    <li class="active">     <a href="#tab_public"   data-toggle="tab">Public Byzance Servers</a></li>
                    <li>                    <a href="#tab_private"  data-toggle="tab">Private Customers Servers</a></li>
                    <li>                    <a href="#tab_test"     data-toggle="tab">Test & Develop Servers</a></li>

                    <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                </ul>

                <div class="tab-content">

                        <div class="tab-pane active" id="tab_public">
                            <div class="box-body">

                            <table id="allHomerServers" class="table table-bordered">

                                <tr>
                                    <th>Name</th>
                                    <th>Unique identificator</th>
                                    <th>Hash Certificate</th>
                                    <th>Server address</th>
                                    <th>Online</th>
                                    <th>EDIT</th>
                                </tr>

                                @for(homer_server <- Model_HomerServer.find.where().eq("server_type",CLoud_Homer_Server_Type.public_server).findList()) {
                                    <tr>
                                        <td>@homer_server.personal_server_name</td>
                                        <td>@homer_server.unique_identificator</td>
                                        <td>@homer_server.hash_certificate</td>
                                        <td>@homer_server.server_url</td>
                                        @if(homer_server.server_is_online() == true){
                                            <td><span class="label label-success">Online</span></td>
                                        }else{
                                            <td><span class="label label-danger">Offline</span></td>
                                        }
                                        <td><button class="btn btn-block btn-info" type="button" onclick="showEditFormHomerServer('@homer_server.unique_identificator','@homer_server.personal_server_name','@homer_server.mqtt_port', '@homer_server.mqtt_username','@homer_server.mqtt_password', '@homer_server.webView_port', '@homer_server.grid_port',  '@homer_server.server_url' )">Edit</button></td>
                                    </tr>
                                }
                            </table>

                            </div>
                        </div>

                        <div class="tab-pane" id="tab_private">
                            <div class="box-body">

                                <table id="allHomerServers" class="table table-bordered">

                                    <tr>
                                        <th>Name</th>
                                        <th>Unique identificator</th>
                                        <th>Hash Certificate</th>
                                        <th>Server address</th>
                                        <th>Online</th>
                                        <th>EDIT</th>
                                    </tr>

                                    @for(homer_server <- Model_HomerServer.find.where().eq("server_type", CLoud_Homer_Server_Type.private_server).findList()) {
                                        <tr>
                                            <td>@homer_server.personal_server_name</td>
                                            <td>@homer_server.unique_identificator</td>
                                            <td>@homer_server.hash_certificate</td>
                                            <td>@homer_server.server_url</td>
                                            @if(homer_server.server_is_online() == true){
                                                <td><span class="label label-success">Online</span></td>
                                            }else{
                                                <td><span class="label label-danger">Offline</span></td>
                                            }
                                            <td><button class="btn btn-block btn-info" type="button" onclick="showEditFormHomerServer('@homer_server.unique_identificator','@homer_server.personal_server_name','@homer_server.mqtt_port', '@homer_server.mqtt_username','@homer_server.mqtt_password', '@homer_server.webView_port', '@homer_server.grid_port',  '@homer_server.server_url' )">Edit</button></td>
                                           </tr>
                                    }


                                </table>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab_test">
                            <div class="box-body">

                                <table id="allHomerServers" class="table table-bordered">

                                    <tr>
                                        <th>Name</th>
                                        <th>Unique identificator</th>
                                        <th>Hash Certificate</th>
                                        <th>Server address</th>
                                        <th>Online</th>
                                        <th>EDIT</th>
                                        <th>DELETE</th>
                                    </tr>

                                    @for(homer_server <- Model_HomerServer.find.where().eq("server_type", CLoud_Homer_Server_Type.test_server).findList()) {
                                        <tr>
                                            <td>@homer_server.personal_server_name</td>
                                            <td>@homer_server.unique_identificator</td>
                                            <td>@homer_server.hash_certificate</td>
                                            <td>@homer_server.server_url</td>
                                            @if(homer_server.server_is_online() == true){
                                                <td><span class="label label-success">Online</span></td>
                                            }else{
                                                <td><span class="label label-danger">Offline</span></td>
                                            }
                                            <td><button class="btn btn-block btn-info" type="button" onclick="showEditFormHomerServer('@homer_server.unique_identificator','@homer_server.personal_server_name','@homer_server.mqtt_port', '@homer_server.mqtt_username','@homer_server.mqtt_password', '@homer_server.webView_port', '@homer_server.grid_port',  '@homer_server.server_url' )">Edit</button></td>
                                            <td><button class="btn btn-block btn-danger" type="button" onclick="deleteHomerServer(@homer_server.unique_identificator)">Delete</button></td>
                                        </tr>
                                    }


                                </table>
                            </div>
                        </div>
                </div>

                <div class="box-footer">
                </div>
            </div>
        </div>
    </div>
</section>



<script>

@*/*/*  CompilationServer ----------------------------------------------------------------------------------------   */*/*@

function newCompilationServer(){
    model_data = $("#newCompilationServer").serializeObject();
    $.ajax({
        url: '@routes.Controller_CompilationLibraries.create_Compilation_Server()',
        type: 'POST',
        contentType: 'application/json',
        headers: {
            "X-AUTH-TOKEN":getCookie("authToken"),
            "Content-Type":"application/json"
        },
        data: JSON.stringify(model_data),
        dataType: 'json',
        success:function(e){
            $("#newCompilationServer input[type=text]").val("");
            $("#createCompilationServerModal").css("display","none");
            $('#allCompilationServers').load(document.URL +  ' #allCompilationServers');
        },
        error:function(e) {
            BootstrapDialog.show({
                message: syntaxHighlight(e),
                type: BootstrapDialog.TYPE_DANGER,
                buttons: [{
                    label: 'Close',
                    action: function(dialogItself) {
                        dialogItself.close();
                    }
                }]

            });
        }
    })}

function editCompilationServer(id){
    model_data = $("#editCompilationServer").serializeObject();

    $.ajax({
        url: '@routes.Controller_CompilationLibraries.edit_Compilation_Server("")' + id,
        type: 'PUT',
        contentType: 'application/json',
        headers: {
            "X-AUTH-TOKEN":getCookie("authToken"),
            "Content-Type":"application/json"
        },
        data: JSON.stringify(model_data),
        dataType: 'json',
        success:function(e){
            $("#editCompilationServer input[type=text]").val("");
            $("#editCompilationServerModal").css("display","none");
            $('#allCompilationServers').load(document.URL +  ' #allCompilationServers');
        },
        error:function(e) {
            BootstrapDialog.show({
                message: syntaxHighlight(e),
                type: BootstrapDialog.TYPE_DANGER,
                buttons: [{
                    label: 'Close',
                    action: function(dialogItself) {
                        dialogItself.close();
                    }
                }]

            });
        }
    })}

function deleteCompilationServer(id){

    $.ajax({
        url: '@routes.Controller_CompilationLibraries.delete_Compilation_Server("")' + id,
        type: 'DELETE',
        headers: {
            "X-AUTH-TOKEN":getCookie("authToken"),
        },
        success:function(e){
            $('#allCompilationServers').load(document.URL +  ' #allCompilationServers');
        },
        error:function(e) {
            BootstrapDialog.show({
                message: syntaxHighlight(e),
                type: BootstrapDialog.TYPE_DANGER,
                buttons: [{
                    label: 'Close',
                    action: function(dialogItself) {
                        dialogItself.close();
                    }
                }]

            });
        }
    })}

function showEditFormCompilationServer(id, server_name, destination_address){
    $("#editCompilationServerModal").css("display","block");
    $('#editCompilationServerButton').val(id);
    $('#compilationServerId').text("ID = " + id);
    $("#editCompilationServer input[name=name]").val(server_name);
    $("#editCompilationServer input[name=destination_address]").val(destination_address);
}


function showCreateFormCompilationServer(){
    $("#createCompilationServerModal").css("display","block");
    $('#createCompilationServerButton').val();
    $("#newCompilationServer input[name=name]").val();
    $("#newtCompilationServer input[name=destination_address]").val();
}


@*/*/*  HomerServer ---------------------------------------------------------------------------------------------   */*/*@

function newHomerServer(){
    model_data = $("#newHomerServer").serializeObject();
    $.ajax({
        url: '@routes.Controller_ProgramingPackage.create_Homer_Server()',
        type: 'POST',
        contentType: 'application/json',
        headers: {
            "X-AUTH-TOKEN":getCookie("authToken"),
            "Content-Type":"application/json"
        },
        data: JSON.stringify(model_data),
        dataType: 'json',
        success:function(e){
            $("#newHomerServer input[type=text]").val("");
            $("#createHomerServerModal").css("display","none");
            location.reload();
        },
        error:function(e) {
            BootstrapDialog.show({
                message: syntaxHighlight(e),
                type: BootstrapDialog.TYPE_DANGER,
                buttons: [{
                    label: 'Close',
                    action: function(dialogItself) {
                        dialogItself.close();
                    }
                }]

            });
        }
    })}

function editHomerServer(id){
    model_data = $("#editHomerServer").serializeObject();

    $.ajax({
        url: '@routes.Controller_ProgramingPackage.edit_Homer_Server("")' + id,
        type: 'PUT',
        contentType: 'application/json',
        headers: {
            "X-AUTH-TOKEN":getCookie("authToken"),
            "Content-Type":"application/json"
        },
        data: JSON.stringify(model_data),
        dataType: 'json',
        success:function(e){
            $("#editHomerServer input[type=text]").val("");
            $("#editHomerServerModal").css("display","none");
            location.reload();
        },
        error:function(e) {
            BootstrapDialog.show({
                message: syntaxHighlight(e),
                type: BootstrapDialog.TYPE_DANGER,
                buttons: [{
                    label: 'Close',
                    action: function(dialogItself) {
                        dialogItself.close();
                    }
                }]

            });
        }
    })}

function deleteHomerServer(id){

    $.ajax({
        url: '@routes.Controller_ProgramingPackage.delete_Homer_Server("")' + id,
        type: 'DELETE',
        headers: {
            "X-AUTH-TOKEN":getCookie("authToken"),
        },
        success:function(e){
            $('#allHomerServers').load(document.URL +  ' #allHomerServers');
        },
        error:function(e) {
            BootstrapDialog.show({
                message: syntaxHighlight(e),
                type: BootstrapDialog.TYPE_DANGER,
                buttons: [{
                    label: 'Close',
                    action: function(dialogItself) {
                        dialogItself.close();
                    }
                }]

            });
        }
    })}

function showEditFormHomerServer(server_identificator, personal_server_name, mqtt_port, mqtt_username, mqtt_password, webView_port, grid_port, server_url){
    $("#editHomerServerModal").css("display","block");
    $('#editHomerServerButton').val(server_identificator);
    $('#compilationServerId').text("ID = " + server_identificator);

    $("#editHomerServer input[name=personal_server_name]").val(personal_server_name);
    $("#editHomerServer input[name=mqtt_port]").val(mqtt_port);
    $("#editHomerServer input[name=mqtt_username]").val(mqtt_username);
    $("#editHomerServer input[name=mqtt_password]").val(mqtt_password);
    $("#editHomerServer input[name=webView_port]").val(webView_port);
    $("#editHomerServer input[name=grid_port]").val(grid_port);
    $("#editHomerServer input[name=server_url]").val(server_url);

}


function showCreateFormHomerServer(){
    $("#createHomerServerModal").css("display","block");
    $('#createHomerServerButton').val();
    $("#newHomerServer input[name=name]").val();
    $("#newtHomerServer input[name=destination_address]").val();
}

</script>