@import models.Model_Invoice

@(invoice: Model_Invoice)

<section class="content-header">
    <h1> Invoice </h1>
    <ol class="breadcrumb">
        <li><a href="@routes.Controller_Dashboard.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
        <li><a href="/admin/helpdesk_tool?email=@invoice.getProduct.payment_details.invoice_email"><i class="fa fa-wrench"></i> Helpdesk Tool </a></li>
        <li><a href="@routes.Controller_Dashboard.product_detail(invoice.getProduct.id)"><i class="fa fa-wrench"></i> @invoice.getProduct.name </a></li>
        <li class="active"><i class="fa fa-money"></i>  Invoice - @invoice.invoice_number </li>
    </ol>
</section>

<section class="invoice">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-money"></i> @invoice.invoice_number
                <small class="pull-right">Created: @invoice.created</small>
            </h2>
        </div>
    </div>
    <div class="row invoice-info">
        <div class="col-sm-6 invoice-col">
            <address>
                @if(invoice.getProduct.payment_details.company_account){
                    <strong>@invoice.getProduct.payment_details.company_name</strong><br>
                } else {
                    <strong>@invoice.getProduct.payment_details.full_name</strong><br>
                }
                @invoice.getProduct.payment_details.street @invoice.getProduct.payment_details.street_number<br>
                @invoice.getProduct.payment_details.city @invoice.getProduct.payment_details.zip_code<br>
                <br>
                Email: @invoice.getProduct.payment_details.invoice_email<br>
                @if(invoice.getProduct.payment_details.company_account){
                    VAT no: @invoice.getProduct.payment_details.company_vat_number<br>
                    REG no: @invoice.getProduct.payment_details.company_registration_no<br>
                    web: @invoice.getProduct.payment_details.company_web<br>
                    Phone: @invoice.getProduct.payment_details.company_authorized_phone
                }
            </address>
        </div>
        <div class="col-sm-6 invoice-col">
            <b>Status: </b>
            @if(invoice.status.name() == "paid"){
                <small class="label bg-green">Paid</small><br>
            }
            @if(invoice.status.name() == "pending"){
                <small class="label bg-orange">Pending</small><br>
            }
            @if(invoice.status.name() == "overdue"){
                <small class="label bg-red">Overdue</small><br>
            }
            @if(invoice.status.name() == "canceled"){
                <small class="label bg-yellow">Canceled</small><br>
            }
            <b>Fakturoid ID:</b> @invoice.fakturoid_id<br>
            <b>GoPay ID:</b> @invoice.gopay_id<br>
            <b>Payment Due:</b> @invoice.overdue<br>
            <b>Paid (date):</b> @invoice.paid<br>
            <b>Proforma:</b> @invoice.proforma

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Qty</th>
                        <th>Unit</th>
                        <th>Product</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    @for(invoice_item <- invoice.getInvoiceItems) {
                        <tr>
                            <td>@invoice_item.quantity</td>
                            <td>@invoice_item.unit_name</td>
                            <td>@invoice_item.name</td>
                            <td>$@invoice_item.unit_price</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <p class="lead">Payment Methods:</p>
            <p>@invoice.payment_method()</p>
        </div>
        <div class="col-xs-6">
            <p class="lead">Amount Due @invoice.overdue</p>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Total:</th>
                            <td>$@invoice.total_price()</td>
                        </tr>
                    </tbody></table>
            </div>
        </div>
    </div>
    <div class="row no-print">
        <div class="col-xs-12">
            <button class="btn btn-primary pull-right" style="margin-right: 5px;" type="button">
                <i class="fa fa-download"></i> Download PDF
            </button>
        </div>
    </div>
</section>

<div class="clearfix"></div>

<div id="invoiceModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="invoiceModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="invoiceModalTitle" class="modal-title">Invoice</h4>
            </div>
            <div class="modal-body">
                <form id="invoice">

                </form>
                <div id="invoiceModalMessage" style="display: none"><p class="text-red"></p></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-success" type="button" onclick="importLibrary()">Import</button>
            </div>
        </div>
    </div>
</div>

<script>
        function openInvoice(id){
            $.ajax({
                url: '/c_program/' + id,
                type: 'GET',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },
                dataType: 'json',
                success:function(json){
                    openCProgram(json);
                },
                error:function(e) {
                    alert(JSON.stringify(JSON.parse(e.responseText).message));
                }
            });
        }
</script>