@import models.Model_Product

@(product: Model_Product)

<section class="content-header">
    <h1> @product.name : ID: @product.subscription_id  </h1>
    <ol class="breadcrumb">
        <li><a href="@routes.Controller_Dashboard.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
        <li class="active"><i class="fa fa-wrench"></i> Helpdesk Tool </li>
        <li class="active"><i class="fa fa-wrench"></i> @product.name : ID: @product.subscription_id </li>
    </ol>

</section>

<section class="content">

    <div class="row">

        <div class="col-md-12">
            <div class="box box-default">

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#product_details" data-toggle="tab">Product Details</a></li>
                        <li><a href="#extensions" data-toggle="tab">Extensions</a></li>
                        <li><a href="#invoices" data-toggle="tab">Invoices</a></li>
                        <li><a href="#projects" data-toggle="tab">Project</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Dropdown <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                            </ul>
                        </li>
                        <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                    </ul>
                    <div class="tab-content">

                        <div class="tab-pane active" id="product_details">

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="box box-default">
                                        <table class="table table-bordered table-hover">
                                            <tr>
                                                <td>Individual name</td>
                                                <td>@product.name</td>
                                            </tr>

                                            <tr>
                                                <td>Is Active</td>
                                                <td>@product.active</td>
                                            </tr>

                                            <tr>
                                                <td>General Tariff Name</td>
                                                <td>@product.tariff.name</td>
                                            </tr>

                                            <tr>
                                                <td>Payment Mode</td>
                                                <td>@product.mode.name()</td>
                                            </tr>

                                            <tr>
                                                <td>Payment Method</td>
                                                <td>@product.method.name()</td>
                                            </tr>

                                            <tr>
                                                <td>Subscription ID</td>
                                                <td>@product.subscription_id</td>
                                            </tr>

                                            <tr>
                                                <td>Fakturoid ID</td>
                                                <td>@product.fakturoid_subject_id</td>
                                            </tr>

                                            <tr>
                                                <td>GoPay ID</td>
                                                <td>@product.gopay_id</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="box box-warning">

                                        <table class="table table-bordered table-hover">
                                            <tr>
                                                <td>Remaing Credit</td>
                                                <td>@product.remaining_credit</td>
                                            </tr>

                                            <tr>
                                                <td>Paid until</td>
                                                <td>TODO</td>
                                            </tr>

                                            <tr>
                                                <td>Currency</td>
                                                <td>TODO</td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="box box-success">


                                            <table class="table table-bordered table-hover">
                                                @if(product.payment_details.company_account == true) {
                                                    <tr>
                                                        <td>Owner</td>
                                                        <td>@product.payment_details.person.mail</td>
                                                    </tr>

                                                    <tr>
                                                        <td>Company Name</td>
                                                        <td>@product.payment_details.company_name</td>
                                                    </tr>

                                                    <tr>
                                                        <td>Authorized Email</td>
                                                        <td>@product.payment_details.company_authorized_email</td>
                                                    </tr>

                                                    <tr>
                                                        <td>Authorized Phone</td>
                                                        <td>@product.payment_details.company_authorized_phone</td>
                                                    </tr>

                                                    <tr>
                                                        <td>Company Web</td>
                                                        <td>@product.payment_details.company_web</td>
                                                    </tr>

                                                    <tr>
                                                        <td>Registration Number</td>
                                                        <td>@product.payment_details.company_registration_no</td>
                                                    </tr>

                                                    <tr>
                                                        <td>Vat Number</td>
                                                        <td>@product.payment_details.company_vat_number</td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td>Invoice EMail</td>
                                                    <td>@product.payment_details.invoice_email</td>
                                                </tr>
                                                <tr>
                                                    <td>Street</td>
                                                    <td>@product.payment_details.street</td>
                                                </tr>
                                                <tr>
                                                    <td>Steet Number</td>
                                                    <td>@product.payment_details.street_number</td>
                                                </tr>
                                                <tr>
                                                    <td>City</td>
                                                    <td>@product.payment_details.city</td>
                                                </tr>
                                                <tr>
                                                    <td>Zip Code</td>
                                                    <td>@product.payment_details.zip_code</td>
                                                </tr>
                                                <tr>
                                                    <td>Country</td>
                                                    <td>@product.payment_details.country</td>
                                                </tr>


                                            </table>

                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="tab-pane" id="extensions">

                            <table id="role_table" class="table table-bordered table-hover">

                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>Active</th>
                                </tr>

                                @for( extension <- product.extensions) {
                                    <tr>
                                        <td>@extension.id</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>@extension.active</td>
                                        <td><button value="" class="btn btn-primary" type="button" onclick="">Open</button></td>
                                    </tr>
                                }
                            </table>

                        </div>


                        <div class="tab-pane" id="invoices">
                            <div class="box-body">

                                    <table id="invoice_table" class="table table-bordered table-hover">

                                        <tr>
                                            <th>DB ID</th>
                                            <th>Date</th>

                                            <th>Fakturoid ID</th>
                                            <th>Invoice number</th>

                                            <th>Go Pay ID</th>
                                            <th>Go Pay ON</th>

                                            <th>Proforma</th>

                                            <th>Status</th>
                                            <th>Payment Method</th>

                                            <th>Setting</th>
                                        </tr>

                                        @for( invoice <- product.invoices ) {
                                            <tr>
                                                <td>@invoice.id</td>
                                                <td>@invoice.created</td>

                                                <td>@invoice.facturoid_invoice_id</td>
                                                <td>@invoice.invoice_number</td>

                                                <td>@invoice.gopay_id</td>
                                                <td>@invoice.gopay_order_number</td>

                                                <td>@invoice.proforma</td>

                                                <td>@invoice.status.name()</td>
                                                <td>@invoice.method.name()</td>

                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                            <span class="caret"></span>
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li><a href="#">Remove</a></li>
                                                            <li><a href="#">Mark As Paid</a></li>
                                                            <li><a href="#">Edit Invoice</a></li>
                                                            @if(invoice.facturoid_pdf_url != null) {
                                                                <li class="divider"></li>
                                                                <li>
                                                                    <a href="/invoice/pdf/@invoice.id" target="_blank">Download Invoice</a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>

                                                </td>

                                            </tr>
                                        }

                                    </table>

                            </div>
                        </div>



                        <div class="tab-pane" id="projects">

                            <table id="role_table" class="table table-bordered table-hover">

                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Settings</th>
                                </tr>

                                @for( project <- product.projects) {
                                    <tr>
                                        <td>@project.id</td>
                                        <td>@project.name</td>
                                        <td><button value="" class="btn btn-primary" type="button" onclick="">Open</button></td>
                                    </tr>
                                }
                            </table>

                        </div>
                            <!-- /.tab-pane -->
                    </div>
                        <!-- /.tab-content -->
                </div>

            </div>
        </div>

    </div>
</section>

