@import models.Model_Project
@import utilities.Server

@(project: Model_Project)

<section class="content-header">
    <h1> @project.name </h1>
    <ol class="breadcrumb">
        <li><a href="@routes.Controller_Dashboard.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
        <li><a href="/admin/helpdesk_tool?email=@project.product.payment_details.invoice_email"><i class="fa fa-wrench"></i> Helpdesk Tool </a></li>
        <li><a href="@routes.Controller_Dashboard.product_detail(project.product.id)"><i class="fa fa-wrench"></i> @project.product.name </a></li>
        <li class="active"><i class="fa fa-wrench"></i> @project.name </li>
    </ol>
</section>

<section class="content">
<div class="row">
    <div class="col-md-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#b_programs" data-toggle="tab">B Programs</a></li>
                <li><a href="#c_programs" data-toggle="tab">C Programs</a></li>
                <li><a href="#m_projects" data-toggle="tab">M Projects</a></li>
                <li><a href="#type_of_blocks" data-toggle="tab">Types of Block</a></li>
                <li><a href="#type_of_widgets" data-toggle="tab">Types of Widgets</a></li>
                <li><a href="#boards" data-toggle="tab">Boards</a></li>
                <li><a href="#invitations" data-toggle="tab">Invitations</a></li>
                <li><a href="#participants" data-toggle="tab">Participants</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="b_programs">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">B Programs</h3>
                        </div>
                            <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Homer instance</th>
                                        <th>Versions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for(b_program <- project.b_programs){
                                    <tr>
                                        <td>@b_program.id</td>
                                        <td>@b_program.name</td>
                                        <td>@b_program.description</td>
                                        <td><button class="btn btn-default" type="button">Open instance</button></td>
                                        <td><button class="btn btn-default" type="button">Open program</button></td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="c_programs">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">C Programs</h3>
                        </div>
                            <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Type of Board</th>
                                        <th>Versions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for(c_program <- project.c_programs){
                                    <tr>
                                        <td>@c_program.id</td>
                                        <td>@c_program.name</td>
                                        <td>@c_program.description</td>
                                        <td>@c_program.type_of_board_name()</td>
                                        <td><button class="btn btn-default" type="button">Open program</button></td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="m_projects">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">M Projects</h3>
                        </div>
                            <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for(m_project <- project.m_projects){
                                    <tr>
                                        <td>@m_project.id</td>
                                        <td>@m_project.name</td>
                                        <td>@m_project.description</td>
                                        <td><button class="btn btn-default" type="button">Details</button></td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="type_of_blocks">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Types of Block</h3>
                        </div>
                            <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for(type_of_block <- project.type_of_blocks){
                                    <tr>
                                        <td>@type_of_block.id</td>
                                        <td>@type_of_block.name</td>
                                        <td>@type_of_block.description</td>
                                        <td><button class="btn btn-default" type="button">Details</button></td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="type_of_widgets">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Types of Widget</h3>
                        </div>
                            <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for(type_of_widget <- project.type_of_widgets){
                                    <tr>
                                        <td>@type_of_widget.id</td>
                                        <td>@type_of_widget.name</td>
                                        <td>@type_of_widget.description</td>
                                        <td><button class="btn btn-default" type="button">Details</button></td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="boards">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Boards</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Type of Board</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for(board <- project.boards){
                                    <tr>
                                        <td>@board.id</td>
                                        <td>@board.mac_address</td>
                                        <td>@board.personal_description</td>
                                        <td>@board.type_of_board_name()</td>
                                        <td>
                                            <a href=""><button class="btn btn-xs btn-primary btn-block" type="button" title="Open Board"><i class="fa fa-wrench"></i></button></a>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="invitations">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Invitations</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Mail</th>
                                        <th>Date</th>
                                        <th>Action 1</th>
                                        <th>Action 2</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for(invitation <- project.invitations){
                                    <tr>
                                        <td>@invitation.id</td>
                                        <td>@invitation.mail</td>
                                        <td>@invitation.date_of_creation</td>
                                        <td><button class="btn btn-default" type="button">Open instance</button></td>
                                        <td><button class="btn btn-default" type="button">Open program</button></td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="participants">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Participants</h3>
                        </div>
                            <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Mail</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Detail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for(participant <- project.participants){
                                    <tr>
                                        <td>@participant.id</td>
                                        <td>@participant.user_email()</td>
                                        <td>@participant.full_name()</td>
                                        <td>@participant.state.name()</td>
                                        <td>
                                            <a href="/admin/helpdesk_tool?email=@participant.user_email()"><button class="btn btn-xs btn-primary btn-block" type="button" title="Open Person"><i class="fa fa-wrench"></i></button></a>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<script>

    function deleteProject(id){

        $.ajax({
            url: '@routes.Controller_Project.project_delete("")' + id  ,
            type: 'DELETE',
            headers: {
                "X-AUTH-TOKEN":getCookie("authToken")
            },
            dataType: 'json',
            success:function(e){
                $('#projects').load(document.URL +  ' #projectsInner');
            },
            error:function(e) {
                alert("Unsuccessful");
            }
        })
    }

</script>