@import models.Model_Person
@import models.Model_Product
@import utilities.enums.Enum_Payment_method
@import utilities.Server

@(person: Model_Person)

<section class="content-header">
    <h1> User Summary </h1>
    <ol class="breadcrumb">
        <li><a href="@routes.Controller_Dashboard.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
        <li class="active"><i class="fa fa-wrench"></i> Helpdesk Tool </li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="box box-warning">
                <div id="person_find" class="box-body box-profile">
                    <h3 class="profile-username text-center">Find Person</h3>
                    <form onsubmit="findPerson(); return false;" id="findPerson">
                        <input type="email" class="form-control form-group" id="findPersonEmail" placeholder="Enter email">
                        <input class="btn btn-block btn-primary" type="submit" value="Find">
                    </form>
                </div>
            </div>
            <div id="personWrapper" class="box box-primary">
                <div id="person" class="box-body box-profile">
                    <h3 class="profile-username text-center">@person.full_name</h3>
                    <p class="text-muted text-center">@person.mail </p>
                    @if(person.mailValidated){
                        <p class="text-green text-center">  Validated </p>
                    }else{
                        <p class="text-red text-center">   Not Validated </p>
                    }
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Nick name</b> <a class="pull-right">@person.nick_name</a>
                        </li>
                        <li class="list-group-item">
                            <b>ID</b> <a class="pull-right">@person.id</a>
                        </li>
                    </ul>
                    <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#editPersonModal"> <b>Edit Information</b> </button>
                    <a onclick="removeAllTokensPerson('@person.id')" class="btn btn-warning btn-block"><b>Remove all Tokens</b></a>
                    @if(!person.freeze_account){
                        <a onclick="deactivatePerson('@person.id')" class="btn btn-warning btn-block"><b>Freeze Account</b></a>
                    }else{
                        <a onclick="activatePerson('@person.id')"  class="btn btn-success btn-block"><b>Unfreeze Account</b></a>
                    }
                    @if(!person.mailValidated){
                        <a onclick="validPerson('@person.id')"  class="btn btn-success btn-block"><b>Valid Account</b></a>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Person Products</h3>
                    <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#newProductModal"> Create new one </button>
                </div>
                <div class="box-body table-responsive no-padding">
                    <div id="products">
                        <table id="products_table" class="table table-bordered">
                            <tr>
                                <th>Name</th>
                                <th>Active</th>
                                <th>Method</th>
                                <th>Subs. Id</th>
                                <th>Fakturoid ID</th>
                                <th>Go Pay ID</th>
                                <th>Rem. Credit</th>
                                <th>Paid until</th>
                                <th>Open</th>
                            </tr>
                            @for( product <- Model_Product.get_byOwner(person.id)) {
                                <tr>
                                    <td> @product.name</td>
                                    <td> @product.active</td>
                                    <td> @product.method.name()</td>
                                    <td> @product.subscription_id</td>
                                    <td> @product.fakturoid_subject_id</td>
                                    <td> @product.gopay_id</td>
                                    <td> @product.double_credit()</td>
                                    <td> TODO </td>
                                    <td align="center">
                                        <a href='@routes.Controller_Dashboard.product_detail(product.id)'><button class="btn btn-block btn-info btn-xs" type="button">Open</button></a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  Modals ####################################################################################################### -->

<div id="newProductModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newProductModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="newProductModalTitle" class="modal-title">New Product</h4>
            </div>
            <div class="modal-body">
                <form id="newProductForm">
                    <select name="tariff_id" class="form-control form-group select2" title="Tariff">
                        <option selected="selected" disabled>Choose tariff</option>
                        @for(tariff <- Model_Tariff.find.where().eq("active", true).order().asc("order_position").findList()){
                            <option value="@tariff.id">@tariff.name</option>
                        }
                    </select>
                    <input type="text" class="form-control form-group" name="name" placeholder="Name of product">
                    <select name="payment_method" class="form-control form-group select2" title="Payment method">
                        <option selected="selected" disabled>Choose method</option>
                        @for(method <- Enum_Payment_method.values()){
                            <option value="@method.name()">@method.name()</option>
                        }
                    </select>
                    <div class="box-group" id="accordion">
                        <div class="panel box">
                            <div class="box-header with-border">
                                <h4 class="box-title">
                                    <a class="collapsed" aria-expanded="false" href="#collapsePersonal" data-toggle="collapse" data-parent="#accordion">
                                        Personal details
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapsePersonal" aria-expanded="false">
                                <div class="box-body">
                                    <input type="text" class="form-control form-group" name="full_name" placeholder="Full name of user">
                                    <input type="text" class="form-control form-group" name="invoice_email" placeholder="Invoice email">
                                    <input type="text" class="form-control form-group" name="street" placeholder="Street">
                                    <input type="text" class="form-control form-group" name="street_number" placeholder="Street number">
                                    <input type="text" class="form-control form-group" name="city" placeholder="City">
                                    <input type="text" class="form-control form-group" name="zip_code" placeholder="ZIP code">
                                    <input type="text" class="form-control form-group" name="country" placeholder="Country">
                                </div>
                            </div>
                        </div>
                        <div class="panel box">
                            <div class="box-header with-border">
                                <h4 class="box-title">
                                    <a class="collapsed" aria-expanded="false" href="#collapseCompany" data-toggle="collapse" data-parent="#accordion">
                                        Company details
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapseCompany" aria-expanded="false">
                                <div class="box-body">
                                    <input type="text" class="form-control form-group" name="vat_number" placeholder="VAT number">
                                    <input type="text" class="form-control form-group" name="registration_no" placeholder="REG number">
                                    <input type="text" class="form-control form-group" name="company_name" placeholder="Name of company ">
                                    <input type="text" class="form-control form-group" name="company_authorized_email" placeholder="Company email">
                                    <input type="text" class="form-control form-group" name="company_authorized_phone" placeholder="Company phone">
                                    <input type="text" class="form-control form-group" name="company_web" placeholder="Web">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button value="" class="btn btn-success" type="button" onclick="newProduct()">Create</button>
            </div>
        </div>
    </div>
</div>

<div id="editPersonModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editPersonModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="editPersonModalTitle" class="modal-title">Edit Person</h4>
            </div>
            <div class="modal-body">
                <form id="editPerson">
                    <input class="form-control form-group" type="text" name="full_name" title="Full name" value="@person.full_name">
                    <input class="form-control form-group" type="text" name="nick_name" title="Nick name" value="@person.nick_name">
                    <input class="form-control form-group" type="text" name="country" title="Country" value="@person.country">
                    <input class="form-control form-group" type="text" name="gender" title="Gender" value="@person.gender">
                </form>
                <div id="editPersonModalMessage" style="display: none"><p class="text-red"></p></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="button" onclick="editPerson()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--  JavaScript ################################################################################################### -->

<script>

    var tariffs = [];

    var person_id = '@person.id';

    function findPerson() {
        window.location.href = "@Server.tyrion_serverAddress/admin/helpdesk_tool?email=" + $('#findPersonEmail').val();
    }

    function getTariffs() {

        $.ajax({
            url: '/tariff',
            type: 'GET',
            headers: {
                "X-AUTH-TOKEN":getCookie("authToken")
            },
            success:function(json){
                tariffs = json;
            },
            error:function(e) {
                alert("Unable to load tariffs, creating new product will probably fail.");
            }
        })
    }

    function newProduct() {

        var model_data = $("#newProductForm").serializeObject();
        model_data.person_id = person_id;

        $.ajax({
            url: '@routes.Controller_Finance.product_create()' ,
            type: 'POST',
            contentType: 'application/json',
            headers: {
                "X-AUTH-TOKEN":getCookie("authToken"),
                "Content-Type":"application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',
            success:function(e){
                $("#newProductModalMessage").css("display", "none");
                $("#newProductModal").modal('hide');
                $('#products').load(document.URL +  ' #products_table');
            },
            error:function(e) {
                $("#newProjectModalMessage").css("display", "block");
                $("#newProjectModalMessage p").text(JSON.parse(e.responseText).message).append(JSON.stringify(JSON.parse(e.responseText).exception));
            }
        })
    }

    function editPerson(){
        $.ajax({
            url: "/person/" + person_id ,
            type: 'PUT',
            contentType: 'application/json',
            headers: {
                "X-AUTH-TOKEN":getCookie("authToken"),
                "Content-Type":"application/json"
            },
            data: JSON.stringify($("#editPerson").serializeObject()),
            dataType: 'json',
            success:function(e){
                $("#editPersonModal").modal('hide');
                $('#personWrapper').load(document.URL +  ' #person');
            },
            error:function(e) {
                $("#editPersonModalMessage").css("display", "block");
                $("#editPersonModalMessage p").text(JSON.parse(e.responseText).message).append(JSON.stringify(JSON.parse(e.responseText).exception));
            }
        })
    }

    function deletePerson(id){

        $.ajax({
            url: "/person/" + id ,
            type: 'DELETE',
            headers: {
                "X-AUTH-TOKEN":getCookie("authToken")
            },
            success:function(e){
                $('#allCompilationServers').load(document.URL +  ' #allCompilationServers');
            },
            error:function(e) {
                alert(JSON.stringify(JSON.parse(e.responseText).message));
            }
        })
    }

    function deactivatePerson(id){

        $.ajax({
            url: "/person/deactivate/" + id ,
            type: 'PUT',
            headers: {
                "X-AUTH-TOKEN":getCookie("authToken")
            },
            success:function(e){
                $('#personWrapper').load(document.URL +  ' #person');
            },
            error:function(e) {
                alert(JSON.stringify(JSON.parse(e.responseText).message));
            }
        })
    }

    function activatePerson(id){

        $.ajax({
            url: "/person/activate/" + id ,
            type: 'PUT',
            headers: {
                "X-AUTH-TOKEN":getCookie("authToken")
            },
            success:function(e){
                $('#personWrapper').load(document.URL +  ' #person');
            },
            error:function(e) {
                alert(JSON.stringify(JSON.parse(e.responseText).message));
            }
        })
    }

    function validPerson(id){

        $.ajax({
            url: "/person/valid_email/" + id ,
            type: 'PUT',
            headers: {
                "X-AUTH-TOKEN":getCookie("authToken")
            },
            success:function(e){
                $('#personWrapper').load(document.URL +  ' #person');
            },
            error:function(e) {
                alert(JSON.stringify(JSON.parse(e.responseText).message));
            }
        })
    }

    function removeAllTokensPerson(id){
        $.ajax({
            url: "/person/connections/" + id ,
            type: 'DELETE',
            headers: {
                "X-AUTH-TOKEN":getCookie("authToken")
            },
            success:function(e){
                $('#personWrapper').load(document.URL +  ' #person');
            },
            error:function(e) {
                alert(JSON.stringify(JSON.parse(e.responseText).message));
            }
        })
    }

</script>