@import models.compiler.Model_Board
@import models.person.Model_Person
@import models.project.global.Model_Product
@import models.project.global.Model_Project
@import models.project.global.financial.{Model_Invoice, Model_InvoiceItem}
@import utilities.Server

@(person: Model_Person)

<section class="content-header">
    <h1> User Summary </h1>
    <ol class="breadcrumb">
        <li><a href="@routes.Controller_Dashboard.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
        <li class="active"><i class="fa fa-wrench"></i> Helpdesk Tool </li>
    </ol>
</section>


<section class="content">


    <div class="row">
        <div class="col-md-3">

                <div class="box box-warning">
                    <div id="person_find" class="box-body box-profile">

                            <h3 class="profile-username text-center">Find Person</h3>

                            <form id="findPerson")>
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter email">
                            </form>
                            <p></p>
                            <button id="findPersonButton" value="" class="btn btn-block" type="button" onclick="findPerson()">Find</button>

                            <script>
                                function findPerson(){
                                    var mail = document.getElementById("findPerson").elements.namedItem("exampleInputEmail").value;
                                    window.location.replace("@Server.tyrion_serverAddress" + "/admin/user_summary/" + mail );
                                }
                            </script>
                    </div>
                </div>


                <div class="box box-primary">
                        <div id="person_detail" class="box-body box-profile">

                            @for( edit_person <- Model_Person.find.where().eq("id", person.id).findList ){

                                <h3 class="profile-username text-center">@edit_person.full_name</h3>

                                <p class="text-muted text-center">@edit_person.mail </p>

                                @if(edit_person.mailValidated){
                                    <p class="text-green text-center">  Validated </p>
                                }else{
                                    <p class="text-red text-center">   Not Validated </p>
                                }

                                <ul class="list-group list-group-unbordered">
                                    <li class="list-group-item">
                                        <b>Nick name</b> <a class="pull-right">@edit_person.nick_name</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>ID</b> <a class="pull-right">@edit_person.id</a>
                                    </li>
                                </ul>

                                <a onclick="showEditFormPerson('@edit_person.id', '@edit_person.full_name', '@edit_person.nick_name', '@edit_person.mail')" class="btn btn-primary btn-block"> <b>Edit Information</b> </a>

                                <a onclick="removeAllTokensPerson('@edit_person.id')" class="btn btn-warning btn-block"><b>Remove all Tokens</b></a>

                                @if(!edit_person.freeze_account){
                                    <a onclick="deactivatePerson('@edit_person.id')" class="btn btn-warning btn-block"><b>Freeze Account</b></a>
                                }else{
                                    <a onclick="activatePerson('@edit_person.id')"  class="btn btn-success btn-block"><b>Unfreeze Account</b></a>
                                }

                                @if(!edit_person.mailValidated){
                                    <a onclick="validPerson('@edit_person.id')"  class="btn btn-success btn-block"><b>Valid Account</b></a>
                                }
                            }


                        </div>
                        <!-- /.box-body -->
                 </div>

            </div>
        <div class="col-md-9">
            <div class="box">
            <div class="box-header">
                <h3 class="box-title">Person Products</h3>
                <div class="pull-right">
                    <div class="btn-group">
                            <!-- <button type="button" class="btn btn-danger btn-sm"> Disconnect All </button> -->
                    </div><!-- /.btn-group -->
                </div><!-- /.pull-right -->
            </div>

            <div class="box-body table-responsive no-padding">
                <div id="products">

                    <table id="products_table" class="table table-bordered">

                        <tr>
                            <th>Name</th>
                            <th>Active</th>
                            <th>Tariff Name</th>

                            <th>Mode </th>
                            <th>Method</th>

                            <th>Subs. Id</th>
                            <th>Fakturoid ID</th>
                            <th>Go Pay ID</th>

                            <th>Rem. Credit</th>

                            <th>Paid until</th>

                            <th>Open</th>
                        </tr>


                        @for( product <- Model_Product.get_byOwner(person.id)) {

                            <tr>
                                <td> @product.product_individual_name</td>
                                <td> @product.active</td>
                                <td> @product.general_tariff.tariff_name</td>

                                <td> @product.mode.name()</td>
                                <td> @product.method.name()</td>

                                <td> @product.subscription_id</td>
                                <td> @product.fakturoid_subject_id</td>
                                <td> @product.gopay_id</td>

                                <td> @product.remaining_credit</td>

                                <td> TODO </td>

                                <td align="center">
                                    <a href='@routes.Controller_Dashboard.product_detail(product.id)'><button class="btn btn-block btn-info" type="button">Show</button></a>
                                </td>
                            </tr>
                        }

                    </table>
                </div>


            </div>
            </div>
        </div>
    </div>

</section>



<div id="editPersonModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editPersonModalTitle">
    <div  class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="editPersonModalTitle" class="modal-title">Create Person</h4>
            </div>

            <div class="modal-body">
                <form id="editPerson")>

                    <label id="person_id" style="display: block">ID</label>
                    <label>Full Name</label>   <input style="display: block" type="text" name="full_name" >
                    <label>Nick Name</label>   <input style="display: block" type="text" name="nick_name" >
                    <label>Email</label>       <input style="display: block" type="text" name="mail" >
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button id="editPersonButton" value="" class="btn btn-primary" type="button" onclick="editPerson(this.value)">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div id="editCompilationServerModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editCompilationServerModalTitle">
    <div style="margin-top: 15%;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="editCompilationServerModalTitle" class="modal-title">Edit Type of Board</h4>
            </div>
            <div class="modal-body">
                <form id="editCompilationServer">

                    <label id="typeOfBoardId" style="display: block">ID</label>
                    <label>Server name</label> <input style="display: block" type="text" name="name" >

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button id="editCompilationServerButton" value="" class="btn btn-primary" type="button" onclick="editCompilationServer(this.value)">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div id="newProjectModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newProjectModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="newProjectModalTitle" class="modal-title">New Project</h4>
            </div>
            <div class="modal-body">
                <form id="newProject">

                    <div style="float: left; width: 30%;">
                        <label>Name</label>
                        <input placeholder="Name" style="display: block" id="new_project_name" type="text" name="project_name" >
                    </div>
                    <div style="width: 100%;">
                        <label>Description</label>
                        <input placeholder="Description" style="display: block; width: 70%;" id="new_project_description" type="text" name="project_description" >
                    </div>
                    <label>Product</label>
                    <select style="display: block;" name="product_id">
                        <option selected disabled>Select Product</option>
                        @for(product <- Model_Product.get_byOwner(person.id)) {
                            <option value="@product.id">@product.product_individual_name</option>
                        }
                    </select>

                </form>
                <div id="newProjectModalMessage" style="display: none"><p class="text-red"></p></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-success" type="button" onclick="newProject()">New project</button>
            </div>
        </div>
    </div>
</div>


<script>

            function editPerson(id){
                model_data = $("#editPerson").serializeObject();

                $.ajax({
                    url: "@Server.tyrion_serverAddress" + "/coreClient/person/person/" + id ,
                    type: 'PUT',
                    contentType: 'application/json',
                    headers: {
                        "X-AUTH-TOKEN":getCookie("authToken"),
                        "Content-Type":"application/json"
                    },
                    data: JSON.stringify(model_data),
                    dataType: 'json',
                    success:function(e){
                        $("#editPerson input[type=text]").val("");
                        $("#editPersonModal").modal('hide');
                        $('#person_detail').load(document.URL +  ' #person_detail');
                    },
                    error:function(e) {
                        alert("Unsuccessful.");
                    }
                })}

            function deletePerson(id){

                $.ajax({
                    url: " @Server.tyrion_serverAddress" + "/coreClient/person/person/remove/" + id ,
                    type: 'DELETE',
                    headers: {
                        "X-AUTH-TOKEN":getCookie("authToken")
                    },
                    success:function(e){
                        $('#allCompilationServers').load(document.URL +  ' #allCompilationServers');
                    },
                    error:function(e) {
                        alert("Unsuccessful.");
                    }
                })}

            function deactivatePerson(id){

                $.ajax({
                    url: " @Server.tyrion_serverAddress" + "/coreClient/person/person/deactivate/" + id ,
                    type: 'PUT',
                    headers: {
                        "X-AUTH-TOKEN":getCookie("authToken")
                    },
                    success:function(e){
                        $('#person_detail').load(document.URL +  ' #person_detail');
                    },
                    error:function(e) {
                        alert("Unsuccessful.");
                    }
                })}

            function activatePerson(id){

                $.ajax({
                    url: " @Server.tyrion_serverAddress" + "/coreClient/person/person/activate/" + id ,
                    type: 'PUT',
                    headers: {
                        "X-AUTH-TOKEN":getCookie("authToken")
                    },
                    success:function(e){
                        $('#person_detail').load(document.URL +  ' #person_detail');
                    },
                    error:function(e) {
                        alert("Unsuccessful.");
                    }
                })}


            function validPerson(id){

                $.ajax({
                    url: " @Server.tyrion_serverAddress" + "/coreClient/person/person/valid_email/" + id ,
                    type: 'PUT',
                    headers: {
                        "X-AUTH-TOKEN":getCookie("authToken")
                    },
                    success:function(e){
                        $('#person_detail').load(document.URL +  ' #person_detail');
                    },
                    error:function(e) {
                        alert("Unsuccessful.");
                    }
                })}

            function removeAllTokensPerson(id){

                $.ajax({
                    url: " @Server.tyrion_serverAddress" + "/coreClient/person/person/clean_all_tokens/" + id ,
                    type: 'DELETE',
                    headers: {
                        "X-AUTH-TOKEN":getCookie("authToken")
                    },
                    success:function(e){
                        $('#person_detail').load(document.URL +  ' #person_detail');
                    },
                    error:function(e) {
                        alert("Unsuccessful.");
                    }
                })}

            function showEditFormPerson(id, full_name, nick_name, mail){
                $("#editPersonModal").modal('show');
                $('#editPersonButton').val(id);
                $('#person_id').text("ID = " + id);
                $("#editPerson input[name=full_name]").val(full_name);
                $("#editPerson input[name=nick_name]").val(nick_name);
                $("#editPerson input[name=mail]").val(mail);
            }

            function newProject(){
                model_data = $("#newProject").serializeObject();

                $.ajax({
                    url: '@routes.Controller_ProgramingPackage.project_create()' ,
                    type: 'POST',
                    contentType: 'application/json',
                    headers: {
                        "X-AUTH-TOKEN":getCookie("authToken"),
                        "Content-Type":"application/json"
                    },
                    data: JSON.stringify(model_data),
                    dataType: 'json',
                    success:function(e){
                        $('#projects').load(document.URL +  ' #projectsInner');
                        $("#newProjectModalMessage").css("display", "none");
                        $("#newProjectModal").modal('hide');
                    },
                    error:function(e) {
                        $("#newProjectModalMessage").css("display", "block");
                        $("#newProjectModalMessage p").text(JSON.parse(e.responseText).message);
                        $("#newProjectModalMessage p").append(JSON.stringify(JSON.parse(e.responseText).exception));
                    }
                })}

            function deleteProject(id){

                $.ajax({
                    url: '@routes.Controller_ProgramingPackage.project_delete("")' + id  ,
                    type: 'DELETE',
                    headers: {
                        "X-AUTH-TOKEN":getCookie("authToken")
                    },
                    dataType: 'json',
                    success:function(e){
                        $('#projects').load(document.URL +  ' #projectsInner');
                    },
                    error:function(e) {
                        alert("Unsuccessful");
                    }
                })}

</script>