
@import java.util.List
@import models.person.Person
@import models.project.b_program.B_Program
@import models.project.b_program.Homer_Instance
@import utilities.enums.{Firmware_type, Type_of_command}
@import models.compiler.Board
@import models.compiler.BootLoader
@import utilities.Server
@import utilities.webSocket.{WS_Homer_Cloud, WebSCType}

@(homer: WS_Homer_Cloud)



<section class="content-header">
    <h1> Instance <small> detail: @homer.identifikator</small> </h1>
    <ol class="breadcrumb">
        <li><a href="@routes.DashboardController.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
        <li class="active"><i class="fa fa-heart"></i> Websocket connections </li>
    </ol>
</section>




<section class="content">
    <div class="row">
        <div class="col-xs-3">
            <div class="box box-primary">
                <div id="instance_detail" class="box-body box-profile">
                    <h3 class="text-center">Instance:</h3>

                    <p class="text-muted text-center"> @homer.identifikator</p>

                    @if(homer.temporary){
                        <p class="text-red text-center">  Temporary </p>
                    }else{
                        <p class="text-green text-center">    Databased </p>
                    }

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Owner</b> <a class="pull-right">Pepa</a>
                        </li>

                        @if( B_Program.find.where().eq("version_objects.id", homer.version_id ).findUnique() != null) {
                            <li class="list-group-item">
                                <b>B_Program ID</b> <a class="pull-right">
                                @B_Program.find.where().eq("version_objects.id", homer.version_id).findUnique().id)
                            </a>
                            </li>
                            <li class="list-group-item">
                                <b>B_Program Název</b>
                                <a class="pull-right">
                                    @B_Program.find.where().eq("version_objects.id", homer.version_id).findUnique().name

                                </a>
                            </li>
                        }
                        <li class="list-group-item">
                            <b>Version ID:</b> <a class="pull-right">@homer.version_id</a>
                        </li>
                        <li class="list-group-item">
                            <b>Server name</b> <a class="pull-right">@homer.blockoServer.identifikator</a>
                        </li>
                    </ul>

                    <a onclick="showAddMasterDeviceModal('@homer.identifikator')"  class="btn btn-warning btn-block"> <b>Add Master board to Instance</b> </a>
                    <a onclick="showUploadBlockoProgram('@homer.identifikator')"   class="btn btn-primary btn-block"> <b>Uploud Blocko Program</b>        </a>
                </div>
            </div>
        </div>
        <div class="col-xs-9">
            @for(x <- homer.group){
                <div class="box box-primary">
                        <div class="box-body table-responsive no-padding">
                           <div class="box-header">
                                <h3 class="box-title"> Yoda: @x.yodaId </h3>
                                <div class="pull-right">
                                    <div class="btn-group">

                                            @if(BootLoader.find.where().eq("main_type_of_board.boards.id", x.yodaId ).findUnique() != null){
                                                @if(Board.find.byId( x.yodaId).update_boot_loader_required()) {
                                                    <a  onclick="updateBootLoader('@x.yodaId')" class="btn btn-primary btn-sm" ><b>Update Firmware</b></a>
                                                }else {
                                                    <p class="lead text-green">(Actual)</p>
                                                    <a class="btn btn-success btn-sm disabled" ><b> Bootloader Up To date </b></a>
                                                }
                                            }else{
                                                <a  onclick="executeCommand( '' ,'')" class="btn btn-danger btn-sm disabled" ><b>Missing bootloader</b></a>
                                            }

                                            <a onclick="executeCommand('@x.yodaId','@Type_of_command.INFO_STATE.get_command')" class="btn btn-info btn-sm"><b>Ping Yoda</b></a>
                                            <a onclick="showCommandDeviceModal('@x.yodaId', 'Yoda')" class="btn btn-info btn-sm"><b>Open Commander</b></a>
                                            <a onclick="showAddDeviceModal('@x.yodaId')" class="btn btn-warning btn-sm"><b>Add new Device</b></a>
                                            <a onclick="removeMasterDevice('@x.yodaId')" class="btn btn-danger btn-sm"><b>Remove Yoda</b></a>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered">
                                <tr>
                                    <th>Device Id</th>
                                    <th>Type Of Board</th>
                                    <th>User Name</th>
                                    <th>BootLoader</th>
                                    <th>Commands</th>
                                    <th>Remove</th>
                                </tr>

                                @if(x.devicesId != null && x.devicesId.size() > 0 ){

                                    @for(board <- Board.find.where().in("id", x.devicesId ).findList() ) {

                                                <tr>

                                                <td> @board.id</td>
                                                <td> @board.type_of_board.name</td>
                                                <td> @board.personal_description</td>
                                                <td>
                                                    @if(BootLoader.find.where().eq("main_type_of_board.id", board.type_of_board.id ).findUnique() != null){
                                                        @if(board.update_boot_loader_required()) {
                                                           <button  type="button" class="commandButton btn btn-primary   btn-sm"  onclick="updateBootLoader('@board.id')">Update Firmware</button>
                                                        }else {
                                                            <p class="text-green">(Actual)</p>
                                                        }
                                                    }else{
                                                        <p class="text-red">(Missing bootloader)</p>
                                                    }
                                                </td>
                                                <td><a onclick="showCommandDeviceModal('@board.id', 'device')" class="btn btn-info btn-sm"><b>Open Commander</b></a></td>
                                                <td><a onclick="removeDevice('@board.id')" class="btn btn-danger btn-sm"><b>Remove Device</b></a></td>

                                            </tr>
                                        }

                                }

                            </table>
                        </div>
                </div>
            }
        </div>
    </div>

    <script>

        function removeMasterDevice(id){

            $.ajax({
                        url: " @Server.tyrion_serverAddress" + "/project/b_program/instance/master_device" + '@homer.identifikator' +  "/" + id ,
                        type: 'DELETE',
                        headers: {
                            "X-AUTH-TOKEN":getCookie("authToken"),
                        },
                        success:function(e){
                            $('#allCompilationServers').load(document.URL +  ' #allCompilationServers');
                        },
                        error:function(e) {
                            alert("Unsuccessful.");
                        }
                    }
            )}

        function removeMasterDevice(id){

            $.ajax({
                url: " @Server.tyrion_serverAddress" + "/project/b_program/instance/master_device" + '@homer.identifikator' +  "/" + id ,
                type: 'DELETE',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                },
                success:function(e){
                    $('#allCompilationServers').load(document.URL +  ' #allCompilationServers');
                },
                error:function(e) {
                    alert("Unsuccessful.");
                }
            })}

        function removeDevice(id){

            $.ajax({
                url: " @Server.tyrion_serverAddress" + "/project/b_program/instance/device" + '@homer.identifikator' +  "/" + id ,
                type: 'DELETE',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                },
                success:function(e){
                    $('#allCompilationServers').load(document.URL +  ' #allCompilationServers');
                },
                error:function(e) {
                    alert("Unsuccessful.");
                }
            })}

    </script>

</section>




<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Connected Grids Temrinal on this Instance</h3>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered">

                        <tr>
                            <th>Terminal ID</th>
                            <th>Person email</th>
                            <th>Ping</th>
                            <th>Disconnect</th>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>




<div id="uploadBlockoProgramModal" style="display: none;" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Blocko Program</h4>
            </div>
            <div class="modal-body">
                <form id="uploadBlockoProgram">

                    <label id="instanceId" style="display: block">ID</label>
                    <div class="form-group">
                        <textarea id="code" name="code" class="form-control" rows="3" placeholder="Insert Blocko code ..."></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#uploadBlockoProgramModal').css('display','none')">Close</button>
                <button id="uploadBlockoProgramButton" value="" class="btn btn-primary" type="button" onclick="uploadBlockoProgram(this.value)">Update code in instance</button>
            </div>

        </div>
    </div>
</div>


<div id="commandDeviceModal" style="display: none;" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Commands for Device</h4>
            </div>

            <div class="modal-body">
                <form id="commandDevice">

                    <label id="deviceId" style="display: block">device Id: </label>
                    <label id="deviceType" style="display: block">Device type: </label>

                    <table class="table table-bordered">

                        <tr>
                            <th> Common Commands  </th>
                            <th> Yoda Commands    </th>
                            <th> Instance Commands</th>
                            <th>Special Commands  </th>
                        </tr>


                        <tr>
                             <td>
                                 <button type="button" class="commandButton btn btn-primary  btn-sm"  onclick="executeCommand( this.value ,'@Type_of_command.INFO_STATE.get_command')"> Get state info </button>
                             </td>
                             <td>
                                 <button type="button" class="commandButton btn btn-primary  btn-sm"  onclick="executeCommand(  this.value ,'@Type_of_command.INFO_DEVICE_COUNTER.get_command')"> Get Device Counter Info </button>
                             </td>
                             <td>
                                 <button type="button" class="commandButton btn btn-primary  btn-sm"  onclick="executeCommand(  this.value ,'@Type_of_command.INFO_INSTANCE_SUMMARY_INFO.get_command')"> Complete cummary information </button>
                             </td>
                             <td>
                                 <button type="button" class="commandButton btn btn-primary  btn-sm"  onclick="executeCommand(  this.value,'@Type_of_command.COMMAND_PING_DEVICE.get_command')"> Ping Device</button>
                             </td>
                        </tr>

                        <tr>
                            <td>
                                <button type="button" class="commandButton btn btn-primary   btn-sm"  onclick="executeCommand(  this.value ,'@Type_of_command.INFO_FIRMWARE.get_command')"> Get Firmware Version </button>
                            </td>
                            <td>
                                <button type="button" class="commandButton btn btn-primary  btn-sm"  onclick="executeCommand(  this.value ,'@Type_of_command.INFO_WIFI_USERNAME.get_command')"> Get WIFI User Name </button><br>
                                <button type="button" class="commandButton btn btn-success  btn-sm"  onclick="executeCommand(  this.value ,'@Type_of_command.COMMAND_WIFI_USERNAME.get_command')"> SET WIFI User Name </button>
                            </td>
                            <td>

                            </td>
                            <td>
                                <button type="button" class="commandButton btn btn-primary  btn-sm"  onclick="showUploadModal(  this.value,'@Firmware_type.FIRMWARE.get_firmwareType()')"> Uploud Firmware</button>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <button type="button" class="commandButton btn btn-primary   btn-sm"  onclick="executeCommand( this.value ,'@Type_of_command.INFO_BOOTLOADER.get_command')"> Get Bootloader Info </button>
                            </td>
                            <td>
                                <button type="button" class="commandButton btn btn-primary  btn-sm"  onclick="executeCommand(  this.value ,'@Type_of_command.INFO_WIFI_PASSWORD.get_command')"> Get WIFI Password </button><br>
                                <button type="button" class="commandButton btn btn-success  btn-sm"  onclick="executeCommand(  this.value ,'@Type_of_command.COMMAND_WIFI_PASSWORD.get_command')"> SET WIFI Password </button>
                            </td>
                            <td>

                            </td>
                            <td>
                                <button type="button" class="commandButton btn btn-primary  btn-sm"  onclick="showUploadModal(  this.value,'@Firmware_type.BOOTLOADER.get_firmwareType()')">Upload Bootloader</button>
                            </td>
                        </tr>

                        <tr>
                            <td><button  type="button" class="commandButton btn btn-primary   btn-sm"  onclick="executeCommand( this.value ,'@Type_of_command.INFO_AUTO_BACKUP.get_command')"> Get BackUp info </button></td>
                            <td></td>
                            <td> </td>
                            <td></td>
                        </tr>

                        <tr>
                            <td><button  type="button" class="commandButton btn btn-primary   btn-sm"  onclick="executeCommand( this.value ,'@Type_of_command.INFO_DATETIME.get_command')"> Get Time </button></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td><button  type="button" class="commandButton btn btn-default   btn-sm" > Something else? </button></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>


                    </table>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger pull-left" type="button" data-dismiss="modal" onclick="$('#commandDeviceModal').css('display','none')">Close</button>
            </div>
        </div>
    </div>
</div>


    <div id="uploadFileModal" style="display: none;" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Uploud Bin File To device</h4>
                </div>

                <div class="modal-body">

                    <form id="uploadFileForm" enctype="multipart/form-data" role="form">


                        <b> Device ID:</b> <label id="deviceId_uploadFileModal" style="display: block"></label>
                        <b> Command:</b>   <label id="command_uploadFileModal"  style="display: block"></label>

                        <div class="modal-body">
                            <input type="file" id="file" name="file" />
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#uploadFileModal').css('display','none')">Close</button>
                            <button id="uploudFileButton" value="" class="btn btn-primary" type="button" onclick="uploadFile( $('#deviceId_uploadFileModal').text(), $('#command_uploadFileModal').text())">Uploud</button>
                        </div>
                    </form>
                </div>
            </div>
         </div>
     </div>




    <script>

            function showCommandDeviceModal(id, deviceType){
                $("#commandDeviceModal").css("display","block");
                $('#deviceId').text("Device ID = " + id);
                $('.commandButton').val(id);
                $('#deviceType').text("Device Type = " + deviceType);
            }

            function showUploadModal(target_id, command){

                console.log("Command: " + command );
                console.log("target_id: " + target_id );

                $("#uploadFileModal").css("display","block");
                $('#deviceId_uploadFileModal').text(target_id);
                $('#uploudFileButton').val(target_id);
                $('#command_uploadFileModal').text(command);
            }


            function uploadFile(target_id, firmwareType){

                event.preventDefault();

                var file = $('#file').get(0).files[0];
                var formData = new FormData();
                formData.append('file', file);

                $.ajax({

                    url: "@Server.tyrion_serverAddress" + "/compilation/c_program/binary/"+ target_id + "/" +  firmwareType ,
                    type: 'POST',
                    processData: false,  // tell jQuery not to process the data
                    contentType: false,  // tell jQuery not to set contentType
                    data : formData,

                    headers: {
                        "X-AUTH-TOKEN":getCookie("authToken"),
                    },

                    success:function(data, status){
                        BootstrapDialog.show({
                            message:  syntaxHighlight(data),

                            buttons: [{
                                label: 'Close',
                                action: function(dialogItself){
                                    dialogItself.close();
                                }
                            }]
                        });

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        BootstrapDialog.show({
                            message:  syntaxHighlight(data),
                            type: BootstrapDialog.TYPE_DANGER,
                            buttons: [{
                                label: 'Close',
                                action: function(dialogItself){
                                    dialogItself.close();
                                }
                            }]

                        });
                    }

                })
            }

            function updateBootLoader(target_id){
                var obj = '{' +'"device_ids":' + '["' + target_id + '"]' + '}';

                $.ajax({
                    url: "@Server.tyrion_serverAddress" + "/bootloader/update_device_list",
                    type: 'PUT',
                    contentType: 'application/json',
                    headers: {
                        "X-AUTH-TOKEN":getCookie("authToken"),
                        "Content-Type":"application/json"
                    },
                    data: obj,
                    dataType: 'json',

                    success:function(data, status){
                        console.log(data);
                        console.log(status);
                        BootstrapDialog.show({
                            message:  syntaxHighlight(data),

                            buttons: [{
                                label: 'Close',
                                action: function(dialogItself){
                                    dialogItself.close();
                                }
                            }]

                        });
                    },
                    error:function(data) {
                        console.log(data);

                        BootstrapDialog.show({
                            message:  syntaxHighlight(data),
                            type: BootstrapDialog.TYPE_DANGER,
                            buttons: [{
                                label: 'Close',
                                action: function(dialogItself){
                                    dialogItself.close();
                                }
                            }]

                        });
                    }


                })
            }

            function executeCommand(target_id, command){

                $.ajax({
                    url: "@Server.tyrion_serverAddress" + "/project/b_program/instance/command/"+ '@homer.identifikator' + "/" + target_id + "/" +  command ,
                    type: 'PUT',
                    contentType: 'application/json',
                    headers: {
                        "X-AUTH-TOKEN":getCookie("authToken"),
                        "Content-Type":"application/json"
                    },
                    data: '{}',
                    dataType: 'json',

                    success:function(data, status){
                        console.log(data);
                        console.log(status);
                        BootstrapDialog.show({
                            message:  syntaxHighlight(data),

                            buttons: [{
                                label: 'Close',
                                action: function(dialogItself){
                                    dialogItself.close();
                                }
                            }]

                        });
                    },
                    error:function(data) {
                        console.log(data);

                        BootstrapDialog.show({
                            message:  syntaxHighlight(data),
                            type: BootstrapDialog.TYPE_DANGER,
                            buttons: [{
                                label: 'Close',
                                action: function(dialogItself){
                                    dialogItself.close();
                                }
                            }]

                        });
                    }


                })
            }

            function syntaxHighlight(json) {
                if (typeof json != 'string') {
                    json = JSON.stringify(json, null, 4);
                }
                json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
                return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                    var cls = 'number';
                    if (/^"/.test(match)) {
                        if (/:$/.test(match)) {
                            cls = 'key';
                        } else {
                            cls = 'string';
                        }
                    } else if (/true|false/.test(match)) {
                        cls = 'boolean';
                    } else if (/null/.test(match)) {
                        cls = 'null';
                    }
                    return '<span class="' + cls + '">' + match + '</span>';
                });
            }
    </script>

<div id="addMasterDeviceModal" style="display: none;" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Yoda under instance </h4>
            </div>

            <div class="modal-body">
                <form id="addMasterDeviceForm">

                    <label id="instanceId" style="display: block">Instance ID</label>
                    <label>Device ID</label><input style="display: block" type="text" name="master_device_id" >

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger pull-left" type="button" data-dismiss="modal" onclick="$('#addMasterDeviceModal').css('display','none')">Close</button>
                <button id="addMasterDeviceButton" value="" class="btn btn-primary" type="button" onclick="addMasterDevice(this.value)">Update code in instance</button>
            </div>
        </div>
    </div>
</div>


<div id="addDeviceModal" style="display: none;" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Device</h4>
            </div>

            <div class="modal-body">
                <form id="addDeviceForm">

                    <label id="master_board_Id" style="display: block">ID</label>
                    <label>Device ID</label><input style="display: block" type="text" name="device_id" >
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger pull-left" type="button" data-dismiss="modal" onclick="$('#addDeviceModal').css('display','none')">Close</button>
                <button id="addDeviceButton" value="" class="btn btn-primary" type="button" onclick="addDevice(this.value)">Update code in instance</button>
            </div>
        </div>
    </div>
</div>





  <script>

          function showAddDeviceModal(id){
              $("#addDeviceModal").css("display","block");
              $('#addDeviceButton').val(id);
              $('#yodaId').text("ID = " + id);
          }

          function addDevice(master_board_Id){
              var device_id = document.getElementById("addDeviceForm").elements.namedItem("device_id").value;

              $.ajax({
                  url: " @Server.tyrion_serverAddress" + "/project/b_program/instance/device/" + master_board_Id + "/" + device_id,
                  type: 'PUT',
                  headers: {
                      "X-AUTH-TOKEN":getCookie("authToken"),
                  },
                  success:function(e){
                      $("#addDeviceModal").css("display","none");
                  },
                  error:function(e) {
                      alert("Unsuccessful.");
                  }
              })}

          function showAddMasterDeviceModal(instanceId){
              $("#addMasterDeviceModal").css("display","block");
              $('#addMasterDeviceButton').val(instanceId);
              $('#yodaId').text("ID = " + instanceId);
          }

          function addMasterDevice(id){
              var master_device_id = document.getElementById("addMasterDeviceForm").elements.namedItem("master_device_id").value;

              $.ajax({
                  url: " @Server.tyrion_serverAddress" + "/project/b_program/instance/master_device/" + id + "/" + master_device_id,
                  type: 'PUT',
                  headers: {
                      "X-AUTH-TOKEN":getCookie("authToken"),
                  },
                  success:function(e){
                      $("#addMasterDevice").css("display","none");
                  },
                  error:function(e) {
                      alert("Unsuccessful.");
                  }
              })}

          function showUploadBlockoProgram(id){
              $("#uploadBlockoProgramModal").css("display","block");
              $('#uploadBlockoProgramButton').val(id);
              $('#instanceId').text("ID = " + id);
          }

          function uploadBlockoProgram(instanceId){
              model_data = $("#uploadBlockoProgram").serializeObject();
              json = JSON.stringify(model_data);

              console.log(json);


              $.ajax({
                  url: "@Server.tyrion_serverAddress" + "/project/b_program/instance/program/" + instanceId,
                  type: 'PUT',
                  contentType: 'application/json',
                  headers: {
                      "X-AUTH-TOKEN":getCookie("authToken"),
                      "Content-Type":"application/json"
                  },
                  data: JSON.stringify(model_data),
                  dataType: 'json',
                  success:function(data, status){

                      $("#uploadBlockoProgram input[type=text]").val("");
                      $("#uploadBlockoProgramModal").css("display","none");

                      BootstrapDialog.show({
                          message:  syntaxHighlight("Úpsěšně nahráno na homer do instance"),

                          buttons: [{
                              label: 'Close',
                              action: function(dialogItself){
                                  dialogItself.close();
                              }
                          }]

                      });
                  },
                  error:function(data) {
                      BootstrapDialog.show({
                          message:  syntaxHighlight(data),
                          type: BootstrapDialog.TYPE_DANGER,
                          buttons: [{
                              label: 'Close',
                              action: function(dialogItself){
                                  dialogItself.close();
                              }
                          }]

                      });
                  }
              })}
   </script>


