@import models.Model_HomerServer
@import utilities.enums.Enum_Homer_instance_type

@(homer_server: Model_HomerServer)

<section class="content-header">
    <h1> Homer Server @homer_server.personal_server_name  <small> service </small> </h1>
    <ol class="breadcrumb">
        <li><a href="@routes.Controller_Dashboard.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
        <li class="active"><i class="fa fa-heart"></i> Websocket connections </li>
    </ol>
</section>

<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Filter settings</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                                <button id="addDeviceButton" value="" class="btn btn-success" type="button" onclick="showAddTemporaryInstance()">ADD TEMPORARY INSTANCE</button>
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>
                <div class="box-body">
                    <form id="instanceFilterForm">

                        <table id="filterTable" class="table table-condensed no-padding no-margin">

                            <tr>
                                <th class="col-md-2">Type of Instance</th>
                                <th class="col-md-3">Servers</th>
                                <th class="col-md-1">Date (D-M-YY)</th>
                                <th>By Something</th>
                            </tr>

                            <tr>
                                <td>
                                    <div>
                                        <select id="selectTypeOfInstance" name="instance_types[]" class="form-control" multiple>
                                            <option value="@Enum_Homer_instance_type.VIRTUAL"> Virtual </option>
                                            <option value="@Enum_Homer_instance_type.INDIVIDUAL"> Individual </option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <select id="selectServers" name="server_unique_names[]" class="form-control" multiple>
                                            <option selected="selected" value="@homer_server.unique_identificator"> @homer_server.personal_server_name ( @homer_server.unique_identificator )</option>

                                            @for(server <- Model_HomerServer.get_all()) {
                                                <option value="@server.unique_identificator"> @server.personal_server_name ( @server.unique_identificator )</option>
                                            }
                                        </select>
                                    </div>
                                </td>

                                <td>
                                    <div class="input-group">
                                        <button name="date" type="button" class="btn btn-default pull-right" id="daterange-btn">
                                            <span>
                                                <i class="fa fa-calendar"></i>Date
                                            </span>
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                    </div>
                                </td>

                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input id="active" type="checkbox"> Active
                                        </label>
                                    </div>
                                </td>

                                <td></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="box-footer">
                    <button class="btn pull-right btn-warning" type="button" onclick="show_filterValues()">Filter</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Instaces summary</h3>
                </div>
                <div class="box-body table-responsive no-padding">

                    <table id="instance_table" class="table table-bordered">

                    </table>

                </div><!-- /.box-body -->
                <div class="box-footer">
                    <div class="dataTables_paginate paging_simple_numbers" id="all_table_paginate" style="text-align: center;">
                        <ul class="pagination" id="pagination" style="margin: 10px;">
                            <li class="paginate_button previous disabled" id="all_table_previous">
                                Zero pages!
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- /.box -->
        </div>
    </div>
</section>




 <!-- /. MODALS---------------------------------------------------------------------------------------------------------->


<div id="addTemporaryInstanceModal" style="display: none;" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Device</h4>
            </div>

            <div class="modal-body">
                <form id="addTemporaryInstanceForm">

                    <label>Instnace ID: (Min 5 znaků) </label>
                    <input style="display: block" type="text" id="instance_name" name="instance_name" >

                    <input style="display: block" type="text" id="instance_name" name="unique_identificator" value="@homer_server.unique_identificator" >

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger pull-left" type="button" data-dismiss="modal" onclick="$('#addTemporaryInstanceModal').css('display','none')">Close</button>
                <button id="addTemporaryInstanceButton" value="" class="btn btn-primary" type="button" onclick="add_TemporaryInstance()">Create temporary instance</button>
            </div>
        </div>
    </div>
</div>


    <script>

            var start_time;
            var end_time;
            var active = "indeterminate";
            var page = 1;

            $("#active").prop("indeterminate", true);

            $("#active").click(function () {

                switch (active){
                    case 'indeterminate' : {
                        active = "true";
                        $("#active").prop("indeterminate", false).prop("checked", "checked");
                        break;
                    }
                    case 'true' : {
                        active = "false";
                        $("#active").prop("indeterminate", false).removeAttr("checked");
                        break;
                    }
                    case 'false' : {
                        active = "indeterminate";
                        $("#active").prop("indeterminate", true).removeAttr("checked");
                        break;
                    }
                }
            });

         function showAddTemporaryInstance(){
             $("#addTemporaryInstanceModal").css("display","block");
         }

         function add_TemporaryInstance(){

             model_data = $("#addTemporaryInstanceForm").serializeObject();

             $.ajax({
                 url: '@routes.Controller_Blocko.instance_add_temporary_instance()',
                 type: 'PUT',
                 contentType: 'application/json',
                 headers: {
                     "X-AUTH-TOKEN":getCookie("authToken"),
                     "Content-Type":"application/json"
                 },
                 data: JSON.stringify(model_data),
                 dataType: 'json',
                 success:function(data, status){

                     console.log(data);
                     console.log(status);

                     $('#addTemporaryInstanceModal').css('display','none');
                     $("#addTemporaryInstanceForm input[type=text]").val("");
                     $('#homer_table').load(document.URL +  ' #homer_table');

                     BootstrapDialog.show({
                         message:  syntaxHighlight(data),

                         buttons: [{
                             label: 'Close',
                             action: function(dialogItself){
                                 dialogItself.close();
                             }
                         }]

                     });
                 },
                 error:function(data) {

                     BootstrapDialog.show({
                         message:  syntaxHighlight(data),
                         type: BootstrapDialog.TYPE_DANGER,
                         buttons: [{
                             label: 'Close',
                             action: function(dialogItself){
                                 dialogItself.close();
                             }
                         }]
                     });
                 }
             })}

         function ping_instance(instance_id){

             $.ajax({
                 url: '@routes.Controller_Dashboard.ping_homer_instance("")' + instance_id,
                 data : {
                     instance_id: instance_id
                 },
                 type: 'GET',

                 headers: {
                     "X-AUTH-TOKEN":getCookie("authToken")
                 },

                 success:function(data, status){
                     console.log(data);
                     console.log(status);
                     BootstrapDialog.show({
                         message:  syntaxHighlight(data),

                         buttons: [{
                             label: 'Close',
                             action: function(dialogItself){
                                 dialogItself.close();
                             }
                         }]

                     });
                 },
                 error:function(data) {
                     BootstrapDialog.show({
                         message:  syntaxHighlight(data),
                         type: BootstrapDialog.TYPE_DANGER,
                         buttons: [{
                             label: 'Close',
                             action: function(dialogItself){
                                 dialogItself.close();
                             }
                         }]
                     });
                 }
             })}

         function disconnect_instance(instance_id){
             $.ajax({
                 url: '@routes.Controller_Blocko.instance_shut_down("")' + instance_id,
                 type: 'GET',

                 headers: {
                     "X-AUTH-TOKEN":getCookie("authToken")
                 },

                 success:function(data){
                     BootstrapDialog.show({
                         message:  syntaxHighlight(data),

                         buttons: [{
                             label: 'Close',
                             action: function(dialogItself){
                                 dialogItself.close();
                             }
                         }]

                     });
                     $('#homer').load(document.URL +  ' #homer');
                 },
                 error:function(data) {
                     BootstrapDialog.show({
                         message:  syntaxHighlight(data),
                         type: BootstrapDialog.TYPE_DANGER,
                         buttons: [{
                             label: 'Close',
                             action: function(dialogItself){
                                 dialogItself.close();
                             }
                         }]

                     });
                 }
             })}



            function makePagination(pages) {

                var content = "";

                if (page == 1){
                    content += "<li class='paginate_button previous disabled' id='all_table_next'><a>Previous</a></li>";
                } else {
                    content += "<li class='paginate_button previous' id='all_table_next'><a onclick=\"pageCall('previous',null)\">Previous</a></li>";
                }

                $.each(pages, function (k, v) {
                    if (v == page){
                        content += "<li class='paginate_button active'><a onclick=\"pageCall('normal'," + v + ")\">" + v + "</a></li>";
                    } else {
                        content += "<li class='paginate_button'><a onclick=\"pageCall('normal'," + v + ")\">" + v + "</a></li>";
                    }
                });

                if (page == pages.length){
                    content += "<li class='paginate_button next disabled' id='all_table_next'><a>Next</a></li>";
                } else {
                    content += "<li class='paginate_button next' id='all_table_next'><a onclick=\"pageCall('next',null)\">Next</a></li>";
                }

                $("#pagination").html(content);

                if (page == 1){
                    $("#all_table_previous").prop("disabled", "disabled").addClass("disabled");
                }

                if (page == (pages.length + 1)){
                    $("#all_table_next").prop("disabled", "disabled").addClass("disabled");
                }
            }

            function pageCall(type, number) {
                switch (type){
                    case 'normal':{
                        page = number;
                        break;
                    }
                    case 'previous':{
                        page--;
                        break;
                    }
                    case 'next':{
                        page++;
                        break;
                    }
                }

                show_filterValues();
            }

            function show_filterValues() {

                var model_data = $("#instanceFilterForm").serializeObject();

                model_data.page_number = page;

                $.ajax({

                    url: '@routes.Controller_Blocko.get_b_program_instance_by_filter()',
                    type: 'PUT',
                    contentType: 'application/json',
                    headers: {
                        "X-AUTH-TOKEN":getCookie("authToken"),
                        "Content-Type":"application/json"
                    },
                    data: JSON.stringify(model_data),
                    dataType: 'json',

                    success: function(json) {
                        showInstances(json);
                        makePagination(json.pages)
                    },

                    error: function(data) {
                        BootstrapDialog.show({
                            message: syntaxHighlight(data),
                            type: BootstrapDialog.TYPE_DANGER,
                            buttons: [{
                                label: 'Close',
                                action: function(dialogItself) {
                                    dialogItself.close();
                                }
                            }]

                        });
                    }
                })
            }

            function showInstances(json) {

                instancies = json;

                var content = "";

                $('#instance_table').html(""); // Vyprázdnění tabulky

                content +="<tr>";
                content +="<th>Instance ID</th>";
                content +="<th>Type</th>";
                content +="<th>Required Status</th>";

                content +="<th>Actual Status</th>";
                content +="<th>Open Details</th>";
                content +="<th>Get Status</th>";
                content +="<th>Disconnect</th>";

                content +="</tr>";

                $.each(instancies.content, function (k, v) {
                    content += "<tr>";
                    content += "<td>" + v.id +"</td>";
                    content += "<td>" + v.instance_type +"</td>";
                    content += "<td>" + v.name +"</td>";

                    if(v.instance_online == true){
                        content += "<td><span class=\"label label-success\">Online</span></td>";
                    }else{
                        content += "<td><span class=\"label label-danger\">Offline</span></td>";
                    }

                    content += "<td><a href=\"" + '@routes.Controller_Dashboard.show_instance_detail("")' + v.id + "\"><button class=\"btn btn-block btn-info btn-xs\">Details</button></a></td>";
                    content += "<td> Edit </td>";
                    content += "<td> Disconect </td>";
                    content += "</tr>";

                });

                $('#instance_table').append(content);

            }



            $(function () {

                $('#selectTypeOfInstance').select2({
                    placeholder: "Select multiple",
                    allowClear: false
                });

                $('#selectServers').select2({
                    placeholder: "Select multiple",
                    allowClear: false
                });

                //Date range as a button
                $('#daterange-btn').daterangepicker(
                        {
                            ranges: {
                                'Today': [moment().startOf('day'), moment().endOf('day')],
                                'Till Today': [moment().subtract(40, 'years').startOf('day'), moment().endOf('day')],
                                'Yesterday': [moment().subtract(1, 'days').startOf('day'), moment().subtract(1, 'days').endOf('day')],
                                'Last 7 Days': [moment().subtract(6, 'days').startOf('day'), moment().endOf('day')],
                                'Last 30 Days': [moment().subtract(29, 'days').startOf('day'), moment().endOf('day')],
                                'This Month': [moment().startOf('month'), moment().endOf('month')],
                                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                            },
                            startDate: moment().subtract(40, 'years').startOf('day'),
                            endDate: moment().endOf('day')
                        },
                        function (start, end) {
                            start_time = new Date(start.toString()).getTime();
                            end_time = new Date(end.toString()).getTime();
                            console.log(start_time + " - " + end_time);
                            if (start.format('D-M-YY') == end.format('D-M-YY')){
                                $('#daterange-btn span').html(start.format('D-M-YY'));
                            } else {
                                $('#daterange-btn span').html(start.format('D-M-YY') + ' - ' + end.format('D-M-YY'));
                            }

                        }
                );

                show_filterValues();
            });

    </script>
