@import models.compiler.Model_CompilationServer
@import models.person.Model_Person
@import models.project.b_program.servers.Model_HomerServer
@import utilities.webSocket.{WS_Becki_Website, WS_BlockoServer, WS_CompilerServer}
@(becki_Terminal: List[WS_Becki_Website])

<section class="content-header">
    <h1> Websocket <small> connections </small> </h1>
    <ol class="breadcrumb">
        <li><a href="@routes.Controller_Dashboard.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
        <li class="active"><i class="fa fa-heart"></i> Websocket connections </li>
    </ol>
</section>
<script type="text/javascript" src="@routes.Controller_Dashboard.javascriptRoutes"></script>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Connected Becki-Terminals</h3>
                    <div class="pull-right">
                        <div class="btn-group">


                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger btn-sm">    Disconnect All   </button>
                            <button type="button" class="btn btn-info    btn-sm ">  Send Ping to all </button>
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>

                <div class="box-body table-responsive no-padding">
                    <div id="becki_table_wrapper">
                    <table id="becki_table" class="table table-bordered">

                        <tr>
                            <th>Person email</th>
                            <th colspan="2" >Connection instances</th>
                            <th class="col-xs-1" >Test notification</th>
                        </tr>

                        @for( x <- becki_Terminal){

                                <tr>
                                    <th rowspan="@(x.all_person_Connections.size()+2)"> @(Model_Person.find.byId( x.identifikator ).mail )</th>
                                    <th>instances</th>
                                    <th></th>

                                    <th rowspan="@(x.all_person_Connections.size()+2)">

                                        <form id="testNotification">
                                            <select style="margin-top: 10px;" name="level" id="level">
                                                <option value="info">info</option>
                                                <option value="success">success</option>
                                                <option value="warning">warning</option>
                                                <option value="error">error</option>
                                            </select>
                                            <select style="margin-top: 10px;" name="importance" id="importance">
                                                <option value="low">low</option>
                                                <option value="normal">normal</option>
                                                <option value="high">high</option>
                                            </select>
                                            <select style="margin-top: 10px; width: 100%;" name="type" id="type">
                                                <option value="1">All objects</option>
                                                <option value="2">Object and long text</option>
                                                <option value="3">Short text and link</option>
                                                <option value="4">Object and link</option>
                                            </select>
                                            <select style="margin-top: 10px; width: 100%;" name="buttons" id="buttons">
                                                <option value="0">none</option>
                                                <option value="1">OK button</option>
                                                <option value="2">YES & NO buttons</option>
                                                <option value="3">YES, NO, CLOSE</option>
                                            </select>
                                            <input style="margin-top: 10px;" type="button" onclick="test_notification('@(Model_Person.find.byId( x.identifikator ).mail )')" class="btn btn-block btn-primary btn-xs" value="Send">
                                        </form>
                                    </th>
                                </tr>


                            @if( !x.all_person_Connections.isEmpty) {
                                @for((k,v) <- x.all_person_Connections) {
                                    <tr>
                                        <td> @x.all_person_Connections.get(k).identifikator      </td>

                                        <td>
                                            <button onclick="ping_becki('@x.identifikator', '@k' )" class="btn btn-block btn-info btn-xs">Ping</button>
                                            <button onclick="disconnect_becki( '@x.identifikator', '@k' )" class="btn btn-block btn-danger btn-xs">Disconnect</button>
                                        </td>
                                    <tr>
                                }
                            }


                        }
                    </table>

                    </div>


                </div><!-- /.box-body -->


            </div><!-- /.box -->
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Connected Blocko-Servers (Homer Cloud instances)</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table id="homer_server_table" class="table table-bordered">

                        <tr>
                            <th align="center">Server</th>
                            <th align="center">Online</th>
                            <th align="center">Working instances</th>

                            <th class="col-xs-1">Show Instancies</th>
                            <th class="col-xs-1">Ping</th>
                            <th class="col-xs-1">Disconnect</th>

                        </tr>

                        @for( x <- Model_HomerServer.find.all() ){
                            <tr>
                                <td> @x.server_name </td>
                                <td>
                                    @if(!x.server_is_online()){
                                        <p class="small text-red"> Offline </p>
                                    }else{
                                        <p class="small text-green"> Online </p>
                                    }
                                </td>

                                <td>
                                    @if(x.server_is_online()){
                                            @x.get_homer_server_numberOfInstance().get("value").asInt()
                                    }else{
                                        <p class="small text-red"> Offline </p>
                                    }
                                </td>

                                <td align="center">
                                    <a href=' @routes.Controller_Dashboard.show_websocket_server_detail(  x.server_name )' >
                                        <button class="btn btn-block btn-info btn-xs">All Instancies</button>
                                    </a>
                                </td>


                                <td align="center">
                                    <button onclick="ping_Blocko_Server('@x.server_name')" class="btn btn-block btn-info btn-xs">Ping</button>
                                </td>

                                <td align="center">
                                    <button onclick="disconnect_Blocko_Server('@x.server_name')" class="btn btn-block btn-danger btn-xs">Disconnect</button>
                                </td>
                            </tr>
                        }
                    </table>

                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Connected Compiler-Servers</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger btn-sm"> Disconnect All </button>
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>
                <div class="box-body table-responsive no-padding">
                    <table id="compilation_server_table" class="table table-bordered">

                        <tr>
                            <th>Server</th>
                            <th class="col-xs-1">Status</th>
                            <th class="col-xs-1">Ping</th>
                            <th class="col-xs-1">Disconnect</th>

                        </tr>

                        @for( x <- Model_CompilationServer.find.all() ){
                            <tr>
                                <td> @x.server_name </td>

                                <td>
                                @if(!x.server_is_online()){
                                    <p class="small text-red"> Offline </p>
                                }else{
                                    <p class="small text-green"> Online </p>
                                }
                                </td>


                                <td align="center">
                                    <button onclick="ping_Compilation_Server('@x.server_name')" class="btn btn-block btn-info btn-xs">Ping</button>
                                </td>

                                <td align="center">
                                    <button onclick="disconnect_Compilation_Server('@x.server_name')" class="btn btn-block btn-danger btn-xs">Disconnect</button>
                                </td>
                            </tr>
                        }

                    </table>

                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>

</section>





<!-- /. SCRIPT --------------------------------------------------------------------------------------------------------->

<script>
        $.ajaxSetup({ cache: false });

        function ping_becki(id, token){
            $.ajax({
                url: '/admin/becki/ping/' + id + '/' + token,
                type: 'GET',

                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },

                success:function(data){
                    BootstrapDialog.show({
                        message:  syntaxHighlight(data),

                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                    $('#homer').load(document.URL +  ' #homer');
                },
                error:function(data) {
                    BootstrapDialog.show({
                        message:  syntaxHighlight(data),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}

        function test_notification(mail){
            model_data = $("#testNotification").serializeObject();
            $.ajax({
                url: '@routes.Controller_Notification.test_notifications("")' + mail,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(model_data),
                dataType: 'json',
                success:function(e){
                },
                error:function(json){
                    alert(json.responseText);
                }
            })}

        function disconnect_becki(id , token){
            $.ajax({
                url: '/admin/becki/disconnect/' + id + "/" + token,
                type: 'GET',
                success:function(e){
                    $('#becki_table_wrapper').load(document.URL +  ' #becki_table');
                },
                error:function(e) {
                    alert("Unsuccessful.");
                }
            })}


        function ping_Blocko_Server(id){
            $.ajax({

                url: '@routes.Controller_Dashboard.ping_homer_server("")' + id,
                type: 'GET',

                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },

                success:function(data){
                    BootstrapDialog.show({
                        message:  syntaxHighlight(data),

                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                    $('#homer').load(document.URL +  ' #homer');
                },
                error:function(data) {
                    BootstrapDialog.show({
                        message:  syntaxHighlight(data),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}

        function disconnect_Blocko_Server(id){
            $.ajax({
                url: '@routes.Controller_Dashboard.disconnect_blocko_server("")' + id,
                type: 'GET',

                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },

                success:function(data){
                    BootstrapDialog.show({
                        message:  syntaxHighlight(data),

                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                    $('#homer').load(document.URL +  ' #homer');
                },
                error:function(data) {
                    BootstrapDialog.show({
                        message:  syntaxHighlight(data),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}

        function ping_Compilation_Server(id){
            $.ajax({
                url: '@routes.Controller_Dashboard.ping_compilation_server("")' + id,
                type: 'GET',

                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },

                success:function(e){
                    BootstrapDialog.show({
                        message:  syntaxHighlight(e),

                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                    $('#homer').load(document.URL +  ' #homer');
                },

                error:function(e) {
                    BootstrapDialog.show({
                        message:  syntaxHighlight(e),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}

        function disconnect_Compilation_Server(id){
            $.ajax({
                url: '@routes.Controller_Dashboard.disconnect_compilation_server("")' + id,
                type: 'GET',

                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },

                success:function(e){
                    BootstrapDialog.show({
                        message:  syntaxHighlight(e),

                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                    $('#compilation').load(document.URL +  ' #compilation');
                },

                error:function(e) {
                    BootstrapDialog.show({
                        message:  syntaxHighlight(e),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}
</script>