
@import models.person.Person
@import utilities.enums.{Firmware_type, Type_of_command}
@import utilities.webSocket.{WS_Grid_Terminal, WebSCType, WS_BlockoServer, WS_CompilerServer, WS_Becki_Website}
@import controllers.DashboardController
@import controllers.WikyController
@import controllers.WebSocketController
@import utilities.Server
@import utilities.webSocket.{WS_Homer_Cloud, WebSCType}

@(homers: List[WebSCType], grids: List[WS_Grid_Terminal], becki_Terminal: List[WS_Becki_Website], cloud_blocko_server: List[WS_BlockoServer], compilation_server: List[WS_CompilerServer])

<section class="content-header">
    <h1> Websocket <small> connections </small> </h1>
    <ol class="breadcrumb">
        <li><a href="@routes.DashboardController.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
        <li class="active"><i class="fa fa-heart"></i> Websocket connections </li>
    </ol>
</section>

<script type="text/javascript" src="@routes.DashboardController.javascriptRoutes"></script>

<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Connected Homers (PC/RPI..)</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success  btn-sm ">  ADD TEMPORARY INSTANCE</button>
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>

                <div class="box-body table-responsive no-padding">
                    <table id="homer" class="table table-bordered">

                        <tr>
                            <th>Instance ID</th>
                            <th>Grid Subscribers</th>
                            <th>Becki Subscribers</th>
                            <th>Open Details</th>
                            <th>Get Status</th>
                            <th>Disconnect</th>
                        </tr>



                        @for(s <- WebSocketController.incomingConnections_homers){

                        }

                        @for( x <- homers){
                            <tr>
                                <td> @x.identifikator</td>

                                <td> @if( !x.subscribers_grid.isEmpty) {
                                    @for( y <- x.subscribers_grid){
                                        @y.identifikator
                                    }
                                } else{
                                    -----
                                }</td>


                                <td> @if( !x.subscribers_becki.isEmpty) {
                                    @for( y <- x.subscribers_becki){
                                        @Person.find.byId(y.identifikator).mail
                                    }
                                } else{
                                    -----
                                }</td>

                                <td align="center">
                                    <a href=' @routes.DashboardController.show_instance_detail( x.identifikator )' >
                                        <button class="btn btn-block btn-info btn-xs">Details</button>
                                    </a>

                                </td>

                                <td align="center">
                                    <button onclick="ping_instance('@x.identifikator', '@Type_of_command.COMMAND_PING_INSTANCE.get_command')" class="btn btn-block btn-info btn-xs">Ping</button>
                                </td>

                                <td align="center">
                                    <button onclick="disconnect_instance('@x.identifikator', '@Type_of_command.COMMAND_DISCONNECT_INSTANCE.get_command' )" class="btn btn-block btn-danger btn-xs">Disconnect</button>
                                </td>

                            </tr>
                        }

                    </table>
                </div><!-- /.box-body -->


            </div><!-- /.box -->
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Connected Grid-Terminals (Browser, Iphone...)</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger btn-sm"> Disconnect All </button>
                            <button type="button" class="btn btn-info btn-sm "> Send Ping to all </button>
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>
                <div class="box-body table-responsive no-padding">
                    <table id="terminal" class="table table-bordered">

                        <tr>
                            <th class="col-xs-1">Identificator</th>
                            <th class="col-xs-1">Receive from Homer</th>
                            <th class="col-xs-1">Homer Identificator</th>
                            <th class="col-xs-1">M Program Id</th>

                            <th class="col-xs-1">Get Status</th>
                            <th class="col-xs-1">Ping</th>
                            <th class="col-xs-1">Log out</th>
                            <th class="col-xs-1">Disconnect</th>

                        </tr>

                        @for( x <- grids){
                            <tr>
                                <td> @x.identifikator.substring(0,7) </td>

                                <td > @if( x.subscribers_grid.isEmpty){
                                    <b>FALSE</b>
                                }else{
                                    <b>TRUE</b>
                                }
                                </td>

                                <td> @if( !x.subscribers_grid.isEmpty) {
                                    @x.subscribers_grid.get(0).identifikator.substring(0,7)
                                } else{
                                    -----
                                }</td>

                                <td> @x.m_project_id </td>

                                <td align="center"><button class="btn btn-block btn-success btn-xs">Get Status</button></td>

                                <td align="center">
                                    <button onclick="ping_terminal('@x.identifikator')" class="btn btn-block btn-info btn-xs">Ping</button>
                                </td>

                                <td align="center">
                                    <button onclick="log_out_Terminal_User('@x.identifikator')" class="btn btn-block btn-warning btn-xs">Logout</button>
                                </td>

                                <td align="center">
                                    <button onclick="disconnect_terminal('@x.identifikator')" class="btn btn-block btn-danger btn-xs">Disconnect</button>
                                </td>

                            </tr>
                        }
                        </table>

                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>



    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Connected Becki-Terminals</h3>
                    <div class="pull-right">
                        <div class="btn-group">


                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger btn-sm">    Disconnect All   </button>
                            <button type="button" class="btn btn-info    btn-sm ">  Send Ping to all </button>
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>

                <div class="box-body table-responsive no-padding">
                    <table id="becki" class="table table-bordered">

                        <tr>
                            <th>Person email</th>
                            <th colspan="2" >Connection instances</th>
                            <th class="col-xs-1" >Ping</th>
                        </tr>

                        @for( x <- becki_Terminal){



                                <tr>
                                    <th rowspan="@(x.all_person_Connections.size()+2)"> @(Person.find.byId( x.identifikator ).mail )</th>
                                    <th>instances</th>
                                    <th></th>

                                    <th rowspan="@(x.all_person_Connections.size()+2)">
                                        <button onclick="ping_becki('@x.identifikator')" class="btn btn-block btn-info btn-xs">Ping</button>
                                        <form id="testNotification">
                                            <select  name="level" id="level">
                                                <option value="info">info</option>
                                                <option value="success">success</option>
                                                <option value="warning">warning</option>
                                                <option value="error">error</option>
                                            </select>
                                            <select name="importance" id="importance">
                                                <option value="low">low</option>
                                                <option value="normal">normal</option>
                                                <option value="high">high</option>
                                            </select>
                                            <input type="checkbox" name="confirmation_required">
                                            <input type="button" onclick="test_notification('@(Person.find.byId( x.identifikator ).mail )')" class="btn btn-block btn-primary btn-xs" value="Send test notification">
                                        </form>
                                    </th>
                                </tr>


                            @if( !x.all_person_Connections.isEmpty) {
                                @for((k,v) <- x.all_person_Connections) {
                                    <tr>
                                        <td> @x.all_person_Connections.get(k).identifikator      </td>

                                        <td>
                                            <button onclick="disconnect_becki( '@x.identifikator', '@k' )" class="btn btn-block btn-danger btn-xs">Disconnect</button>
                                        </td>
                                    <tr>
                                }
                            }


                        }
                    </table>




                </div><!-- /.box-body -->


            </div><!-- /.box -->
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Connected Blocko-Servers (Homer Cloud instances)</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                                <!--   <button type="button" class="btn btn-danger btn-sm"> Disconnect All </button>  -->
                                <!--    <button type="button" class="btn btn-info btn-sm ">  Send Ping to all</button>  -->
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>
                <div class="box-body table-responsive no-padding">
                    <table id="blocko" class="table table-bordered">

                        <tr>
                            <th align="center" >Server</th>
                            <th align="center">Working instances</th>

                            <th class="col-xs-1">Get Status</th>
                            <th class="col-xs-1">Ping</th>
                            <th class="col-xs-1">Disconnect</th>

                        </tr>

                        @for( x <- cloud_blocko_server ){
                            <tr>
                                <td> @x.identifikator </td>
                                <td> @x.virtual_homers.size() </td>

                                <td align="center">
                                    <button onclick="show_all_logs()" class="btn btn-block btn-success btn-xs">Get Status</button>
                                </td>

                                <td align="center">
                                    <button onclick="ping_Blocko_Server('@x.identifikator')" class="btn btn-block btn-info btn-xs">Ping</button>
                                </td>

                                <td align="center">
                                    <button onclick="disconnect_Blocko_Server('@x.identifikator')" class="btn btn-block btn-danger btn-xs">Disconnect</button>
                                </td>
                            </tr>
                        }
                    </table>

                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Connected Compiler-Servers</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger btn-sm"> Disconnect All </button>
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>
                <div class="box-body table-responsive no-padding">
                    <table id="compilation" class="table table-bordered">

                        <tr>
                            <th>Server</th>

                            <th class="col-xs-1">Get Status</th>
                            <th class="col-xs-1">Ping</th>
                            <th class="col-xs-1">Disconnect</th>

                        </tr>

                        @for( x <- compilation_server ){
                            <tr>
                                <td> @x.identifikator </td>


                                <td align="center">
                                    <button onclick="show_all_logs()" class="btn btn-block btn-success btn-xs">Get Status</button>
                                </td>

                                <td align="center">
                                    <button onclick="ping_Compilation_Server('@x.identifikator')" class="btn btn-block btn-info btn-xs">Ping</button>
                                </td>

                                <td align="center">
                                    <button onclick="disconnect_Compilation_Server('@x.identifikator')" class="btn btn-block btn-danger btn-xs">Disconnect</button>
                                </td>
                            </tr>
                        }

                    </table>

                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>

</section><!-- /.content -->


<script>
        $.ajaxSetup({ cache: false });

        function ping_instance(instance_id){

            $.ajax({

                url: '/public/instance/ping/' + instance_id,
                data : {
                    instance_id: instance_id
                },
                type: 'GET',

                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },

                success:function(data, status){
                    console.log(data);
                    console.log(status);
                    BootstrapDialog.show({
                        message:  syntaxHighlight(data),

                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                },
                error:function(data) {
                    BootstrapDialog.show({
                        message:  syntaxHighlight(data),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]
                    });
                }
            })}

        function disconnect_instance(instance_id){
            $.ajax({
                url: '/project/b_program/instance/shut_down/' + instance_id,
                type: 'GET',

                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },

                success:function(data){
                    BootstrapDialog.show({
                        message:  syntaxHighlight(data),

                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                    $('#homer').load(document.URL +  ' #homer');
                },
                error:function(data) {
                    BootstrapDialog.show({
                        message:  syntaxHighlight(data),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}

        function ping_terminal(data){
            $.ajax({
                url: '/public/homer/get_status/' + data,
                type: 'GET',

                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },

                success:function(e){
                    BootstrapDialog.show({
                        message:  syntaxHighlight(data),

                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                    $('#homer').load(document.URL +  ' #homer');
                },
                error:function(e) {
                    BootstrapDialog.show({
                        message:  syntaxHighlight(data),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}


        function log_out_Terminal_User(data){
            $.ajax({
                url: '/public/terminal/log_out/' + data,
                type: 'GET',

                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                },

                success:function(e){
                    BootstrapDialog.show({
                        message:  syntaxHighlight(data),

                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                    $('#homer').load(document.URL +  ' #homer');
                },
                error:function(data) {
                    BootstrapDialog.show({
                        message:  syntaxHighlight(data),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}
        function disconnect_terminal(data){
            $.ajax({
                url: '/public/terminal/disconnect/' + data,
                type: 'GET',

                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                },

                success:function(data){
                    BootstrapDialog.show({
                        message:  syntaxHighlight(data),

                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                    $('#homer').load(document.URL +  ' #homer');
                },
                error:function(data) {
                    BootstrapDialog.show({
                        message:  syntaxHighlight(data),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}
        function ping_becki(data){
            $.ajax({
                url: '/public/becki/ping/' + data,
                type: 'GET',

                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                },

                success:function(data){
                    BootstrapDialog.show({
                        message:  syntaxHighlight(data),

                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                    $('#homer').load(document.URL +  ' #homer');
                },
                error:function(data) {
                    BootstrapDialog.show({
                        message:  syntaxHighlight(data),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}
        function test_notification(data){
            model_data = $("#testNotification").serializeObject();
            $.ajax({
                url: '/notification/test/' + data,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(model_data),
                dataType: 'json',
                success:function(e){
                },
                error:function(json.responseText) {
                    alert("Unsuccessful.");
                }
            })}
        function disconnect_becki(data , k){
            $.ajax({
                url: '/public/becki/disconnect/' + data +"/" + k,
                type: 'GET',
                success:function(e){
                    $('#becki').load(document.URL +  ' #becki');
                },
                error:function(e) {
                    alert("Unsuccessful.");
                }
            })}
        function show_all_logs(){
            $.ajax({
                url: '@routes.DashboardController.show_all_logs()',
                type: 'GET',
                success:function(e){
                },
                error:function(e) {
                    alert("Unsuccessful.");
                }
            })}

        function ping_Blocko_Server(data){
            $.ajax({
                url: '/public/blocko_server/ping/' + data,
                type: 'GET',

                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                },

                success:function(data){
                    BootstrapDialog.show({
                        message:  syntaxHighlight(data),

                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                    $('#homer').load(document.URL +  ' #homer');
                },
                error:function(data) {
                    BootstrapDialog.show({
                        message:  syntaxHighlight(data),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}

        function disconnect_Blocko_Server(data){
            $.ajax({
                url: '/public/blocko_server/disconnect/' + data,
                type: 'GET',

                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                },

                success:function(data){
                    BootstrapDialog.show({
                        message:  syntaxHighlight(data),

                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                    $('#homer').load(document.URL +  ' #homer');
                },
                error:function(data) {
                    BootstrapDialog.show({
                        message:  syntaxHighlight(data),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}

        function ping_Compilation_Server(data){
            $.ajax({
                url: '/public/compilator_server/ping/' + data ,
                type: 'GET',

                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },

                success:function(e){
                    BootstrapDialog.show({
                        message:  syntaxHighlight(e),

                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                    $('#homer').load(document.URL +  ' #homer');
                },

                error:function(e) {
                    BootstrapDialog.show({
                        message:  syntaxHighlight(e),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}

        function disconnect_Compilation_Server(data){
            $.ajax({
                url: '/public/compilator_server/disconnect/' + data,
                type: 'GET',

                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },

                success:function(e){
                    BootstrapDialog.show({
                        message:  syntaxHighlight(e),

                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                    $('#compilation').load(document.URL +  ' #compilation');
                },

                error:function(e) {
                    BootstrapDialog.show({
                        message:  syntaxHighlight(e),
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Close',
                            action: function(dialogItself){
                                dialogItself.close();
                            }
                        }]

                    });
                }
            })}
</script>