<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel - %logger - %message%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="allLog" class="ch.qos.logback.core.FileAppender">
        <file>${user.dir}/logs/all.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{dd HH:mm:ss ZZZZ} [%-5level] %message%n</pattern>
        </encoder>
    </appender>

    <appender name="testLog" class="ch.qos.logback.core.FileAppender">
        <file>${user.dir}/logs/test.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss ZZZZ} [%-5level] %message%n</pattern>
        </encoder>
    </appender>

    <!--
      The logger name is typically the Java/Scala package name.
      This configures the log level to log at for a package and its children packages.
    -->
    <logger name="com.avaje.ebean.config.PropertyMapLoader"                 level="WARN" />
    <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader"      level="WARN" />
    <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread"      level="WARN" />
    <logger name="com.gargoylesoftware.htmlunit.javascript"                 level="WARN" />
    <logger name="org.avaje.ebean.SQL"                                      level="WARN" />
    <logger name="org.ehcache.core.EhcacheManager"                          level="WARN" />
    <logger name="org.quartz"                                               level="WARN" />
    <logger name="p.a.d"                                                    level="WARN" />
    <logger name="com.microsoft.azure.documentdb"                           level="WARN" />
    <logger name="TYRION"                                                   level="TRACE" />
    <logger name="org.mongodb.driver"                                       level="WARN" />

    <logger name="javax.net"                                                level="WARN" />
    <logger name="com.ning"                                                 level="WARN" />
    <logger name="org.jboss.netty"                                          level="WARN" />
    <logger name="play.libs"                                                level="WARN" />

    <logger name="play"                 level="WARN" />
    <logger name="application"          level="DEBUG" />
    <logger name="com.jolbox.bonecp"    level="INFO" additivity = "false"/>


    <logger name="junit.framework.TestCase" level="INFO" additivity = "false">
        <appender-ref ref="testLog" />
        <appender-ref ref="allLog" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="allLog" />
    </root>

</configuration>
