<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel - %logger - %message%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="allLog" class="ch.qos.logback.core.FileAppender">
        <file>${user.dir}/logs/all.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss ZZZZ} [%-5level] %message%n</pattern>
        </encoder>
    </appender>

    <appender name="testLog" class="ch.qos.logback.core.FileAppender">
        <file>${user.dir}/logs/test.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss ZZZZ} [%-5level] %message%n</pattern>
        </encoder>
    </appender>

    <!--
      The logger name is typically the Java/Scala package name.
      This configures the log level to log at for a package and its children packages.
    -->
    <logger name="com.avaje.ebean.config.PropertyMapLoader" level="DEBUG" />
    <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="DEBUG" />
    <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="DEBUG" />
    <logger name="com.gargoylesoftware.htmlunit.javascript" level="DEBUG" />
    <logger name="org.avaje.ebean.SQL" level="TRACE" />


    <logger name="play" level="INFO" />
    <logger name="application" level="DEBUG" />
    <logger name="com.jolbox.bonecp" level="INFO" additivity = "false"/>


    <logger name="Loggy" level="DEBUG" additivity = "false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="allLog" />
    </logger>

    <logger name="junit.framework.TestCase" level="ERROR" additivity = "false">
        <appender-ref ref="testLog" />
        <appender-ref ref="allLog" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="allLog" />
    </root>

</configuration>
