@import models.compiler.TypeOfBoard
@(serverAddress: String)
<script>
        function getCookie(name)
        {
          var re = new RegExp(name + "=([^;]+)");
          var value = re.exec(document.cookie);
          return (value != null) ? unescape(value[1]) : null;
        }

        if(getCookie("authToken") == null){
          $(window).load(function() {
            $("#login").css("display","block");
          });
        }
</script>
<script>
  function login() {
    model_data = $("#login_form").serializeObject();
    $.ajax({
      url: @routes.SecurityController.login(),
      type: 'POST',
      contentType: 'application/json',
      headers: {
        "Content-Type":"application/json"
      },
      data: JSON.stringify(model_data),
      dataType: 'json',
      success:function(e){
        alert("success");
      },
      error:function(e) {
        alert("Unsuccessful. Check if all properties are correct");
      }
    })
  }
</script>
<section class="content-header">
  <h1> Admin Page </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-wrench"></i> Admin Page </a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>
<section class="content">
  <div id="login" class="modal" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
          <form id="login_form">
            <label>Mail</label>
            <input type="text" name="mail">
            <label>Password</label>
            <input type="text" name="password">
          </form>
        </div>
        <div class="modal-footer">
          <button id="login_button" class="btn btn-primary" type="button">Login</button>
        </div>
      </div>
        <!-- /.modal-content -->
    </div>
      <!-- /.modal-dialog -->
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Type Of Board</h3>
        </div>
        <div class="box-body">

          <script>
             $("#login_button").click(function login(){
             model_data = $("#login_form").serializeObject();
             $.ajax({
               url: '@routes.SecurityController.login()',
               type: 'POST',
               contentType: 'application/json',
               headers: {
                 "Content-Type":"application/json"
               },
               data: JSON.stringify(model_data),
               dataType: 'json',
               success:function(data){
                 document.cookie = "authToken=" + data.authToken;
                 $("#login").css("display","none");
                 alert(getCookie("authToken"));
               },
               error:function(e) {
                 alert("Unsuccessful. Wrong email or password.");
               }
             })
           });




             function newTypeOfBoard(){
          model_data = $("#newTypeOfBoard").serializeObject();
          $.ajax({
          url: '@routes.CompilationLibrariesController.new_TypeOfBoard()',
          type: 'POST',
          contentType: 'application/json',
          headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
              "Content-Type":"application/json"
            },
          data: JSON.stringify(model_data),
          dataType: 'json',
          success:function(e){
            location.reload();
          },
            error:function(e) {
              alert("Unsuccessful. Check if all properties are correct");
            }
            })};

            function editTypeOfBoard(){
              model_data = $("#editTypeOfBoard").serializeObject();

              var id = $("#editTypeOfBoard").find("input[name='id']").val();

              $.ajax({
                url: "@serverAddress" + "/compilation/typeOfBoard/" + id ,
                type: 'PUT',
                contentType: 'application/json',
                headers: {
                  "X-AUTH-TOKEN":getCookie("authToken"),
                  "Content-Type":"application/json"
                },
                data: JSON.stringify(model_data),
                dataType: 'json',
                success:function(e){
                  location.reload();
                },
                error:function(e) {
                  alert("Unsuccessful. Check if all properties are correct");
                }
              })};

            function deleteTypeOfBoard(){

              var id = $("#deleteTypeOfBoard").find("input[name='id']").val();

              $.ajax({
                url: "@serverAddress" + "/compilation/typeOfBoard/" + id ,
                type: 'DELETE',
                headers: {
                  "X-AUTH-TOKEN":getCookie("authToken"),
                },
                success:function(e){
                  location.reload();
                },
                error:function(e) {
                  alert("Unsuccessful. Maybe it cannot be deleted, because there are some boards of this type.");
                }
              })};

          </script>


          <label style="font-size: 13pt;">New Type of Board</label>
          <form id="newTypeOfBoard")>
            <label>Name</label>
            <input type="text" name="name" >
            <label>Description</label>
            <input type="text" name="description" >
            <label>Producer id</label>
            <input type="text" name="producer_id" >
            <label>Processor id</label>
            <input type="text" name="processor_id" >
            <label>Connectible to internet</label>
            <input type="checkbox" name="connectible_to_internet" >
            <button type="button" onclick="newTypeOfBoard()">New type of board</button>
          </form>
        </div>
        <div class="box-body">
          <label style="font-size: 13pt;">All Types of Boards</label>
          <table class="table table-bordered">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
              <th>Producer</th>
              <th>Processor</th>
              <th>Connectible to Internet</th>
              <th>Edit permission</th>
              <th>Delete Permission</th>
              <th>Reg. new device perm.</th>
            </tr>
              @for(typeOfBoard <- TypeOfBoard.find.all()) {
                <tr>
                  <td>@typeOfBoard.id</td>
                  <td>@typeOfBoard.name</td>
                  <td>@typeOfBoard.description</td>
                  <td>@typeOfBoard.producer_id()</td>
                  <td>@typeOfBoard.processor_id()</td>
                  <td>@typeOfBoard.connectible_to_internet</td>
                  <td>null</td>
                  <td>null</td>
                  <td>null</td>
                </tr>
              }
          </table>
        </div>
        <div class="box-body">
          <label style="font-size: 13pt;">Edit Type of Board</label>
          <form id="editTypeOfBoard")>
            <label>ID</label>
            <input type="text" name="id" >
            <label>Name</label>
            <input type="text" name="name" >
            <label>Description</label>
            <input type="text" name="description" >
            <label>Producer id</label>
            <input type="text" name="producer_id" >
            <label>Processor id</label>
            <input type="text" name="processor_id" >
            <label>Connectible to internet</label>
            <input type="checkbox" name="connectible_to_internet" >
            <button type="button" onclick="editTypeOfBoard()">Edit type of board</button>
          </form>
        </div>
        <div class="box-footer">
          <form id="deleteTypeOfBoard")>
            <label>ID</label>
            <input type="text" name="id" >
            <button type="button" onclick="deleteTypeOfBoard()">Delete type of board</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>