@import utilities.swagger.swagger_diff_tools.servise_class.Swagger_Diff
@import utilities.swagger.swagger_diff_tools.servise_class.Diffs
@(diff: Swagger_Diff, link_api_swagger : String)


<section class="content-header">
  <h1> Read Me <small> current version </small> </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-graduation-cap"></i> Read Me </a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

  <!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-body no-padding">
          <div class="mailbox-read-message">

              <H1> <p style="text-align: center">Differencing on version
                                    <text class="text-red">   @diff.old_Version </text>
                                                              vs
                                    <text class="text-green"> @diff.new_Version </text>
              </p> </H1><br>



              <div class="row">
                  <div class="col-md-6">
                      <div class="box box-danger">
                          <div class="box-header with-border">
                              <i class="fa fa-warning"></i>
                              <h3 class="box-title">Group Removed</h3>
                          </div><!-- /.box-header -->
                          <div class="box-body">
                          @for(x <- diff.removed_groups){
                              <p class="text-red">  @x <a href='@(link_api_swagger + "/" + diff.old_Version + "#" + x)' ><i class="fa fa-graduation-cap"></i>[Swagger]</a> </p>
                          }
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="box box-success">
                          <div class="box-header with-border">
                              <i class="fa fa-bullhorn"></i>
                              <h3 class="box-title">Group Added</h3>
                          </div><!-- /.box-header -->
                          <div class="box-body">
                              @for(x <- diff.add_groups ){
                                  <p class="text-green">  @x <a href='@(link_api_swagger + "/" + diff.new_Version + "#" + x)' ><i class="fa fa-graduation-cap"></i>[Swagger]</a> </p> </p>
                              }
                          </div>
                      </div><!-- /.box-body -->
                  </div><!-- /.box -->

              </div>

              <h2 class="page-header">Api objekty na kterých došlo ke změně</h2>

              @for(x <- diff.diffs) {
                  <h2 class="page-header"></h2>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="box box-danger">
                              <div class="box-header with-border">
                                  <i class="fa fa-warning"></i>
                                  <h3 class="box-title"><text class="text-red"> @x.name (old)</text></h3>
                              </div> <!-- /.box-header -->
                              <div class="box-body">
                                   <pre class="prettyprint">
                                     @x.old_json
                                   </pre>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="box box-success">
                              <div class="box-header with-border">
                                  <i class="fa fa-bullhorn"></i>
                                  <h3 class="box-title"><text class="text-green"> @x.name (New)</text></h3>
                              </div> <!-- /.box-header -->
                              <div class="box-body">
                                  <pre class="prettyprint">
                                    @x.new_json
                                  </pre>
                              </div>
                          </div> <!-- /.box-body -->
                      </div> <!-- /.box -->
                  </div>
              }




                  <h2 class="page-header">Odebrané nebo nové APi</h2>
                  <div class="row">

                      <div class="col-md-6">
                          <div class="box box-danger">
                              <div class="box-header with-border">
                                  <i class="fa fa-warning"></i>
                                  <h3 class="box-title"><text class="text-red">  dfsdsfasdfsd</text></h3>
                              </div> <!-- /.box-header -->
                              <div class="box-body">
                                  <pre class="prettyprint">
                                      dfsdsfasdfsd
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                             <div class="box box-success">
                                 <div class="box-header with-border">
                                     <i class="fa fa-bullhorn"></i>
                                     <h3 class="box-title"><text class="text-green">  dfsdsfasdfsd</text></h3>
                                 </div> <!-- /.box-header -->
                                 <div class="box-body">
                                     <pre class="prettyprint">
                                         dfsdsfasdfsd
                                     </pre>
                                 </div>
                             </div> <!-- /.box-body -->
                         </div> <!-- /.box -->
                      <div class="col-md-6">
                          <div class="box box-success">
                              <div class="box-header with-border">
                                  <i class="fa fa-bullhorn"></i>
                                  <h3 class="box-title"><text class="text-green">  dfsdsfasdfsd</text></h3>
                              </div> <!-- /.box-header -->
                              <div class="box-body">
                                  <pre class="prettyprint">
                                   dfsdsfasdfsd
                                  </pre>
                              </div>
                          </div> <!-- /.box-body -->

                          <div class="box box-success">
                              <div class="box-header with-border">
                                  <i class="fa fa-bullhorn"></i>
                                  <h3 class="box-title"><text class="text-green">  dfsdsfasdfsd</text></h3>
                              </div> <!-- /.box-header -->
                              <div class="box-body">
                                  <pre class="prettyprint">
                                      dfsdsfasdfsd
                                  </pre>
                              </div>
                          </div> <!-- /.box-body -->

                          <div class="box box-success">
                              <div class="box-header with-border">
                                  <i class="fa fa-bullhorn"></i>
                                  <h3 class="box-title"><text class="text-green">  dfsdsfasdfsd</text></h3>
                              </div> <!-- /.box-header -->
                              <div class="box-body">
                                  <pre class="prettyprint">
                                      dfsdsfasdfsd
                                  </pre>
                              </div>
                          </div> <!-- /.box-body -->

                          <div class="box box-success">
                              <div class="box-header with-border">
                                  <i class="fa fa-bullhorn"></i>
                                  <h3 class="box-title"><text class="text-green">  dfsdsfasdfsd</text></h3>
                              </div> <!-- /.box-header -->
                              <div class="box-body">
                                  <pre class="prettyprint">
                                      dfsdsfasdfsd
                                  </pre>
                              </div>
                          </div> <!-- /.box-body -->

                      </div> <!-- /.box -->
                      <div class="col-md-6">
                          <div class="box box-success">
                              <div class="box-header with-border">
                                  <i class="fa fa-bullhorn"></i>
                                  <h3 class="box-title"><text class="text-green">  dfsdsfasdfsd</text></h3>
                              </div> <!-- /.box-header -->
                              <div class="box-body">
                                  <pre class="prettyprint">
                                      dfsdsfasdfsd
                                  </pre>
                              </div>
                          </div> <!-- /.box-body -->
                      </div> <!-- /.box -->

                  </div>



          </div>
        </div><!-- /.box-body -->
      </div><!-- /. box -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</section><!-- /.content -->

<script src="@routes.Assets.at("plugins/jsdifflib/difflib.js")"></script>
<script>
    function diffUsingJS() {

        // get the baseText and newText values from the two textboxes, and split them into lines
        var base = difflib.stringAsLines($("baseText").value);
        var newtxt = difflib.stringAsLines($("newText").value);

        // create a SequenceMatcher instance that diffs the two sets of lines
        var sm = new difflib.SequenceMatcher(base, newtxt);

        // get the opcodes from the SequenceMatcher instance
        // opcodes is a list of 3-tuples describing what changes should be made to the base text
        // in order to yield the new text
        var opcodes = sm.get_opcodes();
        var diffoutputdiv = $("diffoutput");
        while (diffoutputdiv.firstChild) diffoutputdiv.removeChild(diffoutputdiv.firstChild);
        var contextSize = $("contextSize").value;
        contextSize = contextSize ? contextSize : null;

        // build the diff view and add it to the current DOM
        diffoutputdiv.appendChild(diffview.buildView({
        baseTextLines: base,
        newTextLines: newtxt,
        opcodes: opcodes,

        // set the display titles for each resource
        baseTextName: "Base Text",
        newTextName: "New Text",
        contextSize: contextSize,
        viewType: $("inline").checked ? 1 : 0
        }));

        // scroll down to the diff view window.
        location = url + "#diff";
    }
</script>