@import utilities.swagger.swagger_diff_tools.servise_class.Swagger_Diff
@import utilities.swagger.swagger_diff_tools.servise_class.Diffs
@import utilities.swagger.swagger_diff_tools.servise_class.News
@import utilities.swagger.swagger_diff_tools.servise_class.Remws
@(diff: Swagger_Diff, link_api_swagger : String)


<section class="content-header">
  <h1> Read Me <small> current version </small> </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-graduation-cap"></i> Read Me </a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

  <!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-body no-padding">
          <div class="mailbox-read-message">
              <div>
                    <div style="width: 30%; float: left; margin-left: 10%; margin-right: 5%;" class="form-group">
                        <label>Old Version</label>
                            <select class="form-control">
                            <option>1.06.04</option>
                            <option>1.06.05</option>
                            <option>1.06.06</option>
                            <option>1.06.06.1</option>
                            <option>1.06.06.3</option>
                        </select>
                    </div>
                    <div style="width: 30%; float: left; margin-right: 5%;" class="form-group">
                        <label>New Version</label>
                        <select class="form-control">
                            <option>1.06.04</option>
                            <option>1.06.05</option>
                            <option>1.06.06</option>
                            <option>1.06.06.1</option>
                            <option>1.06.06.3</option>
                        </select>
                    </div>
                  <button style="width: 10%; float: left; margin-top: 25px;" type="submit" class="btn btn-primary">Show diff</button>
                  <div style="clear: both"></div>
              </div>
              <H1 align="center">Differencing on version
                                    <text class="text-red">   @diff.old_Version </text>
                                                              vs
                                    <text class="text-green"> @diff.new_Version </text>
              </H1><br>

                  <!-- Groups ---------------------------------------------------------------------------------------------->

                  <div class="row">
                      <div class="col-md-6">
                          <div class="box box-danger">
                              <div class="box-header with-border">
                                  <i class="fa fa-warning"></i>
                                  <h3 class="box-title">Group Removed</h3>
                              </div><!-- /.box-header -->
                              <div class="box-body">
                              @for(x <- diff.removed_groups){
                                  <p class="text-red">  @x <a href='@(link_api_swagger + "/" + diff.old_Version + "#" + x)' ><i class="fa fa-graduation-cap"></i>[Swagger]</a> </p>
                              }
                              </div>
                          </div>
                      </div>

                      <div class="col-md-6">
                          <div class="box box-success">
                              <div class="box-header with-border">
                                  <i class="fa fa-bullhorn"></i>
                                  <h3 class="box-title">Group Added</h3>
                              </div><!-- /.box-header -->
                              <div class="box-body">
                                  @for(x <- diff.add_groups ){
                                      <p class="text-green">  @x <a href='@(link_api_swagger + "/" + diff.new_Version + "#" + x)' ><i class="fa fa-graduation-cap"></i>[Swagger]</a> </p>
                                  }
                              </div>
                          </div><!-- /.box-body -->
                      </div><!-- /.box -->

                  </div>

                  <!-- Object ---------------------------------------------------------------------------------------------->

                  <h1 class="page-header" align="center">Api objekty na kterých došlo ke změně</h1>
                  @for((x, index) <- diff.object_diffs.zipWithIndex) {
                      <h2 class="page-header"></h2>
                      <div class="row">
                          <div class="col-md-12" id="object-changes-@index">
                          </div>
                          <script>
                          {
                              var oldText = difflib.stringAsLines("@Html(x.old_json.replace("\\", "\\\\").replace("\n", "\\n").replace("\"", "\\\""))");
                              var newText = difflib.stringAsLines("@Html(x.new_json.replace("\\", "\\\\").replace("\n", "\\n").replace("\"", "\\\""))");

                              var sm = new difflib.SequenceMatcher(oldText, newText);

                              var opcodes = sm.get_opcodes();
                              document.getElementById("object-changes-"+@index).appendChild(diffview.buildView({
                                  baseTextLines: oldText,
                                  newTextLines: newText,
                                  opcodes: opcodes,

                                  // set the display titles for each resource
                                  baseTextName:  "@Html(x.name)",
                                  newTextName:  "@Html(x.name)",
                                  viewType: 0
                              }));
                          }
                          </script>
                      </div>
                  }


                  <h1 class="page-header" align="center">Odebrané nebo nové / přejmenované Objekty</h1>
                  <div class="row">

                          <div class="col-md-6">
                              @for(x <- diff.object_removes){
                                      <div class="box box-danger">
                                          <div class="box-header with-border">
                                              <i class="fa fa-warning"></i>
                                              <h3 class="box-title"><text class="text-red">@x.name (old)</text></h3>
                                          </div> <!-- /.box-header -->
                                          <div class="box-body">
                                              <pre class="prettyprint">
                                                  @x.new_json
                                              </pre>
                                          </div>
                                      </div>
                              }
                          </div>

                          <div class="col-md-6">
                          @for(x <- diff.object_new) {
                              <div class="box box-success">
                                  <div class="box-header with-border">
                                      <i class="fa fa-bullhorn"></i>
                                      <h3 class="box-title"><text class="text-green"> @x.name (new) </text></h3>
                                  </div> <!-- /.box-header -->
                                  <div class="box-body">
                                      <pre class="prettyprint">
                                      @x.new_json
                                      </pre>
                                  </div>
                              </div> <!-- /.box-body -->
                          }
                          </div> <!-- /.box -->

                  </div> <!-- /.box -->





              <!-- PATHS ---------------------------------------------------------------------------------------------->



              <h1 class="page-header" align="center">Změny nad Api </h1>

              @for((x, index) <- diff.paths_diffs.zipWithIndex) {
                  <h2 class="page-header"></h2>
                  <div class="row">
                      <div class="col-md-12" id="api-changes-@index">
                      </div>
                      <script>
                      {
                            var oldText = difflib.stringAsLines("@Html(x.old_json.replace("\\", "\\\\").replace("\n", "\\n").replace("\"", "\\\""))");
                            var newText = difflib.stringAsLines("@Html(x.new_json.replace("\\", "\\\\").replace("\n", "\\n").replace("\"", "\\\""))");

                            var sm = new difflib.SequenceMatcher(oldText, newText);

                            var opcodes = sm.get_opcodes();
                            document.getElementById("api-changes-"+@index).appendChild(diffview.buildView({
                              baseTextLines: oldText,
                              newTextLines: newText,
                              opcodes: opcodes,

                              // set the display titles for each resource
                              baseTextName: "@Html(x.name)",
                              newTextName: "@Html(x.name)",
                              viewType: 0
                            }));
                      }
                      </script>
                  </div>
              }


              <h1 class="page-header" align="center"> Odebrané nebo přidané  API </h1>
              <div class="row">

                  <div class="col-md-6">
                  @for(x <- diff.paths_removes){
                      <div class="box box-danger">
                          <div class="box-header with-border">
                              <i class="fa fa-warning"></i>
                              <h3 class="box-title"><text class="text-red">@x.name (old)</text></h3>
                          </div> <!-- /.box-header -->
                          <div class="box-body">
                              <pre class="prettyprint">
                              @x.new_json
                              </pre>
                          </div>
                      </div>
                  }
                  </div>

                  <div class="col-md-6">
                  @for(x <- diff.paths_new) {
                      <div class="box box-success">
                          <div class="box-header with-border">
                              <i class="fa fa-bullhorn"></i>
                              <h3 class="box-title"><text class="text-green"> @x.name (new) </text></h3>
                          </div> <!-- /.box-header -->
                          <div class="box-body">
                              <pre class="prettyprint">
                              @x.new_json
                              </pre>
                          </div>
                      </div> <!-- /.box-body -->
                  }
                  </div> <!-- /.box -->

              </div> <!-- /.box -->




               </div>
          </div>
        </div><!-- /.box-body -->
      </div><!-- /. box -->
    </div><!-- /.col -->
</section><!-- /.content -->
