@import models.blocko.BlockoBlock
@import models.blocko.TypeOfBlock
@import models.blocko.BlockoBlockVersion
@import utilities.Server
@import utilities.enums.Approval_state

<section class="content-header">
  <h1> Blocko object approving </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-wrench"></i> Blocko Page </a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

@*/*/*  TypeOfBoard ---------------------------------------------------------------------------------------------   */*/*@

<section class="content">
  <div id="editBlockoBlockModal" style="display: none;" class="modal">
    <div style="margin-top: 5%;" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Blocko Block</h4>
        </div>
        <div class="modal-body">
            <label id="blockoBlockId" style="display: block; font-size: 15pt;">ID</label>
            <div style="float: left; width: 30%;">
              <label style="color: #2e6da4">Name:</label>
              <input style="display: block;" type="text" id="blocko_block_name">
            </div>
            <div style="width:100%;">
              <label style="color: #2e6da4">Description:</label>
              <input style="display: block; width: 70%;" type="text" id="blocko_block_general_description">
            </div>
            <label style="color: #2e6da4">Type of Block:</label>
            <select style="display: block" name="blocko_block_type_of_block_id" id="blocko_block_type_of_block_id">
              <option id="type_of_block_option" selected value="">If you don't want to change it, leave this empty.</option>
              @for(typeOfBlock <- TypeOfBlock.find.where().eq("project", null).ne("approval_state", Approval_state.disapproved).findList()) {
                <option value="@typeOfBlock.id">@typeOfBlock.name</option>
              }
            </select>
        </div>
        <div class="modal-body">

            <label id="blocko_version_id" style="display: block; font-size: 15pt;"></label>
            <div style="float: left; width: 30%;">
              <label style="color: #2e6da4">Version name:</label>
              <input type="text" name="blocko_block_version_name" id="blocko_version_name" style="display: block;">
            </div>
            <div style="width:100%;">
              <label style="color: #2e6da4">Version description:</label>
              <input type="text" id="blocko_version_description" style="display: block; width: 70%;">
            </div>
            <label style="color: #2e6da4">Design JSON:</label>
            <textarea id="blocko_version_desing" style="display: block; width: 100%; height: auto;" rows="3"></textarea>
            <label style="color: #2e6da4">Logic JSON:</label>
            <textarea id="blocko_version_logic" style="display: block; width: 100%; height: auto;" rows="6"></textarea>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#editBlockoBlockModal').css('display','none')">Close</button>
          <button id="editBlockoBlockButton" value="" class="btn btn-primary" type="button" onclick="editBlockoBlock(this.value)">Save changes & Approve</button>
        </div>
      </div>
        <!-- /.modal-content -->
    </div>
      <!-- /.modal-dialog -->
  </div>
  <div id="showBlockoVersionModal" style="display: none;" class="modal">
    <div style="margin-top: 10%;" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Blocko Block Version</h4>
        </div>
        <div class="modal-body">
            <label id="blockoVersionId" style="display: block"></label>
            <label style="color: #2e6da4">Name:</label>
            <label id="blockoVersionName" style="display: block; text-indent: 20px;"></label>
            <label style="color: #2e6da4">Description:</label>
            <label id="blockoVersionDescription" style="display: block; text-indent: 20px;"></label>
            <label style="color: #2e6da4">Design JSON:</label>
            <label id="blockoVersionDesing" style="display: block; text-indent: 20px;"></label>
            <label style="color: #2e6da4">Logic JSON:</label>
            <label id="blockoVersionLogic" style="display: block; text-indent: 20px;"></label>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#showBlockoVersionModal').css('display','none')">Close</button>
        </div>
      </div>
        <!-- /.modal-content -->
    </div>
      <!-- /.modal-dialog -->
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">BlockoBlock</h3>
        </div>
        <div class="box-body">


        </div>
        <div class="box-body">
          <label style="font-size: 13pt;">Pending BlockoBlocks</label>
          <table id="pendingBlockoBlock" class="table table-bordered">
            <tr>
              <th>ID</th>
              <th>Type of Block</th>
              <th>Name</th>
              <th>Description</th>
              <th>First version</th>
              <th>Edit</th>
              <th>Decision</th>
            </tr>
              @for(blockoBlock <- BlockoBlock.find.where().eq("approval_state",Approval_state.pending).findList()) {
                <tr>
                  <td>@blockoBlock.id</td>
                  <td>@blockoBlock.type_of_block_name()</td>
                  <td>@blockoBlock.name</td>
                  <td>@blockoBlock.general_description</td>
                  <td><button class="btn btn-block btn-primary" type="button" onclick="showBlockoVersion('@blockoBlock.blocko_versions.get(0).id', '@blockoBlock.blocko_versions.get(0).version_name', '@blockoBlock.blocko_versions.get(0).version_description', '@blockoBlock.blocko_versions.get(0).design_json', '@blockoBlock.blocko_versions.get(0).logic_json')">Show version</button></td>
                  <td><button class="btn btn-block btn-info" type="button" onclick="showEditForm('@blockoBlock.id', '@blockoBlock.name', '@blockoBlock.general_description', '@blockoBlock.type_of_block_id()', '@blockoBlock.type_of_block_name()', '@blockoBlock.blocko_versions.get(0).id', '@blockoBlock.blocko_versions.get(0).version_name', '@blockoBlock.blocko_versions.get(0).version_description', '@blockoBlock.blocko_versions.get(0).design_json', '@blockoBlock.blocko_versions.get(0).logic_json')">Edit</button></td>
                  <td>
                    <button style="width: 48%; margin-right: 2%; display: inline-block; float: left;" class="btn btn-block btn-success" type="button" onclick="approveBlockoObject('blocko_block',true,'@blockoBlock.id')">Approve</button>
                    <button style="width: 48%; margin-left: 2%; margin-top: 0; display: inline-block; float: left;" class="btn btn-block btn-danger" type="button" onclick="approveBlockoObject('blocko_block',false,'@blockoBlock.id')">Disapprove</button>
                  </td>
                </tr>
              }
          </table>
        </div>
        <div class="box-footer">
        </div>


      </div>
    </div>
  </div>
</section>


<script>

        $.ajaxSetup({ cache: false });
        function approveBlockoObject(object, decision, id){
          model_data = {"object_name": object,
                        "object_id": id,
                        "approval": decision};
          $.ajax({
            url: '@routes.ProgramingPackageController.changeApprovalState()',
            type: 'PUT',
            contentType: 'application/json',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
              "Content-Type":"application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',
            success:function(e){
              $('#pendingBlockoBlock').load(document.URL +  ' #pendingBlockoBlock');
            },
            error:function(e) {
              alert("Unsuccessful. Try again.");
            }
          })}

        function editBlockoBlock(id){
          model_data = {"object_name": "blocko_block",
                        "object_id": id,
                        "blocko_block_name": document.getElementById('blocko_block_name').value,
                        "blocko_block_general_description": document.getElementById('blocko_block_general_description').value,
                        "blocko_block_type_of_block_id": document.getElementById('blocko_block_type_of_block_id').value,
                        "blocko_block_version_name": document.getElementById('blockoVersionName').value,
                        "blocko_block_version_description": document.getElementById('blockoVersionDescription').value,
                        "blocko_block_design_json": document.getElementById('blockoVersionDesing').value,
                        "blocko_block_logic_json": document.getElementById('blockoVersionLogic').value};

          $.ajax({
            url: '@routes.ProgramingPackageController.approveWithChanges()' ,
            type: 'PUT',
            contentType: 'application/json',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
              "Content-Type":"application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',
            success:function(e){
              $("#editBlockoBlock input[type=text]").val("");
              $("#editBlockoBlockModal").css("display","none");
              $('#pendingBlockoBlock').load(document.URL +  ' #pendingBlockoBlock');
            },
            error:function(e) {
              alert("Unsuccessful. Try again.");
            }
          })}

        function showEditForm(id, name, description, type_of_block_id, type_of_block_name, version_id, version_name, version_description, design, logic){
          $("#editBlockoBlockModal").css("display","block");
          $('#editBlockoBlockButton').val(id);
          $('#blockoBlockId').text("ID = " + id);
          $("#blocko_block_name").val(name);
          $("#blocko_block_general_description").val(description);
          $('#type_of_block_option').val(type_of_block_id);
          $('#type_of_block_option').text(type_of_block_name);
          $('#blocko_version_id').text("Version ID = " + version_id);
          $('#blocko_version_name').val(version_name);
          $('#blocko_version_description').val(version_description);
          $('#blocko_version_desing').val(design);
          $('#blocko_version_logic').val(logic);


          }

        function showBlockoVersion(id, name, description, design_json, logic_json){
          $("#showBlockoVersionModal").css("display","block");
          $('#blockoVersionId').text("ID = " + id);
          $('#blockoVersionName').text(name);
          $('#blockoVersionDescription').text(description);
          $('#blockoVersionDesing').text(design_json);
          $('#blockoVersionLogic').text(logic_json);
        }
</script>