@import models.blocko.TypeOfBlock
@import utilities.Server



<section class="content-header">
  <h1> Blocko object settings </h1>
  <ol class="breadcrumb">
    <li><a href="@routes.DashboardController.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
    <li class="active"><i class="fa fa-share"></i> Tyrion Object Management </li>
    <li class="active"><i class="fa fa-wrench"></i> Blocko Management </li>
    <li class="active"><i class="fa fa-wrench"></i> Blocko Objects </li>
  </ol>
</section>

<section class="content">

  @*/*/*  Modals ---------------------------------------------------------------------------------------------   */*/*@

<div id="newTypeOfBlockModal" style="display: none;" class="modal">
  <div style="margin-top: 15%;" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Type of Block</h4>
      </div>
      <div class="modal-body">
        <form id="newTypeOfBlock">
          <div style="float: left; width: 30%;">
            <label>Name</label>
            <input id="newTypeOfBlockName" placeholder="Name" style="display: block" type="text" name="name" >
          </div>
          <div style="width: 100%;">
            <label>Description</label>
            <input id="newTypeOfBlockDescription" placeholder="Description" style="display: block; width: 70%;" type="text" name="general_description" >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#newTypeOfBlockModal').css('display','none')">Close</button>
        <button class="btn btn-success" type="button" onclick="newTypeOfBlock()">New Type of Block</button>
      </div>
    </div>
      <!-- /.modal-content -->
  </div>
    <!-- /.modal-dialog -->
</div>
<div id="newBlockoBlockModal" style="display: none;" class="modal">
  <div style="margin-top: 15%;" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Blocko Block</h4>
      </div>
      <div class="modal-body">
        <form id="newBlockoBlock">
          <label id="newBlockoBlockTypeOfBlockName" style="display: block"></label>
          <div style="float: left; width: 30%;">
            <label>Name</label>
            <input placeholder="Name" style="display: block" type="text" name="name" >
          </div>
          <div style="width: 100%;">
            <label>Description</label>
            <input placeholder="Description" style="display: block; width: 70%;" type="text" name="general_description" >
          </div>
          <input id="newBlockoBlockTypeOfBlockId" style="display: none;" type="text" name="type_of_block_id">
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#newBlockoBlockModal').css('display','none')">Close</button>
        <button class="btn btn-success" type="button" onclick="newBlockoBlock()">New Blocko Block</button>
      </div>
    </div>
      <!-- /.modal-content -->
  </div>
    <!-- /.modal-dialog -->
</div>
<div id="newBlockoBlockVersionModal" style="display: none;" class="modal">
    <div style="margin-top: 15%;" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">New Blocko Block Version</h4>
        </div>
        <div class="modal-body">
          <form id="newBlockoBlockVersion">
            <label id="newBlockoBlockVersionBlockoBlockName" style="display: block"></label>
            <div style="float: left; width: 30%;">
              <label>Name</label>
              <input placeholder="Name" style="display: block" type="text" name="version_name" >
            </div>
            <div style=" width: 100%;">
              <label>Description</label>
              <input placeholder="Description" style="display: block; width: 70%;" type="text" name="version_description" >
            </div>
            <label style="color: #2e6da4">Design JSON:</label>
            <textarea name="design_json" style="display: block; width: 100%; height: auto;" rows="6"></textarea>
            <label style="color: #2e6da4">Logic JSON:</label>
            <textarea name="logic_json" style="display: block; width: 100%; height: auto;" rows="6"></textarea>
            </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#newBlockoBlockVersionModal').css('display','none')">Close</button>
          <button id="newBlockoBlockVersionButton" value="" class="btn btn-success" type="button" onclick="newBlockoBlockVersion(this.value)">New Blocko Block Version</button>
        </div>
      </div>
        <!-- /.modal-content -->
    </div>
      <!-- /.modal-dialog -->
  </div>

<div id="editTypeOfBlockModal" style="display: none;" class="modal">
  <div style="margin-top: 15%;" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Type of Block</h4>
      </div>
      <div class="modal-body">
        <form id="editTypeOfBlock">
          <label id="typeOfBlockId" style="display: block">ID</label>
          <div style="float: left; width: 30%;">
            <label>Name</label>
            <input placeholder="Name" style="display: block" type="text" name="name" >
          </div>
          <div style="width: 100%;">
            <label>Description</label>
            <input placeholder="Description" style="display: block; width: 70%;" type="text" name="general_description" >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#editTypeOfBlockModal').css('display','none')">Close</button>
        <button id="editTypeOfBlockButton" value="" class="btn btn-primary" type="button" onclick="editTypeOfBlock(this.value)">Save changes</button>
      </div>
    </div>
      <!-- /.modal-content -->
  </div>
    <!-- /.modal-dialog -->
</div>

<div id="editBlockoBlockModal" style="display: none;" class="modal">
  <div style="margin-top: 15%;" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Blocko Block</h4>
      </div>
      <div class="modal-body">
        <form id="editBlockoBlock">
          <label id="blockoBlockId" style="display: block">ID</label>
          <div style="float: left; width: 30%;">
            <label>Name</label>
            <input placeholder="Name" style="display: block" id="edit_blocko_block_name" type="text" name="name" >
          </div>
          <div style="width: 100%;">
            <label>Description</label>
            <input placeholder="Description" style="display: block; width: 70%;" id="edit_blocko_block_description" type="text" name="general_description" >
          </div>
          <label>Type of Block</label>
          <select style="display: block;" name="type_of_block_id">
            <option id="current_type_of_block" selected value=""></option>
          @for(typeOfBlock <- TypeOfBlock.find.where().isNull("project").findList()) {
            <option value="@typeOfBlock.id">@typeOfBlock.name</option>
          }
          </select>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#editBlockoBlockModal').css('display','none')">Close</button>
        <button id="editBlockoBlockButton" value="" class="btn btn-primary" type="button" onclick="editBlockoBlock(this.value)">Save changes</button>
      </div>
    </div>
      <!-- /.modal-content -->
  </div>
    <!-- /.modal-dialog -->
</div>

<div id="editBlockoBlockVersionModal" style="display: none;" class="modal">
  <div style="margin-top: 15%;" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Blocko Block Version</h4>
      </div>
      <div class="modal-body">
        <form id="editBlockoBlockVersion">
          <div style="float: left; width: 30%;">
            <label style="color: #2e6da4">Version name:</label>
            <input type="text" id="edit_blocko_version_name" name="version_name" style="display: block;">
          </div>
          <div style="width:100%;">
            <label style="color: #2e6da4">Version description:</label>
            <input type="text" id="edit_blocko_version_description" name="version_description" style="display: block; width: 70%;">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#editBlockoBlockVersionModal').css('display','none')">Close</button>
        <button id="editBlockoBlockVersionButton" value="" class="btn btn-primary" type="button" onclick="editBlockoBlockVersion(this.value)">Save changes</button>
      </div>
    </div>
      <!-- /.modal-content -->
  </div>
    <!-- /.modal-dialog -->
</div>

<div id="editVersionSchemeModal" style="display: none;" class="modal">
  <div style="margin-top: 15%;" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Version Scheme </h4>
      </div>
      <div class="modal-body">
        <form id="editVersionScheme">
          <label style="color: #2e6da4">Design JSON:</label>
          <textarea id="version_scheme_design" name="design_json" style="display: block; width: 100%; height: auto;" rows="6"></textarea>
          <label style="color: #2e6da4">Logic JSON:</label>
          <textarea id="version_scheme_logic" name="logic_json" style="display: block; width: 100%; height: auto;" rows="6"></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#editVersionSchemeModal').css('display','none')">Close</button>
        <button class="btn btn-primary" type="button" onclick="editVersionScheme()">Save changes</button>
      </div>
    </div>
      <!-- /.modal-content -->
  </div>
    <!-- /.modal-dialog -->
</div>

  @*/*/*  Content ---------------------------------------------------------------------------------------------   */*/*@

  <div class="row">
    <div class="col-md-2">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Type</h3>
          <button class="btn btn-xs btn-success pull-right" type="button" onclick="$('#newTypeOfBlockModal').css('display','block')"><i class="fa fa-plus"></i></button>
        </div>
        <div id="typeOfBlockTableWrapper" class="box-body">
          <table id="allTypesOfBlocks" class="table table-bordered">
            <thead><tr><th>Types of Block</th></tr></thead>
            <tbody>
            @for(typeOfBlock <- TypeOfBlock.find.where().isNull("project").findList()) {
              <tr>
                <td><button class="btn btn-block btn-info" type="button" onclick="openTypeOfBlock('@typeOfBlock.id')">@typeOfBlock.name</button></td>
              </tr>
            }
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <div class="box-header with-border">
          <h3 id="type_of_block" style="max-width: 60%;" class="box-title"></h3>
          <div id="type_info_id" style="display: none;"></div>
          <div id="type_info_description" style="display: none;"></div>
          <div id="type_btn_group" class="btn-group pull-right">
            <button class="btn btn-xs btn-danger disabled" disabled type="button" onclick="deleteTypeOfBlock(document.getElementById('type_info_id').textContent)"><i class="fa fa-times"></i></button>
            <button class="btn btn-xs btn-info disabled" disabled type="button" onclick="showEditTypeForm(document.getElementById('type_info_id').textContent, document.getElementById('type_of_block').textContent, document.getElementById('type_info_description').textContent)"><i class="fa fa-edit"></i></button>
            <button class="btn btn-xs btn-success disabled" disabled type="button" onclick="$('#newBlockoBlockModal').css('display','block'); $('#newBlockoBlockTypeOfBlockId').val(document.getElementById('type_info_id').textContent)"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        <div class="box-body">

          <table id="blockoBlocks" class="table table-bordered">
            <thead><tr><th>Blocks</th></tr></thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <div class="box-header with-border">
          <h3 id="blocko_block" style="max-width: 60%;" class="box-title"></h3>
          <div id="block_info_id" style="display: none;"></div>
          <div id="block_info_description" style="display: none;"></div>
          <div id="block_btn_group" class="btn-group pull-right">
            <button class="btn btn-xs btn-danger disabled" disabled type="button" onclick="deleteBlockoBlock(document.getElementById('block_info_id').textContent)"><i class="fa fa-times"></i></button>
            <button class="btn btn-xs btn-info disabled" disabled type="button" onclick="
              $('#editBlockoBlockModal').css('display','block');
              $('#editBlockoBlockButton').val(document.getElementById('block_info_id').textContent);
              $('#edit_blocko_block_name').val(document.getElementById('blocko_block').textContent);
              $('#edit_blocko_block_description').val(document.getElementById('block_info_description').textContent);
              $('#current_type_of_block').val(document.getElementById('type_info_id').textContent);
              $('#current_type_of_block').text(document.getElementById('type_of_block').textContent);"><i class="fa fa-edit"></i></button>
            <button class="btn btn-xs btn-success disabled" disabled type="button" onclick="$('#newBlockoBlockVersionModal').css('display','block'); $('#newBlockoBlockVersionButton').val(document.getElementById('block_info_id').textContent); $('#newBlockoBlockVersionBlockoBlockName').val('Block: ' + document.getElementById('block_block').textContent)"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        <div class="box-body">
          <table id="blockoBlockVersions" class="table table-bordered">
            <thead><tr><th>Versions</th></tr></thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box">
        <div class="box-header with-border">
          <h3 id="blocko_block_version" class="box-title"></h3>
          <div id="version_info_id" style="display: none;"></div>
          <div id="version_btn_group" class="btn-group pull-right">
            <button class="btn btn-xs btn-danger disabled" disabled type="button" onclick="deleteBlockoBlockVersion(document.getElementById('version_info_id').textContent)"><i class="fa fa-times"></i></button>
            <button class="btn btn-xs btn-info disabled" disabled type="button" onclick="$('#editBlockoBlockVersionModal').css('display','block'); $('#editBlockoBlockVersionButton').val(document.getElementById('version_info_id').textContent);  $('#edit_blocko_version_name').val(document.getElementById('blocko_version_name').value); $('#edit_blocko_version_description').val(document.getElementById('blocko_version_description').value);"><i class="fa fa-edit"></i></button>
          </div>
          <button class="btn btn-primary btn-xs pull-right" style="margin-right: 10px;" type="button" onclick="showVersionScheme()">Version scheme</button>
        </div>
        <div class="box-body">
          <div style="display: none" id="blockoBlockVersion">
            <div style="float: left; width: 30%;">
              <label style="color: #2e6da4">Version name:</label>
              <input readonly type="text" id="blocko_version_name" style="display: block;">
            </div>
            <div style="width:100%;">
              <label style="color: #2e6da4">Version description:</label>
              <input readonly type="text" id="blocko_version_description" style="display: block; width: 70%;">
            </div>
            <label style="color: #2e6da4">Design JSON:</label>
            <textarea readonly id="blocko_version_design" style="display: block; width: 100%; height: auto;" rows="6"></textarea>
            <label style="color: #2e6da4">Logic JSON:</label>
            <textarea readonly id="blocko_version_logic" style="display: block; width: 100%; height: auto;" rows="6"></textarea>
          </div>
        </div>
      </div>
    </div>
</div>
</section>

<script>

        $.ajaxSetup({ cache: false });

@*/*/*  TypeOfBlock ---------------------------------------------------------------------------------------------   */*/*@

        function newTypeOfBlock(){
          model_data = $("#newTypeOfBlock").serializeObject();
          $.ajax({
            url: '@routes.ProgramingPackageController.newTypeOfBlock()',
            type: 'POST',
            contentType: 'application/json',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
              "Content-Type":"application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',
            success:function(e){
              $("#newTypeOfBlock input[type=text]").val("");
              $("#newTypeOfBlockModal").css("display","none");
              $('#typeOfBlockTableWrapper').html("").load(document.URL +  ' #allTypesOfBlocks');
            },
            error:function(e) {
              alert(e.responseText);
            }
          })}

        function newBlockoBlock(){
          model_data = $("#newBlockoBlock").serializeObject();
          $.ajax({
            url: '@routes.ProgramingPackageController.new_Block()',
            type: 'POST',
            contentType: 'application/json',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
              "Content-Type":"application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',
            success:function(e){
              $("#newBlockoBlock input[type=text]").val("");
              $("#newBlockoBlockModal").css("display","none");
              openTypeOfBlock(document.getElementById('type_info_id').textContent)
            },
            error:function(e) {
              alert(e.responseText);
            }
          })}

        function newBlockoBlockVersion(id){
          model_data = $("#newBlockoBlockVersion").serializeObject();
          $.ajax({
            url: '@Server.tyrion_serverAddress' + '/project/blockoBlock/version/' + id,
            type: 'POST',
            contentType: 'application/json',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
              "Content-Type":"application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',
            success:function(e){
              $("#newBlockoBlockVersion input[type=text]").val("");
              $("#newBlockoBlockVersion textarea").text("");
              $("#newBlockoBlockVersionModal").css("display","none");
              openBlockoBlock(document.getElementById('block_info_id').textContent);
            },
            error:function(e) {
              alert(e.responseText);
            }
          })}

        function editTypeOfBlock(id){
          model_data = $("#editTypeOfBlock").serializeObject();

          $.ajax({
            url: "@Server.tyrion_serverAddress" + "/project/typeOfBlock/" + id ,
            type: 'PUT',
            contentType: 'application/json',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
              "Content-Type":"application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',
            success:function(json){
              $("#editTypeOfBlock input[type=text]").val("");
              $("#editTypeOfBlockModal").css("display","none");
              $('#typeOfBlockTableWrapper').load(document.URL +  ' #allTypesOfBlocks');
              $('#type_of_block').text(json.name);
              $('#type_info_id').text(json.id);
              $('#type_info_description').text(json.general_description);
              $('#blockoBlocks tbody').html("");
              $('#blockoBlockVersions tbody').html("");
              $("#blockoBlockVersion").css("display","none");
              $('#blocko_block_version').text("");
              $('#blocko_block').text("");
              $('#deleteTypeOfBlockButton').val(json.id);
              disableButtonGroup('#block_btn_group', true);
              disableButtonGroup('#version_btn_group', true);
              var content = '';
              $.each(json.blockoBlocks, function(k, v) {
                content = "<tr><td><button class='btn btn-block btn-info' type='button' onclick=\"openBlockoBlock('" + v.id + "')\">" + v.name + "</button></td></tr>";
                $('#blockoBlocks tbody').append(content);
              });
            },
            error:function(e) {
              alert(e.responseText);
            }
          })}

        function editBlockoBlock(id){
          model_data = $("#editBlockoBlock").serializeObject();

          $.ajax({
            url: "@Server.tyrion_serverAddress" + "/project/blockoBlock/" + id ,
            type: 'PUT',
            contentType: 'application/json',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
              "Content-Type":"application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',
            success:function(json){
              $("#editBlckoBlock input[type=text]").val("");
              $("#editBlockoBlockModal").css("display","none");
              openTypeOfBlock(json.type_of_block_id);
              openBlockoBlock(json.id);
            },
            error:function(e) {
              alert(e.responseText);
            }
          })}

        function editBlockoBlockVersion(id){
          model_data = $("#editBlockoBlockVersion").serializeObject();

          $.ajax({
            url: "@Server.tyrion_serverAddress" + "/project/blockoBlock/version/" + id ,
            type: 'PUT',
            contentType: 'application/json',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
              "Content-Type":"application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',
            success:function(e){
              $("#editBlockoBlockVersion input[type=text]").val("");
              $("#editBlockoBlockVersionModal").css("display","none");
              openBlockoBlockVersion(document.getElementById('version_info_id').textContent);
            },
            error:function(e) {
              alert(e.responseText);
            }
          })}

        function deleteTypeOfBlock(id){

          $.ajax({
            url: " @Server.tyrion_serverAddress" + "/project/typeOfBlock/" + id ,
            type: 'DELETE',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken")
            },
            success:function(e){
              $('#typeOfBlockTableWrapper').load(document.URL +  ' #allTypesOfBlocks');
              $('#type_of_block').text("");
              $('#blockoBlocks tbody').html("");
              $('#blockoBlockVersions tbody').html("");
              $("#blockoBlockVersion").css("display","none");
              $('#blocko_block_version').text("");
              $('#blocko_block').text("");
              disableButtonGroup('#type_btn_group', true);
              disableButtonGroup('#block_btn_group', true);
              disableButtonGroup('#version_btn_group', true);
            },
            error:function(e) {
              alert(e.responseText);
            }
          })}

        function deleteBlockoBlock(id){

          $.ajax({
            url: " @Server.tyrion_serverAddress" + "/project/blockoBlock/" + id ,
            type: 'DELETE',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken")
            },
            success:function(e){
              openTypeOfBlock(document.getElementById('type_info_id').textContent);
              $('#blocko_block').text("");
            },
            error:function(e) {
              alert(e.responseText);
            }
          })}

        function deleteBlockoBlockVersion(id){

          $.ajax({
            url: " @Server.tyrion_serverAddress" + "/project/blockoBlock/version/" + id ,
            type: 'DELETE',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken")
            },
            success:function(e){
              openBlockoBlock(document.getElementById('block_info_id').textContent);
              $('#blocko_block_version').text("");
            },
            error:function(e) {
              alert(e.responseText);
            }
          })}

        function showEditTypeForm(id, name, description){
          $("#editTypeOfBlockModal").css("display","block");
          $('#editTypeOfBlockButton').val(id);
          $('#typeOfBlockId').text("ID = " + id);
          $("#editTypeOfBlock input[name=name]").val(name);
          $("#editTypeOfBlock input[name=general_description]").val(description);

        }

        function openTypeOfBlock(id){
          $.ajax({
            url: '@Server.tyrion_serverAddress' + '/project/typeOfBlock/' + id,
            type: 'GET',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken")
            },
            dataType: 'json',
            success:function(json){
              $('#type_of_block').text(json.name);
              $('#type_info_id').text(json.id);
              $('#type_info_description').text(json.general_description);
              $('#blockoBlocks tbody').html("");
              $('#blockoBlockVersions tbody').html("");
              $("#blockoBlockVersion").css("display","none");
              $('#blocko_block_version').text("");
              $('#blocko_block').text("");
              $('#deleteTypeOfBlockButton').val(json.id);
              disableButtonGroup('#type_btn_group', false);
              disableButtonGroup('#block_btn_group', true);
              disableButtonGroup('#version_btn_group', true);
              var content = '';
              $.each(json.blockoBlocks, function(k, v) {
                content = "<tr><td><button class='btn btn-block btn-info' type='button' onclick=\"openBlockoBlock('" + v.id + "')\">" + v.name + "</button></td></tr>";
                $('#blockoBlocks tbody').append(content);
              });
            },
            error:function(e) {
              alert(e.responseText);
            }
          })}

        function openBlockoBlock(id){
          $.ajax({
            url: '@Server.tyrion_serverAddress' + '/project/blockoBlock/' + id,
            type: 'GET',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken")
            },
            dataType: 'json',
            success:function(json){
              $('#blocko_block').text(json.name);
              $('#block_info_id').text(json.id);
              $('#block_info_description').text(json.general_description);
              $('#blocko_block_version').text("");
              $('#deleteBlockoBlockButton').val(json.id);
              $('#blockoBlockVersions tbody').html("");
              $("#blockoBlockVersion").css("display","none");
              disableButtonGroup('#block_btn_group', false);
              disableButtonGroup('#version_btn_group', true);
              var content = '';
              $.each(json.versions, function(k, v) {
                content = "<tr><td><button class='btn btn-block btn-info' type='button' onclick=\"openBlockoBlockVersion('" + v.id + "')\">" + v.name + "</button></td></tr>";
                $('#blockoBlockVersions tbody').append(content);
              });
            },
            error:function(e) {
              alert(e.responseText);
            }
          })}

        function openBlockoBlockVersion(id){
          $("#blockoBlockVersion").css("display","block");
          $.ajax({
            url: '@Server.tyrion_serverAddress' + '/project/blockoBlock/version/' + id,
            type: 'GET',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken")
            },
            dataType: 'json',
            success:function(json){
              $('#deleteBlockoBlockVersionButton').val(json.id);
              $('#version_info_id').text(json.id);
              $('#blocko_block_version').text(json.version_name);
              $('#blocko_version_name').val(json.version_name);
              $('#blocko_version_description').val(json.version_description);
              $('#blocko_version_design').text(json.design_json);
              $('#blocko_version_logic').text(json.logic_json);
              disableButtonGroup('#version_btn_group', false);

            },
            error:function(e) {
              alert(e.responseText);
            }
          })}

        function disableButtonGroup(id, state) {
          $(id + ' button').prop('disabled', state);
          if(state){
            $(id + ' button').addClass('disabled');
          }else {
            $(id + ' button').removeClass('disabled');
          }
        }

        function showVersionScheme(){
          $.ajax({
            url: '@routes.ProgramingPackageController.get_BlockoBlock_Version_scheme()',
            type: 'GET',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken")
            },
            dataType: 'json',
            success:function(json){
              $("#editVersionSchemeModal").css("display","block");
              $('#version_scheme_design').val(json.design_json);
              $('#version_scheme_logic').val(json.logic_json);
            },
            error:function(e) {
              alert(e.responseText);
            }
          })}

        function editVersionScheme(){
          model_data = $("#editVersionScheme").serializeObject();
          $.ajax({
            url: '@routes.ProgramingPackageController.edit_BlockoBlock_Version_scheme()',
            type: 'PUT',
            contentType: 'application/json',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
              "Content-Type":"application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',
            success:function(e){
              $("#editVersionScheme input[type=text]").val("");
              $("#editVersionSchemeModal").css("display","none");
            },
            error:function(e) {
              alert(e.responseText);
            }
          })}
</script>