@import models.blocko.TypeOfBlock
@import utilities.Server



<section class="content-header">
  <h1> Blocko object settings </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-wrench"></i> Admin Page </a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<section class="content">

  @*/*/*  Modals ---------------------------------------------------------------------------------------------   */*/*@

<div id="newTypeOfBlockModal" style="display: none;" class="modal">
  <div style="margin-top: 15%;" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Type of Block</h4>
      </div>
      <div class="modal-body">
        <form id="newTypeOfBlock")>
          <label>Name</label>
          <input id="newTypeOfBlockName" placeholder="Name" style="display: block" type="text" name="name" >
          <label>Description</label>
          <input id="newTypeOfBlockDescription" placeholder="Description" style="display: block; width: 100%;" type="text" name="general_description" >
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#newTypeOfBlockModal').css('display','none')">Close</button>
        <button class="btn btn-success" type="button" onclick="newTypeOfBlock()">Save changes</button>
      </div>
    </div>
      <!-- /.modal-content -->
  </div>
    <!-- /.modal-dialog -->
</div>
  <div id="editTypeOfBlockModal" style="display: none;" class="modal">
    <div style="margin-top: 15%;" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Type of Block</h4>
        </div>
        <div class="modal-body">
          <form id="editTypeOfBlock")>
            <label id="typeOfBlockId" style="display: block">ID</label>
            <label>Name</label>
            <input placeholder="Name" style="display: block" type="text" name="name" >
            <label>Description</label>
            <input placeholder="Description" style="display: block; width: 100%;" type="text" name="general_description" >
            </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#editTypeOfBlockModal').css('display','none')">Close</button>
          <button id="editTypeOfBlockButton" value="" class="btn btn-primary" type="button" onclick="editTypeOfBlock(this.value)">Save changes</button>
        </div>
      </div>
        <!-- /.modal-content -->
    </div>
      <!-- /.modal-dialog -->
  </div>

<div id="editTypeOfBlockModal" style="display: none;" class="modal">
  <div style="margin-top: 15%;" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Type of Block</h4>
      </div>
      <div class="modal-body">
        <form id="editTypeOfBlock")>
          <label id="typeOfBlockId" style="display: block">ID</label>
          <label>Name</label>
          <input placeholder="Name" style="display: block" type="text" name="name" >
          <label>Description</label>
          <input placeholder="Description" style="display: block; width: 100%;" type="text" name="general_description" >
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#editTypeOfBlockModal').css('display','none')">Close</button>
        <button id="editTypeOfBlockButton" value="" class="btn btn-primary" type="button" onclick="editTypeOfBlock(this.value)">Save changes</button>
      </div>
    </div>
      <!-- /.modal-content -->
  </div>
    <!-- /.modal-dialog -->
</div>

<div id="editTypeOfBlockModal" style="display: none;" class="modal">
  <div style="margin-top: 15%;" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Type of Block</h4>
      </div>
      <div class="modal-body">
        <form id="editTypeOfBlock")>
          <label id="typeOfBlockId" style="display: block">ID</label>
          <label>Name</label>
          <input placeholder="Name" style="display: block" type="text" name="name" >
          <label>Description</label>
          <input placeholder="Description" style="display: block; width: 100%;" type="text" name="general_description" >
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#editTypeOfBlockModal').css('display','none')">Close</button>
        <button id="editTypeOfBlockButton" value="" class="btn btn-primary" type="button" onclick="editTypeOfBlock(this.value)">Save changes</button>
      </div>
    </div>
      <!-- /.modal-content -->
  </div>
    <!-- /.modal-dialog -->
</div>

<div id="editTypeOfBlockModal" style="display: none;" class="modal">
  <div style="margin-top: 15%;" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Type of Block</h4>
      </div>
      <div class="modal-body">
        <form id="editTypeOfBlock")>
          <label id="typeOfBlockId" style="display: block">ID</label>
          <label>Name</label>
          <input placeholder="Name" style="display: block" type="text" name="name" >
          <label>Description</label>
          <input placeholder="Description" style="display: block; width: 100%;" type="text" name="general_description" >
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#editTypeOfBlockModal').css('display','none')">Close</button>
        <button id="editTypeOfBlockButton" value="" class="btn btn-primary" type="button" onclick="editTypeOfBlock(this.value)">Save changes</button>
      </div>
    </div>
      <!-- /.modal-content -->
  </div>
    <!-- /.modal-dialog -->
</div>

  @*/*/*  Content ---------------------------------------------------------------------------------------------   */*/*@

  <div class="row">
    <div class="col-md-2">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Type</h3>
          <button class="btn btn-xs btn-success pull-right" type="button" onclick="$('#newTypeOfBlockModal').css('display','block')"><i class="fa fa-plus"></i></button>
        </div>
        <div id="typeOfBlockTableWrapper" class="box-body">
          <table id="allTypesOfBlocks" class="table table-bordered">
            <thead><tr><th>Types of Block</th></tr></thead>
            <tbody>
            @for(typeOfBlock <- TypeOfBlock.find.where().isNull("project").findList()) {
              <tr>
                <td><button class="btn btn-block btn-info" type="button" onclick="openTypeOfBlock('@typeOfBlock.id')">@typeOfBlock.name</button></td>
              </tr>
            }
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <div class="box-header with-border">
          <h3 id="type_of_block" style="max-width: 65%;" class="box-title"></h3>
          <div id="type_info_id" style="display: none;"></div>
          <div id="type_info_description" style="display: none;"></div>
          <div class="btn-group pull-right">
            <button id="deleteTypeOfBlockButton" value="" class="btn btn-xs btn-danger " type="button" onclick="deleteTypeOfBlock(this.value)"><i class="fa fa-times"></i></button>
            <button class="btn btn-xs btn-info " type="button"><i class="fa fa-edit"></i></button>
            <button class="btn btn-xs btn-success " type="button"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        <div class="box-body">

          <table id="blockoBlocks" class="table table-bordered">
            <thead><tr><th>Blocks</th></tr></thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <div class="box-header with-border">
          <h3 id="blocko_block" style="max-width: 65%;" class="box-title"></h3>
          <div class="btn-group pull-right">
            <button id="deleteBlockoBlockButton" value="" class="btn btn-xs btn-danger " type="button" onclick="deleteBlockoBlock(this.value)"><i class="fa fa-times"></i></button>
            <button class="btn btn-xs btn-info " type="button"><i class="fa fa-edit"></i></button>
            <button class="btn btn-xs btn-success " type="button"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div id="block_info_description" style="display: none;"></div>
          <table id="blockoBlockVersions" class="table table-bordered">
            <thead><tr><th>Versions</th></tr></thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box">
        <div class="box-header with-border">
          <h3 id="blocko_block_version" class="box-title"></h3>
          <div class="btn-group pull-right">
            <button id="deleteBlockoBlockVersionButton" value="" class="btn btn-xs btn-danger " type="button" onclick="deleteBlockoBlockVersion(this.value)"><i class="fa fa-times"></i></button>
            <button class="btn btn-xs btn-info " type="button"><i class="fa fa-edit"></i></button>
            <button class="btn btn-xs btn-success " type="button"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div style="display: none" id="blockoBlockVersion">
            <div style="float: left; width: 30%;">
              <label style="color: #2e6da4">Version name:</label>
              <input readonly type="text" id="blocko_version_name" style="display: block;">
            </div>
            <div style="width:100%;">
              <label style="color: #2e6da4">Version description:</label>
              <input readonly type="text" id="blocko_version_description" style="display: block; width: 70%;">
            </div>
            <label style="color: #2e6da4">Design JSON:</label>
            <textarea readonly id="blocko_version_design" style="display: block; width: 100%; height: auto;" rows="6"></textarea>
            <label style="color: #2e6da4">Logic JSON:</label>
            <textarea readonly id="blocko_version_logic" style="display: block; width: 100%; height: auto;" rows="6"></textarea>
          </div>
        </div>
      </div>
    </div>
</div>
</section>

<script>

        $.ajaxSetup({ cache: false });

@*/*/*  TypeOfBlock ---------------------------------------------------------------------------------------------   */*/*@

        function newTypeOfBlock(){
          model_data = $("#newTypeOfBlock").serializeObject();
          $.ajax({
            url: '@routes.ProgramingPackageController.newTypeOfBlock()',
            type: 'POST',
            contentType: 'application/json',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
              "Content-Type":"application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',
            success:function(e){
              $("#newTypeOfBlock input[type=text]").val("");
              $("#newTypeOfBlockModal").css("display","none");
              $('#typeOfBlockTableWrapper').html("").load(document.URL +  ' #allTypesOfBlocks');
            },
            error:function(e) {
              alert(e.responseText);
            }
          })}

        function editTypeOfBlock(id){
          model_data = $("#editTypeOfBlock").serializeObject();

          $.ajax({
            url: "@Server.tyrion_serverAddress" + "/project/typeOfBlock/" + id ,
            type: 'PUT',
            contentType: 'application/json',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
              "Content-Type":"application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',
            success:function(e){
              $("#editTypeOfBlock input[type=text]").val("");
              $("#editTypeOfBlockModal").css("display","none");
              $('#allTypesOfBlocks').load(document.URL +  ' #allTypesOfBlocks');
            },
            error:function(e) {
              alert(e.responseText);
            }
          })}

        function deleteTypeOfBlock(id){

          $.ajax({
            url: " @Server.tyrion_serverAddress" + "/project/typeOfBlock/" + id ,
            type: 'DELETE',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
            },
            success:function(e){
              $('#typeOfBlockTableWrapper').load(document.URL +  ' #allTypesOfBlocks');
            },
            error:function(e) {
              alert(e.responseText);
            }
          })}

        function deleteBlockoBlock(id){

          $.ajax({
            url: " @Server.tyrion_serverAddress" + "/project/blockoBlock/" + id ,
            type: 'DELETE',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
            },
            success:function(e){
              openTypeOfBlock($('#type_info_id').text)
            },
            error:function(e) {
              alert(e.responseText);
            }
          })}

        function deleteBlockoBlockVersion(id){

          $.ajax({
            url: " @Server.tyrion_serverAddress" + "/project/blockoBlock/version/" + id ,
            type: 'DELETE',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
            },
            success:function(e){

            },
            error:function(e) {
              alert(e.responseText);
            }
          })}

        function showEditTypeForm(id, name, description){
          $("#editTypeOfBlockModal").css("display","block");
          $('#editTypeOfBlockButton').val(id);
          $('#typeOfBlockId').text("ID = " + id);
          $("#editTypeOfBlock input[name=name]").val(name);
          $("#editTypeOfBlock input[name=general_description]").val(description);

        }

        function openTypeOfBlock(id){
          $.ajax({
            url: '@Server.tyrion_serverAddress' + '/project/typeOfBlock/' + id,
            type: 'GET',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken")
            },
            dataType: 'json',
            success:function(json){
              $('#type_of_block').text(json.name);
              $('#type_info_id').text(json.id);
              $('#type_info_description').text(json.general_description);
              $('#blockoBlocks tbody').html("");
              $('#blockoBlockVersions tbody').html("");
              $("#blockoBlockVersion").css("display","none");
              $('#blocko_block_version').text("");
              $('#blocko_block').text("");
              $('#deleteTypeOfBlockButton').val(json.id);
              var content = '';
              $.each(json.blockoBlocks, function(k, v) {
                content = "<tr><td><button class='btn btn-block btn-info' type='button' onclick=\"openBlockoBlock('" + v.id + "')\">" + v.name + "</button></td></tr>";
                $('#blockoBlocks tbody').append(content);
              });
            },
            error:function(e) {
              alert(e.responseText);
            }
          })}

        function openBlockoBlock(id){
          $.ajax({
            url: '@Server.tyrion_serverAddress' + '/project/blockoBlock/' + id,
            type: 'GET',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken")
            },
            dataType: 'json',
            success:function(json){
              $('#blocko_block').text(json.name);
              $('#blocko_block_version').text("");
              var content = '';
              $('#blockoBlockVersions tbody').html("");
              $("#blockoBlockVersion").css("display","none");
              $.each(json.versions, function(k, v) {
                content = "<tr><td><button class='btn btn-block btn-info' type='button' onclick=\"openBlockoBlockVersion('" + v.id + "')\">" + v.name + "</button></td></tr>";
                $('#blockoBlockVersions tbody').append(content);
              });
            },
            error:function(e) {
              alert(e.responseText);
            }
          })}

        function openBlockoBlockVersion(id){
          $("#blockoBlockVersion").css("display","block");
          $.ajax({
            url: '@Server.tyrion_serverAddress' + '/project/blockoBlock/version/' + id,
            type: 'GET',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken")
            },
            dataType: 'json',
            success:function(json){
              $('#blocko_block_version').text(json.version_name);
              $('#blocko_version_name').val(json.version_name);
              $('#blocko_version_description').val(json.version_description);
              $('#blocko_version_design').text(json.design_json);
              $('#blocko_version_logic').text(json.logic_json);

            },
            error:function(e) {
              alert(e.responseText);
            }
          })}

</script>