
@import utilities.webSocket.WS_BlockoServer
@import utilities.webSocket.WS_CompilerServer
@import java.util.List
@import models.person.Person
@import models.project.global.Project
@import models.compiler.Board
@import java.util.Map
@import scala.collection.JavaConversions.mapAsScalaMap
@import models.project.b_program.servers.Cloud_Homer_Server
@import models.compiler.Cloud_Compilation_Server
@import utilities.webSocket.WS_CompilerServer
@import utilities.webSocket.WS_BlockoServer
@import models.project.b_program.servers.Cloud_Homer_Server
@import models.compiler.Cloud_Compilation_Server



<section class="content-header">
    <h1> Dashboard <small>Control panel</small> </h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-globe"></i> Dashboard </li>
    </ol>
</section>

<section class="content">
<!-- ----------------------------------------------------------------------------------------------------------------------- -->
          <div class="row">

            <div class="col-lg-3 col-xs-6"><div class="small-box bg-aqua"><div class="inner">
                  <h3>@Person.find.findRowCount()</h3>
                  <p>Registered Person</p>
                  </div><div class="icon"><i class="ion ion-person"></i></div> </div>
            </div>

            <div class="col-lg-3 col-xs-6"><div class="small-box bg-aqua"><div class="inner">
                  <h3>@Project.find.findRowCount()</h3>
                  <p>Project created</p>
                  </div><div class="icon"><i class="ion ion-person"></i></div> </div>
            </div>

            <div class="col-lg-3 col-xs-6"><div class="small-box bg-aqua"><div class="inner">
                  <h3>@Board.find.findRowCount()</h3>
                  <p>Board Registred</p>
                  </div><div class="icon"><i class="ion ion-person"></i></div> </div>
            </div>
          </div><!-- /.row -->
<!-- ------------------------------------------------------------------------------------------------------------------ -->
</section><!-- /.content -->

<section class="content-header">
    <h1> Homer cloud servers <small>Control panel</small> </h1>
</section>
<section class="content">
    <div class="row">

    @for( x <- Cloud_Homer_Server.find.all()) {

        <div class="col-lg-4 col-xs-6"><div
                @if(x.server_is_online()) {
                    class="small-box bg-green-gradient"
                } else {
                    class="small-box bg-red"
                }><div class="inner">
            <h3>@x.server_name
                @if(!x.server_is_online()){  <small style="color: white">(Offline)</small>  }
            </h3>
            <p></p>
            <p> @if(x.server_is_online()){
                Instances: @x.get_homer_server_numberOfInstance().get("value").asInt()
            }</p>
             </div><div class="icon"><i class="ion fa-cloud_blocko_server"></i></div> </div>
        </div>
    }
    </div><!-- /.row -->
</section>

<section class="content-header">
    <h1> Compilation servers <small>Control panel</small> </h1>
</section>
<section class="content">
    <div class="row">

    @for( x <- Cloud_Compilation_Server.find.all()) {
        <div class="col-lg-4 col-xs-6"><div
            @if(x.server_is_online()) {
                class="small-box bg-green-gradient"
            } else {
                class="small-box bg-red"
                }><div class="inner">
            <h3>@x.server_name
                @if(!x.server_is_online()){                    <small style="color: white">(Offline)</small>                }
            </h3>
            <p></p>
        </div><div class="icon"><i class="ion fa-cloud_blocko_server"></i></div> </div>
        </div>
    }

    </div><!-- /.row -->
</section>




