
@import utilities.webSocket.WS_BlockoServer
@import utilities.webSocket.WS_CompilerServer
@import java.util.List
@import models.person.Person
@import models.project.global.Project
@import models.compiler.Board
@import java.util.Map
@import scala.collection.JavaConversions.mapAsScalaMap
@import models.project.b_program.servers.Cloud_Homer_Server
@import models.compiler.Cloud_Compilation_Server
@import utilities.webSocket.WS_CompilerServer
@import utilities.webSocket.WS_BlockoServer

@(
        cloud_blocko_servers_object     :  Map[ String , WS_BlockoServer],
        cloud_compile_servers_object    :  Map[ String , WS_CompilerServer],
        cloud_blocko_server_DB          :  List[Cloud_Homer_Server],
        cloud_compile_server_DB         :  List[Cloud_Compilation_Server]
)


<section class="content-header">
    <h1> Dashboard <small>Control panel</small> </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-globe"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<section class="content">
<!-- ----------------------------------------------------------------------------------------------------------------------- -->
          <div class="row">

            <div class="col-lg-3 col-xs-6"><div class="small-box bg-aqua"><div class="inner">
                  <h3>@Person.find.findRowCount()</h3>
                  <p>Registered Person</p>
                  </div><div class="icon"><i class="ion ion-person"></i></div> </div>
            </div>

            <div class="col-lg-3 col-xs-6"><div class="small-box bg-aqua"><div class="inner">
                  <h3>@Project.find.findRowCount()</h3>
                  <p>Project created</p>
                  </div><div class="icon"><i class="ion ion-person"></i></div> </div>
            </div>

            <div class="col-lg-3 col-xs-6"><div class="small-box bg-aqua"><div class="inner">
                  <h3>@Board.find.findRowCount()</h3>
                  <p>Board Registred</p>
                  </div><div class="icon"><i class="ion ion-person"></i></div> </div>
            </div>
          </div><!-- /.row -->
<!-- ------------------------------------------------------------------------------------------------------------------ -->
</section><!-- /.content -->

<section class="content-header">
    <h1> Homer cloud servers <small>Control panel</small> </h1>
</section>
<section class="content">
    <div class="row">

    @for( x <- cloud_blocko_server_DB) {

        <div class="col-lg-4 col-xs-6"><div
            @if(cloud_blocko_servers_object.contains( x.server_name) ) {
                class="small-box bg-green-gradient"
            } else {
                class="small-box bg-red"
                }><div class="inner">
            <h3>@x.server_name
                @if(! cloud_blocko_servers_object.contains( x.server_name)){                    <small style="color: white">(Offline)</small>                }
            </h3>
            <p>Blocko cloud_blocko_server</p>
            <p> @if(cloud_blocko_servers_object.contains( x.server_name)){
                Instances:
                @cloud_blocko_servers_object.get(x.server_name).virtual_homers.size()
            }</p>
             </div><div class="icon"><i class="ion fa-cloud_blocko_server"></i></div> </div>
        </div>
    }
    </div><!-- /.row -->
</section>

<section class="content-header">
    <h1> Compilation servers <small>Control panel</small> </h1>
</section>
<section class="content">
    <div class="row">

    @for( x <- cloud_compile_server_DB) {
        <div class="col-lg-4 col-xs-6"><div
            @if(cloud_compile_servers_object.contains( x.server_name) ) {
                class="small-box bg-green-gradient"
            } else {
                class="small-box bg-red"
                }><div class="inner">
            <h3>@x.server_name
                @if(! cloud_compile_servers_object.contains( x.server_name)){                    <small style="color: white">(Offline)</small>                }
            </h3>
            <p>Compilation cloud_blocko_server</p>
        </div><div class="icon"><i class="ion fa-cloud_blocko_server"></i></div> </div>
        </div>
    }

    </div><!-- /.row -->
</section>




