@(      person: Integer,            project: Integer,
        homer: Integer,             b_program: Integer,
        board: Integer,             file_record: Integer,
        producer: Integer,          typeOfBoard: Integer,
        screen_size_type: Integer,  notification: Integer,
        post: Integer,              c_program: Integer,
        grid_terminal: Integer,     m_program: Integer,
        m_project: Integer)


<section class="content-header">
    <h1> Dashboard <small>Control panel</small> </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-globe"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<section class="content">
<!-- ----------------------------------------------------------------------------------------------------------------------- -->
          <div class="row">

            <div class="col-lg-3 col-xs-6"><div class="small-box bg-aqua"><div class="inner">
                  <h3>@person</h3>
                  <p>Registered Person</p>
                  </div><div class="icon"><i class="ion ion-person"></i></div> </div>
            </div>

            <div class="col-lg-3 col-xs-6"><div class="small-box bg-aqua"><div class="inner">
                  <h3>@project</h3>
                  <p>Project created</p>
                  </div><div class="icon"><i class="ion ion-person"></i></div> </div>
            </div>

            <div class="col-lg-3 col-xs-6"><div class="small-box bg-aqua"><div class="inner">
                  <h3>@person</h3>
                  <p>Registered Person</p>
                  </div><div class="icon"><i class="ion ion-person"></i></div> </div>
            </div>

            <div class="col-lg-3 col-xs-6"><div class="small-box bg-aqua"><div class="inner">
                  <h3>@person</h3>
                  <p>Registered Person</p>
                  </div><div class="icon"><i class="ion ion-person"></i></div> </div>
            </div>


          </div><!-- /.row -->
<!-- ------------------------------------------------------------------------------------------------------------------ -->



</section><!-- /.content -->



