@import java.util

@import models.loggy.LoggyError
@(logs: util.List[LoggyError])



<section class="content-header">
    <h1> Bug Reporter <small> system errors </small> </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-bug"></i> Loggy </a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Tyrion internal recorded errors </h3>
                    <div class="pull-right">
                        <div class="btn-group">
                            <a class="btn btn-block btn-danger btn-sm" href='/public/bugs/deleteAll'>Remove all</a>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-condensed">

                        @if(logs != null) {
                            @for(i <- logs) {

                                <tr>
                                    <th> <h4 class="info-box-text">  Identificator: @i.id </h4> </th>
                                    <th>  </th>
                                </tr>
                                <tr>
                                    <td rowspan="3">
                                        <pre class="prettyprint">
                                        <code class="javascript">@i.description</code></pre> </td>
                                    <td>
                                        <span> <a class="btn btn-block btn-danger btn-sm" href='/public/bug/remove/@i.id' >Remove</a></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @if(i.youtrack_url == null) {
                                            <span> <a class="btn btn-block btn-warning btn-sm"  href='/public/bug/report/@i.id' >Report to Youtrack</a></span>
                                        } else {
                                            <span> <a class="btn btn-block btn-warning btn-success"  href='@i.youtrack_url' >View on Youtrack</a></span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span> <a class="btn btn-block btn-info btn-sm" href='/public/bug/comment/@i.id' >Add Description</a></span>
                                    </td>
                                </tr>

                            }
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

