@(bugs: Integer, homer_local  : Integer, becki_terminal: Integer, grid_terminal: Integer, homer_server : Integer, compiler_server: Integer)

    <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>

<!-------------------------------------------------------------------------- ------------------------>
                <li>
                    <a href='@routes.DashboardController.index()' >
                        <i class="fa fa-globe"></i> <span>Dashboard</span>
                    </a>
                </li>
 <!-------------------------------------------------------------------------- ------------------------>
                <li>
                    <a href='@routes.DashboardController.show_all_logs()' >
                        <i class="fa  fa-bug"></i> <span>Bug Reporting</span>
                        @if( bugs > 0) { <small class="label pull-right bg-red">@bugs</small>}
                    </a>
                </li>
<!-------------------------------------------------------------------------- ------------------------>
                <li>
                    <a href="http://youtrack.byzance.cz">
                        <i class="fa  fa-bug"></i> <span>Issue tracker</span>
                    </a>
                </li>

 <!-------------------------------------------------------------------------- ------------------------>
                <li>
                    <a href='@routes.DashboardController.show_web_socket_stats()' >
                        <i class="fa fa-heart"></i> <span>Websocket connections</span>
                        <small class="label pull-right bg-yellow">  @( grid_terminal + homer_server + homer_local + compiler_server+ becki_terminal) </small>
                    </a>
                </li>
<!-------------------------------------------------------------------------- ------------------------>
                <li>
                    <a href="http://swagger.byzance.cz">
                        <i class="fa fa-book"></i> <span>External defaul API</span>
                    </a>
                </li>
<!-------------------------------------------------------------------------- ------------------------>
                <li>
                    <a href='@routes.DashboardController.show_readme()' >
                        <i class="fa fa-graduation-cap"></i> <span>Read Me</span>
                    </a>
                </li>
<!-------------------------------------------------------------------------- ------------------------>

<!-------------------------------------------------------------------------- ------------------------>
                <li>
                    <a href="http://wiki.byzance.cz">
                        <i class="fa fa-wikipedia-w"></i> <span>Wiki documentation</span>
                    </a>
                </li>
<!-------------------------------------------------------------------------- ------------------------>

            </ul>
        </section>

    <!-- /.sidebar -->
    </aside>