@import utilities.enums.Approval_state
@import models.compiler.Version_Object
@import utilities.Server

<section class="content-header">
  <h1> Public code </h1>
  <ol class="breadcrumb">
      <li><a href="@routes.DashboardController.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
      <li class="active"><i class="fa fa-share"></i> Tyrion Object Management </li>
      <li class="active"><i class="fa fa-wrench"></i> Public Code </li>
  </ol>
</section>


<section class="content">
    <div id="codeModal" style="display: none;" class="modal">
        <div style="" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Code</h4>
                </div>
                <div class="modal-body">
                    <textarea readonly id="code" style="display: block; width: 100%;" rows="15" ></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#codeModal').css('display','none')">Close</button>
                </div>
            </div>
                <!-- /.modal-content -->
        </div>
            <!-- /.modal-dialog -->
    </div>
    <div id="disapproveCodeModal" style="display: none;" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Disapprove Code</h4>
                </div>
                <div class="modal-body">
                    <label style="display: block;">Tell author why you disapproved this Code.</label>
                    <label style="">Reason:</label>
                    <textarea style="width:100%;" id="disapprove_code_reason" rows="10"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#disapproveCodeModal').css('display','none')">Close</button>
                    <button id="disapproveCodeButton" value="" class="btn btn-danger" type="button" onclick="disapproveCode(this.value, document.getElementById('disapprove_code_reason').value)">Disapprove</button>
                </div>
            </div>
                <!-- /.modal-content -->
        </div>
            <!-- /.modal-dialog -->
    </div>
    <div id="editCodeModal" style="display: none;" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Approve Code</h4>
                </div>
                <div class="modal-body">
                    <label id="codeId" style="display: block;">ID</label>
                    <div style="float: left;">
                        <label style="">Version name:</label>
                        <input type="text" id="code_name" style="display: block;">
                    </div>
                    <div style="">
                        <label style="">Version description:</label>
                        <input type="text" id="code_description" style="display: block;">
                    </div>
                    <label style="">Code:</label>
                    <textarea id="code_edit" style="display: block; width: 100%;" rows="6"></textarea>
                    <label style="">Message to user:</label>
                    <textarea id="edit_code_reason" style="display: block; width: 100%;" rows="2"></textarea>
                    <div style="display: none;" id="user_files"></div>
                    <div style="display: none;" id="external_libraries"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" type="button" data-dismiss="modal" onclick="$('#editCodeModal').css('display','none')">Close</button>
                    <button id="editCodeButton" value="" class="btn btn-info" type="button" onclick="approveCodeWithChanges(this.value, document.getElementById('edit_code_reason').value)">Save changes & Approve</button>
                </div>
            </div>
                <!-- /.modal-content -->
        </div>
            <!-- /.modal-dialog -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">For Admin decision</h3>
                </div>
                <div class="box-body">
                    <label style="">Pending C_Program</label>
                    <table id="pendingCode" class="table table-bordered">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>C_Program name</th>
                            <th>C_Program description</th>
                            <th>Author</th>
                            <th>Compilable</th>
                            <th>Code</th>
                            <th>Edit</th>
                            <th>Decision</th>
                        </tr>
                        @for(version <- Version_Object.find.where().isNotNull("c_program").eq("approval_state", Approval_state.pending ).findList()) {
                            <tr>
                                <td>@version.id</td>
                                <td>@version.version_name</td>
                                <td>@version.version_description</td>
                                <td>@version.c_program.name</td>
                                <td>@version.c_program.description</td>
                                <td>@if(version.author != null){
                                        @version.author.mail
                                    }else{
                                        not defined
                                    }
                                </td>
                                <td>@version.compilable</td>
                                <td><button class="btn btn-block btn-primary" type="button" onclick="showCode('@version.id')">Show Code</button></td>
                                <td><button class="btn btn-block btn-info" type="button" onclick="showEditForm('@version.id')">Edit</button></td>
                                <td>
                                    <button style="display: inline-block; float: left;" class="btn btn-block btn-success" type="button" onclick="approveCode(@version.id)">Approve</button>
                                    <button style="display: inline-block; float: left;" class="btn btn-block btn-danger" type="button" onclick="showDisapproveCodeForm(@version.id)">Disapprove</button>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="box-footer">
                </div>
            </div>
        </div>
    </div>
</section>



<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">All Public programs</h3>
                </div>
                <div class="box-body">
                    <label style="">Public C_Program in Becki</label>
                    <table id="pendingCode" class="table table-bordered">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Board</th>
                            <th>Description</th>
                            <th>C_Program name</th>
                            <th>C_Program description</th>
                            <th>Author</th>
                            <th>Compilable</th>
                            <th>Code</th>
                            <th>Edit</th>
                            <th>Decision</th>
                        </tr>
                        @for(version <- Version_Object.find.where().isNotNull("c_program").eq("approval_state", Approval_state.approved ).findList()) {
                            <tr>
                                <td>@version.id</td>
                                <td>@version.version_name</td>
                                <td>@version.c_program.type_of_board_name()</td>
                                <td>@version.version_description</td>
                                <td>@version.c_program.name</td>
                                <td>@version.c_program.description</td>
                                <td>@if(version.author != null){
                                    @version.author.mail
                                }else{
                                    not defined
                                }
                                </td>
                                <td>@version.compilable</td>
                                <td><button class="btn btn-block btn-primary" type="button" onclick="showCode('@version.id')">Show Code</button></td>
                                <td><button class="btn btn-block btn-info" type="button" onclick="showEditForm('@version.id')">Edit</button></td>
                                <td>
                                    <button style="display: inline-block; float: left;" class="btn btn-block btn-danger" type="button" onclick="showDisapproveCodeForm(@version.id)">Disapprove</button>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="box-footer">
                </div>
            </div>
        </div>
    </div>
</section>

<script>

        $.ajaxSetup({ cache: false });
        function disapproveCode(id, reason){
          model_data = {"id": id,
                        "decision" : false,
                        "reason": reason};
          $.ajax({
            url: '@routes.CompilationLibrariesController.changeApprovalState()',
            type: 'PUT',
            contentType: 'application/json',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
              "Content-Type":"application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',
            success:function(json){
                    $('#pendingCode').load(document.URL + ' #pendingCode');
                    $("#disapproveCodeModal").css("display","none");
            },
            error:function(json) {
              alert(json.responseText);
            }
          })}

        function approveCode(id){

                model_data = {
                    "id": id,
                    "decision": true
                };
          $.ajax({
            url: '@routes.CompilationLibrariesController.changeApprovalState()' ,
            type: 'PUT',
            contentType: 'application/json',
            headers: {
              "X-AUTH-TOKEN":getCookie("authToken"),
              "Content-Type":"application/json"
            },
            data: JSON.stringify(model_data),
            dataType: 'json',
            success:function(e){
              $('#pendingCode').load(document.URL +  ' #pendingCode');
            },
            error:function(json) {
              alert(json.message);
            }
          })}

        function approveCodeWithChanges(id, reason){

            model_data = {
                "id": id,
                "reason" : reason,
                "name": document.getElementById('code_name').value,
                "description": document.getElementById('code_description').value,
                "main": document.getElementById('code_edit').value,
                "user_files": document.getElementById('user_files').value,
                "external_libraries": document.getElementById('external_libraries').value
            };
            $.ajax({
                url: '@routes.CompilationLibrariesController.changeApprovalState()' ,
                type: 'PUT',
                contentType: 'application/json',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken"),
                    "Content-Type":"application/json"
                },
                data: JSON.stringify(model_data),
                dataType: 'json',
                success:function(e){
                    $('#pendingCode').load(document.URL +  ' #pendingCode');
                },
                error:function(json) {
                    alert(json.responseText);
                }
            })}

        function showEditForm(id){
            $.ajax({
                url: '@Server.tyrion_serverAddress' + '/compilation/c_program/version/' + id,
                type: 'GET',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },
                dataType: 'json',
                success:function(json){
                    $("#editCodeModal").css("display","block");
                    $('#editCodeButton').val(id);
                    $('#codeId').text("ID = " + id);
                    $('#code_name').val(JSON.parse(JSON.stringify(json.version_object.version_name)));
                    $('#code_description').val(JSON.parse(JSON.stringify(json.version_object.version_description)));
                    $('#user_files').val(JSON.parse(JSON.stringify(json.user_files)));
                    $('#external_libraries').val(JSON.parse(JSON.stringify(json.external_libraries)));
                    $('#code_edit').text(JSON.parse(JSON.stringify(json.main)));
                },
                error:function(e) {
                    alert(e.responseText);
                }
            })
          }


        function showDisapproveCodeForm(id){
            $("#disapproveCodeModal").css("display","block");
            $('#disapproveCodeButton').val(id);
        }

        function showCode(id){
            $.ajax({
                url: '@Server.tyrion_serverAddress' + '/compilation/c_program/version/' + id,
                type: 'GET',
                headers: {
                    "X-AUTH-TOKEN":getCookie("authToken")
                },
                success:function(json){
                    $("#codeModal").css("display","block");
                    $('#code').text(JSON.parse(JSON.stringify(json.main)));
                },
                error:function(e) {
                    alert(e.responseText);
                }
            })
        }

</script>