@(content: Html)


<section class="content-header">
    <h1> Read Me <small> current version </small> </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-graduation-cap"></i> Read Me </a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

            <!-- Main content -->
        <section class="content">
            <div class="row">
               <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-body no-padding">
                            <div class="mailbox-read-message">
                                @content
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /. box -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </section><!-- /.content -->

