@import java.util.List
@import models.person.Person

@import utilities.webSocket.{WS_Grid_Terminal, WebSCType, WS_BlockoServer, WS_CompilerServer, WS_Becki_Website}
@import controllers.DashboardController
@(homers: List[WebSCType], grids: List[WS_Grid_Terminal], becki_Terminal: List[WS_Becki_Website], cloud_blocko_server: List[WS_BlockoServer], compilation_server: List[WS_CompilerServer])


<section class="content-header">
    <h1> Websocket <small> connections </small> </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-heart"></i> WS </a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Connected Homers (PC/RPI..)</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger btn-sm"> Disconnect All </button>
                            <button type="button" class="btn btn-info    btn-sm ">  Send Ping to all</button>
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>

                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered">

                        <tr>
                            <th>ID</th>
                            <th>Grid Subscribers</th>
                            <th>Becki Subscribers</th>
                            <th>Get Hardware</th>
                            <th>Get Status</th>
                            <th>Disconnect</th>
                        </tr>

                        @for( x <- homers){
                            <tr>
                                <td> @x.identifikator</td>

                                <td> @if( !x.subscribers_grid.isEmpty) {
                                    @for( y <- x.subscribers_grid){
                                        @y.identifikator
                                    }
                                } else{
                                    -----
                                }</td>


                                <td> @if( !x.subscribers_becki.isEmpty) {
                                    @for( y <- x.subscribers_becki){
                                        @Person.find.byId(y.identifikator).mail
                                    }
                                } else{
                                    -----
                                }</td>

                                <td align="center"><button class="btn btn-block btn-success btn-xs">Get Status</button></td>

                                <td align="center">
                                    <a href=' @routes.DashboardController.ping_homer( x.identifikator )' >
                                        <button class="btn btn-block btn-info btn-xs">Ping</button>
                                    </a>
                                </td>

                                <td align="center">
                                    <a href=' @routes.DashboardController.disconnect_homer( x.identifikator )' >
                                        <button class="btn btn-block btn-danger btn-xs">Disconnect</button>
                                    </a>
                                </td>

                            </tr>
                        }

                    </table>
                </div><!-- /.box-body -->


            </div><!-- /.box -->
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Connected Grid-Terminals (Browser, Iphone...)</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger btn-sm"> Disconnect All </button>
                            <button type="button" class="btn btn-info btn-sm "> Send Ping to all </button>
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered">

                        <tr>
                            <th class="col-xs-1">Identificator</th>
                            <th class="col-xs-1">Receive from Homer</th>
                            <th class="col-xs-1">Homer Identificator</th>
                            <th class="col-xs-1">M Program Id</th>

                            <th class="col-xs-1">Get Status</th>
                            <th class="col-xs-1">Ping</th>
                            <th class="col-xs-1">Log out</th>
                            <th class="col-xs-1">Disconnect</th>

                        </tr>

                        @for( x <- grids){
                            <tr>
                                <td> @x.identifikator.substring(0,7) </td>

                                <td > @if( x.subscribers_grid.isEmpty){
                                    <b style="color: red">FALSE</b>
                                }else{
                                    <b style="color: #70ff6e">TRUE</b>
                                }
                                </td>

                                <td> @if( !x.subscribers_grid.isEmpty) {
                                    @x.subscribers_grid.get(0).identifikator.substring(0,7)
                                } else{
                                    -----
                                }</td>

                                <td> @x.m_project_id </td>

                                <td align="center"><button class="btn btn-block btn-success btn-xs">Get Status</button></td>

                                <td align="center">
                                    <a href=' @routes.DashboardController.ping_terminal( x.identifikator )' >
                                        <button class="btn btn-block btn-info btn-xs">Ping</button>
                                    </a>
                                </td>

                                <td align="center">
                                    <a href=' @routes.DashboardController.log_out_Terminal_User( x.identifikator )' >
                                        <button class="btn btn-block btn-warning btn-xs">Logout</button>
                                    </a>
                                </td>

                                <td align="center">
                                    <a href=' @routes.DashboardController.disconnect_terminal( x.identifikator )' >
                                        <button class="btn btn-block btn-danger btn-xs">Disconnect</button>
                                    </a>
                                </td>

                            </tr>
                        }
                        </table>

                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>



    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Connected Becki-Terminals</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger btn-sm">    Disconnect All   </button>
                            <button type="button" class="btn btn-info    btn-sm ">  Send Ping to all </button>
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>

                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered">

                        <tr>
                            <th>Person email</th>
                            <th colspan="2" >Connection instances</th>
                            <th class="col-xs-1" >Ping</th>
                        </tr>

                        @for( x <- becki_Terminal){



                                <tr>
                                    <th rowspan="@(x.all_person_Connections.size()+2)"> @(Person.find.byId( x.identifikator ).mail )</th>
                                    <th>instances</th>
                                    <th></th>

                                    <th rowspan="@(x.all_person_Connections.size()+2)">
                                        <a href=' @routes.DashboardController.ping_becki( x.identifikator )' >
                                            <button class="btn btn-block btn-info btn-xs">Ping All</button>
                                        </a>
                                    </th>
                                </tr>


                            @if( !x.all_person_Connections.isEmpty) {
                                @for((k,v) <- x.all_person_Connections) {
                                    <tr>
                                        <td> @x.all_person_Connections.get(k).identifikator      </td>

                                        <td><a href=' @routes.DashboardController.disconnect_becki( x.identifikator, k )' >
                                            <button class="btn btn-block btn-danger btn-xs">Disconnect</button>
                                        </a></td>
                                    <tr>
                                }
                            }


                        }
                    </table>




                </div><!-- /.box-body -->


            </div><!-- /.box -->
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Connected Blocko-Servers (Homer Cloud instances)</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                                <!--   <button type="button" class="btn btn-danger btn-sm"> Disconnect All </button>  -->
                                <!--    <button type="button" class="btn btn-info btn-sm ">  Send Ping to all</button>  -->
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered">

                        <tr>
                            <th align="center" >Server</th>
                            <th align="center">Working instances</th>

                            <th class="col-xs-1">Get Status</th>
                            <th class="col-xs-1">Ping</th>
                            <th class="col-xs-1">Disconnect</th>

                        </tr>

                        @for( x <- cloud_blocko_server ){
                            <tr>
                                <td> @x.identifikator </td>
                                <td> @x.virtual_homers.size() </td>

                                <td align="center">
                                    <a href='@routes.DashboardController.show_all_logs()' >
                                        <button class="btn btn-block btn-success btn-xs">Get Status</button>
                                     </a>
                                </td>

                                <td align="center">
                                    <a href=' @routes.DashboardController.ping_Blocko_Server( x.identifikator )' >
                                        <button class="btn btn-block btn-info btn-xs">Ping</button>
                                    </a>
                                </td>

                                <td align="center">
                                    <a href=' @routes.DashboardController.disconnect_Blocko_Server( x.identifikator )' >
                                        <button class="btn btn-block btn-danger btn-xs">Disconnect</button>
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>

                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Connected Compiler-Servers</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger btn-sm"> Disconnect All </button>
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered">

                        <tr>
                            <th>Server</th>

                            <th class="col-xs-1">Get Status</th>
                            <th class="col-xs-1">Ping</th>
                            <th class="col-xs-1">Disconnect</th>

                        </tr>

                        @for( x <- compilation_server ){
                            <tr>
                                <td> @x.identifikator </td>


                                <td align="center">
                                    <a href='@routes.DashboardController.show_all_logs()' >
                                        <button class="btn btn-block btn-success btn-xs">Get Status</button>
                                    </a>
                                </td>

                                <td align="center">
                                    <a href=' @routes.DashboardController.ping_Compilation_Server( x.identifikator )' >
                                        <button class="btn btn-block btn-info btn-xs">Ping</button>
                                    </a>
                                </td>

                                <td align="center">
                                    <a href=' @routes.DashboardController.disconnect_Compilation_Server( x.identifikator )' >
                                        <button class="btn btn-block btn-danger btn-xs">Disconnect</button>
                                    </a>
                                </td>
                            </tr>
                        }

                    </table>

                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>

</section><!-- /.content -->

