@import java.util.List
@import utilities.webSocket.developing.WebSCType

@(homers: List[WebSCType], grids: List[WebSCType])


<section class="content-header">
    <h1> Websocket <small> connections </small> </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-heart"></i> WS </a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Connected Homers (PC/RPI..)</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button class="btn btn-block btn-danger btn-sm"> Disconnect All </button>
                            <button class="btn btn-block btn-info btn-sm ">  Send Ping to all</button>
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>

                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">

                        <tr>
                            <th>ID</th>
                            <th>Version</th>
                            <th>Blocko Program</th>
                            <th>Version Program</th>
                            <th>Get Hardware</th>
                            <th>Get Status</th>
                            <th>Disconnect</th>
                            <th></th>
                        </tr>

                    </table>
                </div><!-- /.box-body -->


            </div><!-- /.box -->
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Connected Grid Terminals (Browser, Iphone...)</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button class="btn btn-block btn-danger btn-sm">Disconnect All </button>
                            <button class="btn btn-block btn-info btn-sm ">  Send Ping to all</button>
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">

                        <tr>
                            <th>ID</th>
                            <th>Version</th>
                            <th>Blocko Program</th>
                            <th>Version Program</th>
                            <th>Get Hardware</th>
                            <th>Get Status</th>
                            <th>Disconnect</th>
                            <th></th>
                        </tr>

                    </table>

                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>


</section><!-- /.content -->

