@import java.util
@import models.Model_LoggyError

@(logs: util.List[Model_LoggyError])

<section class="content-header">
    <h1 class="pull-left"> Bug Reporting </h1>
    <a class="btn btn-danger btn-xs " href='/admin/bugs/deleteAll' style="margin-top: 4px; margin-left: 10px;">Remove all</a>
    <ol class="breadcrumb">
        <li><a href="@routes.Controller_Dashboard.index()"><i class="fa fa-globe"></i> Dashboard </a></li>
        <li class="active"><i class="fa fa-bug"></i> Bugs </li>
        <li class="active"><i class="fa fa-bug"></i> Bug Reporting </li>
    </ol>
    <div class="clearfix"></div>
</section>

<div id="reportModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="reportModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="reportModalTitle" class="modal-title">Report to YouTrack</h4>
            </div>
            <div class="modal-body">
                <textarea id="description" class="form-control form-group" rows="5" placeholder="Type in some message..." title="Description"></textarea>
                <div id="reportModalMessage" style="display: none"><p class="text-red"></p></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                <button id="reportButton" value="" class="btn btn-primary" type="button" onclick="reportToYouTrack(this.value)">Report</button>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @if(logs != null) {
                @for((i, index) <- logs.zipWithIndex) {
                    <div class="box box-default @if(index > 0) {collapsed-box}">
                        <div class="box-header with-border">
                            <h3 class="box-title">@i.summary</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" type="button" data-widget="collapse"><i class="fa fa-@if(index > 0) {plus}else{minus} "></i></button>
                            </div>
                            <div class="btn-group pull-right" style="margin-right: 30px;">
                                <a class="btn btn-danger btn-xs" href='/admin/bug/remove/@i.id' title="Remove"><i class="fa fa-times"></i></a>
                                @if(i.youtrack_url == null) {
                                    <a class="btn btn-warning btn-xs" data-toggle="modal" data-target="#reportModal" onclick="$('#reportButton').val('@i.id')" title="Upload to YouTrack"><i class="fa fa-upload"></i></a>
                                } else {
                                    <a class="btn btn-info btn-xs"  href='@i.youtrack_url' title="View on YouTrack"><i class="fa fa-bug"></i></a>
                                }
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="pull-left" style="margin-right: 10px;">Repetitions: </label>
                                    <p> @i.repetition</p>
                                </div>
                                <div class="col-md-4">
                                    <label class="pull-left" style="margin-right: 10px;">Created: </label>
                                    <p> @i.created.toString</p>
                                </div>
                                <div class="col-md-4">
                                    <label class="pull-left" style="margin-right: 10px;">ID: </label>
                                    <p> @i.id</p>
                                </div>
                            </div>
                            <pre class="prettyprint"><code class="javascript">@i.description@if(i.stack_trace != null){ @i.stack_trace}@if(i.cause != null){ @i.cause}</code></pre>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>

<script>
     function reportToYouTrack(id){
         $.ajax({
             url: '/admin/bug/report/' + id,
             type: 'POST',
             contentType: 'application/json',
             headers: {
                 "X-AUTH-TOKEN":getCookie("authToken"),
                 "Content-Type":"application/json"
             },
             data: JSON.stringify({description: $("#description").val()}),
             dataType: 'json',
             success:function(json){
                 location.reload();
             },
             error:function(e) {
                 $("#reportModalMessage").css("display", "block");
                 $("#reportModalMessage p").text(JSON.parse(e.responseText).message).append(JSON.stringify(JSON.parse(e.responseText).exception));
             }
         })
     }
</script>